{% extends "layouts/side-nav.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% set containerClasses = "full-width-container" %}
{% block content_left %}

<style type="text/css">
  .govuk-textarea {
    text-align: left;
    display: block;
    white-space: pre-line;
  }
             
  </style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">   

<form action="#" method="post" id="auto-redirect">
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <span class="govuk-caption-xl"></span>
        <h1 class="govuk-fieldset__heading">
          History of condition
        </h1>
        <div id="passport-issued-hint" class="govuk-hint">
        </div>
      </legend>

          <div class="govuk-form-group">
            <textarea class="govuk-textarea" id="variability" name="condition-history" rows="15" aria-describedby="variability-hint">Primary Condition: Depression and anxiety

              Diagnosis
              Diagnosed in 2000 (had mental health relapses in 2017, 2020 and 2023) by a community mental health team.
              
              Care and management
              She usually has psychiatry appointments with the mental health team, the last time she had a phone consultation was 4-5 months ago, and she's been under their care since the time of diagnosis.

              She isn't aware as to when she is due to be reviewed again by the psychiatry team, but usually has 4-5 monthly reviews with them. 

              She used to have support worker's input when she used to live at a supported living accommodation, and she stopped this care when she moved to her new address which is not a mental health institution accommodation. 

              She's been on a waiting list to have counselling for a very long time. She currently controls her symptoms with medication management. 

              Symptoms
              Current symptoms she experiences include it is very hard for her to go anywhere, can get very anxious about attending appointments, sometimes feels so low that she doesn't want to get out of bed, doesn't feel motivated to do anything at all, wakes up during the night and is very tired during the day.
              
              Variability
              Daily symptoms she experiences include it is very hard for her to go anywhere, can get very anxious about attending appointments, 
              sometimes feels so low that she doesn't want to get out of bed, doesn't feel motivated to do anything at all, 
              wakes up during the night and is very tired during the day. There is no variation in pattern in terms of symptomatology and every day is described as being the same. 
              
              There are no specific aggravating or alleviating factors to the presenting symptoms as they are consistently felt. 
              The assessment day is a typical day. This is impacting on her ability to prepare food, manage medication and monitor health conditions, and engage with others face to face reliably.

              Progression
              Over the past 12 months these symptoms have been getting worse. 

              Hospital admissions
              Over the past 12 months she last had a hospital admission in December 2020 due to an attempted overdose on medication, and she stayed in hospital for a duration of a day in total for this. 

              Suicidal tendencies
              She's been experiencing suicidal thoughts since the time of her condition diagnosis, she last tried to overdose on medication in December 2020 which required hospitalisation. 
              Currently she still experiences such thoughts, however she wouldn't have intentions or plans to act on the thoughts. 
              
              Whenever feeling very low she engages in self-harming by cutting using knives, sharp objects like scissors and razor blades. She hasn't self-harmed for the past few weeks,
              triggering factors to the self-harming attempts include whenever she feels overwhelmed, and usually self-harms once every few weeks, if she sees sharp objects she still tries her best to combat her thoughts and wouldn't have intentions or plans to act on the self-harming thoughts. 
              
              Her mental health team are fully aware of these intrusive thoughts and attempts, she's had Crisis team and Samaritans involvement in the past, and she is fully aware that if the thoughts get more serious and intrusive she'd immediately seek professional help.

              Secondary condition: Osteoarthritis (OA)
              Osteoarthritis (OA) in both knees and hands, torn rotator cuff in left shoulder, restless legs, benign essential tremor in hands.

              Diagnosis
              Diagnosed in 2005, 2015, 2018 by a neurology specialist in hospital. 

              Care and management
              She currently refers to the GP as and when required for regular monitoring of these conditions, usually whenever she's due for a medication review. 
              She had physiotherapy in 2019 for her knee and left shoulder which was considered to be partially beneficial, she had a left knee arthroscopy in 20 which was successful in the short term, but after a while she sustained a fall and she re-damaged her left knee. 
              
              She had steroid injections to the left knee in February and March 2024 and had 1 left shoulder steroid injection in February 2024, the steroid injections helped with the pain in the short term for a few weeks, however the pain ultimately still persisted.
              The plan in place is to first have a number of PT sessions for the left knee, she is currently awaiting for PT to start in order to strengthen the left knee musculature, and then once she's had enough PT sessions she'd be enlisted to have a left total knee replacement (TKR) surgery. 

              Symptoms
              Current symptoms she experiences include constant bodily aches and pains, left knee is painful all the time, in the morning has to wait for a while to straighten her knees due to stiffness and joints seizing up. 

              Variability
              Daily symptoms she experiences include constant bodily aches and pains, left knee is painful all the time, in the morning has to wait for a while to straighten her knees due to stiffness and joints seizing up. 

              There is no variation in pattern in terms of symptomatology and every day is described as being the same. There are no specific aggravating or alleviating factors to the presenting symptoms as they are consistently felt. 
              The assessment day is a typical day. This is impacting on her ability to prepare food, wash and bathe, manage toilet needs and move around reliably.

              Progression
              Over the past 12 months these symptoms have been getting worse. 

              Hospital admissions
              Over the past 12 months she had no hospital admissions due to this condition.
            </textarea>
          </div>
          

      </fieldset>
    </div>
  </div>
 </form>
</div>
      

{% endblock %}
