{% extends "layouts/side-nav.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% set containerClasses = "full-width-container" %}
{% block content_left %}

<style type="text/css">
  .govuk-textarea {
    text-align: left;
    display: block;
    white-space: pre-line;
  }
             
  </style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <a href="javascript:history.back()" class="govuk-back-link">Back</a>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Planning and following journeys</h1>
      </div>
    </div>

    <form action="#" method="post" id="auto-redirect">
              
              

        <div class="govuk-form-group">
            <label class="govuk-label govuk-label--s" for="planningJourneyNotes">
              Functional history for planning and following journeys
            </label>
          
          
            <textarea class="govuk-textarea govuk-!-margin-bottom-9" id="planningJourneyNotes" name="planningJourneyNotes" rows="15">
              She usually gets a lift to attend for appointments, as she's used to it being done this way. She usually goes out to the countryside accompanied by her friend once every couple of weeks.

               Before going on a new journey, she'd try to plan the journey ahead using maps and the internet, however at the last minute everything becomes overwhelming to her, and thus asks her friend to help her with journey planning, so that she's made aware of how long the journey would take her and what's to happen once she arrives at her destination. 

               By knowing from beforehand where she's going it makes her feel safer and calmer during the journey, as long as she is accompanied for the provision of necessary reassurance. She's had major panic attacks whenever outdoors, this is because she gets anxiety whenever she has to go out when in crowds of people or in busy environments, a panic attack manifests in the form of heart racing, being unable to breathe, and unable to work out where she's supposed to go next, and being unable to work out how to get out of the situation, and for an attack to resolve she'd need to be in her own space, have some few deep breaths, have someone else calm her down, and once reassured she'd be able to continue with what she's doing. 
              
              In case of an emergency she doesn't use public transport due to anxiety, tending to prefer a taxi in such circumstance. She's unable to manage unexpected journey changes due to anxiety, thus would requires someone to be with her for reassurance purposes. If she is accompanied whenever going outdoors, it makes her feel safer, calmer and more reassured. If she gets lost on her own when outdoors, she'd phone up someone to come and pick her up, whilst doing her best to navigate and orientate herself around the area. 
            </textarea>
          </div>

          <div class="govuk-form-group">

            <fieldset class="govuk-fieldset govuk-!-margin-bottom-9">
            
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
            
              Which of these describes how well the claimant can plan and follow journeys?
            
            </legend>
            
          
            <div class="govuk-radios">
              
              {% if data["journeysSelectpbr"] == '(11a) Can plan and follow the route of a journey unaided' %}
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="journeysSelectpbr" name="journeysSelectpbr" type="radio" value="(11a) Can plan and follow the route of a journey unaided" {{ checked }}>
                    <label class="govuk-label govuk-radios__label" for="journeysSelectpbr">
                  (11a) Can plan and follow the route of a journey unaided
                </label>
                  </div>
    
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="journeysSelectpbr-2" name="journeysSelectpbr" type="radio" value="(11b) Needs prompting to be able to undertake any journey to avoid overwhelming psychological distress to the claimant">
                    <label class="govuk-label govuk-radios__label" for="journeysSelectpbr-2">
                  (11b) Needs prompting to be able to undertake any journey to avoid overwhelming psychological distress to the claimant
                </label>
                  </div>
           
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="journeysSelectpbr-3" name="journeysSelectpbr" type="radio" value="(11c) Cannot plan the route of a journey">
                    <label class="govuk-label govuk-radios__label" for="journeysSelectpbr-3">
                  (11c) Cannot plan the route of a journey
                </label>
                  </div>
                  
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="journeysSelectpbr-4" name="journeysSelectpbr" type="radio" value="(11d) Cannot follow the route of an unfamiliar journey without another person, assistance dog or orientation aid">
                    <label class="govuk-label govuk-radios__label" for="journeysSelectpbr-4">
                  (11d) Cannot follow the route of an unfamiliar journey without another person, assistance dog or orientation aid
                </label>
                  </div>
  
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="journeysSelectpbr-5" name="journeysSelectpbr" type="radio" value="(11e) Cannot undertake any journey because it would cause overwhelming psychological distress to the claimant">
                    <label class="govuk-label govuk-radios__label" for="journeysSelectpbr-5">
                  (11e) Cannot undertake any journey because it would cause overwhelming psychological distress to the claimant
                </label>
                  </div>
             
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="journeysSelectpbr-6" name="journeysSelectpbr" type="radio" value="(11f) Cannot follow the route of a familiar journey without another person, an assistance dog or an orientation aid">
                    <label class="govuk-label govuk-radios__label" for="journeysSelectpbr-6">
                  (11f) Cannot follow the route of a familiar journey without another person, an assistance dog or an orientation aid
                </label>
                  </div>

                  {% elseif data["journeysSelectpbr"] == '(11b) Needs prompting to be able to undertake any journey to avoid overwhelming psychological distress to the claimant' %}
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="journeysSelectpbr" name="journeysSelectpbr" type="radio" value="(11a) Can plan and follow the route of a journey unaided">
                    <label class="govuk-label govuk-radios__label" for="journeysSelectpbr">
                  (11a) Can plan and follow the route of a journey unaided
                </label>
                  </div>
    
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="journeysSelectpbr-2" name="journeysSelectpbr" type="radio" value="(11b) Needs prompting to be able to undertake any journey to avoid overwhelming psychological distress to the claimant" {{ checked }}>
                    <label class="govuk-label govuk-radios__label" for="journeysSelectpbr-2">
                  (11b) Needs prompting to be able to undertake any journey to avoid overwhelming psychological distress to the claimant
                </label>
                  </div>
           
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="journeysSelectpbr-3" name="journeysSelectpbr" type="radio" value="(11c) Cannot plan the route of a journey">
                    <label class="govuk-label govuk-radios__label" for="journeysSelectpbr-3">
                  (11c) Cannot plan the route of a journey
                </label>
                  </div>
                  
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="journeysSelectpbr-4" name="journeysSelectpbr" type="radio" value="(11d) Cannot follow the route of an unfamiliar journey without another person, assistance dog or orientation aid">
                    <label class="govuk-label govuk-radios__label" for="journeysSelectpbr-4">
                  (11d) Cannot follow the route of an unfamiliar journey without another person, assistance dog or orientation aid
                </label>
                  </div>
  
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="journeysSelectpbr-5" name="journeysSelectpbr" type="radio" value="(11e) Cannot undertake any journey because it would cause overwhelming psychological distress to the claimant">
                    <label class="govuk-label govuk-radios__label" for="journeysSelectpbr-5">
                  (11e) Cannot undertake any journey because it would cause overwhelming psychological distress to the claimant
                </label>
                  </div>
             
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="journeysSelectpbr-6" name="journeysSelectpbr" type="radio" value="(11f) Cannot follow the route of a familiar journey without another person, an assistance dog or an orientation aid">
                    <label class="govuk-label govuk-radios__label" for="journeysSelectpbr-6">
                  (11f) Cannot follow the route of a familiar journey without another person, an assistance dog or an orientation aid
                </label>
                  </div>
                  
                  {% elseif data["journeysSelectpbr"] == '(11c) Cannot plan the route of a journey' %}
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="journeysSelectpbr" name="journeysSelectpbr" type="radio" value="(11a) Can plan and follow the route of a journey unaided">
                    <label class="govuk-label govuk-radios__label" for="journeysSelectpbr">
                  (11a) Can plan and follow the route of a journey unaided
                </label>
                  </div>
    
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="journeysSelectpbr-2" name="journeysSelectpbr" type="radio" value="(11b) Needs prompting to be able to undertake any journey to avoid overwhelming psychological distress to the claimant">
                    <label class="govuk-label govuk-radios__label" for="journeysSelectpbr-2">
                  (11b) Needs prompting to be able to undertake any journey to avoid overwhelming psychological distress to the claimant
                </label>
                  </div>
           
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="journeysSelectpbr-3" name="journeysSelectpbr" type="radio" value="(11c) Cannot plan the route of a journey" {{ checked }}>
                    <label class="govuk-label govuk-radios__label" for="journeysSelectpbr-3">
                  (11c) Cannot plan the route of a journey
                </label>
                  </div>
                  
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="journeysSelectpbr-4" name="journeysSelectpbr" type="radio" value="(11d) Cannot follow the route of an unfamiliar journey without another person, assistance dog or orientation aid">
                    <label class="govuk-label govuk-radios__label" for="journeysSelectpbr-4">
                  (11d) Cannot follow the route of an unfamiliar journey without another person, assistance dog or orientation aid
                </label>
                  </div>
  
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="journeysSelectpbr-5" name="journeysSelectpbr" type="radio" value="(11e) Cannot undertake any journey because it would cause overwhelming psychological distress to the claimant">
                    <label class="govuk-label govuk-radios__label" for="journeysSelectpbr-5">
                  (11e) Cannot undertake any journey because it would cause overwhelming psychological distress to the claimant
                </label>
                  </div>
             
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="journeysSelectpbr-6" name="journeysSelectpbr" type="radio" value="(11f) Cannot follow the route of a familiar journey without another person, an assistance dog or an orientation aid">
                    <label class="govuk-label govuk-radios__label" for="journeysSelectpbr-6">
                  (11f) Cannot follow the route of a familiar journey without another person, an assistance dog or an orientation aid
                </label>
                  </div>

                  {% elseif data["journeysSelectpbr"] == '(11d) Cannot follow the route of an unfamiliar journey without another person, assistance dog or orientation aid' %}
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="journeysSelectpbr" name="journeysSelectpbr" type="radio" value="(11a) Can plan and follow the route of a journey unaided">
                    <label class="govuk-label govuk-radios__label" for="journeysSelectpbr">
                  (11a) Can plan and follow the route of a journey unaided
                </label>
                  </div>
    
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="journeysSelectpbr-2" name="journeysSelectpbr" type="radio" value="(11b) Needs prompting to be able to undertake any journey to avoid overwhelming psychological distress to the claimant">
                    <label class="govuk-label govuk-radios__label" for="journeysSelectpbr-2">
                  (11b) Needs prompting to be able to undertake any journey to avoid overwhelming psychological distress to the claimant
                </label>
                  </div>
           
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="journeysSelectpbr-3" name="journeysSelectpbr" type="radio" value="(11c) Cannot plan the route of a journey">
                    <label class="govuk-label govuk-radios__label" for="journeysSelectpbr-3">
                  (11c) Cannot plan the route of a journey
                </label>
                  </div>
                  
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="journeysSelectpbr-4" name="journeysSelectpbr" type="radio" value="(11d) Cannot follow the route of an unfamiliar journey without another person, assistance dog or orientation aid" {{ checked }}>
                    <label class="govuk-label govuk-radios__label" for="journeysSelectpbr-4">
                  (11d) Cannot follow the route of an unfamiliar journey without another person, assistance dog or orientation aid
                </label>
                  </div>
  
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="journeysSelectpbr-5" name="journeysSelectpbr" type="radio" value="(11e) Cannot undertake any journey because it would cause overwhelming psychological distress to the claimant">
                    <label class="govuk-label govuk-radios__label" for="journeysSelectpbr-5">
                  (11e) Cannot undertake any journey because it would cause overwhelming psychological distress to the claimant
                </label>
                  </div>
             
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="journeysSelectpbr-6" name="journeysSelectpbr" type="radio" value="(11f) Cannot follow the route of a familiar journey without another person, an assistance dog or an orientation aid">
                    <label class="govuk-label govuk-radios__label" for="journeysSelectpbr-6">
                  (11f) Cannot follow the route of a familiar journey without another person, an assistance dog or an orientation aid
                </label>
                  </div>

                  {% elseif data["journeysSelectpbr"] == '(11e) Cannot undertake any journey because it would cause overwhelming psychological distress to the claimant' %}
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="journeysSelectpbr" name="journeysSelectpbr" type="radio" value="(11a) Can plan and follow the route of a journey unaided">
                    <label class="govuk-label govuk-radios__label" for="journeysSelectpbr">
                  (11a) Can plan and follow the route of a journey unaided
                </label>
                  </div>
    
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="journeysSelectpbr-2" name="journeysSelectpbr" type="radio" value="(11b) Needs prompting to be able to undertake any journey to avoid overwhelming psychological distress to the claimant">
                    <label class="govuk-label govuk-radios__label" for="journeysSelectpbr-2">
                  (11b) Needs prompting to be able to undertake any journey to avoid overwhelming psychological distress to the claimant
                </label>
                  </div>
           
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="journeysSelectpbr-3" name="journeysSelectpbr" type="radio" value="(11c) Cannot plan the route of a journey">
                    <label class="govuk-label govuk-radios__label" for="journeysSelectpbr-3">
                  (11c) Cannot plan the route of a journey
                </label>
                  </div>
                  
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="journeysSelectpbr-4" name="journeysSelectpbr" type="radio" value="(11d) Cannot follow the route of an unfamiliar journey without another person, assistance dog or orientation aid">
                    <label class="govuk-label govuk-radios__label" for="journeysSelectpbr-4">
                  (11d) Cannot follow the route of an unfamiliar journey without another person, assistance dog or orientation aid
                </label>
                  </div>
  
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="journeysSelectpbr-5" name="journeysSelectpbr" type="radio" value="(11e) Cannot undertake any journey because it would cause overwhelming psychological distress to the claimant" {{ checked }}>
                    <label class="govuk-label govuk-radios__label" for="journeysSelectpbr-5">
                  (11e) Cannot undertake any journey because it would cause overwhelming psychological distress to the claimant
                </label>
                  </div>
             
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="journeysSelectpbr-6" name="journeysSelectpbr" type="radio" value="(11f) Cannot follow the route of a familiar journey without another person, an assistance dog or an orientation aid">
                    <label class="govuk-label govuk-radios__label" for="journeysSelectpbr-6">
                  (11f) Cannot follow the route of a familiar journey without another person, an assistance dog or an orientation aid
                </label>
                  </div>

                  {% elseif data["journeysSelectpbr"] == '(11f) Cannot follow the route of a familiar journey without another person, an assistance dog or an orientation aid' %}
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="journeysSelectpbr" name="journeysSelectpbr" type="radio" value="(11a) Can plan and follow the route of a journey unaided">
                    <label class="govuk-label govuk-radios__label" for="journeysSelectpbr">
                  (11a) Can plan and follow the route of a journey unaided
                </label>
                  </div>
    
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="journeysSelectpbr-2" name="journeysSelectpbr" type="radio" value="(11b) Needs prompting to be able to undertake any journey to avoid overwhelming psychological distress to the claimant">
                    <label class="govuk-label govuk-radios__label" for="journeysSelectpbr-2">
                  (11b) Needs prompting to be able to undertake any journey to avoid overwhelming psychological distress to the claimant
                </label>
                  </div>
           
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="journeysSelectpbr-3" name="journeysSelectpbr" type="radio" value="(11c) Cannot plan the route of a journey">
                    <label class="govuk-label govuk-radios__label" for="journeysSelectpbr-3">
                  (11c) Cannot plan the route of a journey
                </label>
                  </div>
                  
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="journeysSelectpbr-4" name="journeysSelectpbr" type="radio" value="(11d) Cannot follow the route of an unfamiliar journey without another person, assistance dog or orientation aid">
                    <label class="govuk-label govuk-radios__label" for="journeysSelectpbr-4">
                  (11d) Cannot follow the route of an unfamiliar journey without another person, assistance dog or orientation aid
                </label>
                  </div>
  
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="journeysSelectpbr-5" name="journeysSelectpbr" type="radio" value="(11e) Cannot undertake any journey because it would cause overwhelming psychological distress to the claimant">
                    <label class="govuk-label govuk-radios__label" for="journeysSelectpbr-5">
                  (11e) Cannot undertake any journey because it would cause overwhelming psychological distress to the claimant
                </label>
                  </div>
             
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="journeysSelectpbr-6" name="journeysSelectpbr" type="radio" value="(11f) Cannot follow the route of a familiar journey without another person, an assistance dog or an orientation aid" {{ checked }}>
                    <label class="govuk-label govuk-radios__label" for="journeysSelectpbr-6">
                  (11f) Cannot follow the route of a familiar journey without another person, an assistance dog or an orientation aid
                </label>
                  </div>

                  {% elseif data["journeysSelectpbr"] === undefined %}
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="journeysSelectpbr" name="journeysSelectpbr" type="radio" value="(11a) Can plan and follow the route of a journey unaided">
                    <label class="govuk-label govuk-radios__label" for="journeysSelectpbr">
                  (11a) Can plan and follow the route of a journey unaided
                </label>
                  </div>
    
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="journeysSelectpbr-2" name="journeysSelectpbr" type="radio" value="(11b) Needs prompting to be able to undertake any journey to avoid overwhelming psychological distress to the claimant">
                    <label class="govuk-label govuk-radios__label" for="journeysSelectpbr-2">
                  (11b) Needs prompting to be able to undertake any journey to avoid overwhelming psychological distress to the claimant
                </label>
                  </div>
           
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="journeysSelectpbr-3" name="journeysSelectpbr" type="radio" value="(11c) Cannot plan the route of a journey">
                    <label class="govuk-label govuk-radios__label" for="journeysSelectpbr-3">
                  (11c) Cannot plan the route of a journey
                </label>
                  </div>
                  
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="journeysSelectpbr-4" name="journeysSelectpbr" type="radio" value="(11d) Cannot follow the route of an unfamiliar journey without another person, assistance dog or orientation aid">
                    <label class="govuk-label govuk-radios__label" for="journeysSelectpbr-4">
                  (11d) Cannot follow the route of an unfamiliar journey without another person, assistance dog or orientation aid
                </label>
                  </div>
  
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="journeysSelectpbr-5" name="journeysSelectpbr" type="radio" value="(11e) Cannot undertake any journey because it would cause overwhelming psychological distress to the claimant">
                    <label class="govuk-label govuk-radios__label" for="journeysSelectpbr-5">
                  (11e) Cannot undertake any journey because it would cause overwhelming psychological distress to the claimant
                </label>
                  </div>
             
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="journeysSelectpbr-6" name="journeysSelectpbr" type="radio" value="(11f) Cannot follow the route of a familiar journey without another person, an assistance dog or an orientation aid">
                    <label class="govuk-label govuk-radios__label" for="journeysSelectpbr-6">
                  (11f) Cannot follow the route of a familiar journey without another person, an assistance dog or an orientation aid
                </label>
                  </div>
                  {% endif %}
                
              
            </div>
            
          
          </fieldset>

          <div class="govuk-form-group">
            <label class="govuk-label govuk-label--s" for="planningJustify">
              Justification for planning and following journeys
            </label>
          
            <textarea class="govuk-textarea govuk-!-margin-bottom-9" id="planningJustification" name="planningJustify" rows="15">
              Restrictions reported: 

              CQ states gets frightened about having a panic attack at the thought of leaving the house, asks husband or relatives to do the shopping, is usually fine in known places but if the route changes or she gets lost gets extremely anxious, panicky, cannot breathe and feels sick, is not comfortable approaching anyone for directions, cannot follow a map if anxious, gets distressed about missing a turn, usually doesn't go to new places due to anxiety. FH states she usually gets a lift to attend for appointments, as she's used to it being done this way. 

              Recommendation and evidence used to support: 

              It is likely that on the majority of days she can plan and follow the route of a journey unaided reliably. Although acknowledging regular psychiatry reviews and prescribed strong medication dosage for her mental health conditions, evidence from HOC shows no underlying diagnoses of agoraphobia, learning difficulties/disabilities or other cognitive/intellectual health related conditions which could potentially cause restrictions around this activity. 

              Despite CQ reporting limitations, CM section shows no currently prescribed anxiolytic medication management which is required specifically for when embarking on a journey, also showing partially effective prescribed Venlafaxine for her conditions. SOH shows that she's able to drive on short journeys. 
              Moreover, FH implies that rather than active intervention it is more of a level of reassurance which is required for her to reliably undertake this activity, also showing adaptability to dealing with panic attacks in her own ways and means, and that she'd still be able to function in a safe and acceptable manner if she gets lost on her own. 

              This is in line with IOs being unremarkable showing good orientation to time, place and person, ability to concentrate, to follow a sequence, to take decisions independently, also showing good insight, intellect, cognition and memory skills. MSE confirms a calm and relaxed behaviour, good insight, cognition and information processing. Thus it is likely the high threshold of OPD isn't met and that she can reliably plan and follow journeys unaided. 

              Reasons why the reported restrictions are not supported by evidence: 

              Despite HOC reporting fainting episodes during which she loses consciousness, HOC also identifies that she gets a 10 minute warning sign prior to getting fainting episodes which allows her enough time to make herself safe prior to such episodes, reporting that she's never fainted when she was outdoors as if she feels the lightheadedness she doesn't go out at all. 

              CM section shows no currently prescribed medication management for her fainting episodes, suggesting no ongoing neurology specialists' reviews/follow-ups or investigations except for cardiology reviews due to her having an inserted loop recorder. HOC establishes no sustained fainting activity for which she isn't prescribed with any rescue medication. SOH establishes no limitations/restrictions on her driving licence, stating that she is still able to drive if required. 
              Thus it is likely that safety risk imposed around this activity in relation to fainting episodes is relatively minimal. 

              Other descriptor supported by some evidence and the reasons why they haven’t been advised: 

              N/A 
            </textarea>
          </div>
          
          
           </div>
        </form>
      </div>
   </form>
</div>



{% endblock %}
