{% extends "layouts/layout-ta.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
    <a href="javascript:history.back()" class="govuk-back-link">Back</a>

<form action="#" method="post">
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <span class="govuk-caption-xl"></span>
        <h1 class="govuk-fieldset__heading">
          Add treatment
        </h1>
      </legend>

      <div class="govuk-form-group">
        <label class="govuk-label" for="treatment-type">
          Type of treatment
        </label>
        <input class="govuk-input" id="treatment-type" name="treatment-type" type="text">
      </div>          <div class="govuk-form-group">
            <label class="govuk-label" for="frequency">
              How many hours per week?
            </label>
            <input class="govuk-input" id="frequency" name="frequency" type="text">
          </div>
          <div class="govuk-form-group">
            <label class="govuk-label" for="Location">
              Additional information for this treatment
            </label>
            <input class="govuk-input" id="Location" name="Location" type="text">
          </div>
    </fieldset>
  </div>
      <div class="govuk-button-group">

      <button class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>
      
    </div>
    <p class="govuk-body"><a href="end-why" class="govuk-link">Abandon consultation</a></p>

      </form>
<!--
    <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="list-convictions-status">Not started</strong>
    <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="submit-pay-status">Cannot start yet</strong>
    <strong class="govuk-tag govuk-tag--blue govuk-prototype-kit-task-list__tag" id="contact-details-status">In progress</strong>
    <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="eligibility-status">Completed</strong>

  -->

{% endblock %}
