{% extends "layouts/side-nav.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">

    <a href="javascript:history.back()" class="govuk-back-link">Back</a>
  
    <h1 class="govuk-heading-xl">Previous reports</h1>

    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m"></caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header app-custom-class">Version</th>
          <th scope="col" class="govuk-table__header app-custom-class">Submitted</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><a href="#" class="govuk-link">Draft 3</a></th>
          <td class="govuk-table__cell">04:00 pm 07 July 2024</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><a href="#" class="govuk-link">Draft 2</a></th>
          <td class="govuk-table__cell">11:00 am 08 July 2024</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><a href="#" class="govuk-link">Draft 1</a></th>
          <td class="govuk-table__cell">09:30 am 10 July 2024</td>
        </tr>
    
      </tbody>
    </table>

  </div>      
      </div>

{% endblock %}
