{% extends "layouts/justification-layout.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <a href="javascript:history.back()" class="govuk-back-link">Back</a>

  
    <h1 class="govuk-heading-l">
      Select assessment type
    </h1>

    <h2 class="govuk-heading-m">
      Face to face, special rules and video call assessments are not completed here
    </h2>

    <p>To find them, go back to the referral details page and select 'Complete assessment - legacy'.</p>

    <form action="evidence" method="post" novalidate="">

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h1 class="govuk-fieldset__heading">
            Assessment type
          </h1>
        </legend>
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="paperbased" name="assessmentType" type="radio" value="paper">
            <label class="govuk-label govuk-radios__label" for="paperbased">
              Paper-based
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="telephone" name="assessmentType" type="radio" value="phone">
            <label class="govuk-label govuk-radios__label" for="telephone">
              Telephone
            </label>
          </div>
        </div>
      </fieldset>
    </div>

    <button class="govuk-button" data-module="govuk-button">
      Save and continue
    </button> 

  </form>
  </div>      
      </div>

{% endblock %}
