{% extends "layouts/justificationOneTwo-layout" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% set containerClasses = "full-width-container" %}
{% block content_left %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-xl"></span>
    <h1 class="govuk-heading-l">
     Functional history
    </h1>

    <h2 class="govuk-heading-m">
      Daily living
    </h2>

    <form action="#" method="post" id="auto-redirect">

       <h3 class="govuk-heading-s">Preparing food</h3>
        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Claimant's questionnaire response
            </span>
          </summary>
          <div class="govuk-details__text">
            I struggle to chop things due to arthritis in my hands, my partner does most of the cooking, however I do like to help.  
          </div>
        </details>       

      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--s" for="preparingfoodFH">
          Functional history for preparing food
        </label>
        <textarea class="govuk-textarea govuk-!-margin-bottom-0" id="preparingfoodFH" name="preparingfoodFunctionalHistory" rows="8">Can make breakfast and snacks. Partner will prepare dinner as they have always done this, however, enjoys helping peel and chop vegetables, will do this sitting down due to pain in back and knees. Bought an easy grip knife to help peel and chop vegetables as finds this easier. Will help prepare food majority of days.</textarea>
         </div>


        <h3 class="govuk-heading-s">Taking nutrition</h3>
        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Claimant's questionnaire response
            </span>
          </summary>
          <div class="govuk-details__text">
          I don’t have problems with this.
          </div>
        </details>    
        
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--s" for="takingnutritionFH">
          Functional history for taking nutrition
        </label>
    
        <textarea class="govuk-textarea govuk-!-margin-bottom-0" id="takingnutritionFH" name="takingnutritionFunctionalHistory" rows="8">Has meals three times per day. Uses standard cutlery. Does not need help with cutting cooked food.</textarea>
      </div>
      
           
      <h3 class="govuk-heading-s">Managing therapy</h3>
      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Claimant's questionnaire response
          </span>
        </summary>
        <div class="govuk-details__text">
          My partner puts out my tablets as my fingers don't grip well.
        </div>
      </details>    
                  
    <div class="govuk-form-group">
      <label class="govuk-label govuk-label--s" for="managingtherapyFH">
        Functional history for managing therapy
      </label>
  
      <textarea class="govuk-textarea govuk-!-margin-bottom-0" id="managingtherapyFH" name="managingtherapyFunctionalHistory" rows="8">Partner will take medication out the packaging as they have stiff fingers in the morning, however, would be able to do this unaided if partner was not there.</textarea>
    </div>
      
      
                 
        <h3 class="govuk-heading-s">Washing and bathing</h3>
        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Claimant's questionnaire response
            </span>
          </summary>
          <div class="govuk-details__text">
           I take my time getting in and out the bath, as the shower is over the bath, I have a rubber mat to stop me slipping and hold on.
          </div>
        </details>    
                  
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--s" for="washingbathingFH">
         Functional history for washing and bathing
        </label>

        <textarea class="govuk-textarea govuk-!-margin-bottom-0" id="washingbathingFH" name="washingbathingFunctionalHistory" rows="8">Is able to get in and out of the bath and shower, however, will lean on the wall for support and does this slowly due to knee and back pain. Has a bathmat to prevent slips/falls and is thinking of getting a grab rail to make it easier. Can wash full body and will sit on the side of the bath to wash feet and lower body as bending causes back pain.</textarea>
      </div>
      
      
        <h3 class="govuk-heading-s">Managing toilet needs</h3>
        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
             Claimant's questionnaire response
            </span>
          </summary>
          <div class="govuk-details__text">
           This is fine.
          </div>
        </details>    
                  
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--s" for="toiletneedsFH">
          Functional history for managing toilet needs
        </label>
    
        <textarea class="govuk-textarea govuk-!-margin-bottom-0" id="toiletneedsFH" name="toiletneedsFunctionalHistory" rows="8">Will hold onto the sink and wall for support when getting on and off the toilet due to pain in back and knees. Is able to clean self afterwards. No continence problems.</textarea>
      </div>
      
      
        <h3 class="govuk-heading-s">Dressing and undressing</h3>
        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Claimant's questionnaire response
            </span>
          </summary>
          <div class="govuk-details__text">
           Getting dressed takes longer due to pain and stiffness in my back. I find shirt buttons difficult as they are tiny so my partner helps with these.
          </div>
        </details>    
      
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--s" for="dressingFH">
          Functional history for dressing and undressing
        </label>
      
        <textarea class="govuk-textarea govuk-!-margin-bottom-0" id="dressingFH" name="dressingFunctionalHistory" rows="8">Able to dress upper and lower body, prefers to wear clothes without fastenings as finds this easier due to pain in hands. Struggles to bend, is able to bend just below knees and then cannot bend anymore to put on socks and lace up shoes, due to back pain and struggles to lift up feet due to knee and back pain, so uses slip on shoes and sits down to dress.</textarea>
      </div>
      
      
      
        <h3 class="govuk-heading-s">Communicating verbally</h3>
        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Claimant's questionnaire response
            </span>
          </summary>
          <div class="govuk-details__text">
           N/A
          </div>
        </details>    
      
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--s" for="communicatingverballyFH">
          Functional history for communicating verbally
        </label>
      
        <textarea class="govuk-textarea govuk-!-margin-bottom-0" id="communicatingverballyFH" name="communicatingverballyFunctionalHistory" rows="8">{{data["communicatingverballyFunctionalHistory"]}}</textarea>
      </div>
      
      
        <h3 class="govuk-heading-s">Reading and understanding signs, symbols and words</h3>
        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Claimant's questionnaire response
            </span>
          </summary>
          <div class="govuk-details__text">
           N/A
          </div>
        </details>    
                    
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--s" for="readingunderstandingFH">
          Functional history for reading and understanding signs, symbols and words
        </label>
      
        <textarea class="govuk-textarea govuk-!-margin-bottom-0" id="readingunderstandingFH" name="readingunderstandingFunctionalHistory" rows="8">{{data["readingunderstandingFunctionalHistory"]}}</textarea>
      </div>
      
      
    
        <h3 class="govuk-heading-s">Engaging face to face</h3>
        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Claimant's questionnaire response
            </span>
          </summary>
          <div class="govuk-details__text">
           N/A
          </div>
        </details>    
                  
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--s" for="facetofaceFH">
          Functional history for engaging face to face
        </label>
    
        <textarea class="govuk-textarea govuk-!-margin-bottom-0" id="facetofaceFH" name="facetofaceFunctionalHistory" rows="8">He is able to engage with family, friends and health professionals as required and enjoys speaking to family and friends and does this regularly. He has no problems talking with unfamiliar people as needed when at appointments or shops.</textarea>
      </div>
      
      
                 
        <h3 class="govuk-heading-s">Budgeting</h3>
        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
             Claimant's questionnaire response
            </span>
          </summary>
          <div class="govuk-details__text">
           My partner has always looked after the bills.
          </div>
        </details>    
                    
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--s" for="budgetingFH">
          Functional history for budgeting
        </label>
    
        <textarea class="govuk-textarea govuk-!-margin-bottom-0" id="budgetingFH" name="budgetingFunctionalHistory" rows="8">Partner manages all the bills as they have always done this. Will look online and do online banking and understands money.</textarea>
      </div>
      
      
                
      <h2 class="govuk-heading-m">Mobility</h2>

        <h3 class="govuk-heading-s">Planning and following journeys</h3>
        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Claimant's questionnaire response
            </span>
          </summary>
          <div class="govuk-details__text">
           N/A
          </div>
        </details>    

      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--s" for="journeysFH">
          Functional history for planning and following journeys
        </label>

        <textarea class="govuk-textarea govuk-!-margin-bottom-0" id="journeysFH" name="journeysFunctionalHistory" rows="8">He is able to go out as required to familiar and unfamiliar places, and will take grandchildren to park. Can plan and follow a journey without support.</textarea>
      </div>
      
        <h3 class="govuk-heading-s">Moving around</h3>
        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Claimant's questionnaire response
            </span>
          </summary>
          <div class="govuk-details__text">
            N/A
          </div>
        </details>    

      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--s" for="movingaroundFH">
          Functional history for moving around
        </label>
    
        <textarea class="govuk-textarea govuk-!-margin-bottom-0" id="movingaroundFH" name="movingaroundFunctionalHistory" rows="8">He is able to walk to the park just across the road (with grandchildren), will sit down (whilst they play) and is able to walk back, does this twice per week weather depending, will use a walking stick when walking and walks at a slightly slower pace than partner, takes approximately 1 minute to get there and takes the same amount of time to walk back. Unsure of how far this is. If they were to walk this distance again it would be at a very slow pace and would struggle with the pain and would find the next day they would have increased pain. However, would still be able to potter around the house the following day. 
If needs to go to the shop will go to the small local one as is unable to walk around a big supermarket due to knee and back pain.</textarea>
      </div>
      </form>
    
  </div>      
      </div>

{% endblock %}
