{% extends "layouts/no-side-nav-justification-activity.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content_left %}

<style type="text/css">
  .govuk-textarea {
    text-align: left;
    display: block;
    white-space: pre-line;
  }
             
  </style>

<!-- <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds"> -->

    <a href="javascript:history.back()" class="govuk-back-link">Back</a>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Moving around</h1>
      </div>
    </div>

    <form action="#" method="post" id="auto-redirect">

          <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Functional history for moving around
            </span>
          </summary>
          <div class="govuk-details__text">
           {{data["movingaroundFunctionalHistory"]}}
          </div>
        </details> 
              
         

        <!-- <div class="govuk-form-group">
            <label class="govuk-label govuk-label--s" for="movingaroundNotes">
              Functional history for moving around
            </label>
          
          
            <textarea class="govuk-textarea govuk-!-margin-bottom-9" id="movingaroundNotes" name="movingaroundNotes" rows="15">{{data["movingaroundNotes"]}}</textarea>
          </div> -->

          <div class="govuk-form-group">

            <fieldset class="govuk-fieldset govuk-!-margin-bottom-9">
            
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
            
              Which of these describes how well the claimant can move around?
            
            </legend>
            
          
            <div class="govuk-radios">
  
              {% if data["movingaroundSelectpbr"] == '(12a) Can stand and then move more than 200 metres, either aided or unaided' %}
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr" name="movingaroundSelectpbr" type="radio" value="(12a) Can stand and then move more than 200 metres, either aided or unaided" {{ checked }}>
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr">
                  (12a) Can stand and then move more than 200 metres, either aided or unaided
                </label>
                  </div>
         
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-2" name="movingaroundSelectpbr" type="radio" value="(12b) Can stand and then move more than 50 metres but no more than 200 metres, either aided or unaided">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-2">
                  (12b) Can stand and then move more than 50 metres but no more than 200 metres, either aided or unaided
                </label>
                  </div>
     
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-3" name="movingaroundSelectpbr" type="radio" value="(12c) Can stand and then move unaided more than 20 metres but no more than 50 metres">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-3">
                  (12c) Can stand and then move unaided more than 20 metres but no more than 50 metres
                </label>
                  </div>
  
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-4" name="movingaroundSelectpbr" type="radio" value="(12d) Can stand and then move using an aid or appliance more than 20 metres but no more than 50 metres">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-4">
                  (12d) Can stand and then move using an aid or appliance more than 20 metres but no more than 50 metres
                </label>
                  </div>
   
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-5" name="movingaroundSelectpbr" type="radio" value="(12e) Can stand and then move more than 1 metre but no more than 20 metres, either aided or unaided">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-5">
                  (12e) Can stand and then move more than 1 metre but no more than 20 metres, either aided or unaided
                </label>
                  </div>

                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-6" name="movingaroundSelectpbr" type="radio" value="(12f) Cannot stand or move more than 1 metre, either aided or unaided">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-6">
                  (12f) Cannot stand or move more than 1 metre, either aided or unaided
                </label>
                  </div>

                  {% elseif data["movingaroundSelectpbr"] == '(12b) Can stand and then move more than 50 metres but no more than 200 metres, either aided or unaided' %}
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr" name="movingaroundSelectpbr" type="radio" value="(12a) Can stand and then move more than 200 metres, either aided or unaided">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr">
                  (12a) Can stand and then move more than 200 metres, either aided or unaided
                </label>
                  </div>
         
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-2" name="movingaroundSelectpbr" type="radio" value="(12b) Can stand and then move more than 50 metres but no more than 200 metres, either aided or unaided" {{ checked }}>
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-2">
                  (12b) Can stand and then move more than 50 metres but no more than 200 metres, either aided or unaided
                </label>
                  </div>
     
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-3" name="movingaroundSelectpbr" type="radio" value="(12c) Can stand and then move unaided more than 20 metres but no more than 50 metres">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-3">
                  (12c) Can stand and then move unaided more than 20 metres but no more than 50 metres
                </label>
                  </div>
  
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-4" name="movingaroundSelectpbr" type="radio" value="(12d) Can stand and then move using an aid or appliance more than 20 metres but no more than 50 metres">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-4">
                  (12d) Can stand and then move using an aid or appliance more than 20 metres but no more than 50 metres
                </label>
                  </div>
   
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-5" name="movingaroundSelectpbr" type="radio" value="(12e) Can stand and then move more than 1 metre but no more than 20 metres, either aided or unaided">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-5">
                  (12e) Can stand and then move more than 1 metre but no more than 20 metres, either aided or unaided
                </label>
                  </div>

                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-6" name="movingaroundSelectpbr" type="radio" value="(12f) Cannot stand or move more than 1 metre, either aided or unaided">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-6">
                  (12f) Cannot stand or move more than 1 metre, either aided or unaided
                </label>
                  </div>

                  {% elseif data["movingaroundSelectpbr"] == '(12c) Can stand and then move unaided more than 20 metres but no more than 50 metres' %}
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr" name="movingaroundSelectpbr" type="radio" value="(12a) Can stand and then move more than 200 metres, either aided or unaided">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr">
                  (12a) Can stand and then move more than 200 metres, either aided or unaided
                </label>
                  </div>
         
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-2" name="movingaroundSelectpbr" type="radio" value="(12b) Can stand and then move more than 50 metres but no more than 200 metres, either aided or unaided">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-2">
                  (12b) Can stand and then move more than 50 metres but no more than 200 metres, either aided or unaided
                </label>
                  </div>
     
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-3" name="movingaroundSelectpbr" type="radio" value="(12c) Can stand and then move unaided more than 20 metres but no more than 50 metres" {{ checked }}>
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-3">
                  (12c) Can stand and then move unaided more than 20 metres but no more than 50 metres
                </label>
                  </div>
  
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-4" name="movingaroundSelectpbr" type="radio" value="(12d) Can stand and then move using an aid or appliance more than 20 metres but no more than 50 metres">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-4">
                  (12d) Can stand and then move using an aid or appliance more than 20 metres but no more than 50 metres
                </label>
                  </div>
   
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-5" name="movingaroundSelectpbr" type="radio" value="(12e) Can stand and then move more than 1 metre but no more than 20 metres, either aided or unaided">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-5">
                  (12e) Can stand and then move more than 1 metre but no more than 20 metres, either aided or unaided
                </label>
                  </div>

                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-6" name="movingaroundSelectpbr" type="radio" value="(12f) Cannot stand or move more than 1 metre, either aided or unaided">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-6">
                  (12f) Cannot stand or move more than 1 metre, either aided or unaided
                </label>
                  </div>

                  {% elseif data["movingaroundSelectpbr"] == '(12d) Can stand and then move using an aid or appliance more than 20 metres but no more than 50 metres' %}
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr" name="movingaroundSelectpbr" type="radio" value="(12a) Can stand and then move more than 200 metres, either aided or unaided">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr">
                  (12a) Can stand and then move more than 200 metres, either aided or unaided
                </label>
                  </div>
         
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-2" name="movingaroundSelectpbr" type="radio" value="(12b) Can stand and then move more than 50 metres but no more than 200 metres, either aided or unaided">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-2">
                  (12b) Can stand and then move more than 50 metres but no more than 200 metres, either aided or unaided
                </label>
                  </div>
     
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-3" name="movingaroundSelectpbr" type="radio" value="(12c) Can stand and then move unaided more than 20 metres but no more than 50 metres">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-3">
                  (12c) Can stand and then move unaided more than 20 metres but no more than 50 metres
                </label>
                  </div>
  
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-4" name="movingaroundSelectpbr" type="radio" value="(12d) Can stand and then move using an aid or appliance more than 20 metres but no more than 50 metres" {{ checked }}>
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-4">
                  (12d) Can stand and then move using an aid or appliance more than 20 metres but no more than 50 metres
                </label>
                  </div>
   
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-5" name="movingaroundSelectpbr" type="radio" value="(12e) Can stand and then move more than 1 metre but no more than 20 metres, either aided or unaided">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-5">
                  (12e) Can stand and then move more than 1 metre but no more than 20 metres, either aided or unaided
                </label>
                  </div>

                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-6" name="movingaroundSelectpbr" type="radio" value="(12f) Cannot stand or move more than 1 metre, either aided or unaided">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-6">
                  (12f) Cannot stand or move more than 1 metre, either aided or unaided
                </label>
                  </div>

                  {% elseif data["movingaroundSelectpbr"] == '(12e) Can stand and then move more than 1 metre but no more than 20 metres, either aided or unaided' %}
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr" name="movingaroundSelectpbr" type="radio" value="(12a) Can stand and then move more than 200 metres, either aided or unaided">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr">
                  (12a) Can stand and then move more than 200 metres, either aided or unaided
                </label>
                  </div>
         
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-2" name="movingaroundSelectpbr" type="radio" value="(12b) Can stand and then move more than 50 metres but no more than 200 metres, either aided or unaided">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-2">
                  (12b) Can stand and then move more than 50 metres but no more than 200 metres, either aided or unaided
                </label>
                  </div>
     
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-3" name="movingaroundSelectpbr" type="radio" value="(12c) Can stand and then move unaided more than 20 metres but no more than 50 metres">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-3">
                  (12c) Can stand and then move unaided more than 20 metres but no more than 50 metres
                </label>
                  </div>
  
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-4" name="movingaroundSelectpbr" type="radio" value="(12d) Can stand and then move using an aid or appliance more than 20 metres but no more than 50 metres">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-4">
                  (12d) Can stand and then move using an aid or appliance more than 20 metres but no more than 50 metres
                </label>
                  </div>
   
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-5" name="movingaroundSelectpbr" type="radio" value="(12e) Can stand and then move more than 1 metre but no more than 20 metres, either aided or unaided" {{ checked }}>
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-5">
                  (12e) Can stand and then move more than 1 metre but no more than 20 metres, either aided or unaided
                </label>
                  </div>

                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-6" name="movingaroundSelectpbr" type="radio" value="(12f) Cannot stand or move more than 1 metre, either aided or unaided">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-6">
                  (12f) Cannot stand or move more than 1 metre, either aided or unaided
                </label>
                  </div>

                  {% elseif data["movingaroundSelectpbr"] == '(12f) Cannot stand or move more than 1 metre, either aided or unaided' %}
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr" name="movingaroundSelectpbr" type="radio" value="(12a) Can stand and then move more than 200 metres, either aided or unaided">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr">
                  (12a) Can stand and then move more than 200 metres, either aided or unaided
                </label>
                  </div>
         
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-2" name="movingaroundSelectpbr" type="radio" value="(12b) Can stand and then move more than 50 metres but no more than 200 metres, either aided or unaided">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-2">
                  (12b) Can stand and then move more than 50 metres but no more than 200 metres, either aided or unaided
                </label>
                  </div>
     
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-3" name="movingaroundSelectpbr" type="radio" value="(12c) Can stand and then move unaided more than 20 metres but no more than 50 metres">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-3">
                  (12c) Can stand and then move unaided more than 20 metres but no more than 50 metres
                </label>
                  </div>
  
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-4" name="movingaroundSelectpbr" type="radio" value="(12d) Can stand and then move using an aid or appliance more than 20 metres but no more than 50 metres">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-4">
                  (12d) Can stand and then move using an aid or appliance more than 20 metres but no more than 50 metres
                </label>
                  </div>
   
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-5" name="movingaroundSelectpbr" type="radio" value="(12e) Can stand and then move more than 1 metre but no more than 20 metres, either aided or unaided">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-5">
                  (12e) Can stand and then move more than 1 metre but no more than 20 metres, either aided or unaided
                </label>
                  </div>

                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-6" name="movingaroundSelectpbr" type="radio" value="(12f) Cannot stand or move more than 1 metre, either aided or unaided" {{ checked }}>
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-6">
                  (12f) Cannot stand or move more than 1 metre, either aided or unaided
                </label>
                  </div>

                  {% elseif data["movingaroundSelectpbr"] === undefined %}
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr" name="movingaroundSelectpbr" type="radio" value="(12a) Can stand and then move more than 200 metres, either aided or unaided">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr">
                  (12a) Can stand and then move more than 200 metres, either aided or unaided
                </label>
                  </div>
         
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-2" name="movingaroundSelectpbr" type="radio" value="(12b) Can stand and then move more than 50 metres but no more than 200 metres, either aided or unaided">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-2">
                  (12b) Can stand and then move more than 50 metres but no more than 200 metres, either aided or unaided
                </label>
                  </div>
     
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-3" name="movingaroundSelectpbr" type="radio" value="(12c) Can stand and then move unaided more than 20 metres but no more than 50 metres">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-3">
                  (12c) Can stand and then move unaided more than 20 metres but no more than 50 metres
                </label>
                  </div>
  
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-4" name="movingaroundSelectpbr" type="radio" value="(12d) Can stand and then move using an aid or appliance more than 20 metres but no more than 50 metres">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-4">
                  (12d) Can stand and then move using an aid or appliance more than 20 metres but no more than 50 metres
                </label>
                  </div>
   
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-5" name="movingaroundSelectpbr" type="radio" value="(12e) Can stand and then move more than 1 metre but no more than 20 metres, either aided or unaided">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-5">
                  (12e) Can stand and then move more than 1 metre but no more than 20 metres, either aided or unaided
                </label>
                  </div>

                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-6" name="movingaroundSelectpbr" type="radio" value="(12f) Cannot stand or move more than 1 metre, either aided or unaided">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-6">
                  (12f) Cannot stand or move more than 1 metre, either aided or unaided
                </label>
                  </div>

                  {% endif %}
            </div>

            
            
          
          </fieldset>

          <!-- <div class="govuk-form-group">
            <label class="govuk-label govuk-label--s" for="movingJustify">
              Justification for moving around
            </label>
          
            <textarea class="govuk-textarea govuk-!-margin-bottom-9" id="movingJustification" name="movingJustify" rows="15">{{data["movingJustify"]}}</textarea>
          </div> -->
          
           <button class="govuk-button" data-module="govuk-button">
            Save and continue
          </button>
           </div>
        </form>
     <!-- </div>
   </div> -->

 

{% endblock %}
