{% extends "layouts/no-side-nav-justification-activity.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content_left %}

<style type="text/css">
  .govuk-textarea {
    text-align: left;
    display: block;
    white-space: pre-line;
  }
             
  </style>

<!-- <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds"> -->

    <a href="javascript:history.back()" class="govuk-back-link">Back</a>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Managing toilet needs</h1>
      </div>
    </div>

    <form action="#" method="post" id="auto-redirect">

       <details class="govuk-details govuk-!-margin-bottom-4">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Claimant's questionnaire response
            </span>
          </summary>
          <div class="govuk-details__text">
           Chopping vegtables such as carrots can be hard as my grip on the knife isn't always strong enough to chop all the way through. I use things in the kitchen like an automatic tin opener and a kettle tipper. 
           I somtimes need to ask a family member with chopping large amounts of food or when heavy objects need carrying around the kitchen.

          <p>A timer needs to be used when cooking meals, so that a pan is not forgotten about during cooking to avoid the contents from boiling over or being burnt. </p>
          </div>
        </details>  

       <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Functional history for managing toilet needs
            </span>
          </summary>
          <div class="govuk-details__text">
           {{data["toiletneedsFunctionalHistory"]}}
          </div>
        </details> 
              
              

        <!-- <div class="govuk-form-group">
            <label class="govuk-label govuk-label--s" for="toiletneedsNotes">
              Functional history for managing toilet needs
            </label>
          
          
            <textarea class="govuk-textarea govuk-!-margin-bottom-9" id="toiletneedsNotes" name="toiletneedsNotes" rows="15">{{data["toiletneedsNotes"]}}</textarea>
          </div>           -->
          
          <div class="govuk-form-group">

            <fieldset class="govuk-fieldset govuk-!-margin-bottom-9">
            
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
            
              Which of these describes how well the claimant can manage toilet needs?
            
            </legend>
            
          
            <div class="govuk-radios">
              
              {% if data["toiletneedsSelect"] == '(5a) Can manage toilet needs or incontinence unaided' %}
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="toiletneedsSelect" name="toiletneedsSelect" type="radio" value="(5a) Can manage toilet needs or incontinence unaided" {{ checked }}>
                    <label class="govuk-label govuk-radios__label" for="toiletneedsSelect">
                  (5a) Can manage toilet needs or incontinence unaided
                </label>
                  </div>
          
                  
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="toiletneedsSelect-2" name="toiletneedsSelect" type="radio" value="(5b) Needs to use an aid or appliance to be able to manage toilet needs or incontinence">
                    <label class="govuk-label govuk-radios__label" for="toiletneedsSelect-2">
                  (5b) Needs to use an aid or appliance to be able to manage toilet needs or incontinence
                </label>
                  </div>
              
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="toiletneedsSelect-3" name="toiletneedsSelect" type="radio" value="(5c) Needs supervision or prompting to be able to manage toilet needs">
                    <label class="govuk-label govuk-radios__label" for="toiletneedsSelect-3">
                  (5c) Needs supervision or prompting to be able to manage toilet needs
                </label>
                  </div>

                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="toiletneedsSelect-4" name="toiletneedsSelect" type="radio" value="(5d) Needs assistance to be able to manage toilet needs">
                    <label class="govuk-label govuk-radios__label" for="toiletneedsSelect-4">
                  (5d) Needs assistance to be able to manage toilet needs
                </label>
                  </div>
      
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="toiletneedsSelect-5" name="toiletneedsSelect" type="radio" value="(5e) Needs assistance to be able to manage incontinence of either bladder or bowel">
                    <label class="govuk-label govuk-radios__label" for="toiletneedsSelect-5">
                  (5e) Needs assistance to be able to manage incontinence of either bladder or bowel
                </label>
                  </div>
   
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="toiletneedsSelect-6" name="toiletneedsSelect" type="radio" value="(5f) Needs assistance to be able to manage incontinence of both bladder and bowel">
                    <label class="govuk-label govuk-radios__label" for="toiletneedsSelect-6">
                  (5f) Needs assistance to be able to manage incontinence of both bladder and bowel
                </label>
                  </div>

                  {% elseif data["toiletneedsSelect"] == '(5b) Needs to use an aid or appliance to be able to manage toilet needs or incontinence' %}
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="toiletneedsSelect" name="toiletneedsSelect" type="radio" value="(5a) Can manage toilet needs or incontinence unaided">
                    <label class="govuk-label govuk-radios__label" for="toiletneedsSelect">
                  (5a) Can manage toilet needs or incontinence unaided
                </label>
                  </div>
          
                  
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="toiletneedsSelect-2" name="toiletneedsSelect" type="radio" value="(5b) Needs to use an aid or appliance to be able to manage toilet needs or incontinence" {{ checked }}>
                    <label class="govuk-label govuk-radios__label" for="toiletneedsSelect-2">
                  (5b) Needs to use an aid or appliance to be able to manage toilet needs or incontinence
                </label>
                  </div>
              
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="toiletneedsSelect-3" name="toiletneedsSelect" type="radio" value="(5c) Needs supervision or prompting to be able to manage toilet needs">
                    <label class="govuk-label govuk-radios__label" for="toiletneedsSelect-3">
                  (5c) Needs supervision or prompting to be able to manage toilet needs
                </label>
                  </div>

                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="toiletneedsSelect-4" name="toiletneedsSelect" type="radio" value="(5d) Needs assistance to be able to manage toilet needs">
                    <label class="govuk-label govuk-radios__label" for="toiletneedsSelect-4">
                  (5d) Needs assistance to be able to manage toilet needs
                </label>
                  </div>
      
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="toiletneedsSelect-5" name="toiletneedsSelect" type="radio" value="(5e) Needs assistance to be able to manage incontinence of either bladder or bowel">
                    <label class="govuk-label govuk-radios__label" for="toiletneedsSelect-5">
                  (5e) Needs assistance to be able to manage incontinence of either bladder or bowel
                </label>
                  </div>
   
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="toiletneedsSelect-6" name="toiletneedsSelect" type="radio" value="(5f) Needs assistance to be able to manage incontinence of both bladder and bowel">
                    <label class="govuk-label govuk-radios__label" for="toiletneedsSelect-6">
                  (5f) Needs assistance to be able to manage incontinence of both bladder and bowel
                </label>
                  </div>

                  {% elseif data["toiletneedsSelect"] == '(5c) Needs supervision or prompting to be able to manage toilet needs' %}
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="toiletneedsSelect" name="toiletneedsSelect" type="radio" value="(5a) Can manage toilet needs or incontinence unaided">
                    <label class="govuk-label govuk-radios__label" for="toiletneedsSelect">
                  (5a) Can manage toilet needs or incontinence unaided
                </label>
                  </div>
          
                  
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="toiletneedsSelect-2" name="toiletneedsSelect" type="radio" value="(5b) Needs to use an aid or appliance to be able to manage toilet needs or incontinence">
                    <label class="govuk-label govuk-radios__label" for="toiletneedsSelect-2">
                  (5b) Needs to use an aid or appliance to be able to manage toilet needs or incontinence
                </label>
                  </div>
              
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="toiletneedsSelect-3" name="toiletneedsSelect" type="radio" value="(5c) Needs supervision or prompting to be able to manage toilet needs" {{ checked }}>
                    <label class="govuk-label govuk-radios__label" for="toiletneedsSelect-3">
                  (5c) Needs supervision or prompting to be able to manage toilet needs
                </label>
                  </div>

                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="toiletneedsSelect-4" name="toiletneedsSelect" type="radio" value="(5d) Needs assistance to be able to manage toilet needs">
                    <label class="govuk-label govuk-radios__label" for="toiletneedsSelect-4">
                  (5d) Needs assistance to be able to manage toilet needs
                </label>
                  </div>
      
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="toiletneedsSelect-5" name="toiletneedsSelect" type="radio" value="(5e) Needs assistance to be able to manage incontinence of either bladder or bowel">
                    <label class="govuk-label govuk-radios__label" for="toiletneedsSelect-5">
                  (5e) Needs assistance to be able to manage incontinence of either bladder or bowel
                </label>
                  </div>
   
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="toiletneedsSelect-6" name="toiletneedsSelect" type="radio" value="(5f) Needs assistance to be able to manage incontinence of both bladder and bowel">
                    <label class="govuk-label govuk-radios__label" for="toiletneedsSelect-6">
                  (5f) Needs assistance to be able to manage incontinence of both bladder and bowel
                </label>
                  </div>

                  {% elseif data["toiletneedsSelect"] == '(5d) Needs assistance to be able to manage toilet needs' %}
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="toiletneedsSelect" name="toiletneedsSelect" type="radio" value="(5a) Can manage toilet needs or incontinence unaided">
                    <label class="govuk-label govuk-radios__label" for="toiletneedsSelect">
                  (5a) Can manage toilet needs or incontinence unaided
                </label>
                  </div>
          
                  
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="toiletneedsSelect-2" name="toiletneedsSelect" type="radio" value="(5b) Needs to use an aid or appliance to be able to manage toilet needs or incontinence">
                    <label class="govuk-label govuk-radios__label" for="toiletneedsSelect-2">
                  (5b) Needs to use an aid or appliance to be able to manage toilet needs or incontinence
                </label>
                  </div>
              
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="toiletneedsSelect-3" name="toiletneedsSelect" type="radio" value="(5c) Needs supervision or prompting to be able to manage toilet needs">
                    <label class="govuk-label govuk-radios__label" for="toiletneedsSelect-3">
                  (5c) Needs supervision or prompting to be able to manage toilet needs
                </label>
                  </div>

                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="toiletneedsSelect-4" name="toiletneedsSelect" type="radio" value="(5d) Needs assistance to be able to manage toilet needs" {{ checked }}>
                    <label class="govuk-label govuk-radios__label" for="toiletneedsSelect-4">
                  (5d) Needs assistance to be able to manage toilet needs
                </label>
                  </div>
      
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="toiletneedsSelect-5" name="toiletneedsSelect" type="radio" value="(5e) Needs assistance to be able to manage incontinence of either bladder or bowel">
                    <label class="govuk-label govuk-radios__label" for="toiletneedsSelect-5">
                  (5e) Needs assistance to be able to manage incontinence of either bladder or bowel
                </label>
                  </div>
   
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="toiletneedsSelect-6" name="toiletneedsSelect" type="radio" value="(5f) Needs assistance to be able to manage incontinence of both bladder and bowel">
                    <label class="govuk-label govuk-radios__label" for="toiletneedsSelect-6">
                  (5f) Needs assistance to be able to manage incontinence of both bladder and bowel
                </label>
                  </div>

                  {% elseif data["toiletneedsSelect"] == '(5e) Needs assistance to be able to manage incontinence of either bladder or bowel' %}
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="toiletneedsSelect" name="toiletneedsSelect" type="radio" value="(5a) Can manage toilet needs or incontinence unaided">
                    <label class="govuk-label govuk-radios__label" for="toiletneedsSelect">
                  (5a) Can manage toilet needs or incontinence unaided
                </label>
                  </div>
          
                  
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="toiletneedsSelect-2" name="toiletneedsSelect" type="radio" value="(5b) Needs to use an aid or appliance to be able to manage toilet needs or incontinence">
                    <label class="govuk-label govuk-radios__label" for="toiletneedsSelect-2">
                  (5b) Needs to use an aid or appliance to be able to manage toilet needs or incontinence
                </label>
                  </div>
              
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="toiletneedsSelect-3" name="toiletneedsSelect" type="radio" value="(5c) Needs supervision or prompting to be able to manage toilet needs">
                    <label class="govuk-label govuk-radios__label" for="toiletneedsSelect-3">
                  (5c) Needs supervision or prompting to be able to manage toilet needs
                </label>
                  </div>

                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="toiletneedsSelect-4" name="toiletneedsSelect" type="radio" value="(5d) Needs assistance to be able to manage toilet needs">
                    <label class="govuk-label govuk-radios__label" for="toiletneedsSelect-4">
                  (5d) Needs assistance to be able to manage toilet needs
                </label>
                  </div>
      
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="toiletneedsSelect-5" name="toiletneedsSelect" type="radio" value="(5e) Needs assistance to be able to manage incontinence of either bladder or bowel" {{ checked }}>
                    <label class="govuk-label govuk-radios__label" for="toiletneedsSelect-5">
                  (5e) Needs assistance to be able to manage incontinence of either bladder or bowel
                </label>
                  </div>
   
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="toiletneedsSelect-6" name="toiletneedsSelect" type="radio" value="(5f) Needs assistance to be able to manage incontinence of both bladder and bowel">
                    <label class="govuk-label govuk-radios__label" for="toiletneedsSelect-6">
                  (5f) Needs assistance to be able to manage incontinence of both bladder and bowel
                </label>
                  </div>

                  {% elseif data["toiletneedsSelect"] == '(5f) Needs assistance to be able to manage incontinence of both bladder and bowel' %}
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="toiletneedsSelect" name="toiletneedsSelect" type="radio" value="(5a) Can manage toilet needs or incontinence unaided">
                    <label class="govuk-label govuk-radios__label" for="toiletneedsSelect">
                  (5a) Can manage toilet needs or incontinence unaided
                </label>
                  </div>
          
                  
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="toiletneedsSelect-2" name="toiletneedsSelect" type="radio" value="(5b) Needs to use an aid or appliance to be able to manage toilet needs or incontinence">
                    <label class="govuk-label govuk-radios__label" for="toiletneedsSelect-2">
                  (5b) Needs to use an aid or appliance to be able to manage toilet needs or incontinence
                </label>
                  </div>
              
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="toiletneedsSelect-3" name="toiletneedsSelect" type="radio" value="(5c) Needs supervision or prompting to be able to manage toilet needs">
                    <label class="govuk-label govuk-radios__label" for="toiletneedsSelect-3">
                  (5c) Needs supervision or prompting to be able to manage toilet needs
                </label>
                  </div>

                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="toiletneedsSelect-4" name="toiletneedsSelect" type="radio" value="(5d) Needs assistance to be able to manage toilet needs">
                    <label class="govuk-label govuk-radios__label" for="toiletneedsSelect-4">
                  (5d) Needs assistance to be able to manage toilet needs
                </label>
                  </div>
      
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="toiletneedsSelect-5" name="toiletneedsSelect" type="radio" value="(5e) Needs assistance to be able to manage incontinence of either bladder or bowel">
                    <label class="govuk-label govuk-radios__label" for="toiletneedsSelect-5">
                  (5e) Needs assistance to be able to manage incontinence of either bladder or bowel
                </label>
                  </div>
   
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="toiletneedsSelect-6" name="toiletneedsSelect" type="radio" value="(5f) Needs assistance to be able to manage incontinence of both bladder and bowel" {{ checked }}>
                    <label class="govuk-label govuk-radios__label" for="toiletneedsSelect-6">
                  (5f) Needs assistance to be able to manage incontinence of both bladder and bowel
                </label>
                  </div>

                  {% elseif data["toiletneedsSelect"] === undefined %}
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="toiletneedsSelect" name="toiletneedsSelect" type="radio" value="(5a) Can manage toilet needs or incontinence unaided">
                    <label class="govuk-label govuk-radios__label" for="toiletneedsSelect">
                  (5a) Can manage toilet needs or incontinence unaided
                </label>
                  </div>
          
                  
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="toiletneedsSelect-2" name="toiletneedsSelect" type="radio" value="(5b) Needs to use an aid or appliance to be able to manage toilet needs or incontinence">
                    <label class="govuk-label govuk-radios__label" for="toiletneedsSelect-2">
                  (5b) Needs to use an aid or appliance to be able to manage toilet needs or incontinence
                </label>
                  </div>
              
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="toiletneedsSelect-3" name="toiletneedsSelect" type="radio" value="(5c) Needs supervision or prompting to be able to manage toilet needs">
                    <label class="govuk-label govuk-radios__label" for="toiletneedsSelect-3">
                  (5c) Needs supervision or prompting to be able to manage toilet needs
                </label>
                  </div>

                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="toiletneedsSelect-4" name="toiletneedsSelect" type="radio" value="(5d) Needs assistance to be able to manage toilet needs">
                    <label class="govuk-label govuk-radios__label" for="toiletneedsSelect-4">
                  (5d) Needs assistance to be able to manage toilet needs
                </label>
                  </div>
      
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="toiletneedsSelect-5" name="toiletneedsSelect" type="radio" value="(5e) Needs assistance to be able to manage incontinence of either bladder or bowel">
                    <label class="govuk-label govuk-radios__label" for="toiletneedsSelect-5">
                  (5e) Needs assistance to be able to manage incontinence of either bladder or bowel
                </label>
                  </div>
   
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="toiletneedsSelect-6" name="toiletneedsSelect" type="radio" value="(5f) Needs assistance to be able to manage incontinence of both bladder and bowel">
                    <label class="govuk-label govuk-radios__label" for="toiletneedsSelect-6">
                  (5f) Needs assistance to be able to manage incontinence of both bladder and bowel
                </label>
                  </div>
            {% endif %}
              
            </div>

          </fieldset>

          <div class="govuk-form-group">
        <label class="govuk-label" for="diagnosis">
          <b>Justification</b>
        </label>
        <div id="condition-history" class="govuk-hint">
          This could include diagnosis details, symptoms, variability, treatments, specialist inputs and hospital stays
        </div>
        <!-- <div id="boldHeadings"><p><b>Diagnosis <br><br><br>Symptoms <br><br><br>Variability <br><br><br>Treatments <br><br><br>Specialist inputs <br><br><br>Hospital stays</b></p></div> -->
        <script>
          function addHeadings(){
              var boldTitles = document.getElementById("boldHeadings")
              var titles = document.getElementById("conditionSubHeadings").value;

              if (titles == "" || titles.length == 0 || titles == null)
                  {
                    document.getElementById("conditionSubHeadings").value += 'Diagnosis details \n\n\nSymptoms \n\n\nVariability \n\n\nTreatments \n\n\nSpecialist inputs \n\n\nHospital stays';
                  } else {
                    document.getElementById("conditionSubHeadings").value += '\r\rDiagnosis details \n\n\nSymptoms \n\n\nVariability \n\n\nTreatments \n\n\nSpecialist inputs \n\n\nHospital stays';
                  }
          }
      </script>
        <a href="#conditionSubHeading" class="govuk-button govuk-button--secondary" onclick="addHeadings(this.value)">Add subheadings</a>
        <textarea class="govuk-textarea" id="conditionSubHeadings" name="toiletJustify" rows="20" aria-describedby="condition history">{{data["toiletJustify"]}}</textarea>
      </div>
      
          
          </div>          
          <button class="govuk-button" data-module="govuk-button">
            Save and continue
          </button>
          
          </form>
    <!-- </div> -->

      <!-- </div> -->
<!--
    <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="list-convictions-status">Not started</strong>
    <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="submit-pay-status">Cannot start yet</strong>
    <strong class="govuk-tag govuk-tag--blue govuk-prototype-kit-task-list__tag" id="contact-details-status">In progress</strong>
    <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="eligibility-status">Completed</strong>

  -->


{% endblock %}
