-{% extends "layouts/side-nav-prompts" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% set containerClasses = "full-width-container" %}
{% block content_left %}

<style>
  .govuk-summary-list__actions {
   width: 25%;
   padding-right: 0;
   text-align: right;
 }
</style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
   
        <span class="govuk-caption-xl"></span>
        <h1 class="govuk-heading-l">
          Condition history
        </h1>
       
          <!--logic for adding the first condition only-->
          {% for condition in data['conditionAdded'] %}
           
          <h2 class="govuk-heading-m">{{ condition.conditionName }}</h2>
          <dl class="govuk-summary-list">
            <!-- {{loop.index0}}: {{ condition.conditionName}} -->
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                When did the condition or disability start?
              </dt>
              <dd class="govuk-summary-list__value">
                {{ condition.conditionLength }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <ul class="govuk-summary-list__actions-list">
                  <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="conditions-change?index={{loop.index0}}&edit={{condition.conditionName}}">
                        Change<span class="govuk-visually-hidden">condition change</span>
                    </a></li>
                  <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="#">
                      Remove<span class="govuk-visually-hidden">condition remove</span>
                    </a></li>
                </ul>
              </dd>
            </div>
       </dl>
       <h3 class="govuk-heading-s" style="margin-top:-3%;">Diagnosis</h3>
 
       <p>{{ condition.diagnosis }}</p>
 
       <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

       <h3 class="govuk-heading-s" style="margin-top:-3%;">Medical care and treatments</h3>
 
       <p>{{ condition.medicalcareTreatments }}</p>
 
       <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
          
       <h3 class="govuk-heading-s" style="margin-top:-2%;">Hospital admission</h3>

      <p>{{ condition.hospitalCheck }}</p>
           
       <p>{{ condition.hospital }}</p>
 
       <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
 
       <h3 class="govuk-heading-s" style="margin-top:-2%;">Symptoms, impact and progression</h3>
 
       <p>{{ condition.conditionSymptoms }}</p>
 
       <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
 
       <h3 class="govuk-heading-s" style="margin-top:-2%;">Variability</h3>
 
       <p>{{ condition.conditionVariabilityCheck }}</p>

       <p>{{ condition.conditionVariability }}</p>
 
       <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
 
       <h3 class="govuk-heading-s" style="margin-top:-2%;">Suicidal thoughts and self harm</h3>
 
       <p>{{ condition.mentalHealthCheck }}</p>

       <p>{{ condition.mentalHealth }}</p>
 
       <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
          
            <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
             <dt class="govuk-summary-list__key">
               Functional restriction
             </dt>
             <dd class="govuk-summary-list__value">
               {{ condition.functionalRestriction }}
             </dd>
             <dd class="govuk-summary-list__actions">
               <ul class="govuk-summary-list__actions-list">
                 <li class="govuk-summary-list__actions-list-item">
                  
                 </li>
               </ul>
             </dd>
             </div>
           </dl>
            {% endfor %}

            <br>


<form action="#" method="post">
  
  <div class="govuk-button-group">
    <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
      Add another condition
    </button>
    </div>

      </form>
    </div>
</div>
     
   

{% endblock %}