{% extends "layouts/prompts-without-sidenav" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<style type="text/css">
  .govuk-textarea {
    text-align: left;
    display: block;
    white-space: pre-line;
  }
             
  </style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">   

<form action="#" method="post" id="auto-redirect">
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <span class="govuk-caption-xl"></span>
        <h1 class="govuk-fieldset__heading">
          Add a condition or disability
        </h1>
        <div id="passport-issued-hint" class="govuk-hint">
        </div>
      </legend>

      <div class="govuk-form-group">
        <label class="govuk-label" for="condition-name-first">
          <b>Condition or disability name</b>
        </label>
        <input class="govuk-input" id="condition-name-first" name="condition-name-first" type="text">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="condition-start">
          <b>When did the condition or disability start?</b>
        </label>
        <input class="govuk-input" id="condition-start" name="condition-start" type="text">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="diagnosis">
          <b>Diagnosis</b>
        </label>
        <textarea class="govuk-textarea" id="diagnosis" name="diagnosis" rows="5" aria-describedby="diagnosis"></textarea>
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="meds-care-treatments">
          <b>Medical care, investigations and treatments</b>
        </label>
        <div id="mental-health-hint" class="govuk-hint">
          Include any history of suicidal thoughts or self harm, GP awareness, and medical interventions.
        </div>
        <br>
        <textarea class="govuk-textarea" id="meds-care-treatments" name="meds-care-treatments" rows="5" aria-describedby="medical-care-and-treatments"></textarea>
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="hospital-admission">
          <b>Hospital admissions</b>
        </label>
        <br>

        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="hospital-admission-check" name="hospital-admission-check" type="checkbox" value="There have been no hospital admissions as a result of this condition or disability.">
            <label class="govuk-label govuk-checkboxes__label" for="hospital-admission">
              There have been no hospital admissions as a result of this condition or disability.
            </label>
          </div>
          </div>
          <br>
        <textarea class="govuk-textarea" id="hospital-admission" name="hospital-admission" rows="5" aria-describedby="hospital-admission"></textarea>
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="symptoms">
          <b>Symptoms, impact and progression</b>
        </label>
        <textarea class="govuk-textarea" id="symptoms" name="symptoms" rows="5" aria-describedby="symptoms-hint"></textarea>
      </div>
      
      <div class="govuk-form-group">
        <label class="govuk-label" for="meds-frequency">
          <b>Variability</b>
        </label>
        <br>

        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="variability-check" name="variability-check" type="checkbox" value="There is no variability for this condition or disability.">
            <label class="govuk-label govuk-checkboxes__label" for="variability">
              There is no variability for this condition or disability.
            </label>
          </div>
          </div>
          <br>

          <div id="waste-hint" class="govuk-hint">
            Include how symptoms might get better or worse over time.
          </div>
        <textarea class="govuk-textarea" id="variability" name="variability" rows="5" aria-describedby="variability-hint"></textarea>
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="mental-health-condition">
          <b>Suicidal thoughts and self harm (optional)</b>
        </label>
        <br>

        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="mental-health-check" name="mental-health-check" type="checkbox" value="There are no suicidal thoughts or self harming as a result of this condition or disability.">
            <label class="govuk-label govuk-checkboxes__label" for="mental-health-check">
              There are no suicidal thoughts or self harming as a result of this condition or disability.
            </label>
          </div>
          </div>
          <br>
          <div id="mental-health-hint" class="govuk-hint">
            Include any history of suicidal thoughts or self harm, GP awareness, and medical interventions.
          </div>
        <textarea class="govuk-textarea" id="mental-health-description" name="mental-health-description" rows="5" aria-describedby="mental-health"></textarea>
      </div>


      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="dl-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
            Are significant functional restrictions caused by this condition or disability?
          </legend>
          <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="functional-yes" name="functional-restriction" type="radio" value="Yes">
                  <label class="govuk-label govuk-radios__label" for="functional-yes">
                    Yes
                  </label>
                </div>

                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="fuctional-no" name="functional-restriction" type="radio" value="No">
                    <label class="govuk-label govuk-radios__label" for="functional-no">
                      No
                    </label>
                </div>
      
         </div>
      </div>

          <br>
          <br>

          <div class="govuk-button-group">

          <button type="submit" class="govuk-button" data-module="govuk-button">
            Save and continue
          </button>

          {% if (data['conditionAdded']) %}
          <p><a href="conditions-addAnother">Cancel</a></p>
          {% else %}
          <p><a href="conditions-none">Cancel</a></p>
          {% endif %}

         </div>
          

      </fieldset>
    </div>
  </div>
 </form>
</div>
      

{% endblock %}
