{% extends "layouts/side-nav-prompts.html" %}


{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% set containerClasses = "full-width-container" %}

{% block content_left %}

<style type="text/css">
  .govuk-textarea {
    text-align: left;
    display: block;
    white-space: pre-line;
  }
             
  </style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="#" method="post" id="auto-redirect">
    <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <span class="govuk-caption-xl"></span>
        <h1 class="govuk-fieldset__heading">
          Social and occupational history
        </h1>
      </legend>

    <h2 class="govuk-heading-m">Living arrangements</h2>
  
  <div class="govuk-form-group">
    <div class="govuk-form-group">
      <label class="govuk-label" for="home-live-in">
       <b>What type of home do they live in?</b>
      </label>
      <textarea class="govuk-textarea" id="home-live-with" name="home-live-in" rows="4">{{data["home-live-in"]}}</textarea>
    </div>  

    <label class="govuk-label" for="access-home-areas">
      <b>Can they access all areas of their home? (optional)</b>
    </label>
    <textarea class="govuk-textarea" id="access-home-areas" name="access-home-areas" rows="4">{{data["access-home-areas"]}}</textarea>
  </div>      

  <div class="govuk-form-group">
    <label class="govuk-label" for="live-with-anyone">
     <b>Do they live with anyone?</b>
    </label>
    <textarea class="govuk-textarea" id="live-with-anyone" name="live-with-anyone" rows="4">{{data["live-with-anyone"]}}</textarea>
  </div>      

  <h2 class="govuk-heading-m">Getting support</h2>

  <div class="govuk-form-group">
    <label class="govuk-label" for="aids-appliances">
      <b>Do they use aids or appliances? (optional)</b>
    </label>
    <textarea class="govuk-textarea" id="aids-appliances" name="aids-appliances" rows="4">{{data["aids-appliances"]}}</textarea>
  </div> 
  
  <div class="govuk-form-group">
    <label class="govuk-label" for="everyday-activities">
      <b>Do they get help with everyday activities such as housework or 
      shopping? (optional)</b>
    </label>
    <textarea class="govuk-textarea" id="everyday-activities" name="everyday-activities" rows="4">{{data["everyday-activities"]}}</textarea>
  </div>      

  <h2 class="govuk-heading-m">Daily activities</h2> 
  <div class="govuk-form-group">
      <label class="govuk-label" for="work-study">
        <b>Do they work, study or both? (optional)</b>
      </label>
      <textarea class="govuk-textarea" id="work-study" name="work-study" rows="4">{{data["work-study"]}}</textarea>
    </div> 

  <div class="govuk-form-group">
    <label class="govuk-label" for="getting-around">
      <b>How do they get around?</b>
    </label>
    <textarea class="govuk-textarea" id="getting-around" name="getting-around" rows="4">{{data["getting-around"]}}</textarea>
  </div> 

  <div class="govuk-form-group">
    <label class="govuk-label" for="spending-spare-time">
      <b>How do they spend thier spare time?</b>
    </label>
    <textarea class="govuk-textarea" id="spending-spare-time" name="spending-spare-time" rows="4">{{data["spending-spare-time"]}}</textarea>
  </div>      

  <br>
  <br>

  <div class="govuk-form-group">
    <label class="govuk-label" for="additional-social-history">
     <b>Additional social and occupational history</b>
    </label>
    <textarea class="govuk-textarea" id="additional-social-history" name="additional-social-history" rows="4">{{data["additional-social-history"]}}</textarea>
  </div>  

      
    </div>

      </form>

  </fieldset>
  </form>
  </div>      
      </div>

{% endblock %}
