-{% extends "layouts/side-nav-prompts" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% set containerClasses = "full-width-container" %}
{% block content_left %}

<style>
  .govuk-summary-list__actions {
   width: 25%;
   padding-right: 0;
   text-align: right;
 }
</style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
   
        <span class="govuk-caption-xl"></span>
        <h1 class="govuk-heading-l">
          Current treatments
        </h1>

          <!--logic for adding treatments-->
          {% for treatment in data['treatmentAdded'] %}
          <p class="govuk-body">
            <a href="mobility-twelve" class="govuk-link" style="float: right">Change | Remove</a>
          </p>

          
          <h2 class="govuk-heading-m">{{ treatment.treatentName }}</h2>
          
       <h3 class="govuk-heading-s" style="margin-top:-3%;">Frequency</h3>
 
       <p>{{ treatment.treatmentFrequency }}</p>
 
       <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
       <br>

       <h3 class="govuk-heading-s" style="margin-top:-3%;">Reason for treatment</h3>
 
       <p>{{ treatment.treatmentReason }}</p>
 
       <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
          
       <h3 class="govuk-heading-s" style="margin-top:-2%;">Efficacy</h3>
           
       <p>{{ treatment.treatmentEffectiveness }}</p>
 
       <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
 
       <h3 class="govuk-heading-s" style="margin-top:-2%;">Where is this treatment done?</h3>
 
       <p>{{ treatment.treatmentLocation}}</p>
 
       <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

           </dl>
            {% endfor %}

            <br>


<form action="#" method="post">
  
  <div class="govuk-button-group">
    <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
      Add another treatment
    </button>
    </div>

      </form>
    </div>
</div>
</div>      
    </div>

{% endblock %}