{% extends "layouts/side-nav-face-to-face.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% set containerClasses = "full-width-container" %}
{% block content_left %}

<style type="text/css">
  .govuk-textarea {
    text-align: left;
    display: block;
    white-space: pre-line;
  }
             
  </style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">   

<form action="#" method="post" id="auto-redirect">
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <span class="govuk-caption-xl"></span>
        <h1 class="govuk-fieldset__heading">
          Current medication and treatment
        </h1>
        <div id="passport-issued-hint" class="govuk-hint">
        </div>
      </legend>

          <div class="govuk-form-group">
            <textarea class="govuk-textarea" id="med-treatment" name="medication-treatment" rows="15" aria-describedby="med-hint">Medication
              Venlafaxine XR 325mg - 1 tablet daily - for mental health conditions (dosage increased, reasons and year of increase unspecified, potentially due to persistent mental health breakdown episodes) (Diazepam and Mirtazapine stopped on advise of her psychiatrist, year and reasons unspecified)

              Pramipexole 0.88mcg - 1 tablet 3 times daily - for restless legs/tremors

              Codeine 30mg - 2 tablets up to 4 times daily as needed - for pain relief

              Capsaicin cream - applied independently on her left hip and knee before going to bed daily - for pain relief
              (GP and specialists are fully aware of all the medication dosage that she takes)

              Effectiveness
              She finds the medication as partially effective in alleviation of the presenting symptoms. 

              Side Effects
              Memory loss, no focus, forgetfulness, feeling light headed, irregular sleep, feeling sleepy. Compliance: She tends to be forgetful about which medication she has to take at which time of day. 

              Additional therapies or treatments
              None  
              </textarea>
          </div>
         

          </fieldset>
        </div>
      </div>
    </form>
  </div>
      

{% endblock %}
