{% extends "layouts/side-nav-face-to-face.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% set containerClasses = "full-width-container" %}
{% block content_left %}


<form action="#" method="post" id="auto-redirect">
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <span class="govuk-caption-xl"></span>
        <h1 class="govuk-fieldset__heading">
          Mobility justification
        </h1>
      </legend>

        <div class="govuk-form-group">
          <textarea class="govuk-textarea" id="recommendation-daily-living" name="recommendation-mobility" rows="15">{{data["recommendation-mobility"]}}</textarea>
        </div>

        <h2 class="govuk-heading-m">Your mobility descriptor choices</h2>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Planning and following journeys
          </dt>

          <dd class="govuk-summary-list__value">
            {{data["journeysSelectpbr"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
           Moving around
          </dt>

          <dd class="govuk-summary-list__value">
            {{data["movingaroundSelectpbr"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            
          </dd>
        </div>
        </dl>
             
          </fieldset>
        </div>


            <!-- <div class="govuk-button-group">

      <button class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>
    </div> -->
  </form>
      

{% endblock %}
