{% extends "layouts/side-nav-face-to-face.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">

    <a href="javascript:history.back()" class="govuk-back-link">Back</a>
    

    <span class="govuk-caption-xl">Personal Independance Payment</span>
    <h1 class="govuk-heading-xl">Health Assessment Report</h1>

    
    <h2 class="govuk-heading-l">Assessment details</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Date report was completed
        </dt>
        <dd class="govuk-summary-list__value">
           13th October 2023
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> name</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Benefit
        </dt>
        <dd class="govuk-summary-list__value">
          Personal Independence Payment
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> date of birth</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
         Assessment type
        </dt>
        <dd class="govuk-summary-list__value">
            Telephone assessment
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> customer reference</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Healthcare professional
        </dt>
        <dd class="govuk-summary-list__value">
            Dr. Smith
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> health professional</span>
          </a>
        </dd>
        
      </div>
    </dl>   

    <h2 class="govuk-heading-l">Evidence</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      {% for evidenceType in data['evidenceusedpip'] %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Evidence used
        </dt>
        
        <dd class="govuk-summary-list__value">
          <!-- <ul>
            {% for evidenceType in data['evidenceusedpip'] %}
              <p>{{ evidenceType }}, {{ docuemnt-date }}</p>
            {% endfor %}

            {{ data['evidence']['document-date'] }}
            {% for evidenceDate in evidence['document-date'] %}
              <p>{{ document-date }}</p>
            {% endfor %} 
          </ul> -->

          
          {{ evidenceType }}, {{ data['evidence'][ evidenceType | lower | replace(" ", "-")] }}
          
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> name</span>
          </a>
        </dd>
      </div>
      {% endfor %}
    </dl>

    <h2 class="govuk-heading-l">Consultation</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
         Consulation date
        </dt>
        <dd class="govuk-summary-list__value">
          {{data["ConsulationDate"]}}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> name</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Was the claimants identity verified?
        </dt>
        <dd class="govuk-summary-list__value">
          {{data["verify"]}}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> name</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Did the claimant give consent?
        </dt>
        <dd class="govuk-summary-list__value">
          {{data["consent"]}}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> name</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Additional attendees
        </dt>
        
        <dd class="govuk-summary-list__value">
          {{data["attendeesAssessment"]}}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> name</span>
          </a>
        </dd>
      </div>
    </dl>

    <h2 class="govuk-heading-l">History</h2>

    <h2 class="govuk-heading-m">History of condition</h2>

    <p class="govuk-body">
      <a href="#" class="govuk-link" style="float: right">Change</a>
   </p>
    <p>{{data["condition-history"]}}</p>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <br>

    <h2 class="govuk-heading-m">Current medication and treatment</h2>

    <p class="govuk-body">
      <a href="#" class="govuk-link" style="float: right">Change</a>
   </p>
    <p>{{data["medication-treatment"]}} </p>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <br>

    <h2 class="govuk-heading-m">Social and occupational history</h2>
    <p class="govuk-body">
      <a href="#" class="govuk-link" style="float: right">Change</a>
   </p>
    <p>{{data["social-occupational-history"]}} </p>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <br>

      <h2 class="govuk-heading-l">Daily living</h2>
      
      <h3 class="govuk-heading-m">Preparing food</h3>
      <p class="govuk-body">
        <a href="#" class="govuk-link" style="float: right; display: inline;">Change</a>
     </p>
      <h3 class="govuk-heading-s">Functional history for preparing food</h3>
      <p>{{data["preparingfoodNotes"]}}</p>

      <h3 class="govuk-heading-s">How well can the claimant prepare food?</h3>
      <p>{{data["preparingfoodSelect"]}}</p>

      <h3 class="govuk-heading-s">Justification for preparing food</h3>
      <p>{{data["preparingfoodJustify"]}}</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <br>

      
      <h3 class="govuk-heading-m">Taking nutrition</h3>
      <p class="govuk-body">
        <a href="#" class="govuk-link" style="float: right">Change</a>
     </p>
      <h3 class="govuk-heading-s">Functional history for taking nutrition</h3>
      <p>{{data["takingnutritionNotes"]}}</p>

      <h3 class="govuk-heading-s">How well can the claimant take nutrition?</h3>
      <p>{{data["takingnutritionSelect"]}}</p>

      <h3 class="govuk-heading-s">Justification for taking nutrition</h3>
      <p>{{data["takingnutritionJustify"]}}</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <br>

      <h3 class="govuk-heading-m">Managing therapy</h3>
      <p class="govuk-body">
        <a href="#" class="govuk-link" style="float: right">Change</a>
     </p>
      <h3 class="govuk-heading-s">Functional history for managing therapy</h3>
      <p>{{data["managingtherapyNotes"]}}</p>

      <h3 class="govuk-heading-s">How well can the claimant manage therapy or monitor a health condition?</h3>
      <p>{{data["managingtherapySelect"]}}</p>

      <h3 class="govuk-heading-s">Justification for managing therapy</h3>
      <p>{{data["managingtherapyJustify"]}}</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <br>

      <h3 class="govuk-heading-m">Washing and bathing</h3>
      <p class="govuk-body">
        <a href="#" class="govuk-link" style="float: right">Change</a>
     </p>
      <h3 class="govuk-heading-s">Functional history for washing and bathing</h3>
      <p>{{data["washingbathingNotes"]}}</p>

      <h3 class="govuk-heading-s">How well can the claimant wash and bathe?</h3>
      <p>{{data["washingbathingSelect"]}}</p>

      <h3 class="govuk-heading-s">Justification for washing and bathing</h3>
      <p>{{data["washingJustify"]}}</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <br>

      <h3 class="govuk-heading-m">Managing toilet needs</h3>
      <p class="govuk-body">
        <a href="#" class="govuk-link" style="float: right">Change</a>
     </p>
      <h3 class="govuk-heading-s">Functional history for managing toilet needs</h3>
      <p>{{data["toiletneedsNotes"]}}</p>

      <h3 class="govuk-heading-s">How well can the claimant manage toilet needs?</h3>
      <p>{{data["toiletneedsSelect"]}}</p>

      <h3 class="govuk-heading-s">Justification for managing toilet needs</h3>
      <p>{{data["toiletneedsJustify"]}}</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <br>

      <h3 class="govuk-heading-m">Dressing and undressing</h3>
      <p class="govuk-body">
        <a href="#" class="govuk-link" style="float: right">Change</a>
     </p>
      <h3 class="govuk-heading-s">Functional history for dressing and undressing</h3>
      <p>{{data["dressingNotes"]}}</p>

      <h3 class="govuk-heading-s">How well can the claimant dress or undress?</h3>
      <p>{{data["dressingSelect"]}}</p>

      <h3 class="govuk-heading-s">Justification for managing dressing and undressing</h3>
      <p>{{data["dressingJustify"]}}</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <br>

      <h3 class="govuk-heading-m">Communicating verbally</h3>
      <p class="govuk-body">
        <a href="#" class="govuk-link" style="float: right">Change</a>
     </p>
      <h3 class="govuk-heading-s">Functional history for communicating verbally</h3>
      <p>{{data["communicatingverballyNotes"]}}</p>

      <h3 class="govuk-heading-s">How well can the claimant communicate verbally?</h3>
      <p>{{data["communicatingverballySelect"]}}</p>

      <h3 class="govuk-heading-s">Justification for communicating verbally</h3>
      <p>{{data["communicatingverballyJustify"]}}</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <br>

      <h3 class="govuk-heading-m">Reading and understanding signs, symbols and words</h3>
      <p class="govuk-body">
        <a href="#" class="govuk-link" style="float: right">Change</a>
     </p>
      <h3 class="govuk-heading-s">Functional history for reading and understanding signs, symbols and words</h3>
      <p>{{data["readingunderstandingNotes"]}}</p>

      <h3 class="govuk-heading-s">How well can the claimant reading and understanding signs, symbols and words?</h3>
      <p>{{data["readingunderstandingSelect"]}}</p>

      <h3 class="govuk-heading-s">Justification for reading and understanding signs, symbols and words</h3>
      <p>{{data["readingJustify"]}}</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <br>

      <h3 class="govuk-heading-m">Engaging face to face</h3>
      <p class="govuk-body">
        <a href="#" class="govuk-link" style="float: right">Change</a>
     </p>
      <h3 class="govuk-heading-s">Functional history for engaging face to face</h3>
      <p>{{data["facetofaceNotes"]}}</p>

      <h3 class="govuk-heading-s">How well can the claimant engage face to face?</h3>
      <p>{{data["facetofaceSelect"]}}</p>
     
      <h3 class="govuk-heading-s">Justification for engaging face to face</h3>
      <p>{{data["facetofaceJustify"]}}</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <br>

      <h3 class="govuk-heading-m">Budgeting</h3>
      <p class="govuk-body">
        <a href="#" class="govuk-link" style="float: right">Change</a>
     </p>
      <h3 class="govuk-heading-s">Functional history for budgeting</h3>
      <p>{{data["budgetingNotes"]}}</p>

      <h3 class="govuk-heading-s">How well can the claimant budget?</h3>
      <p>{{data["budgetingSelect"]}}</p>

      <h3 class="govuk-heading-s">Justification for budgeting</h3>
      <p>{{data["budgetingJustify"]}}</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <br>

      <h3 class="govuk-heading-m">Daily living qualifying period and prospective test</h3>
      <p>{{data["recommendation-daily-living"]}}</p>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Has the claimant had the functional restriction for at least 3 months?
          </dt>
          <dd class="govuk-summary-list__value">
              {{data["qualifying-period"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Is the claimant likely to have the functional restriction in 9 months?
          </dt>
          <dd class="govuk-summary-list__value">
            {{data["dl9"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> date of birth</span>
            </a>
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-l">Mobility</h2>

      <h3 class="govuk-heading-m">Planning and following journeys</h3>
      <p class="govuk-body">
        <a href="#" class="govuk-link" style="float: right">Change</a>
     </p>
      <h3 class="govuk-heading-s">Functional history for planning and following journeys</h3>
      <p>{{data["planningJourneyNotes"]}}</p>

      <h3 class="govuk-heading-s">How well can the claimant plan and follow journeys?</h3>
      <p>{{data["journeysSelectpbr"]}}</p>

      <h3 class="govuk-heading-s">Justification for planning and following journeys</h3>
      <p>{{data["planningJustify"]}}</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <br>

      <h3 class="govuk-heading-m">Moving around</h3>
      <p class="govuk-body">
        <a href="#" class="govuk-link" style="float: right">Change</a>
     </p>
      <h3 class="govuk-heading-s">Functional history for moving around</h3>
      <p>{{data["movingaroundNotes"]}}</p>

      <h3 class="govuk-heading-s">How well can the claimant move around?</h3>
      <p>{{data["movingaroundSelectpbr"]}}</p>

      <h3 class="govuk-heading-s">Justification for moving around</h3>
      <p>{{data["movingJustify"]}}</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <br>

      <h3 class="govuk-heading-m">Mobility qualifying period and prospective test</h3>
      <p>{{data["recommendation-mobility"]}}</p>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Has the claimant had the functional restriction for at least 3 months?
          </dt>
          <dd class="govuk-summary-list__value">
              {{data["mobility-qp"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Is the claimant likely to have the functional restriction in 9 months?
          </dt>
          <dd class="govuk-summary-list__value">
            {{data["9qp"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> date of birth</span>
            </a>
          </dd>
        </div>
      </dl>

      <!--physical examinations-->

      <h2 class="govuk-heading-l">Physical examinations</h2> 

      <h3 class="govuk-heading-m">Examination consent</h3>
      <p class="govuk-body">
        <a href="#" class="govuk-link" style="float: right">Change</a>
     </p>
      <h3 class="govuk-heading-s">Did the claimant consent to the physical examination?</h3>
      {% if data["examinationConsent"] == "Yes" %}
      <p>{{data["examinationConsent"]}}</p>
      {% elseif data["examinationConsent"] == "No" %}
      <p>{{data["examinationConsent"]}}</p>
      <p>{{data["no-consent-given"]}}</p>
      {% elseif data["examinationConsent"] == "Physical examination not required" %}
      <p>{{data["examinationConsent"]}}</p>
      <p>{{data["not-required"]}}</p>
      {% endif %}

      <h3 class="govuk-heading-s">Chaperone name</h3>
      <p>{{data["chaperone"]}}</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <br>

      <h3 class="govuk-heading-m">Upper body examination</h3>
      <!--Shoulder-->
      <p class="govuk-body">
        <a href="#" class="govuk-link" style="float: right">Change</a>
     </p>
      <h3 class="govuk-heading-s">Shoulder</h3>
      {% if data["shoulderNotExamined"] == "The claimant's shoulders were not examined during the consultation." %}
      <p class="govuk-body">{{data["shoulderNotExamined"]}}</p>
      {% elseif data["shoulderNotExamined"] == "None" %}

      {% endif %}
      <p class="govuk-body">{{data["shoulder"]}}</p>
     
      <!--Elbow-->
      <h3 class="govuk-heading-s">Elbow</h3>
      {% if data["elbowNotExamined"] == "The claimant's elbows were not examined during the consultation." %}
      <p class="govuk-body">{{data["elbowNotExamined"]}}</p>
      {% elseif data["elbowNotExamined"] == "None" %}

      {% endif %}
      <p class="govuk-body">{{data["elbow"]}}</p>
    
      <!--Wrist-->
      <h3 class="govuk-heading-s">Wrist</h3>
      {% if data["wristNotExamined"] == "The claimant's wrists were not examined during the consultation." %}
      <p class="govuk-body">{{data["wristNotExamined"]}}</p>
      {% elseif data["wristNotExamined"] == "None" %}

      {% endif %}
      <p class="govuk-body">{{data["wrist"]}}</p>
      
       <!--Hands-->
       <h3 class="govuk-heading-s">Hands</h3>
       {% if data["handsNotExamined"] == "The claimant's hands were not examined during the consultation." %}
       <p class="govuk-body">{{data["handsNotExamined"]}}</p>
       {% elseif data["handsNotExamined"] == "None" %}

       {% endif %}
       <p class="govuk-body">{{data["hands"]}}</p>
    
        <!--Thumb-->
        <h3 class="govuk-heading-s">Thumb</h3>
        {% if data["thumbNotExamined"] == "The claimant's thumbs were not examined during the consultation." %}
        <p class="govuk-body">{{data["thumbNotExamined"]}}</p>
        {% elseif data["thumbNotExamined"] == "None" %}

        {% endif %}
        <p class="govuk-body">{{data["thumb"]}}</p>

         <!--Grip-->
         <h3 class="govuk-heading-s">Grip</h3>
         {% if data["gripNotExamined"] == "The claimant's grip was not examined during the consultation." %}
         <p class="govuk-body">{{data["gripNotExamined"]}}</p>
         {% elseif data["gripNotExamined"] == "None" %}

         {% endif %}
         <p class="govuk-body">{{data["grip"]}}</p>

          <!--Cervical Spine-->
          <h3 class="govuk-heading-s">Cervical spine</h3>
          {% if data["cervicalSpineNotExamined"] == "The claimant's cervical spine was not examined during the consultation." %}
          <p class="govuk-body">{{data["cervicalSpineNotExamined"]}}</p>
          {% elseif data["cervicalSpineNotExamined"] == "None" %}

         {% endif %}
          <p class="govuk-body">{{data["cervicalSpine"]}}</p>
      
          <!--Lumbar Spine-->
          <h3 class="govuk-heading-s">Lumbar spine</h3>
          {% if data["cervicalSpineNotExamined"] == "The claimant's lumbar spine was not examined during the consultation." %}
          <p class="govuk-body">{{data["lumbarSpineNotExamined"]}}</p>
          {% elseif data["lumbarSpineNotExamined"] == "None" %}

          {% endif %}
          <p class="govuk-body">{{data["lumbarSpine"]}}</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <br>

      <h3 class="govuk-heading-m">Lower body examination</h3>
      <!--Hip-->
      <p class="govuk-body">
        <a href="#" class="govuk-link" style="float: right">Change</a>
     </p>
      <h3 class="govuk-heading-s">Hip</h3>
      {% if data["hipNotExamined"] == "The claimant's hips were not examined during the consultation." %}
      <p class="govuk-body">{{data["hipNotExamined"]}}</p>
      {% elseif data["hipNotExamined"] == "None" %}

      {% endif %}
      <p class="govuk-body">{{data["hip"]}}</p>
      
      <!--Knee-->
      <h3 class="govuk-heading-s">Knee</h3>
      {% if data["kneeNotExamined"] == "The claimant's knees were not examined during the consultation." %}
      <p class="govuk-body">{{data["kneeNotExamined"]}}</p>
      {% elseif data["kneeNotExamined"] == "None" %}

      {% endif %}
      <p class="govuk-body">{{data["knee"]}}</p>
  
      <!--Ankle-->
      <h3 class="govuk-heading-s">Ankle</h3>
      {% if data["ankleNotExamined"] == "The claimant's ankles were not examined during the consultation." %}
      <p class="govuk-body">{{data["ankleNotExamined"]}}</p>
      {% elseif data["ankleNotExamined"] == "None" %}

      {% endif %}
      <p class="govuk-body">{{data["ankle"]}}</p>

      <!--Hallux-->
      <h3 class="govuk-heading-s">Hallux</h3>
      {% if data["halluxNotExamined"] == "The claimant's halluces were not examined during the consultation." %}
      <p class="govuk-body">{{data["halluxNotExamined"]}}</p>
      {% elseif data["halluxNotExamined"] == "None" %}

      {% endif %}
      <p class="govuk-body">{{data["hallux"]}}</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <br>

      <h3 class="govuk-heading-m">Vision examination</h3>
      <!--Vision-->
      <p class="govuk-body">
        <a href="#" class="govuk-link" style="float: right">Change</a>
     </p>
      <h3 class="govuk-heading-s">Vision</h3>
      {% if data["visionNotExamined"] == "The claimant's vision was not examined during the consultation." %}
      <p class="govuk-body">{{data["visionNotExamined"]}}</p>
      {% elseif data["visionNotExamined"] == "None" %}

      {% endif %}
      <p class="govuk-body">{{data["vision"]}}</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <br>

      <h3 class="govuk-heading-m">Hearing examination</h3>
      <!--Hearing-->
      <p class="govuk-body">
        <a href="#" class="govuk-link" style="float: right">Change</a>
     </p>
      <h3 class="govuk-heading-s">Hearing</h3>
      {% if data["hearingNotExamined"] == "The claimant's hearing was not examined during the consultation." %}
      <p class="govuk-body">{{data["hearingNotExamined"]}}</p>
      {% elseif data["hearingNotExamined"] == "None" %}

      {% endif %}
      <p class="govuk-body">{{data["hearing"]}}</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <br>

      <h3 class="govuk-heading-m">Cardio-respriatory examination</h3>
      <!--Cardio-respriatory-->
      <p class="govuk-body">
        <a href="#" class="govuk-link" style="float: right">Change</a>
     </p>
      <h3 class="govuk-heading-s">Cardio-respriatory</h3>
      {% if data["cardio-respriatoryNotExamined"] == "The claimant's cardio-respiratory function was not examined during the consultation." %}
      <p class="govuk-body">{{data["cardio-respriatoryNotExamined"]}}</p>
      {% elseif data["cardio-respriatoryNotExamined"] == "None" %}

      {% endif %}
      <p class="govuk-body">{{data["cardio-respriatory"]}}</p>


      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <br>

      <h3 class="govuk-heading-m">Neurological examination</h3>
      <!--Neurological-->
      <p class="govuk-body">
        <a href="#" class="govuk-link" style="float: right">Change</a>
     </p>
      <h3 class="govuk-heading-s">Neurological</h3>
      
      {% if data["neurologicalNotExamined"] == "A neurological examination was not done during the consultation." %}
      <p class="govuk-body">{{data["neurologicalNotExamined"]}}</p>
      {% elseif data["neurologicalNotExamined"] == "None" %}

      {% endif %}
      <p class="govuk-body">{{data["neurological"]}}</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <br>

      <h2 class="govuk-heading-l">Observations</h2>

      <h3 class="govuk-heading-m">Mental state observations</h3>
      <p class="govuk-body">
        <a href="#" class="govuk-link" style="float: right">Change</a>
     </p>
      <p>{{data["mental-state"]}}</p>
    
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <br>

      <h3 class="govuk-heading-m">Physical state observations</h3>
      <p class="govuk-body">
        <a href="#" class="govuk-link" style="float: right">Change</a>
     </p>
      <p>{{data["physical-state"]}}</p>
    
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <br>

      

      <h2 class="govuk-heading-l">Recommendation</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Recommended future review period
          </dt>
          <dd class="govuk-summary-list__value">
              {{data["whenreview"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Reason for this review period
          </dt>
          <dd class="govuk-summary-list__value">
              {{data["reviewtimereasons"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> reveiw period reason</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Is it likely that the functional restriction will still be present when reviewed?
          </dt>
          <dd class="govuk-summary-list__value">
            {{data["functional-restict-review"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> restriction</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Do they need additional support for future claims processes?
          </dt>
          <dd class="govuk-summary-list__value">
            {{data["as-marker"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden">additional support</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Does the claimant meet the criteria for special rules?
          </dt>
          <dd class="govuk-summary-list__value">
            {{data["special-rules"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> special rules</span>
            </a>
          </dd>
        </div>
      </dl>

     
      <div class="govuk-inset-text">
        No harmful information has been included in this report.
      </div>
    

      <p class="govuk-body">
        <a href="#" class="govuk-link">Print this page</a>
      </p>

  
      <!-- <h2 class="govuk-heading-m">Examination</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Mental state
          </dt>
          <dd class="govuk-summary-list__value">
              {{data["mental-state"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Observations
          </dt>
          <dd class="govuk-summary-list__value">
              {{data["observations"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> date of birth</span>
            </a>
          </dd>
        </div>
      </dl> -->
  
    <form action="ta-done.html" method="get" novalidate>
      <input type="hidden" name="answers-checked" value="true">
      <button class="govuk-button" data-module="govuk-button">
        Submit report
      </button>
    </form>
    <!--
    <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="list-convictions-status">Not started</strong>
    <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="submit-pay-status">Cannot start yet</strong>
    <strong class="govuk-tag govuk-tag--blue govuk-prototype-kit-task-list__tag" id="contact-details-status">In progress</strong>
    <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="eligibility-status">Completed</strong>

  -->
  </div>      
      </div>

{% endblock %}
