{% extends "layouts/paperbased-new.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% set containerClasses = "full-width-container" %}
{% block content_left %}

<style type="text/css">
  .govuk-textarea {
    text-align: left;
    display: block;
    white-space: pre-line;
  }
             
  </style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Review period</h1>
      </div>
    </div>

    <form action="#" method="post" id="auto-redirect">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
            <h1 class="govuk-fieldset__heading">
              Should this claim be reviewed?
            </h1>
          </legend>
        
          <div class="govuk-radios" data-module="govuk-radios">
            {% if data["claimReviewed"] == 'Yes' %}
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="contact" name="claimReviewed" type="radio" value="Yes" data-aria-controls="conditional-contact" {{ checked }}>
              <label class="govuk-label govuk-radios__label" for="contact">
                Yes
              </label>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact">
              <label class="govuk-label govuk-date-input__label" for="conditional-contact">
                <b>Recommended review period</b>
              </label>
              <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="reviewYear">
                  Years
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="years" name="reviewPeriodYear" type="text" inputmode="numeric" value="{{data["reviewPeriodYear"]}}">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="reviewMonth">
                  Months
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="months" name="reviewPeriodMonth" type="text" inputmode="numeric" value="{{data["reviewPeriodMonth"]}}">
              </div>
            </div>
          </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="contact-2" name="claimReviewed" type="radio" value="No, there is limited or no functional restriction">
              <label class="govuk-label govuk-radios__label" for="contact-2">
                No, there is limited or no functional restriction
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="contact-3" name="claimReviewed" type="radio" value="No, the claimant's condition or disability is unlikely to improve">
              <label class="govuk-label govuk-radios__label" for="contact-3">
                No, the claimant's condition or disability is unlikely to improve
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="contact-4" name="claimReviewed" type="radio" value="No, recommend a short award with no review" data-aria-controls="conditional-contacts">
              <label class="govuk-label govuk-radios__label" for="contact-4">
                No, recommend a short award with no review
              </label>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contacts">
              <label class="govuk-label govuk-date-input__label" for="conditional-contacts">
                <b>How long is the functional restriction likely to last?</b>
              </label>
              <div id="review-period-hint" class="govuk-hint">
                Duration should be a minimum of 9 months and up to 2 years.
              </div>
              <!-- <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="reviewYear">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="day" name="reviewDay" type="text" inputmode="numeric" value="{{ data["reviewDay"]}}">
                </div>
              </div> -->
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="reviewMonth">
                    Years
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="year" name="reviewYears" type="text" inputmode="numeric" value="{{ data["reviewYears"]}}">
                </div>
              </div>
              <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="reviewYear">
                  Months
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="month" name="reviewMonths" type="text" inputmode="numeric" value="{{ data["reviewMonths"]}}">
              </div>
            </div>
          </div>
            {% elseif data["claimReviewed"] == "No, the claimant's condition or disability is unlikely to improve" %}
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="contact" name="claimReviewed" type="radio" value="Yes" data-aria-controls="conditional-contact">
              <label class="govuk-label govuk-radios__label" for="contact">
                Yes
              </label>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact">
              <label class="govuk-label govuk-date-input__label" for="conditional-contact">
                <b>Recommended review period</b>
              </label>
              <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="reviewYear">
                  Years
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="years" name="reviewYear" type="text" inputmode="numeric">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="reviewMonth">
                  Months
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="months" name="reviewMonth" type="text" inputmode="numeric">
              </div>
            </div>
          </div>

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="contact-2" name="claimReviewed" type="radio" value="No, there is limited or no functional restriction">
            <label class="govuk-label govuk-radios__label" for="contact-2">
              No, there is limited or no functional restriction
            </label>
          </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="contact-3" name="claimReviewed" type="radio" value="No, the claimant's condition or disability is unlikely to improve" {{ checked }}>
              <label class="govuk-label govuk-radios__label" for="contact-3">
                No, the claimant's condition or disability is unlikely to improve
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="contact-4" name="claimReviewed" type="radio" value="No, recommend a short award with no review" data-aria-controls="conditional-contacts">
              <label class="govuk-label govuk-radios__label" for="contact-4">
                No, recommend a short award with no review
              </label>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contacts">
              <label class="govuk-label govuk-date-input__label" for="conditional-contacts">
                <b>Recommended duration of short award</b>
              </label>
              <div id="review-period-hint" class="govuk-hint">
                Duration should be a minimum of 9 months and up to 2 years.
              </div>
              <!-- <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="reviewYear">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="day" name="reviewDay" type="text" inputmode="numeric" value="{{ data["reviewDay"]}}">
                </div>
              </div> -->
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="reviewMonth">
                    Years
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="year" name="reviewYears" type="text" inputmode="numeric" value="{{ data["reviewYears"]}}">
                </div>
              </div>
              <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="reviewYear">
                  Months
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="month" name="reviewMonths" type="text" inputmode="numeric" value="{{ data["reviewMonths"]}}">
              </div>
            </div>
          </div>
          </div>
        </fieldset>
      </div>
      {% elseif data["claimReviewed"] == "No, there is limited or no functional restriction" %}
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="contact" name="claimReviewed" type="radio" value="Yes" data-aria-controls="conditional-contact">
              <label class="govuk-label govuk-radios__label" for="contact">
                Yes
              </label>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact">
              <label class="govuk-label govuk-date-input__label" for="conditional-contact">
                <b>Recommended review period</b>
              </label>
              <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="reviewYear">
                  Years
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="years" name="reviewYear" type="text" inputmode="numeric">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="reviewMonth">
                  Months
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="months" name="reviewMonth" type="text" inputmode="numeric">
              </div>
            </div>
          </div>

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="contact-2" name="claimReviewed" type="radio" value="No, there is limited or no functional restriction" {{ checked }}>
            <label class="govuk-label govuk-radios__label" for="contact-2">
              No, there is limited or no functional restriction
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="contact-3" name="claimReviewed" type="radio" value="No, the claimant's condition or disability is unlikely to improve">
            <label class="govuk-label govuk-radios__label" for="contact-3">
              No, the claimant's condition or disability is unlikely to improve
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="contact-4" name="claimReviewed" type="radio" value="No, recommend a short award with no review" data-aria-controls="conditional-contacts">
            <label class="govuk-label govuk-radios__label" for="contact-4">
              No, recommend a short award with no review
            </label>
          </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contacts">
            <label class="govuk-label govuk-date-input__label" for="conditional-contacts">
              <b>Recommended duration of short award</b>
            </label>
            <div id="review-period-hint" class="govuk-hint">
              Duration should be a minimum of 9 months and up to 2 years.
            </div>
            <!-- <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="reviewYear">
                  Day
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="day" name="reviewDay" type="text" inputmode="numeric" value="{{ data["reviewDay"]}}">
              </div>
            </div> -->
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="reviewMonth">
                  Years
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="year" name="reviewYears" type="text" inputmode="numeric" value="{{ data["reviewYears"]}}">
              </div>
            </div>
            <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="reviewYear">
                Months
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="month" name="reviewMonths" type="text" inputmode="numeric" value="{{ data["reviewMonths"]}}">
            </div>
          </div>
        </div>
          </div>
        </fieldset>
      </div>
      {% elseif data["claimReviewed"] == "No, recommend a short award with no review" %}
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="contact" name="claimReviewed" type="radio" value="Yes" data-aria-controls="conditional-contact">
              <label class="govuk-label govuk-radios__label" for="contact">
                Yes
              </label>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact">
              <label class="govuk-label govuk-date-input__label" for="conditional-contact">
                <b>Recommended review period</b>
              </label>
              <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="reviewYear">
                  Years
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="years" name="reviewYear" type="text" inputmode="numeric">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="reviewMonth">
                  Months
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="months" name="reviewMonth" type="text" inputmode="numeric">
              </div>
            </div>
          </div>

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="contact-2" name="claimReviewed" type="radio" value="No, there is limited or no functional restriction">
            <label class="govuk-label govuk-radios__label" for="contact-2">
              No, there is limited or no functional restriction
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="contact-3" name="claimReviewed" type="radio" value="No, the claimant's condition or disability is unlikely to improve">
            <label class="govuk-label govuk-radios__label" for="contact-3">
              No, the claimant's condition or disability is unlikely to improve
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="contact-4" name="claimReviewed" type="radio" value="No, recommend a short award with no review" data-aria-controls="conditional-contacts" {{ checked }}>
            <label class="govuk-label govuk-radios__label" for="contact-4">
              No, recommend a short award with no review
            </label>
          </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contacts">
            <label class="govuk-label govuk-date-input__label" for="conditional-contacts">
              <b>Recommended duration of short award</b>
            </label>
            <div id="review-period-hint" class="govuk-hint">
              Duration should be a minimum of 9 months and up to 2 years.
            </div>
            <!-- <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="reviewYear">
                  Day
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="day" name="reviewDay" type="text" inputmode="numeric" value="{{ data["reviewDay"]}}">
              </div>
            </div> -->
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="reviewMonth">
                  Years
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="years" name="reviewYears" type="text" inputmode="numeric" value="{{ data["reviewYears"]}}">
              </div>
            </div>
            <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="reviewYear">
                Months
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="months" name="reviewMonths" type="text" inputmode="numeric" value="{{ data["reviewMonths"]}}">
            </div>
          </div>
        </div>
          </div>
        </fieldset>
      </div>
      {% elseif data["claimReviewed"] === undefined %}
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="contact" name="claimReviewed" type="radio" value="Yes" data-aria-controls="conditional-contact">
        <label class="govuk-label govuk-radios__label" for="contact">
          Yes
        </label>
      </div>
      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact">
        <label class="govuk-label govuk-date-input__label" for="conditional-contact">
          <b>Recommended review period</b>
        </label>
        <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="reviewYear">
            Years
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="years" name="reviewPeriodYear" type="text" inputmode="numeric">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="reviewMonth">
            Months
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="months" name="reviewPeriodMonth" type="text" inputmode="numeric">
        </div>
      </div>
    </div>

    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="contact-2" name="claimReviewed" type="radio" value="No, there is limited or no functional restriction">
      <label class="govuk-label govuk-radios__label" for="contact-2">
        No, there is limited or no functional restriction
      </label>
    </div>
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="contact-3" name="claimReviewed" type="radio" value="No, the claimant's condition or disability is unlikely to improve">
      <label class="govuk-label govuk-radios__label" for="contact-3">
        No, the claimant's condition or disability is unlikely to improve
      </label>
    </div>
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="contact-4" name="claimReviewed" type="radio" value="No, recommend a short award with no review" data-aria-controls="conditional-contacts">
      <label class="govuk-label govuk-radios__label" for="contact-4">
        No, recommend a short award with no review
      </label>
    </div>
    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contacts">
      <label class="govuk-label govuk-date-input__label" for="conditional-contacts">
        <b>Recommended duration of short award</b>
      </label>
      <div id="review-period-hint" class="govuk-hint">
        Duration should be a minimum of 9 months and up to 2 years.
      </div>
      <!-- <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="reviewYear">
            Day
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="day" name="reviewDay" type="text" inputmode="numeric">
        </div>
      </div> -->
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="reviewMonth">
            Years
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="year" name="reviewYears" type="text" inputmode="numeric">
        </div>
      </div>
      <div class="govuk-date-input__item">
      <div class="govuk-form-group">
        <label class="govuk-label govuk-date-input__label" for="reviewYear">
          Months
        </label>
        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="month" name="reviewMonths" type="text" inputmode="numeric">
      </div>
    </div>
  </div>
    </div>
  </fieldset>
</div>
{% endif %}
     
        <br>
        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--s" for="reviewtimereasons">
            Justification for review period
          </label>
          <textarea class="govuk-textarea" id="reviewtimereasons" name="reviewPeriodJustification" rows="5">{{data["reviewPeriodJustification"]}}</textarea>
        </div>
          
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
            Is the claimant likely to need additional support for future claim processes?
          </legend>
          <div class="govuk-radios govuk-radios">
            {% if data["as-marker"] == 'Yes' %}
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="as-marker" name="as-marker" type="radio" value="Yes" {{ checked }}>
                  <label class="govuk-label govuk-radios__label" for="as-marker">
                Yes
              </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="as-marker-2" name="as-marker" type="radio" value="No">
                  <label class="govuk-label govuk-radios__label" for="as-marker-2">
                No
              </label>
                </div>
          </div>
        </fieldset>
        </div>
        {% elseif data["as-marker"] == 'No' %}
        <div class="govuk-radios govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="as-marker" name="as-marker" type="radio" value="Yes">
                <label class="govuk-label govuk-radios__label" for="as-marker">
              Yes
            </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="as-marker-2" name="as-marker" type="radio" value="No" {{ checked }}>
                <label class="govuk-label govuk-radios__label" for="as-marker-2">
              No
            </label>
              </div>
        </div>
      </fieldset>
    </div>
      {% elseif data["as-marker"] === undefined %}
      <div class="govuk-radios govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="as-marker" name="as-marker" type="radio" value="Yes">
          <label class="govuk-label govuk-radios__label" for="as-marker">
        Yes
      </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="as-marker-2" name="as-marker" type="radio" value="No">
          <label class="govuk-label govuk-radios__label" for="as-marker-2">
        No
      </label>
        </div>
      </div>
    </fieldset>
  </div>
      {% endif %}
          
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
            Although they have not claimed under special rules, in your opinion, does the claimant meet the criteria for special rules?
          </legend>
          <div class="govuk-radios govuk-radios">
            {% if data["special-rules"] == 'Yes' %}
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="special-rules" name="special-rules" type="radio" value="Yes" {{ checked }}>
                  <label class="govuk-label govuk-radios__label" for="special-rules">
                Yes
              </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="special-rules-2" name="special-rules" type="radio" value="No">
                  <label class="govuk-label govuk-radios__label" for="special-rules-2">
                No
              </label>
                </div>
          </div>
        </fieldset>
      </div>
          {% elseif data["special-rules"] == 'No' %}
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="special-rules" name="special-rules" type="radio" value="Yes">
            <label class="govuk-label govuk-radios__label" for="special-rules">
          Yes
        </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="special-rules-2" name="special-rules" type="radio" value="No" {{ checked }}>
            <label class="govuk-label govuk-radios__label" for="special-rules-2">
          No
        </label>
          </div>
        </fieldset>
      </div>
          {% elseif data["special-rules"] === undefined %}
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="special-rules" name="special-rules" type="radio" value="Yes">
            <label class="govuk-label govuk-radios__label" for="special-rules">
          Yes
        </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="special-rules-2" name="special-rules" type="radio" value="No">
            <label class="govuk-label govuk-radios__label" for="special-rules-2">
          No
        </label>
          </div>

    {% endif %}

        <br>
        <br>
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
            Harmful information
          </legend>
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="harmful-info" name="harmful-info" type="checkbox" value="No harmful information has been included in this report." {{ checked('harmful-info','No harmful information has been included in this report') }}>
                    <label class="govuk-label govuk-checkboxes__label" for="harmful-info">
                No harmful information has been included in this report.
              </label>
                  </div>
          </div>
        </fieldset>
        </div>
    </form>    
</div>
</div>


{% endblock %}
