{% extends "layouts/side-nav-prompts" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% set containerClasses = "full-width-container" %}
{% block content_left %}

<style>
  .govuk-summary-list__actions {
   width: 25%;
   padding-right: 0;
   text-align: right;
 }
</style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
   
        <span class="govuk-caption-xl"></span>
        <h1 class="govuk-heading-l">
          Ask about the claimant's medical conditions
        </h1>

        {% for query in data['queriesCondition'] | reverse %}

        <div class="govuk-form-group">
          <label class="govuk-label" for="condition-name">
            Condition
          </label>
          <input class="govuk-input" id="condition-name" name="condition-name" type="text" value="{{ query.condition }}">
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="condition-length">
            Approximate start date
          </label>
          <input class="govuk-input govuk-input--width-10" id="condition-length" name="condition-length" type="text" value="{{ query.conditionLength }}">
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="meds-frequency">
            Symptoms
          </label>
          <textarea class="govuk-textarea" id="symptoms" name="symptoms" rows="5" aria-describedby="symptoms-hint" value="{{ query.conditionSymptoms }}" ></textarea>
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="meds-frequency">
            Variability
          </label>
          <textarea class="govuk-textarea" id="variability" name="variability" rows="5" aria-describedby="variability-hint" value="{{ query.conditionVariability }}"></textarea>
        </div>
        {% endfor %}
        <div>

  

      

<form action="#" method="post">
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <label class="govuk-label" for="event-name">
        Add another condition?
      </label>
      <div class="govuk-radios" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="available" name="add-another-condition" type="radio" value="Yes">
          <label class="govuk-label govuk-radios__label" for="can-they-take-the-call">
            Yes
          </label>
        </div>

        <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="available-2" name="add-another-condition" type="radio" value="No">
            <label class="govuk-label govuk-radios__label" for="available-2">
            No
            </label>
          </div>
        </div>
    </fieldset>
  </div>
  <div class="govuk-button-group">

      <button class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>
    </div>

      </form>

      <p class="govuk-body"><a href="end-why" class="govuk-link">Abandon consultation</a></p>
<!--
    <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="list-convictions-status">Not started</strong>
    <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="submit-pay-status">Cannot start yet</strong>
    <strong class="govuk-tag govuk-tag--blue govuk-prototype-kit-task-list__tag" id="contact-details-status">In progress</strong>
    <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="eligibility-status">Completed</strong>

  -->

</div>      
    </div>

{% endblock %}
