-{% extends "layouts/side-nav-prompts" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% set containerClasses = "full-width-container" %}
{% block content_left %}

<style>
  .govuk-summary-list__actions {
   width: 25%;
   padding-right: 0;
   text-align: right;
 }
</style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
   
        <span class="govuk-caption-xl"></span>
        <h1 class="govuk-heading-l">
          Ask about the claimant's medical conditions
        </h1>
         
        <!--logic for adding more than one condition (adding another)-->
          {% for AddAnotherCondition in data['OtherConditions'] | reverse %}
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Condition or disability name
              </dt>
              <dd class="govuk-summary-list__value">
                {{ AddAnotherCondition.conditionAnother }} 
              </dd>
              <dd class="govuk-summary-list__actions">
                <ul class="govuk-summary-list__actions-list">
                  <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="#">
                        Change<span class="govuk-visually-hidden">condition</span>
                    </a></li>
                  <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="#">
                      Remove<span class="govuk-visually-hidden">condition</span>
                    </a></li>
                </ul>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                When did the condition or disability start?
              </dt>
              <dd class="govuk-summary-list__value">
                {{ AddAnotherCondition.conditionLengthAnother }}
              </dd>
              <dd class="govuk-summary-list__actions">
              </dd>
            </div>
          </dl>

            <h3 class="govuk-heading-s" style="margin-top:-3%;">Medical care and treatments</h3>

            <p>{{ AddAnotherCondition.medicalcareTreatmentsAnother }}</p>
      
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
               
            <h3 class="govuk-heading-s" style="margin-top:-2%;">Hospital admission</h3>
      
            <p>{{ AddAnotherCondition.hospitalAnother }}</p>
      
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      
            <h3 class="govuk-heading-s" style="margin-top:-2%;">Symptoms, impact and progression</h3>
      
            <p>{{ AddAnotherCondition.conditionSymptomsAnother }}</p>
      
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      
            <h3 class="govuk-heading-s" style="margin-top:-2%;">Variability</h3>
      
            <p>{{ AddAnotherCondition.conditionVariabilityAnother }}</p>
      
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
           
            <h3 class="govuk-heading-s" style="margin-top:-2%;">Suicidal thoughts and self harm</h3>

            <p>{{ AddAnotherCondition.mentalHealthAnother }}</p>

            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
               <dt class="govuk-summary-list__key">
                Functional restriction
               </dt>
               <dd class="govuk-summary-list__value">
                 {{ AddAnotherCondition.functionalRestrictionAnother }}
               </dd>
               <dd class="govuk-summary-list__actions">
                 <ul class="govuk-summary-list__actions-list">
                   <li class="govuk-summary-list__actions-list-item">
                    
                   </li>
                 </ul>
               </dd>
              </dl>
          <br>
          <br>
          {% endfor %}


          <!--logic for adding the first condition only-->
         {% for firstCondition in data['firstConditionAdded'] | reverse %}
         <dl class="govuk-summary-list">
           <div class="govuk-summary-list__row">
             <dt class="govuk-summary-list__key">
               Condition or disability name
             </dt>
             <dd class="govuk-summary-list__value">
               {{ firstCondition.conditionName }} 
             </dd>
             <dd class="govuk-summary-list__actions">
              <ul class="govuk-summary-list__actions-list">
                <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="#">
                      Change<span class="govuk-visually-hidden">condition</span>
                  </a></li>
                <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="#">
                    Remove<span class="govuk-visually-hidden">condition</span>
                  </a></li>
              </ul>
             </dd>
           </div>
           <div class="govuk-summary-list__row">
             <dt class="govuk-summary-list__key">
               When did the condition or disability start?
             </dt>
             <dd class="govuk-summary-list__value">
               {{ firstCondition.conditionLength }}
             </dd>
             <dd class="govuk-summary-list__actions">
              
             </dd>
           </div>
           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Diagnosis
            </dt>
            <dd class="govuk-summary-list__value">
              {{ firstCondition.diagnosis }}
            </dd>
            <dd class="govuk-summary-list__actions">
             
            </dd>
          </div>
      </dl>
      <h3 class="govuk-heading-s" style="margin-top:-3%;">Medical care and treatments</h3>

      <p>{{ firstCondition.medicalcareTreatments }}</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
         
      <h3 class="govuk-heading-s" style="margin-top:-2%;">Hospital admission</h3>

      <p>{{ firstCondition.hospital }}</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <h3 class="govuk-heading-s" style="margin-top:-2%;">Symptoms, impact and progression</h3>

      <p>{{ firstCondition.conditionSymptoms }}</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <h3 class="govuk-heading-s" style="margin-top:-2%;">Variability</h3>

      <p>{{ firstCondition.conditionVariability }}</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <h3 class="govuk-heading-s" style="margin-top:-2%;">Suicidal thoughts and self harm</h3>

      <p>{{ firstCondition.mentalHealth }}</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
         
           <dl class="govuk-summary-list">
           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Functional restriction
            </dt>
            <dd class="govuk-summary-list__value">
              {{ firstCondition.functionalRestriction }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <ul class="govuk-summary-list__actions-list">
                <li class="govuk-summary-list__actions-list-item">
                 
                </li>
              </ul>
            </dd>
          </dl>
        

           {% endfor %}


<form action="#" method="post">
  
  <div class="govuk-button-group">
    <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
      Add another condition
    </button>
    </div>

      </form>
    </div>
</div>
</div>      
    </div>

{% endblock %}