{% extends "layouts/side-nav-prompts" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% set containerClasses = "full-width-container" %}
{% block content_left %}

<style type="text/css">
  .govuk-textarea {
    text-align: left;
    display: block;
    white-space: pre-line;
  }
             
  </style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">   

<form action="#" method="post" id="auto-redirect">
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <span class="govuk-caption-xl"></span>
        <h1 class="govuk-fieldset__heading">
          Condition history
        </h1>
        <div id="passport-issued-hint" class="govuk-hint">
        </div>
      </legend>

      <div class="govuk-form-group">
        <label class="govuk-label" for="condition-name">
          Condition or disability name
        </label>
        <input class="govuk-input" id="condition-name" name="condition-name" type="text">
      </div>
      <div class="govuk-form-group">
        <label class="govuk-label" for="condition-start">
          When did the condition or disability start?
        </label>
        <input class="govuk-input govuk-input--width-10" id="condition-start" name="condition-start" type="text">
      </div>
      <div class="govuk-form-group">
        <label class="govuk-label" for="meds-frequency">
          Symptoms, impact and progression
        </label>
        <textarea class="govuk-textarea" id="symptoms" name="symptoms" rows="5" aria-describedby="symptoms-hint"></textarea>
      </div>
      <div class="govuk-form-group">
        <label class="govuk-label" for="meds-care-treatments">
          Medical care and treatments
        </label>
        <textarea class="govuk-textarea" id="meds-care-treatments" name="meds-care-treatments" rows="5" aria-describedby="medical-care-and-treatments"></textarea>
      </div>
      <div class="govuk-form-group">
        <label class="govuk-label" for="meds-frequency">
          Variability
        </label>
        <textarea class="govuk-textarea" id="variability" name="variability" rows="5" aria-describedby="variability-hint"></textarea>
      </div>


      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="dl-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
            Mental health impacted?
          </legend>

          <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="dl" name="qualifying-period" type="radio" value="Yes" aria-controls="conditional-dl-2" aria-expanded="false">
                  <label class="govuk-label govuk-radios__label" for="dl">
                    Yes
                  </label>
                </div>

                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-dl-2">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-label--s" for="part-not-met-dl">
                      Enter whether there is suicidal ideation and if their healthcare providers are aware of this
                    </label>

                      <textarea class="govuk-textarea" id="part-not-met-dl" name="part-not-met-dl" rows="5">{{data["part-not-met-dl"]}}</textarea>
                  </div>
              </div>

                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="dl-2" name="qualifying-period" type="radio" value="No">
                    <label class="govuk-label govuk-radios__label" for="dl-2">
                      No
                    </label>
                </div>
      
         </div>
      </div>

      <div class="govuk-checkboxes" data-module="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="hospital-admission" name="hospital-admission" type="checkbox" value="This condition or disability has led to hospital admissions for the claimant.">
          <label class="govuk-label govuk-checkboxes__label" for="waste">
            This condition or disability has led to hospital admissions for the claimant.
          </label>
        </div>


          <br>
          <br>
          <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Add another condition
          </button>
          

      </fieldset>
    </div>
  </div>
 </form>
</div>
      

{% endblock %}
