-{% extends "layouts/side-nav-prompts" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% set containerClasses = "full-width-container" %}
{% block content_left %}

<style>
  .govuk-summary-list__actions {
   width: 25%;
   padding-right: 0;
   text-align: right;
 }
</style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
   
        <span class="govuk-caption-xl"></span>
        <h1 class="govuk-heading-l">
          Ask about the claimant's medical conditions
        </h1>
         
        <!--logic for adding more than one condition (adding another)-->
          {% for query in data['queriesCondition'] | reverse %}
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Condition or disability name
              </dt>
              <dd class="govuk-summary-list__value">
                {{ query.condition }} 
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                When did the condition or disability start?
              </dt>
              <dd class="govuk-summary-list__value">
                {{ query.conditionLength }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> date of birth</span></a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Symptoms, impact and progression
              </dt>
              <dd class="govuk-summary-list__value">
                {{ query.conditionSymptoms }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> address</span></a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Medical care and treatments
              </dt>
              <dd class="govuk-summary-list__value">
                {{ query.conditionSymptoms }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <ul class="govuk-summary-list__actions-list">
                  <li class="govuk-summary-list__actions-list-item">
                    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> contact details</span></a>
                  </li>
                </ul>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Variability
              </dt>
              <dd class="govuk-summary-list__value">
                {{ query.conditionVariability }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <ul class="govuk-summary-list__actions-list">
                  <li class="govuk-summary-list__actions-list-item">
                    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> contact details</span></a>
                  </li>
                </ul>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Mental health impacted?
              </dt>
              <dd class="govuk-summary-list__value">

              </dd>
              <dd class="govuk-summary-list__actions">
                <ul class="govuk-summary-list__actions-list">
                  <li class="govuk-summary-list__actions-list-item">
                    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> contact details</span></a>
                  </li>
                </ul>
              </dd>
            </div>
          </dl>

          <br>
          <br>
          {% endfor %}


          <!--logic for adding the first condition only-->
         {% for firstCondition in data['firstConditionAdded'] | reverse %}
         <dl class="govuk-summary-list">
           <div class="govuk-summary-list__row">
             <dt class="govuk-summary-list__key">
               Condition or disability name
             </dt>
             <dd class="govuk-summary-list__value">
               {{ firstCondition.conditionName }} 
             </dd>
             <dd class="govuk-summary-list__actions">
               <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
             </dd>
           </div>
           <div class="govuk-summary-list__row">
             <dt class="govuk-summary-list__key">
               When did the condition or disability start?
             </dt>
             <dd class="govuk-summary-list__value">
               {{ firstCondition.conditionLength }}
             </dd>
             <dd class="govuk-summary-list__actions">
               <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> date of birth</span></a>
             </dd>
           </div>
           <div class="govuk-summary-list__row">
             <dt class="govuk-summary-list__key">
               Symptoms, impact and progression
             </dt>
             <dd class="govuk-summary-list__value">
               {{ firstCondition.conditionSymptoms }}
             </dd>
             <dd class="govuk-summary-list__actions">
               <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> address</span></a>
             </dd>
           </div>
           <div class="govuk-summary-list__row">
             <dt class="govuk-summary-list__key">
               Medical care and treatments
             </dt>
             <dd class="govuk-summary-list__value">
               {{ firstCondition.conditionSymptoms }}
             </dd>
             <dd class="govuk-summary-list__actions">
               <ul class="govuk-summary-list__actions-list">
                 <li class="govuk-summary-list__actions-list-item">
                   <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> contact details</span></a>
                 </li>
               </ul>
             </dd>
           </div>
           <div class="govuk-summary-list__row">
             <dt class="govuk-summary-list__key">
               Variability
             </dt>
             <dd class="govuk-summary-list__value">
               {{ firstCondition.conditionVariability }}
             </dd>
             <dd class="govuk-summary-list__actions">
               <ul class="govuk-summary-list__actions-list">
                 <li class="govuk-summary-list__actions-list-item">
                   <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> contact details</span></a>
                 </li>
               </ul>
             </dd>
           </div>
           <br>
           <br>

           {% endfor %}

          
  

      

<form action="#" method="post">
  
  <div class="govuk-button-group">

    <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
      Add another condition
    </button>

    </div>

      </form>
</div>      
    </div>

{% endblock %}