{% extends "layouts/side-nav-prompts" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% set containerClasses = "full-width-container" %}
{% block content_left %}

<style type="text/css">
  .govuk-textarea {
    text-align: left;
    display: block;
    white-space: pre-line;
  }
             
  </style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">   

<form action="#" method="post" id="auto-redirect">
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <span class="govuk-caption-xl"></span>
        <h1 class="govuk-fieldset__heading">
          History of condition
        </h1>
        <div id="passport-issued-hint" class="govuk-hint">
        </div>
      </legend>

      <div class="govuk-form-group">
        <label class="govuk-label" for="condition-name">
          Condition
        </label>
        <input class="govuk-input" id="condition-name" name="condition-name" type="text">
      </div>
      <div class="govuk-form-group">
        <label class="govuk-label" for="condition-length">
          Approximate start date
        </label>
        <input class="govuk-input govuk-input--width-10" id="condition-length" name="condition-length" type="text">
      </div>
      <div class="govuk-form-group">
        <label class="govuk-label" for="meds-frequency">
          Symptoms
        </label>
        <textarea class="govuk-textarea" id="symptoms" name="symptoms" rows="5" aria-describedby="symptoms-hint"></textarea>
      </div>
      <div class="govuk-form-group">
        <label class="govuk-label" for="meds-frequency">
          Variability
        </label>
        <textarea class="govuk-textarea" id="variability" name="variability" rows="5" aria-describedby="variability-hint"></textarea>
      </div>

          <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Add another condition
          </button>
          

      </fieldset>
    </div>
  </div>
 </form>
</div>
      

{% endblock %}
