{% extends "layouts/side-nav-prompts.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% set containerClasses = "full-width-container" %}
{% block content_left %}

<style type="text/css">
  .govuk-textarea {
    text-align: left;
    display: block;
    white-space: pre-line;
  }
             
  </style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">   

<form action="#" method="post" id="auto-redirect">
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <span class="govuk-caption-xl"></span>
        <h1 class="govuk-fieldset__heading">
          Current medication
        </h1>
        <div id="passport-issued-hint" class="govuk-hint">
        </div>
      </legend>

          <div class="govuk-form-group">
            <div class="govuk-form-group">
              <label class="govuk-label" for="meds-name">
                Medication name
              </label>
              <input class="govuk-input" id="meds-name" name="meds-name" type="text" value="{{data["meds-name"]}}">
            </div>

            <div class="govuk-form-group">
              <label class="govuk-label" for="meds-frequency">
                Frequency
              </label>
              <input class="govuk-input" id="meds-frequency" name="meds-frequency" type="text" value="{{data["meds-frequency"]}}">
            </div>

            <div class="govuk-form-group">
              <label class="govuk-label" for="meds-dose">
                Dosage
              </label>
              <input class="govuk-input" id="meds-dose" name="meds-dose" type="text" value="{{data["meds-dose"]}}">
            </div>

            <div class="govuk-form-group">
              <label class="govuk-label" for="meds-reason">
                Medication taken for
              </label>
              <input class="govuk-input" id="meds-reason" name="meds-reason" type="text" value="{{data["meds-reason"]}}">
            </div>
           
  
            <div class="govuk-form-group">
              <label class="govuk-label" for="meds-efficacy">
                Effectiveness
              </label>
              <input class="govuk-input" id="meds-efficacy" name="meds-efficacy" type="text" value="{{data["meds-efficacy"]}}">
            </div>
  
            <div class="govuk-form-group">
              <label class="govuk-label" for="meds-side-effects">
                Side effects (optional)
              </label>
              <textarea class="govuk-textarea" id="meds-side-effects" name="meds-side-effects" rows="5" aria-describedby="symptoms-hint">{{data["meds-side-effects"]}}</textarea>
            </div>
          </div>
         

          </fieldset>
        </div>
      </div>
    </form>
  </div>
      

{% endblock %}
