{% extends "layouts/side-nav-editing.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% set containerClasses = "full-width-container" %}
{% block content_left %}

<style type="text/css">
  .govuk-textarea {
    text-align: left;
    display: block;
    white-space: pre-line;
  }
             
  </style>
  
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    

    <form action="#" method="post" id="auto-redirect">
 
  <div class="govuk-form-group">
    <h1 class="govuk-label-wrapper">
      <label class="govuk-label govuk-label--l" for="more-detail">
       Informal observations
      </label>
      <div id="passport-issued-hint" class="govuk-hint">
        This can include breathlessness, tiredness, or signs they are in pain
      </div>
    </h1>
    <textarea class="govuk-textarea" id="observations" name="physical-state" rows="15" aria-describedby="history-condition-hint">
      She was able to concentrate throughout the assessment with no signs of fatigue or irritability.
    </textarea>
  </div>

      <!-- <div class="govuk-button-group">
      </div><button class="govuk-button" data-module="govuk-button">
        Save and continue
      </button> -->
    </div>

      </form>
      </div>
<!--
    <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="list-convictions-status">Not started</strong>
    <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="submit-pay-status">Cannot start yet</strong>
    <strong class="govuk-tag govuk-tag--blue govuk-prototype-kit-task-list__tag" id="contact-details-status">In progress</strong>
    <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="eligibility-status">Completed</strong>

  -->
  

{% endblock %}
