{% extends "layouts/layout-ta.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <a href="javascript:history.back()" class="govuk-back-link">Back</a>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Daily living justification</h1>
      </div>
    </div>

    <form action="dl-qual.html" method="get" novalidate="">
              
              

        <div class="govuk-form-group">
            <textarea class="govuk-textarea" id="recommendation-daily-living" name="recommendation-daily-living" rows="15"></textarea>
          </div>



          <button class="govuk-button" data-module="govuk-button">
                Continue
              </button>
          
          </form>
    </div>

      </form>
<!--
    <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="list-convictions-status">Not started</strong>
    <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="submit-pay-status">Cannot start yet</strong>
    <strong class="govuk-tag govuk-tag--blue govuk-prototype-kit-task-list__tag" id="contact-details-status">In progress</strong>
    <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="eligibility-status">Completed</strong>

  -->
  </div>      
      </div>

{% endblock %}
