{% extends "layouts/layout-split-banner.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content_left %}

<a href="javascript:history.back()" class="govuk-back-link">Back</a>
    

<form action="#" method="post">
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <span class="govuk-caption-xl"></span>
        <h1 class="govuk-fieldset__heading">
          Record a short call
        </h1>
        <div id="passport-issued-hint" class="govuk-hint">
         
        </div>
      </legend>

          <div class="govuk-form-group">
            <label class="govuk-label govuk-label--s" for="call">
              Who did you call?
            </label>
            <input class="govuk-input" id="call" name="short-call" type="text" value="{{data["short-call"]}}">
          </div>

        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--s" for="consultation-notes">
            Consultation notes
          </label>
          <textarea class="govuk-textarea" id="recommendation-daily-living" name="consultation-notes" rows="10">{{data["consultation-notes"]}}</textarea>
        </div>
      
    </fieldset>
  </div>

  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h2 class="govuk-fieldset__heading">
          Is this harmful information?
        </h2>
      </legend>
      <div id="changedName-hint" class="govuk-hint">
        Harmful information will be separated from the report
      </div>
      <div class="govuk-radios" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="harmful-yes" name="shortCall" type="radio" value="Yes">
          <label class="govuk-label govuk-radios__label" for="harmful-yes">
            Yes
          </label>
        </div>

        <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="harmful-no" name="shortCall" type="radio" value="No">
            <label class="govuk-label govuk-radios__label" for="harmful-no">
            No
            </label>
          </div>
        </div>
    </fieldset>
</div>

      <div class="govuk-button-group">

      <button class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>
    </div>
  </form>
      

{% endblock %}
