{% extends "layouts/layout-split-banner.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content_left %}

<a href="javascript:history.back()" class="govuk-back-link">Back</a>
    

<form action="#" method="post">
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <span class="govuk-caption-xl"></span>
        <h1 class="govuk-fieldset__heading">
          The claimant meets the criteria for special rules
        </h1>
      </legend>
   

       
          </fieldset>
        </div>

        <h2 class="govuk-heading-m">Justification for this decision</h2>
        <div class="govuk-form-group">
          <textarea class="govuk-textarea" id="justification" name="justification-srel" rows="10"></textarea>
        </div>

<br />
<br />
      
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h2 class="govuk-fieldset__heading">
                  Is the claimant aware of their prognosis?
                </h2>
              </legend>
              <div id="changedName-hint" class="govuk-hint">
                If they are not aware, your justification will be separated from the report
              </div>
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="add-yes" name="anotherCondition" type="radio" value="Yes">
                  <label class="govuk-label govuk-radios__label" for="add-yes">
                    Yes
                  </label>
                </div>
        
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="add-no" name="anotherCondition" type="radio" value="No">
                    <label class="govuk-label govuk-radios__label" for="add-no">
                    No
                    </label>
                  </div>
                </div>
            </fieldset>
          </div>
          <div class="govuk-button-group">
        
              <button class="govuk-button" data-module="govuk-button">
                Save and continue
              </button>
            </div>
    
    
    </div>
  </form>
      

{% endblock %}
