{% extends "layouts/layout-ta.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <a href="javascript:history.back()" class="govuk-back-link">Back</a>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Budgeting</h1>
      </div>
    </div>

    <form action="#" method="post" novalidate="">
              
              

      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--s" for="budgetingNotes">
          Functional history for budgeting
        </label>
      
      
        <textarea class="govuk-textarea govuk-!-margin-bottom-9" id="budgetingNotes" name="budgetingNotes" rows="8">{{data["budgetingNotes"]}}</textarea>
      </div>

      <div class="govuk-form-group">

        <fieldset class="govuk-fieldset">
        
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
        
          Which of these describes how well the claimant can budget?
        
        </legend>
        
      
        <div class="govuk-radios">
          
            
                
              
              
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="budgetingSelect" name="budgetingSelect" type="radio" value="(10a) Can manage complex budgeting decisions unaided">
                <label class="govuk-label govuk-radios__label" for="budgetingSelect">
              (10a) Can manage complex budgeting decisions unaided
            </label>
                
              </div>
              
              
            
          
            
              
              
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="budgetingSelect-2" name="budgetingSelect" type="radio" value="(10b) Needs prompting or assistance to be able to make complex budgeting decisions">
                <label class="govuk-label govuk-radios__label" for="budgetingSelect-2">
              (10b) Needs prompting or assistance to be able to make complex budgeting decisions
            </label>
                
              </div>
              
              
            
          
            
              
              
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="budgetingSelect-3" name="budgetingSelect" type="radio" value="(10c) Needs prompting or assistance to be able to make simple budgeting decisions">
                <label class="govuk-label govuk-radios__label" for="budgetingSelect-3">
              (10c) Needs prompting or assistance to be able to make simple budgeting decisions
            </label>
                
              </div>
              
              
            
          
            
              
              
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="budgetingSelect-4" name="budgetingSelect" type="radio" value="(10d) Cannot make any budgeting decisions at all">
                <label class="govuk-label govuk-radios__label" for="budgetingSelect-4">
              (10d) Cannot make any budgeting decisions at all
            </label>
                
              </div>
              
              
            
          
        </div>
        
      
      </fieldset>
      
      
      </div>

<button class="govuk-button" data-module="govuk-button">
  Save and continue
</button>
          
          </form>
    </div>

      </form>
<!--
    <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="list-convictions-status">Not started</strong>
    <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="submit-pay-status">Cannot start yet</strong>
    <strong class="govuk-tag govuk-tag--blue govuk-prototype-kit-task-list__tag" id="contact-details-status">In progress</strong>
    <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="eligibility-status">Completed</strong>

  -->
  </div>      
      </div>

{% endblock %}
