-{% extends "layouts/justification-two-layoutPBR" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% set containerClasses = "full-width-container" %}
{% block content_left %}

<style>

.title-text {
    width: 63%;
    text-wrap: wrap;
  }
 .condition-text {
    width: 300%;
    text-wrap: wrap;
  }
  .mentalHealth-text {
    width: 300%;
    text-wrap: wrap;
  }
  .mentalHealth-title {
    width: 140%;
    font-weight: 700;
  }
</style>

<!-- 
display: block;
    text-align: left;
    margin-top: -25%;
    overflow: auto;
    width: 270%;
    -->

      <form action="#" method="post" id="auto-redirect">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  
        <span class="govuk-caption-xl"></span>
        <h1 class="govuk-heading-l">
          Brief summary of clinical details
        </h1>

      <div class="govuk-form-group">
        <label class="govuk-label" for="CD">
        </label>
        <textarea class="govuk-textarea" id="CD" name="clinicalDetails" rows="20">{{ data["clinicalDetails"] }}</textarea>
      </div>

        

    <!-- <div class="govuk-form-group govuk-!-margin-bottom-9">
      <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h2 class="govuk-fieldset__heading">
            Conditions declaration
          </h2>
        </legend> -->

    <!-- {% if data["conditionDeclaration"] == "None" %}    
      <div class="govuk-checkboxes" data-module="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="conditionDec" name="conditionDeclaration" type="checkbox" value="None" {{checked}}>
          <label class="govuk-label govuk-checkboxes__label" for="conditionDec">
            All conditions and disabilities reported during the consultation have been added.
          </label>
        </div>
      </div>
      </fieldset>
      </div>

      {% elseif data["conditionDeclaration"] == "All conditions and disabilities reported during the consultation have been added." %}
      <div class="govuk-checkboxes" data-module="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="conditionDec" name="conditionDeclaration" type="checkbox" value="All conditions and disabilities reported during the consultation have been added." {{ checked }}>
          <label class="govuk-label govuk-checkboxes__label" for="conditionDec">
            All conditions and disabilities reported during the consultation have been added.
          </label>
        </div>
      </div>
      </fieldset>
      </div>
      {% endif %}  -->

      </form>
    </div>
</div>
     
   

{% endblock %}