{% extends "layouts/phonecall-without-sidenav.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}


{% block header %}

{{
  dwpHeader({
      name: "Health Assessment Service",
      serviceHref: '../',
      container: true
  })
}}

{% endblock %}

{% block content_left %}

<style type="text/css">
  .govuk-textarea {
    text-align: left;
    display: block;
    white-space: pre-line;
  }
             
  </style>

<form action="#" method="post" id="auto-redirect">
  <input type="hidden" name="{{ loop.index0 }}"/>
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <span class="govuk-caption-xl"></span>
        <h1 class="govuk-fieldset__heading">
          Add a phone call
        </h1>
        <div id="passport-issued-hint" class="govuk-hint">
        </div>
      </legend>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h2 class="govuk-fieldset__heading">
              Who did you call?
            </h2>
          </legend>
          <div class="govuk-form-group">
            <label class="govuk-label govuk-label--s" for="phonecall-name">
              Name
            </label>
            <input class="govuk-input" id="phonecall-name" name="phoneCallName" type="text" autocomplete="phone-call-name">
          </div>
          <div class="govuk-form-group">
            <label class="govuk-label govuk-label--s" for="relation-or-role">
              Relationship or role (optional)
            </label>
            <input class="govuk-input" id="relation-or-role" name="relation" type="text" autocomplete="relation-role-name">
          </div>
        </fieldset>
        </div>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" role="group" aria-describedby="phoneCall-date">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h2 class="govuk-fieldset__heading">
              Phone call date
            </h2>
          </legend>
          <div id="passport-issued-hint" class="govuk-hint">
            For example, 27 3 2025
          </div>
      <div class="govuk-date-input" id="phonecall-date">
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="phonecall-day">
              Day
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="phonecallDay" name="phone-day" type="text" inputmode="numeric">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="phonecall-month">
              Month
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="phonecallMonth" name="phone-month" type="text" inputmode="numeric">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="phonecall-year">
              Year
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="phonecallYear" name="phone-year" type="text" inputmode="numeric">
          </div>
        </div>
      </div>
    </div>
  </fieldset>
</div>

<script>
  function addDate(number){
      document.getElementById("phonecallDay").value='7';
      document.getElementById("phonecallMonth").value='5';
      document.getElementById("phonecallYear").value='2025';
  }
</script>

<a href="#" class="govuk-button govuk-button--secondary" onclick="addDate(this.value)">Use today's date</a>
  
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--m" for="consultation-notes">
          Phone call notes
        </label>
        <textarea class="govuk-textarea" id="consultation-notes" name="phonecallNotes" rows="10" aria-describedby="phone call notes"></textarea>
      </div>

  
    <div class="govuk-button-group">
      <button type="submit" class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>
      <p><a href="phonecall-result">Cancel</a></p>
     </div>

  </form>
      

{% endblock %}
