{% extends "layouts/layout-ta.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <a href="javascript:history.back()" class="govuk-back-link">Back</a>

<form action="#" method="post">
    <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
                Can the claimant take the call?
            </h1>
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="available" name="take-call" type="radio" value="unavailable-evidence">
              <label class="govuk-label govuk-radios__label" for="can-they-take-the-call">
                Yes, they answered the phone and can take the call
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="available-2" name="take-call" type="radio" value="answerNo">
              <label class="govuk-label govuk-radios__label" for="available-2">
                No, they answered but cannot take the call
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="available-3" name="take-call" type="radio" value="failed-attend">
              <label class="govuk-label govuk-radios__label" for="available-3">
                No, they did not answer after 3 attempts
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="available-4" name="take-call" type="radio" value="answerNoClaim">
              <label class="govuk-label govuk-radios__label" for="available-4">
                No, they no longer want to claim
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <button class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>

      </form>
<!--
    <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="list-convictions-status">Not started</strong>
    <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="submit-pay-status">Cannot start yet</strong>
    <strong class="govuk-tag govuk-tag--blue govuk-prototype-kit-task-list__tag" id="contact-details-status">In progress</strong>
    <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="eligibility-status">Completed</strong>

  -->
  </div>      
      </div>

{% endblock %}
