{% extends "layouts/layout-ta.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <a href="javascript:history.back()" class="govuk-back-link">Back</a>
    

    <span class="govuk-caption-xl">PIP telephone assessment</span>
    <h1 class="govuk-heading-l">Check your answers</h1>


             <dl class="govuk-summary-list govuk-!-margin-bottom-9">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Recommended future review period
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data["whenreview"]}}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden"> name</span>
                  </a>
                </dd>
        
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Reason for this review period
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data["reviewtimereasons"]}}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden"> name</span>
                  </a>
                </dd>
        
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Is it likely the functional restriction will still be present when reviewed?
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data["functional-restict-review"]}}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden"> name</span>
                  </a>
                </dd>
        
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Do they need additional support for future claims processes?
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data["as-marker"]}}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden"> name</span>
                  </a>
                </dd>
        
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Do they meet the criteria for special rules?
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data["special-rules"]}}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden"> name</span>
                  </a>
                </dd>
        
              </div>
            </dl>

    <form action="ta-task-list7.html" method="get" novalidate>
      <input type="hidden" name="answers-checked" value="true">
      <button class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>
    </form>
    <!--
    <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="list-convictions-status">Not started</strong>
    <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="submit-pay-status">Cannot start yet</strong>
    <strong class="govuk-tag govuk-tag--blue govuk-prototype-kit-task-list__tag" id="contact-details-status">In progress</strong>
    <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="eligibility-status">Completed</strong>

  -->
  </div>      
      </div>

{% endblock %}
