{% extends "layouts/layout-ta.html" %}


{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <a href="javascript:history.back()" class="govuk-back-link">Back</a>
    <span class="govuk-caption-xl"></span>
    <h1 class="govuk-heading-l">
       Ask about the claimant's social and occupational history
       <div id="passport-issued-hint" class="govuk-hint">
        Only ask questions that are relevant to this claimant. Questions that are left blank will not show on the report.
      </div>
    </h1>


<form action="functional-history-additional" method="get">
  
  <div class="govuk-form-group">
    <div class="govuk-form-group">
      <label class="govuk-label" for="more-detail">
       Do they live with anyone?
      </label>
      <textarea class="govuk-textarea" id="home-live-with" name="home-live-with" rows="2">{{data["home-live-with"]}}</textarea>
    </div>  

    <label class="govuk-label" for="more-detail">
      What kind of home do they live in?
    </label>
    <textarea class="govuk-textarea" id="home-type" name="home-type" rows="2">{{data["home-type"]}}</textarea>
  </div>      

  <div class="govuk-form-group">
    <label class="govuk-label" for="more-detail">
     Has the home been adapted in any way? 
    </label>
    <textarea class="govuk-textarea" id="home-adaptations" name="home-adaptations" rows="2">{{data["home-adaptations"]}}</textarea>
  </div>      

      
  <div class="govuk-form-group">
    <label class="govuk-label" for="more-detail">
     Do they use any aids or appliances?
    </label>
    <textarea class="govuk-textarea" id="aids-appliances" name="aids-appliances" rows="2">{{data["aids-appliances"]}}</textarea>
  </div> 
  
  <div class="govuk-form-group">
    <label class="govuk-label" for="more-detail">
      Do they work?
    </label>
    <textarea class="govuk-textarea" id="do-they-work" name="do-they-work" rows="2">{{data["do-they-work"]}}</textarea>
  </div>      

  <!-- <div class="govuk-form-group">
    <label class="govuk-label" for="more-detail">
     How did they do at school?
    </label>
    <textarea class="govuk-textarea" id="school" name="school" rows="2">{{data["school"]}}</textarea>
  </div>  -->

  <div class="govuk-form-group">
    <label class="govuk-label" for="more-detail">
     Can they drive?
    </label>
    <textarea class="govuk-textarea" id="school" name="drive-details" rows="2"></textarea>
  </div> 

  <div class="govuk-form-group">
    <label class="govuk-label" for="more-detail">
      How else do they get around?
    </label>
    <textarea class="govuk-textarea" id="get-around" name="get-around" rows="2">{{data["get-around"]}}</textarea>
  </div>      

  <div class="govuk-form-group">
    <label class="govuk-label" for="more-detail">
     How do they buy their shopping?
    </label>
    <textarea class="govuk-textarea" id="shopping" name="shopping" rows="2">{{data["shopping"]}}</textarea>
  </div>      

  <div class="govuk-form-group">
    <label class="govuk-label" for="more-detail">
        How do they manage their housework?
    </label>
    <textarea class="govuk-textarea" id="housework" name="housework" rows="2">{{data["housework"]}}</textarea>
  </div>      

  <div class="govuk-form-group">
    <label class="govuk-label" for="more-detail">
     How do they spend their spare time?
    </label>
    <textarea class="govuk-textarea" id="hobbies" name="hobbies" rows="2">{{data["hobbies"]}}</textarea>
  </div>  
  
  <div class="govuk-form-group">
    <label class="govuk-label" for="more-detail">
     Additional social and occupational history
    </label>
    <textarea class="govuk-textarea" id="hobbies" name="add-info" rows="2">{{data["add-info"]}}</textarea>
  </div>  

  <div class="govuk-button-group">
      </div><button class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>
      <p class="govuk-body"><a href="end-why" class="govuk-link">Abandon consultation</a></p>
    </div>

      </form>
<!--
    <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="list-convictions-status">Not started</strong>
    <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="submit-pay-status">Cannot start yet</strong>
    <strong class="govuk-tag govuk-tag--blue govuk-prototype-kit-task-list__tag" id="contact-details-status">In progress</strong>
    <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="eligibility-status">Completed</strong>

  -->
  </div>      
      </div>

{% endblock %}
