{% extends "layouts/split-soch.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">

    <a href="meds-treatment-split" class="govuk-back-link">Back</a>
    

<form action="cya-history" method="get">
  <div class="govuk-form-group">
    <span class="govuk-caption-xl">PIP telephone assessment</span>
    <h1 class="govuk-label-wrapper">
      <label class="govuk-label govuk-label--l" for="more-detail">
       Social and occupational history
      </label>
    </h1>
    <textarea class="govuk-textarea" id="social-history" name="social-history-prep" rows="15" aria-describedby="more-detail-hint"></textarea>
  </div>
      <div class="govuk-button-group">

      </div><button class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>
    </form> 
</div>

<div class="govuk-grid-column-one-half">
    
    <h1 class="govuk-heading-l">Claimant documents</h1>


    <a href="javascript:history.back()" class="govuk-back-link">Back to claimant documents</a>



      
      <iframe class="document" src="/public/pdfs/cq.pdf" title="PIP2 document"></iframe><br>
<br>
  </div>     

     
<!--
    <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="list-convictions-status">Not started</strong>
    <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="submit-pay-status">Cannot start yet</strong>
    <strong class="govuk-tag govuk-tag--blue govuk-prototype-kit-task-list__tag" id="contact-details-status">In progress</strong>
    <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="eligibility-status">Completed</strong>

  -->
  </div>      
      </div>

{% endblock %}
