{% extends "layouts/side-nav-validation.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% set containerClasses = "full-width-container" %}

{% block content_left %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  

  <form action="#" method="post" id="auto-redirect">
    <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <span class="govuk-caption-l"></span>
            <h1 class="govuk-fieldset__heading">
                Claimant consent
            </h1>
          </legend>
          <div id="passport-issued-hint" class="govuk-hint">
            Make sure the claimant understands the purpose of the consultation, and they consent to continue. 
          </div>
<br />
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
            Did they give consent?
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            {% if data["consent"] == 'Yes' %}
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="consentID" name="consent" type="radio" value="Yes" {{ checked }}>
              <label class="govuk-label govuk-radios__label" for="consentID">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="consent-no" name="consent" type="radio" value="No">
              <label class="govuk-label govuk-radios__label" for="consent-no">
                No
              </label>
            </div>
            {% elseif data["consent"] == 'No' %}
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="consentID" name="consent" type="radio" value="Yes">
              <label class="govuk-label govuk-radios__label" for="consentID">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="consent-no" name="consent" type="radio" value="No" {{ checked }}>
              <label class="govuk-label govuk-radios__label" for="consent-no">
                No
              </label>
            </div>
            {% elseif data["consent"] === undefined %}
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="consentID" name="consent" type="radio" value="Yes">
              <label class="govuk-label govuk-radios__label" for="consentID">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="consent-no" name="consent" type="radio" value="No">
              <label class="govuk-label govuk-radios__label" for="consent-no">
                No
              </label>
            </div>
            {% endif %}
          </div>
        </fieldset>
      </div>

      <!-- <div class="govuk-button-group">

      </div><button class="govuk-button" data-module="govuk-button">
        Save and continue
      </button> -->
      
    </div>

      </form>
<!--
    <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="list-convictions-status">Not started</strong>
    <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="submit-pay-status">Cannot start yet</strong>
    <strong class="govuk-tag govuk-tag--blue govuk-prototype-kit-task-list__tag" id="contact-details-status">In progress</strong>
    <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="eligibility-status">Completed</strong>

  -->
  </div>      
    

{% endblock %}
