{% extends "layouts/prompts-without-sidenav.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content_left %}

<style type="text/css">
  .govuk-textarea {
    text-align: left;
    display: block;
    white-space: pre-line;
  }
             
  </style>

<!-- <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">    -->

<form action="#" method="post" id="auto-redirect">
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <span class="govuk-caption-xl"></span>
        <h1 class="govuk-fieldset__heading">
          Add a medication
        </h1>
        <div id="passport-issued-hint" class="govuk-hint">
        </div>
      </legend>

          <div class="govuk-form-group">
            <div class="govuk-form-group">
              <label class="govuk-label" for="medications-name">
                <b>Medication name</b>
              </label>
              <input class="govuk-input" id="medications-name" name="medications-name" type="text" value="Codeine">
            </div>

            <div class="govuk-form-group">
              <label class="govuk-label" for="medications-dose">
                <b>Dosage</b>
              </label>
              <input class="govuk-input" id="medications-dose" name="medications-dose" type="text" value="30mg">
            </div>

            <div class="govuk-form-group">
              <label class="govuk-label" for="medications-frequency">
                <b>Frequency</b>
              </label>
              <input class="govuk-input" id="medications-frequency" name="medications-frequency" type="text" value="Once daily">
            </div>

            <div class="govuk-form-group">
              <label class="govuk-label" for="medications-reason">
                <b>Reason for taking</b>
              </label>
              <input class="govuk-input" id="medications-reason" name="medications-reason" type="text" value="{{data["medications-reason"]}}">
            </div>
           
  
            <div class="govuk-form-group">
              <label class="govuk-label" for="medications-efficacy">
                <b>Effectiveness (optional)</b>
              </label>
              <textarea class="govuk-textarea" id="medications-efficacy" name="medications-efficacy" rows="1" aria-describedby="medication effectivness">Sometime eases symptoms</textarea>
            </div>
  
            <div class="govuk-form-group">
              <label class="govuk-label" for="medications-side-effects">
              <b>Side effects (optional)</b>
              </label>
              <textarea class="govuk-textarea" id="medications-side-effects" name="medications-side-effects" rows="1" aria-describedby="medication side effects">Feel sick</textarea>
            </div>
          </div>
         

          </fieldset>

          <div class="govuk-button-group">
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Save and continue
          </button>

      
            <p><a href="medication-single">Cancel</a></p>


          </div>

        </div>
      <!-- </div> -->
    </form>
  <!-- </div> -->
      

{% endblock %}
