{% extends "layouts/side-nav-validation.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% set containerClasses = "full-width-container" %}
{% block content_left %}

<style type="text/css">
  .govuk-textarea {
    text-align: left;
    display: block;
    white-space: pre-line;
  }
             
  </style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <a href="javascript:history.back()" class="govuk-back-link">Back</a>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Moving around</h1>
      </div>
    </div>

    <form action="#" method="post" id="auto-redirect">
              
              

        <div class="govuk-form-group">
            <label class="govuk-label govuk-label--s" for="movingaroundNotes">
              Functional history for moving around
            </label>
          
          
            <textarea class="govuk-textarea govuk-!-margin-bottom-9" id="movingaroundNotes" name="movingaroundNotes" rows="15">She can comfortably cover up to 30 metres prior to needing to stop, it would approximately take her 5 minutes to walk such distance, and she'd need to stop owing to knee pains especially in the left knee.
              She would then need to have a rest break of about 5 minutes in a seated position until the pain subsides to a certain extent, prior to being able to repeat this same distance as tolerated, but sometimes she wouldn't be able to repeat it again due to her knee pains.</textarea>
          </div>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset govuk-!-margin-bottom-9">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              Which of these describes how well the claimant can move around?
            </legend>
            
          
            <div class="govuk-radios">
  
              {% if data["movingaroundSelectpbr"] == '(12a) Can stand and then move more than 200 metres, either aided or unaided' %}
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr" name="movingaroundSelectpbr" type="radio"
                      value="(12a) Can stand and then move more than 200 metres, either aided or unaided" {{ checked }}>
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr">
                      (12a) Can stand and then move more than 200 metres, either aided or unaided
                    </label>
                  </div>
                  
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-2" name="movingaroundSelectpbr" type="radio"
                      value="(12b) Can stand and then move more than 50 metres but no more than 200 metres, either aided or unaided">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-2">
                      (12b) Can stand and then move more than 50 metres but no more than 200 metres, either aided or unaided
                    </label>
                  </div>
     
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-3" name="movingaroundSelectpbr" type="radio"
                      value="(12c) Can stand and then move unaided more than 20 metres but no more than 50 metres">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-3">
                      (12c) Can stand and then move unaided more than 20 metres but no more than 50 metres
                    </label>
                  </div>
                  
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-4" name="movingaroundSelectpbr" type="radio"
                      value="(12d) Can stand and then move using an aid or appliance more than 20 metres but no more than 50 metres">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-4">
                      (12d) Can stand and then move using an aid or appliance more than 20 metres but no more than 50 metres
                    </label>
                  </div>
                  
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-5" name="movingaroundSelectpbr" type="radio"
                      value="(12e) Can stand and then move more than 1 metre but no more than 20 metres, either aided or unaided">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-5">
                      (12e) Can stand and then move more than 1 metre but no more than 20 metres, either aided or unaided
                    </label>
                  </div>
                  
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-6" name="movingaroundSelectpbr" type="radio"
                      value="(12f) Cannot stand or move more than 1 metre, either aided or unaided">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-6">
                      (12f) Cannot stand or move more than 1 metre, either aided or unaided
                    </label>
                  </div>

                  <div class="govuk-radios__divider">or</div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-7" name="movingaroundSelectpbr" type="radio"
                      value="The claimant has not reported problems with moving around, and I have not found evidence to suggest otherwise">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-7">
                      The claimant has not reported problems with moving around, and I have not found evidence to suggest otherwise
                    </label>
                  </div>

                  {% elseif data["movingaroundSelectpbr"] == '(12b) Can stand and then move more than 50 metres but no more than 200 metres, either aided or unaided' %}
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr" name="movingaroundSelectpbr" type="radio"
                      value="(12a) Can stand and then move more than 200 metres, either aided or unaided">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr">
                      (12a) Can stand and then move more than 200 metres, either aided or unaided
                    </label>
                  </div>
                  
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-2" name="movingaroundSelectpbr" type="radio"
                      value="(12b) Can stand and then move more than 50 metres but no more than 200 metres, either aided or unaided" {{
                      checked }}>
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-2">
                      (12b) Can stand and then move more than 50 metres but no more than 200 metres, either aided or unaided
                    </label>
                  </div>
     
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-3" name="movingaroundSelectpbr" type="radio"
                      value="(12c) Can stand and then move unaided more than 20 metres but no more than 50 metres">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-3">
                      (12c) Can stand and then move unaided more than 20 metres but no more than 50 metres
                    </label>
                  </div>
                  
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-4" name="movingaroundSelectpbr" type="radio"
                      value="(12d) Can stand and then move using an aid or appliance more than 20 metres but no more than 50 metres">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-4">
                      (12d) Can stand and then move using an aid or appliance more than 20 metres but no more than 50 metres
                    </label>
                  </div>
                  
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-5" name="movingaroundSelectpbr" type="radio"
                      value="(12e) Can stand and then move more than 1 metre but no more than 20 metres, either aided or unaided">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-5">
                      (12e) Can stand and then move more than 1 metre but no more than 20 metres, either aided or unaided
                    </label>
                  </div>
                  
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-6" name="movingaroundSelectpbr" type="radio"
                      value="(12f) Cannot stand or move more than 1 metre, either aided or unaided">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-6">
                      (12f) Cannot stand or move more than 1 metre, either aided or unaided
                    </label>
                  </div>

                  <div class="govuk-radios__divider">or</div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-7" name="movingaroundSelectpbr" type="radio"
                      value="The claimant has not reported problems with moving around, and I have not found evidence to suggest otherwise">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-7">
                      The claimant has not reported problems with moving around, and I have not found evidence to suggest otherwise
                    </label>
                  </div>

                  {% elseif data["movingaroundSelectpbr"] == '(12c) Can stand and then move unaided more than 20 metres but no more than 50 metres' %}
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr" name="movingaroundSelectpbr" type="radio"
                      value="(12a) Can stand and then move more than 200 metres, either aided or unaided">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr">
                      (12a) Can stand and then move more than 200 metres, either aided or unaided
                    </label>
                  </div>
                  
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-2" name="movingaroundSelectpbr" type="radio"
                      value="(12b) Can stand and then move more than 50 metres but no more than 200 metres, either aided or unaided">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-2">
                      (12b) Can stand and then move more than 50 metres but no more than 200 metres, either aided or unaided
                    </label>
                  </div>
     
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-3" name="movingaroundSelectpbr" type="radio"
                      value="(12c) Can stand and then move unaided more than 20 metres but no more than 50 metres" {{ checked }}>
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-3">
                      (12c) Can stand and then move unaided more than 20 metres but no more than 50 metres
                    </label>
                  </div>
                  
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-4" name="movingaroundSelectpbr" type="radio"
                      value="(12d) Can stand and then move using an aid or appliance more than 20 metres but no more than 50 metres">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-4">
                      (12d) Can stand and then move using an aid or appliance more than 20 metres but no more than 50 metres
                    </label>
                  </div>
                  
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-5" name="movingaroundSelectpbr" type="radio"
                      value="(12e) Can stand and then move more than 1 metre but no more than 20 metres, either aided or unaided">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-5">
                      (12e) Can stand and then move more than 1 metre but no more than 20 metres, either aided or unaided
                    </label>
                  </div>
                  
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-6" name="movingaroundSelectpbr" type="radio"
                      value="(12f) Cannot stand or move more than 1 metre, either aided or unaided">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-6">
                      (12f) Cannot stand or move more than 1 metre, either aided or unaided
                    </label>
                  </div>

                  <div class="govuk-radios__divider">or</div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-7" name="movingaroundSelectpbr" type="radio"
                      value="The claimant has not reported problems with moving around, and I have not found evidence to suggest otherwise">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-7">
                      The claimant has not reported problems with moving around, and I have not found evidence to suggest otherwise
                    </label>
                  </div>

                  {% elseif data["movingaroundSelectpbr"] == '(12d) Can stand and then move using an aid or appliance more than 20 metres but no more than 50 metres' %}
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr" name="movingaroundSelectpbr" type="radio"
                      value="(12a) Can stand and then move more than 200 metres, either aided or unaided">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr">
                      (12a) Can stand and then move more than 200 metres, either aided or unaided
                    </label>
                  </div>
                  
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-2" name="movingaroundSelectpbr" type="radio"
                      value="(12b) Can stand and then move more than 50 metres but no more than 200 metres, either aided or unaided">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-2">
                      (12b) Can stand and then move more than 50 metres but no more than 200 metres, either aided or unaided
                    </label>
                  </div>
                  
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-3" name="movingaroundSelectpbr" type="radio"
                      value="(12c) Can stand and then move unaided more than 20 metres but no more than 50 metres">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-3">
                      (12c) Can stand and then move unaided more than 20 metres but no more than 50 metres
                    </label>
                  </div>
  
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-4" name="movingaroundSelectpbr" type="radio"
                      value="(12d) Can stand and then move using an aid or appliance more than 20 metres but no more than 50 metres" {{
                      checked }}>
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-4">
                      (12d) Can stand and then move using an aid or appliance more than 20 metres but no more than 50 metres
                    </label>
                  </div>
                  
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-5" name="movingaroundSelectpbr" type="radio"
                      value="(12e) Can stand and then move more than 1 metre but no more than 20 metres, either aided or unaided">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-5">
                      (12e) Can stand and then move more than 1 metre but no more than 20 metres, either aided or unaided
                    </label>
                  </div>

                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-6" name="movingaroundSelectpbr" type="radio"
                      value="(12f) Cannot stand or move more than 1 metre, either aided or unaided">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-6">
                      (12f) Cannot stand or move more than 1 metre, either aided or unaided
                    </label>
                  </div>

                  <div class="govuk-radios__divider">or</div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-7" name="movingaroundSelectpbr" type="radio"
                      value="The claimant has not reported problems with moving around, and I have not found evidence to suggest otherwise">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-7">
                      The claimant has not reported problems with moving around, and I have not found evidence to suggest otherwise
                    </label>
                  </div>

                  {% elseif data["movingaroundSelectpbr"] == '(12e) Can stand and then move more than 1 metre but no more than 20 metres, either aided or unaided' %}
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr" name="movingaroundSelectpbr" type="radio"
                      value="(12a) Can stand and then move more than 200 metres, either aided or unaided">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr">
                      (12a) Can stand and then move more than 200 metres, either aided or unaided
                    </label>
                  </div>
                  
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-2" name="movingaroundSelectpbr" type="radio"
                      value="(12b) Can stand and then move more than 50 metres but no more than 200 metres, either aided or unaided">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-2">
                      (12b) Can stand and then move more than 50 metres but no more than 200 metres, either aided or unaided
                    </label>
                  </div>
     
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-3" name="movingaroundSelectpbr" type="radio"
                      value="(12c) Can stand and then move unaided more than 20 metres but no more than 50 metres">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-3">
                      (12c) Can stand and then move unaided more than 20 metres but no more than 50 metres
                    </label>
                  </div>
                  
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-4" name="movingaroundSelectpbr" type="radio"
                      value="(12d) Can stand and then move using an aid or appliance more than 20 metres but no more than 50 metres">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-4">
                      (12d) Can stand and then move using an aid or appliance more than 20 metres but no more than 50 metres
                    </label>
                  </div>
                  
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-5" name="movingaroundSelectpbr" type="radio"
                      value="(12e) Can stand and then move more than 1 metre but no more than 20 metres, either aided or unaided" {{
                      checked }}>
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-5">
                      (12e) Can stand and then move more than 1 metre but no more than 20 metres, either aided or unaided
                    </label>
                  </div>
                  
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-6" name="movingaroundSelectpbr" type="radio"
                      value="(12f) Cannot stand or move more than 1 metre, either aided or unaided">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-6">
                      (12f) Cannot stand or move more than 1 metre, either aided or unaided
                    </label>
                  </div>

                  <div class="govuk-radios__divider">or</div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-7" name="movingaroundSelectpbr" type="radio"
                      value="The claimant has not reported problems with moving around, and I have not found evidence to suggest otherwise">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-7">
                      The claimant has not reported problems with moving around, and I have not found evidence to suggest otherwise
                    </label>
                  </div>

                  {% elseif data["movingaroundSelectpbr"] == '(12f) Cannot stand or move more than 1 metre, either aided or unaided' %}
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr" name="movingaroundSelectpbr" type="radio"
                      value="(12a) Can stand and then move more than 200 metres, either aided or unaided">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr">
                      (12a) Can stand and then move more than 200 metres, either aided or unaided
                    </label>
                  </div>
                  
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-2" name="movingaroundSelectpbr" type="radio"
                      value="(12b) Can stand and then move more than 50 metres but no more than 200 metres, either aided or unaided">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-2">
                      (12b) Can stand and then move more than 50 metres but no more than 200 metres, either aided or unaided
                    </label>
                  </div>
                  
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-3" name="movingaroundSelectpbr" type="radio"
                      value="(12c) Can stand and then move unaided more than 20 metres but no more than 50 metres">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-3">
                      (12c) Can stand and then move unaided more than 20 metres but no more than 50 metres
                    </label>
                  </div>
  
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-4" name="movingaroundSelectpbr" type="radio"
                      value="(12d) Can stand and then move using an aid or appliance more than 20 metres but no more than 50 metres">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-4">
                      (12d) Can stand and then move using an aid or appliance more than 20 metres but no more than 50 metres
                    </label>
                  </div>
                  
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-5" name="movingaroundSelectpbr" type="radio"
                      value="(12e) Can stand and then move more than 1 metre but no more than 20 metres, either aided or unaided">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-5">
                      (12e) Can stand and then move more than 1 metre but no more than 20 metres, either aided or unaided
                    </label>
                  </div>
                  
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-6" name="movingaroundSelectpbr" type="radio"
                      value="(12f) Cannot stand or move more than 1 metre, either aided or unaided" {{ checked }}>
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-6">
                      (12f) Cannot stand or move more than 1 metre, either aided or unaided
                    </label>
                  </div>

                  <div class="govuk-radios__divider">or</div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-7" name="movingaroundSelectpbr" type="radio"
                      value="The claimant has not reported problems with moving around, and I have not found evidence to suggest otherwise">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-7">
                      The claimant has not reported problems with moving around, and I have not found evidence to suggest otherwise
                    </label>
                  </div>

                  {% elseif data["movingaroundSelectpbr"] === "The claimant has not reported problems with moving around, and I have not found evidence to suggest otherwise" %}
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr" name="movingaroundSelectpbr" type="radio"
                      value="(12a) Can stand and then move more than 200 metres, either aided or unaided">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr">
                      (12a) Can stand and then move more than 200 metres, either aided or unaided
                    </label>
                  </div>
                  
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-2" name="movingaroundSelectpbr" type="radio"
                      value="(12b) Can stand and then move more than 50 metres but no more than 200 metres, either aided or unaided">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-2">
                      (12b) Can stand and then move more than 50 metres but no more than 200 metres, either aided or unaided
                    </label>
                  </div>
     
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-3" name="movingaroundSelectpbr" type="radio"
                      value="(12c) Can stand and then move unaided more than 20 metres but no more than 50 metres" {{ checked }}>
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-3">
                      (12c) Can stand and then move unaided more than 20 metres but no more than 50 metres
                    </label>
                  </div>
                  
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-4" name="movingaroundSelectpbr" type="radio"
                      value="(12d) Can stand and then move using an aid or appliance more than 20 metres but no more than 50 metres">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-4">
                      (12d) Can stand and then move using an aid or appliance more than 20 metres but no more than 50 metres
                    </label>
                  </div>
                  
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-5" name="movingaroundSelectpbr" type="radio"
                      value="(12e) Can stand and then move more than 1 metre but no more than 20 metres, either aided or unaided">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-5">
                      (12e) Can stand and then move more than 1 metre but no more than 20 metres, either aided or unaided
                    </label>
                  </div>
                  
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-6" name="movingaroundSelectpbr" type="radio"
                      value="(12f) Cannot stand or move more than 1 metre, either aided or unaided">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-6">
                      (12f) Cannot stand or move more than 1 metre, either aided or unaided
                    </label>
                  </div>

                  <div class="govuk-radios__divider">or</div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-7" name="movingaroundSelectpbr" type="radio"
                      value="The claimant has not reported problems with moving around, and I have not found evidence to suggest otherwise" {{ checked }}>
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-7">
                      The claimant has not reported problems with moving around, and I have not found evidence to suggest otherwise
                    </label>
                  </div>

                  {% elseif data["movingaroundSelectpbr"] === undefined %}
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr" name="movingaroundSelectpbr" type="radio"
                      value="(12a) Can stand and then move more than 200 metres, either aided or unaided">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr">
                      (12a) Can stand and then move more than 200 metres, either aided or unaided
                    </label>
                  </div>
                  
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-2" name="movingaroundSelectpbr" type="radio"
                      value="(12b) Can stand and then move more than 50 metres but no more than 200 metres, either aided or unaided">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-2">
                      (12b) Can stand and then move more than 50 metres but no more than 200 metres, either aided or unaided
                    </label>
                  </div>
     
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-3" name="movingaroundSelectpbr" type="radio"
                      value="(12c) Can stand and then move unaided more than 20 metres but no more than 50 metres" {{ checked }}>
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-3">
                      (12c) Can stand and then move unaided more than 20 metres but no more than 50 metres
                    </label>
                  </div>
                  
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-4" name="movingaroundSelectpbr" type="radio"
                      value="(12d) Can stand and then move using an aid or appliance more than 20 metres but no more than 50 metres">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-4">
                      (12d) Can stand and then move using an aid or appliance more than 20 metres but no more than 50 metres
                    </label>
                  </div>
                  
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-5" name="movingaroundSelectpbr" type="radio"
                      value="(12e) Can stand and then move more than 1 metre but no more than 20 metres, either aided or unaided">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-5">
                      (12e) Can stand and then move more than 1 metre but no more than 20 metres, either aided or unaided
                    </label>
                  </div>
                  
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-6" name="movingaroundSelectpbr" type="radio"
                      value="(12f) Cannot stand or move more than 1 metre, either aided or unaided">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-6">
                      (12f) Cannot stand or move more than 1 metre, either aided or unaided
                    </label>
                  </div>

                  <div class="govuk-radios__divider">or</div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-7" name="movingaroundSelectpbr" type="radio"
                      value="The claimant has not reported problems with moving around, and I have not found evidence to suggest otherwise">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-7">
                      The claimant has not reported problems with moving around, and I have not found evidence to suggest otherwise
                    </label>
                  </div>

                  {% endif %}
            </div>
            
          
          </fieldset>

          <div class="govuk-form-group">
            <label class="govuk-label govuk-label--s" for="movingJustify">
              Justification for moving around
            </label>
          
            <textarea class="govuk-textarea govuk-!-margin-bottom-9" id="movingJustification" name="movingJustify" rows="15">Restrictions reported:

              CQ states less than 20 metres, has knee stiffness, pain, inflammation and instability moving from sitting to standing, uses walking stick and knee brace with metal hinges and without these she cannot walk, it's painful going up and down stairs due to pain and weakness, walks quite slowly as left knee is unstable and gives way, has fallen quite a lot recently. Previous PA4 suggests 50-200 metres. 
              FH states 30 metres take 5 minutes to cover, she then stops for a 5 minute rest break due to knee pains, and can then repeat this same distance as tolerated prior to exhaustion but sometimes due to pain she wouldn't be able to repeat this distance.</textarea>
          </div>
          
          
           </div>
        </form>
     </div>
   </div>

 

{% endblock %}
