{% extends "layouts/side-nav-validation.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% set containerClasses = "full-width-container" %}
{% block content_left %}

<style type="text/css">
  .govuk-textarea {
    text-align: left;
    display: block;
    white-space: pre-line;
  }
             
  </style>

<!-- <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds"> -->
    <!-- <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds"> -->
        <h1 class="govuk-heading-l">Preparing food</h1>
      <!-- </div>
    </div> -->


    <!-- <div class="govuk-summary-list__row">
    <dd class="govuk-summary-list__value no-bottom-border"></dd>
    <dd class="govuk-summary-list__actions no-bottom-border"></dd>
    </div> -->

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

<form action="#" method="post" id="auto-redirect">
                        
<div class="govuk-form-group">
  <label class="govuk-label govuk-label--s" for="preparingfoodNotes">
    Functional history for preparing food
  </label>


  <textarea class="govuk-textarea govuk-!-margin-bottom-9" id="preparingfoodNotes" name="preparingfoodNotes" rows="15">She is unable to prepare and cook a simple meal from fresh ingredients for 1 person. 
    Her concentration is quite poor and tends to forget switching electric appliances on and off regularly. There have been instances when she's had accidents in the kitchen due to accidently burning herself. 
    She is unable to cut, peel and chop ingredients or open up packaging, tins and jars due to her hand pans. 

    Whenever she sees a knife she can get self-harming thoughts, this can be a trigger to engaging in self-harming, however ultimately she can rationalise her way through the thoughts and wouldn't have intentions or plans to act on the thoughts. 
    She can comfortably stand at the kitchen counter for up to a few minutes until she starts experiencing knee pains, and would then need to sit down to rest due to pain. She knows how to use kitchen appliances and utensils safely if she had to but due to forgetfulness and distraction she can forget to turn appliances off. 
    
    She would try to follow a simple recipe if she had to. She doesn't fully understands kitchen timings and she doesn't appropriately determine when food is ready to eat and thoroughly cooked due to distraction and poor concentration. 
    She can make herself a hot drink whenever she feels like. </textarea>
</div>

<div class="govuk-form-group">

  <fieldset class="govuk-fieldset govuk-!-margin-bottom-9">
  
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
    How well can the claimant cook food?
  </legend>
  
  <div class="govuk-radios">
    
    <!--first radio-->
        <div class="govuk-radios__item">
          {% if data["preparingfoodSelect"] == '(1a) Can prepare and cook a simple meal unaided' %}
          <input class="govuk-radios__input" id="preparingfoodSelect" name="preparingfoodSelect" type="radio" value="(1a) Can prepare and cook a simple meal unaided" {{ checked }}>
          <label class="govuk-label govuk-radios__label" for="preparingfoodSelect">
        (1a) Can prepare and cook a simple meal unaided
      </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="preparingfoodSelect-2" name="preparingfoodSelect" type="radio" value="(1b) Needs to use an aid or appliance to be able to either prepare or cook a simple meal">
          <label class="govuk-label govuk-radios__label" for="preparingfoodSelect-2">
        (1b) Needs to use an aid or appliance to be able to either prepare or cook a simple meal
      </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="preparingfoodSelect-3" name="preparingfoodSelect" type="radio" value="(1c) Cannot cook a simple meal using a conventional cooker but is able to do so using a microwave">
          <label class="govuk-label govuk-radios__label" for="preparingfoodSelect-3">
        (1c) Cannot cook a simple meal using a conventional cooker but is able to do so using a microwave
      </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="preparingfoodSelect-4" name="preparingfoodSelect" type="radio" value="(1d) Needs prompting to be able to either prepare or cook a simple meal">
          <label class="govuk-label govuk-radios__label" for="preparingfoodSelect-4">
        (1d) Needs prompting to be able to either prepare or cook a simple meal
      </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="preparingfoodSelect-5" name="preparingfoodSelect" type="radio" value="(1e) Needs supervision or assistance to either prepare or cook a simple meal">
          <label class="govuk-label govuk-radios__label" for="preparingfoodSelect-5">
        (1e) Needs supervision or assistance to either prepare or cook a simple meal
      </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="preparingfoodSelect-6" name="preparingfoodSelect" type="radio" value="(1f) Cannot prepare and cook food">
          <label class="govuk-label govuk-radios__label" for="preparingfoodSelect-6">
        (1f) Cannot prepare and cook food
      </label>
    </div>

        <div class="govuk-radios__divider">or</div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="preparingfoodSelect-7" name="preparingfoodSelect" type="radio" value="The claimant has not reported problems with preparing food, and I have not found evidence to suggest otherwise" {{ checked }}>
          <label class="govuk-label govuk-radios__label" for="preparingfoodSelect-7">
            The claimant has not reported problems with preparing food, and I have not found evidence to suggest otherwise
          </label>
        </div>

        <!--second radio-->
        {% elseif data["preparingfoodSelect"] == '(1b) Needs to use an aid or appliance to be able to either prepare or cook a simple meal' %}
          <input class="govuk-radios__input" id="preparingfoodSelect" name="preparingfoodSelect" type="radio" value="(1a) Can prepare and cook a simple meal unaided">
          <label class="govuk-label govuk-radios__label" for="preparingfoodSelect">
        (1a) Can prepare and cook a simple meal unaided
      </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="preparingfoodSelect-2" name="preparingfoodSelect" type="radio" value="(1b) Needs to use an aid or appliance to be able to either prepare or cook a simple meal" {{ checked }}>
          <label class="govuk-label govuk-radios__label" for="preparingfoodSelect-2">
        (1b) Needs to use an aid or appliance to be able to either prepare or cook a simple meal
      </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="preparingfoodSelect-3" name="preparingfoodSelect" type="radio" value="(1c) Cannot cook a simple meal using a conventional cooker but is able to do so using a microwave">
          <label class="govuk-label govuk-radios__label" for="preparingfoodSelect-3">
        (1c) Cannot cook a simple meal using a conventional cooker but is able to do so using a microwave
      </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="preparingfoodSelect-4" name="preparingfoodSelect" type="radio" value="(1d) Needs prompting to be able to either prepare or cook a simple meal">
          <label class="govuk-label govuk-radios__label" for="preparingfoodSelect-4">
        (1d) Needs prompting to be able to either prepare or cook a simple meal
      </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="preparingfoodSelect-5" name="preparingfoodSelect" type="radio" value="(1e) Needs supervision or assistance to either prepare or cook a simple meal">
          <label class="govuk-label govuk-radios__label" for="preparingfoodSelect-5">
        (1e) Needs supervision or assistance to either prepare or cook a simple meal
      </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="preparingfoodSelect-6" name="preparingfoodSelect" type="radio" value="(1f) Cannot prepare and cook food">
          <label class="govuk-label govuk-radios__label" for="preparingfoodSelect-6">
        (1f) Cannot prepare and cook food
      </label>
        </div>

        <div class="govuk-radios__divider">or</div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="preparingfoodSelect-7" name="preparingfoodSelect" type="radio" value="The claimant has not reported problems with preparing food, and I have not found evidence to suggest otherwise" {{ checked }}>
          <label class="govuk-label govuk-radios__label" for="preparingfoodSelect-7">
            The claimant has not reported problems with preparing food, and I have not found evidence to suggest otherwise
          </label>
        </div>

         <!--third radio -->
         {% elseif data["preparingfoodSelect"] == '(1c) Cannot cook a simple meal using a conventional cooker but is able to do so using a microwave' %}
         <input class="govuk-radios__input" id="preparingfoodSelect" name="preparingfoodSelect" type="radio" value="(1a) Can prepare and cook a simple meal unaided">
         <label class="govuk-label govuk-radios__label" for="preparingfoodSelect">
       (1a) Can prepare and cook a simple meal unaided
     </label>
       </div>
       <div class="govuk-radios__item">
         <input class="govuk-radios__input" id="preparingfoodSelect-2" name="preparingfoodSelect" type="radio" value="(1b) Needs to use an aid or appliance to be able to either prepare or cook a simple meal">
         <label class="govuk-label govuk-radios__label" for="preparingfoodSelect-2">
       (1b) Needs to use an aid or appliance to be able to either prepare or cook a simple meal
     </label>
       </div>
       <div class="govuk-radios__item">
         <input class="govuk-radios__input" id="preparingfoodSelect-3" name="preparingfoodSelect" type="radio" value="(1c) Cannot cook a simple meal using a conventional cooker but is able to do so using a microwave" {{ checked }}>
         <label class="govuk-label govuk-radios__label" for="preparingfoodSelect-3">
       (1c) Cannot cook a simple meal using a conventional cooker but is able to do so using a microwave
     </label>
       </div>
       <div class="govuk-radios__item">
         <input class="govuk-radios__input" id="preparingfoodSelect-4" name="preparingfoodSelect" type="radio" value="(1d) Needs prompting to be able to either prepare or cook a simple meal">
         <label class="govuk-label govuk-radios__label" for="preparingfoodSelect-4">
       (1d) Needs prompting to be able to either prepare or cook a simple meal
     </label>
       </div>
       <div class="govuk-radios__item">
         <input class="govuk-radios__input" id="preparingfoodSelect-5" name="preparingfoodSelect" type="radio" value="(1e) Needs supervision or assistance to either prepare or cook a simple meal">
         <label class="govuk-label govuk-radios__label" for="preparingfoodSelect-5">
       (1e) Needs supervision or assistance to either prepare or cook a simple meal
     </label>
       </div>
       <div class="govuk-radios__item">
         <input class="govuk-radios__input" id="preparingfoodSelect-6" name="preparingfoodSelect" type="radio" value="(1f) Cannot prepare and cook food">
         <label class="govuk-label govuk-radios__label" for="preparingfoodSelect-6">
       (1f) Cannot prepare and cook food
     </label>
       </div>
       <div class="govuk-radios__divider">or</div>
       <div class="govuk-radios__item">
         <input class="govuk-radios__input" id="preparingfoodSelect-7" name="preparingfoodSelect" type="radio" value="The claimant has not reported problems with preparing food, and I have not found evidence to suggest otherwise" {{ checked }}>
         <label class="govuk-label govuk-radios__label" for="preparingfoodSelect-7">
           The claimant has not reported problems with preparing food, and I have not found evidence to suggest otherwise
         </label>
       </div>

        <!--fourth radio -->
        {% elseif data["preparingfoodSelect"] == '(1d) Needs prompting to be able to either prepare or cook a simple meal' %}
        <input class="govuk-radios__input" id="preparingfoodSelect" name="preparingfoodSelect" type="radio" value="(1a) Can prepare and cook a simple meal unaided">
        <label class="govuk-label govuk-radios__label" for="preparingfoodSelect">
      (1a) Can prepare and cook a simple meal unaided
    </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="preparingfoodSelect-2" name="preparingfoodSelect" type="radio" value="(1b) Needs to use an aid or appliance to be able to either prepare or cook a simple meal">
        <label class="govuk-label govuk-radios__label" for="preparingfoodSelect-2">
      (1b) Needs to use an aid or appliance to be able to either prepare or cook a simple meal
    </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="preparingfoodSelect-3" name="preparingfoodSelect" type="radio" value="(1c) Cannot cook a simple meal using a conventional cooker but is able to do so using a microwave">
        <label class="govuk-label govuk-radios__label" for="preparingfoodSelect-3">
      (1c) Cannot cook a simple meal using a conventional cooker but is able to do so using a microwave
    </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="preparingfoodSelect-4" name="preparingfoodSelect" type="radio" value="(1d) Needs prompting to be able to either prepare or cook a simple meal" {{ checked }}>
        <label class="govuk-label govuk-radios__label" for="preparingfoodSelect-4">
      (1d) Needs prompting to be able to either prepare or cook a simple meal
    </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="preparingfoodSelect-5" name="preparingfoodSelect" type="radio" value="(1e) Needs supervision or assistance to either prepare or cook a simple meal">
        <label class="govuk-label govuk-radios__label" for="preparingfoodSelect-5">
      (1e) Needs supervision or assistance to either prepare or cook a simple meal
    </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="preparingfoodSelect-6" name="preparingfoodSelect" type="radio" value="(1f) Cannot prepare and cook food">
        <label class="govuk-label govuk-radios__label" for="preparingfoodSelect-6">
      (1f) Cannot prepare and cook food
    </label>
      </div>
      <div class="govuk-radios__divider">or</div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="preparingfoodSelect-7" name="preparingfoodSelect" type="radio" value="The claimant has not reported problems with preparing food, and I have not found evidence to suggest otherwise" {{ checked }}>
        <label class="govuk-label govuk-radios__label" for="preparingfoodSelect-7">
          The claimant has not reported problems with preparing food, and I have not found evidence to suggest otherwise
        </label>
      </div>

      <!--fifth radio -->
      {% elseif data["preparingfoodSelect"] == '(1e) Needs supervision or assistance to either prepare or cook a simple meal' %}
      <input class="govuk-radios__input" id="preparingfoodSelect" name="preparingfoodSelect" type="radio" value="(1a) Can prepare and cook a simple meal unaided">
      <label class="govuk-label govuk-radios__label" for="preparingfoodSelect">
    (1a) Can prepare and cook a simple meal unaided
  </label>
    </div>
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="preparingfoodSelect-2" name="preparingfoodSelect" type="radio" value="(1b) Needs to use an aid or appliance to be able to either prepare or cook a simple meal">
      <label class="govuk-label govuk-radios__label" for="preparingfoodSelect-2">
    (1b) Needs to use an aid or appliance to be able to either prepare or cook a simple meal
  </label>
    </div>
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="preparingfoodSelect-3" name="preparingfoodSelect" type="radio" value="(1c) Cannot cook a simple meal using a conventional cooker but is able to do so using a microwave">
      <label class="govuk-label govuk-radios__label" for="preparingfoodSelect-3">
    (1c) Cannot cook a simple meal using a conventional cooker but is able to do so using a microwave
  </label>
    </div>
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="preparingfoodSelect-4" name="preparingfoodSelect" type="radio" value="(1d) Needs prompting to be able to either prepare or cook a simple meal">
      <label class="govuk-label govuk-radios__label" for="preparingfoodSelect-4">
    (1d) Needs prompting to be able to either prepare or cook a simple meal
  </label>
    </div>
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="preparingfoodSelect-5" name="preparingfoodSelect" type="radio" value="(1e) Needs supervision or assistance to either prepare or cook a simple meal" {{ checked }}>
      <label class="govuk-label govuk-radios__label" for="preparingfoodSelect-5">
    (1e) Needs supervision or assistance to either prepare or cook a simple meal
  </label>
    </div>
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="preparingfoodSelect-6" name="preparingfoodSelect" type="radio" value="(1f) Cannot prepare and cook food">
      <label class="govuk-label govuk-radios__label" for="preparingfoodSelect-6">
    (1f) Cannot prepare and cook food
  </label>
    </div>
    <div class="govuk-radios__divider">or</div>
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="preparingfoodSelect-7" name="preparingfoodSelect" type="radio" value="The claimant has not reported problems with preparing food, and I have not found evidence to suggest otherwise" {{ checked }}>
      <label class="govuk-label govuk-radios__label" for="preparingfoodSelect-7">
        The claimant has not reported problems with preparing food, and I have not found evidence to suggest otherwise
      </label>
    </div>

      <!--sixth radio -->
      {% elseif data["preparingfoodSelect"] == '(1f) Cannot prepare and cook food' %}
      <input class="govuk-radios__input" id="preparingfoodSelect" name="preparingfoodSelect" type="radio" value="(1a) Can prepare and cook a simple meal unaided">
      <label class="govuk-label govuk-radios__label" for="preparingfoodSelect">
    (1a) Can prepare and cook a simple meal unaided
  </label>
    </div>
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="preparingfoodSelect-2" name="preparingfoodSelect" type="radio" value="(1b) Needs to use an aid or appliance to be able to either prepare or cook a simple meal">
      <label class="govuk-label govuk-radios__label" for="preparingfoodSelect-2">
    (1b) Needs to use an aid or appliance to be able to either prepare or cook a simple meal
  </label>
    </div>
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="preparingfoodSelect-3" name="preparingfoodSelect" type="radio" value="(1c) Cannot cook a simple meal using a conventional cooker but is able to do so using a microwave">
      <label class="govuk-label govuk-radios__label" for="preparingfoodSelect-3">
    (1c) Cannot cook a simple meal using a conventional cooker but is able to do so using a microwave
  </label>
    </div>
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="preparingfoodSelect-4" name="preparingfoodSelect" type="radio" value="(1d) Needs prompting to be able to either prepare or cook a simple meal">
      <label class="govuk-label govuk-radios__label" for="preparingfoodSelect-4">
    (1d) Needs prompting to be able to either prepare or cook a simple meal
  </label>
    </div>
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="preparingfoodSelect-5" name="preparingfoodSelect" type="radio" value="(1e) Needs supervision or assistance to either prepare or cook a simple meal">
      <label class="govuk-label govuk-radios__label" for="preparingfoodSelect-5">
    (1e) Needs supervision or assistance to either prepare or cook a simple meal
  </label>
    </div>
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="preparingfoodSelect-6" name="preparingfoodSelect" type="radio" value="(1f) Cannot prepare and cook food" {{ checked }}>
      <label class="govuk-label govuk-radios__label" for="preparingfoodSelect-6">
    (1f) Cannot prepare and cook food
  </label>
    </div>

    <div class="govuk-radios__divider">or</div>
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="preparingfoodSelect-7" name="preparingfoodSelect" type="radio" value="The claimant has not reported problems with preparing food, and I have not found evidence to suggest otherwise">
      <label class="govuk-label govuk-radios__label" for="preparingfoodSelect-7">
        The claimant has not reported problems with preparing food, and I have not found evidence to suggest otherwise
      </label>
    </div>

     <!--seventh radio -->
     {% elseif data["preparingfoodSelect"] == 'The claimant has not reported problems with preparing food, and I have not found evidence to suggest otherwise' %}
     <input class="govuk-radios__input" id="preparingfoodSelect" name="preparingfoodSelect" type="radio" value="(1a) Can prepare and cook a simple meal unaided">
     <label class="govuk-label govuk-radios__label" for="preparingfoodSelect">
   (1a) Can prepare and cook a simple meal unaided
 </label>
   </div>
   <div class="govuk-radios__item">
     <input class="govuk-radios__input" id="preparingfoodSelect-2" name="preparingfoodSelect" type="radio" value="(1b) Needs to use an aid or appliance to be able to either prepare or cook a simple meal">
     <label class="govuk-label govuk-radios__label" for="preparingfoodSelect-2">
   (1b) Needs to use an aid or appliance to be able to either prepare or cook a simple meal
 </label>
   </div>
   <div class="govuk-radios__item">
     <input class="govuk-radios__input" id="preparingfoodSelect-3" name="preparingfoodSelect" type="radio" value="(1c) Cannot cook a simple meal using a conventional cooker but is able to do so using a microwave">
     <label class="govuk-label govuk-radios__label" for="preparingfoodSelect-3">
   (1c) Cannot cook a simple meal using a conventional cooker but is able to do so using a microwave
 </label>
   </div>
   <div class="govuk-radios__item">
     <input class="govuk-radios__input" id="preparingfoodSelect-4" name="preparingfoodSelect" type="radio" value="(1d) Needs prompting to be able to either prepare or cook a simple meal">
     <label class="govuk-label govuk-radios__label" for="preparingfoodSelect-4">
   (1d) Needs prompting to be able to either prepare or cook a simple meal
 </label>
   </div>
   <div class="govuk-radios__item">
     <input class="govuk-radios__input" id="preparingfoodSelect-5" name="preparingfoodSelect" type="radio" value="(1e) Needs supervision or assistance to either prepare or cook a simple meal">
     <label class="govuk-label govuk-radios__label" for="preparingfoodSelect-5">
   (1e) Needs supervision or assistance to either prepare or cook a simple meal
 </label>
   </div>
   <div class="govuk-radios__item">
     <input class="govuk-radios__input" id="preparingfoodSelect-6" name="preparingfoodSelect" type="radio" value="(1f) Cannot prepare and cook food">
     <label class="govuk-label govuk-radios__label" for="preparingfoodSelect-6">
   (1f) Cannot prepare and cook food
 </label>
   </div>

   <div class="govuk-radios__divider">or</div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="preparingfoodSelect-7" name="preparingfoodSelect" type="radio" value="The claimant has not reported problems with preparing food, and I have not found evidence to suggest otherwise" {{ checked }}>
        <label class="govuk-label govuk-radios__label" for="preparingfoodSelect-7">
          The claimant has not reported problems with preparing food, and I have not found evidence to suggest otherwise
        </label>
      </div>

     <!--undefined radio -->
     {% elseif data["preparingfoodSelect"] === undefined %}
     <input class="govuk-radios__input" id="preparingfoodSelect" name="preparingfoodSelect" type="radio" value="(1a) Can prepare and cook a simple meal unaided">
     <label class="govuk-label govuk-radios__label" for="preparingfoodSelect">
   (1a) Can prepare and cook a simple meal unaided
 </label>
   </div>
   <div class="govuk-radios__item">
     <input class="govuk-radios__input" id="preparingfoodSelect-2" name="preparingfoodSelect" type="radio" value="(1b) Needs to use an aid or appliance to be able to either prepare or cook a simple meal">
     <label class="govuk-label govuk-radios__label" for="preparingfoodSelect-2">
   (1b) Needs to use an aid or appliance to be able to either prepare or cook a simple meal
 </label>
   </div>
   <div class="govuk-radios__item">
     <input class="govuk-radios__input" id="preparingfoodSelect-3" name="preparingfoodSelect" type="radio" value="(1c) Cannot cook a simple meal using a conventional cooker but is able to do so using a microwave">
     <label class="govuk-label govuk-radios__label" for="preparingfoodSelect-3">
   (1c) Cannot cook a simple meal using a conventional cooker but is able to do so using a microwave
 </label>
   </div>
   <div class="govuk-radios__item">
     <input class="govuk-radios__input" id="preparingfoodSelect-4" name="preparingfoodSelect" type="radio" value="(1d) Needs prompting to be able to either prepare or cook a simple meal">
     <label class="govuk-label govuk-radios__label" for="preparingfoodSelect-4">
   (1d) Needs prompting to be able to either prepare or cook a simple meal
 </label>
   </div>
   <div class="govuk-radios__item">
     <input class="govuk-radios__input" id="preparingfoodSelect-5" name="preparingfoodSelect" type="radio" value="(1e) Needs supervision or assistance to either prepare or cook a simple meal" {{ checked }}>
     <label class="govuk-label govuk-radios__label" for="preparingfoodSelect-5">
   (1e) Needs supervision or assistance to either prepare or cook a simple meal
 </label>
   </div>
   <div class="govuk-radios__item">
     <input class="govuk-radios__input" id="preparingfoodSelect-6" name="preparingfoodSelect" type="radio" value="(1f) Cannot prepare and cook food">
     <label class="govuk-label govuk-radios__label" for="preparingfoodSelect-6">
   (1f) Cannot prepare and cook food
 </label>
   </div>

    <div class="govuk-radios__divider">or</div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="preparingfoodSelect-7" name="preparingfoodSelect" type="radio" value="The claimant has not reported problems with preparing food, and I have not found evidence to suggest otherwise">
        <label class="govuk-label govuk-radios__label" for="preparingfoodSelect-7">
          The claimant has not reported problems with preparing food, and I have not found evidence to suggest otherwise
        </label>
      </div>
    {% endif %}
  </div>
</fieldset>

<div class="govuk-form-group">
  <label class="govuk-label govuk-label--s" for="preparingfoodNotes">
    Justification for preparing food
  </label>

  <textarea class="govuk-textarea govuk-!-margin-bottom-9" id="preparingfoodJustification" name="preparingfoodJustify" rows="15">
    Restrictions reported: 
    
    CQ states standing for long periods causes knee pains, cutting and peeling causes hand pains and swelling, tremor prevents her from lifting saucepans, cutting, peeling and opening tins, has burnt herself, cannot use a tin opener and has left meals uncooked, a lot of the time feels too exhausted to prepare a meal, spills a lot of things due to tremors, cannot drain vegetables or handle saucepans due to subacromial impingement. 

    Previous PA4 suggests aided. FH states poor concentration, forgetfulness, whenever she sees a knife she can get self-harming thoughts, this can be a trigger to engage in self- harming. 

    Recommendation and evidence used to support: 

    It is likely that on the majority of days she needs supervision to be able to prepare and cook a simple meal reliably. 
    Evidence from HOC shows a diagnosis of anxiety and depression for which she usually has 4-5 monthly psychiatry reviews which have been ongoing since the time of diagnosis of mental health conditions, also indicating that she's currently awaiting to have counselling.

    CM section shows partially effective strong dosage of Venlafaxine medication management for her conditions. SOH shows that after terminating work she endured a mental health breakdown episode. FME indicates that anxiety is her main debilitating symptom and she is to be followed up by the mental health team. HOC and MSE establish that whenever feeling very low she engages in self-harming by cutting using knives, sharp objects like scissors and razor blades, she hasn't self-harmed for the past few weeks, triggering factors to the self-harming attempts include whenever she feels overwhelmed, and usually self-harms once every few weeks, if she sees sharp objects she still tries her best to combat her thoughts and wouldn't have intentions or plans to act on the self-harming thoughts. 

    Although acknowledging ability to rationalise her way through the thoughts when exposed to sharp objects, considering the nature of her primary health condition as explained in the HOC, it is likely there is an imminent safety risk around using sharp knives and objects in the kitchen due to reported self-harming thoughts and ideation. Thus it is likely supervision is required for this activity. 

    Reasons why the reported restrictions are not supported by evidence: 

    Despite HOC reporting fainting episodes during which she loses consciousness, HOC also identifies that she gets a 10 minute warning sign prior to getting fainting episodes which allows her enough time to make herself safe prior to such episodes. 
    CM section shows no currently prescribed medication management for her fainting episodes, suggesting no ongoing neurology specialists' reviews/follow-ups or investigations except for cardiology reviews due to her having an inserted loop recorder. 

    HOC establishes no sustained fainting activity for which she isn't prescribed with any rescue medication. SOH establishes no limitations/restrictions on her driving licence, stating that she is still able to drive if required. 
    Thus it is likely that safety risk imposed around this activity in relation to fainting episodes is relatively minimal. 

    Other descriptor supported by some evidence and the reasons why they haven’t been advised:

    Although previous PA4 suggests aided, the following evidence suggests a higher level of restriction. HOC shows a diagnosis of anxiety and depression for which she usually has 4-5 monthly psychiatry reviews which have been ongoing since the time of diagnosis of mental health conditions, also indicating that she's currently awaiting to have counselling. 

    CM section shows partially effective strong dosage of Venlafaxine medication management for her conditions, which has been increased in dosage. FME indicates that anxiety is her main debilitating symptom and she is to be followed up by the mental health team. HOC indicates worsening of her primary condition related symptoms over this past year.

    HOC and MSE establish a safety risk imposed around sharp objects and knives owing to self-harming thoughts and ideation. Thus it is likely supervision is required due to safety risk around using knives in the kitchen. 
  </textarea>
</div>

<!-- </div>

              <button class="govuk-button" data-module="govuk-button">
                Save and continue
              </button> -->
          
          </form>
    </div>
  </div>
  </div>
<!--
    <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="list-convictions-status">Not started</strong>
    <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="submit-pay-status">Cannot start yet</strong>
    <strong class="govuk-tag govuk-tag--blue govuk-prototype-kit-task-list__tag" id="contact-details-status">In progress</strong>
    <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="eligibility-status">Completed</strong>

  -->
  <!-- </div>      
      </div> -->

{% endblock %}