{% extends "layouts/editing.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<style type="text/css">
  .text {
    text-align: left;
    display: block;
    white-space: pre-line;
  }
             
  </style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">

    <a href="evidence?source=evidence" class="govuk-back-link">Back</a>

    {% if data["reviewtimereasons"] === "None" and data["medications-reason"] === "None" and data["washingbathingSelect"]  %} 
    <div class="govuk-error-summary" data-module="govuk-error-summary">
      <div role="alert">
        <h2 class="govuk-error-summary__title">
          There is a problem
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            {% if data["medications-reason"] === "None" or data["medications-reason"] === "" %} 
            <li><a href="medication-change-error">Enter a reason for taking codeine</a></li>
            {% endif %} 
            {% if data["washingbathingSelect"] === undefined %} 
            <li><a href="washingbathing-error?source=Washing and bathing">Select a descriptor for washing and bathing</a></li>
            {% endif %} 
            {% if data["reviewtimereasons"] === "None" or data["reviewtimereasons"] === "" %} 
            <li><a href="review-error?source=Review">Enter a reason for this review period</a></li>
            {% endif %} 
          </ul>
        </div>
      </div>
    </div>

    {% elseif data["reviewtimereasons"] === "None" and data["medications-reason"] and data["washingbathingSelect"]  %} 
    <div class="govuk-error-summary" data-module="govuk-error-summary">
      <div role="alert">
        <h2 class="govuk-error-summary__title">
          There is a problem
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            {% if data["medications-reason"] === "None" or data["medications-reason"] === "" %} 
            <li><a href="medication-change-error">Enter a reason for taking codeine</a></li>
            {% endif %} 
            {% if data["washingbathingSelect"] === undefined %} 
            <li><a href="washingbathing-error?source=Washing and bathing">Select a descriptor for washing and bathing</a></li>
            {% endif %} 
            {% if data["reviewtimereasons"] === "None" or data["reviewtimereasons"] === "" %} 
            <li><a href="review-error?source=Review">Enter a reason for this review period</a></li>
            {% endif %} 
          </ul>
        </div>
      </div>
    </div>

    {% elseif data["reviewtimereasons"] and data["medications-reason"] === "None" and data["washingbathingSelect"]  %} 
    <div class="govuk-error-summary" data-module="govuk-error-summary">
      <div role="alert">
        <h2 class="govuk-error-summary__title">
          There is a problem
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            {% if data["medications-reason"] === "None" or data["medications-reason"] === "" %} 
            <li><a href="medication-change-error">Enter a reason for taking codeine</a></li>
            {% endif %} 
            {% if data["washingbathingSelect"] === undefined %} 
            <li><a href="washingbathing-error?source=Washing and bathing">Select a descriptor for washing and bathing</a></li>
            {% endif %} 
            {% if data["reviewtimereasons"] === "None" or data["reviewtimereasons"] === "" %} 
            <li><a href="review-error?source=Review">Enter a reason for this review period</a></li>
            {% endif %} 
          </ul>
        </div>
      </div>
    </div>

    {% elseif data["washingbathingSelect"] and data["medications-reason"] and data["reviewtimereasons"] %} 

    {% elseif data["washingbathingSelect"] and data["medications-reason"] %} 
    <div class="govuk-error-summary" data-module="govuk-error-summary">
      <div role="alert">
        <h2 class="govuk-error-summary__title">
          There is a problem
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            {% if data["medications-reason"] === "None" or data["medications-reason"] === "" %} 
            <li><a href="medication-change-error">Enter a reason for taking codeine</a></li>
            {% endif %} 
            {% if data["washingbathingSelect"] === undefined %} 
            <li><a href="washingbathing-error?source=Washing and bathing">Select a descriptor for washing and bathing</a></li>
            {% endif %} 
            {% if data["reviewtimereasons"] === "None" or data["reviewtimereasons"] === "" %} 
            <li><a href="review-error?source=Review">Enter a reason for this review period</a></li>
            {% endif %} 
          </ul>
        </div>
      </div>
    </div>

    {% else %} 
    <div class="govuk-error-summary" data-module="govuk-error-summary">
      <div role="alert">
        <h2 class="govuk-error-summary__title">
          There is a problem
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            {% if data["medications-reason"] === "None" or data["medications-reason"] === "" %} 
            <li><a href="medication-change-error">Enter a reason for taking codeine</a></li>
            {% endif %} 
            {% if data["washingbathingSelect"] === undefined %} 
            <li><a href="washingbathing-error?source=Washing and bathing">Select a descriptor for washing and bathing</a></li>
            {% endif %} 
            {% if data["reviewtimereasons"] === "None" or data["reviewtimereasons"] === "" %} 
            <li><a href="review-error?source=Review">Enter a reason for this review period</a></li>
            {% endif %} 
          </ul>
        </div>
      </div>
    </div>

    {% endif %} 
    
  

    <h1 class="govuk-heading-xl">Check answers</h1>


    <h2 class="govuk-heading-l">Evidence</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Evidence used
        </dt>
        <dd class="govuk-summary-list__value">
          Prescription or medication list, 20 May 2024
          GP letter, 12 March 2023
          Factual medical report (FRR2), 18 June 2024
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> name</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
         Other evidence used
        </dt>
        <dd class="govuk-summary-list__value">
          Prescription letters and further evidence to support for medical conditions
        </dd>
        <dd class="govuk-summary-list__actions">
       
        </dd>
      </div>
    </dl>

    <h2 class="govuk-heading-l">Consultation</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
         Consulation date
        </dt>
        <dd class="govuk-summary-list__value">
          30 November 2024
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> name</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Was the claimant's identity verified?
        </dt>
        <dd class="govuk-summary-list__value">
          Yes
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> name</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Did the claimant give consent?
        </dt>
        <dd class="govuk-summary-list__value">
          Yes
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> name</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Additional attendees
        </dt>
        <dd class="govuk-summary-list__value">
          None
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> name</span>
          </a>
        </dd>
      </div>
    </dl>

    <h2 class="govuk-heading-l">History</h2>

    <div>
      <h2 class="govuk-heading-m" style="display: inline-block;">History of condition</h2>
        <a href="#" class="govuk-link govuk-body" style="float: right">Change</a>
    </div>

    <p class="text">
      Primary Condition: Depression and anxiety

              Diagnosis
              Diagnosed in 2000 (had mental health relapses in 2017, 2020 and 2023) by a community mental health team.
              
              Care and management
              She usually has psychiatry appointments with the mental health team, the last time she had a phone consultation was 4-5 months ago, and she's been under their care since the time of diagnosis.

              Symptoms
              Current symptoms she experiences include it is very hard for her to go anywhere, can get very anxious about attending appointments, sometimes feels so low that she doesn't want to get out of bed, doesn't feel motivated to do anything at all, wakes up during the night and is very tired during the day.
              
              Variability
              Daily symptoms she experiences include it is very hard for her to go anywhere, can get very anxious about attending appointments, 
              sometimes feels so low that she doesn't want to get out of bed, doesn't feel motivated to do anything at all, 
              wakes up during the night and is very tired during the day. There is no variation in pattern in terms of symptomatology and every day is described as being the same. 
  
              Progression
              Over the past 12 months these symptoms have been getting worse. 

              Hospital admissions
              Over the past 12 months she last had a hospital admission in December 2020 due to an attempted overdose on medication, and she stayed in hospital for a duration of a day in total for this. 

              Suicidal tendencies
              She's been experiencing suicidal thoughts since the time of her condition diagnosis, she last tried to overdose on medication in December 2020 which required hospitalisation. 
              Currently she still experiences such thoughts, however she wouldn't have intentions or plans to act on the thoughts. 
    </p>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <br>

       <h2 class="govuk-heading-l" id="medicationSection">Medication</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Medication name
          </dt>
          <dd class="govuk-summary-list__value">
            Codeine
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Dosage
          </dt>
          <dd class="govuk-summary-list__value">
            30mg
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Frequency
          </dt>
          <dd class="govuk-summary-list__value">
            Once daily
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>

        {% if data["medications-reason"] === "None" or data["medications-reason"] == "" %} 
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-form-group--error">
            Reason for taking
          </dt>
          <dd class="govuk-summary-list__value">
            <p><b><a href="medication-change-error" class="govuk-link" style="color: #d4351c;">Enter a reason for taking codeine</a></b></p>
          </dd>
          <dd class="govuk-summary-list__actions">
            
          </dd>
        </div>

        {% elseif (data["medications-reason"]) %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Reason for taking
          </dt>
          <dd class="govuk-summary-list__value">
           {{ data["medications-reason"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        {% endif %}

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Effectiveness
          </dt>
          <dd class="govuk-summary-list__value">
            Sometime eases symptoms
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Side effects
          </dt>
          <dd class="govuk-summary-list__value">
            Feel sick
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
    </dl>

  
      <br>

    <div>
    <h2 class="govuk-heading-m" style="display: inline-block;">Social and occupational history</h2>
      <a href="#" class="govuk-link govuk-body" style="float: right">Change</a>
  </div>

   <p class="text">Living arrangements
    Lives with two house mates in a standard shared house (this is not supported living accommodation from mental health institutions).

    Access
    She doesn't access all areas of the house steadily as sometimes due to her physical pains she cannot get upstairs to access her bedroom, tending to sleep on the settee downstairs most of the time. 
    Downstairs she is able to walk around all rooms without difficulties. She holds onto the bannisters and the wall for added support if she had to manage stairs whilst taking one 1 step at a time. 

    Aids and appliances
    She self-purchased a walking stick about 2 years ago to provide additional support when walking, which she has to use at all times to be able to walk safely indoors and outdoors. 
    She doesn't use wheelchairs or mobility scooters for outdoors mobility. 

    Bath and shower
    There is a shower over the bath in the bathroom located upstairs. There is a toilet in the same bathroom. Facilities in the bathroom: Grab rails at the side of the bath (pre-installed in the property upon moving in) 

    Occupation
    She is currently unemployed, last worked 2-3 years ago as a website developer on a part- time basis, over 18 hours weekly. She did this job for about 2.5 years prior to leaving. 
    She had to stop from work owing to reasons unrelated to her mental health conditions, but after a short period after terminating work she had a mental health breakdown. 

    Driving
    She holds a full driving licence, she currently drives a manual, unadapted car. The last time she drove was about 2 weeks ago and she drove locally to look after someone else's cat, whereby she drove about a quarter of a mile. 

    Leisure
    She likes spending time in her garden, tending to spend most of her days sitting outside in the garden.

    Shopping
    Her landlady normally does all the grocery shopping for her and then she gets her food delivered at home for ease and convenience purposes. 

    Housework
    She makes up her bed, but her landlady normally does all the housework duties on her behalf, as she's used to it being done this way.</p>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <br>

      <h2 class="govuk-heading-l">Daily living</h2>
      
      <h3 class="govuk-heading-m">Preparing food</h3>
      <p class="govuk-body">
        <a href="#" class="govuk-link" style="float: right; display: inline;">Change</a>
     </p>
      <h3 class="govuk-heading-s">Functional history for preparing food</h3>
      <p class="text">She is unable to prepare and cook a simple meal from fresh ingredients for 1 person. 
        Her concentration is quite poor and tends to forget switching electric appliances on and off regularly. There have been instances when she's had accidents in the kitchen due to accidently burning herself. </p>

      <h3 class="govuk-heading-s">How well can the claimant prepare food?</h3>
      <p>(1e) Needs supervision or assistance to either prepare or cook a simple meal</p>

      <h3 class="govuk-heading-s">Justification for preparing food</h3>
      <p class="text">Restrictions reported: 
    
        CQ states standing for long periods causes knee pains, cutting and peeling causes hand pains and swelling, tremor prevents her from lifting saucepans, cutting, peeling and opening tins, has burnt herself, cannot use a tin opener and has left meals uncooked, a lot of the time feels too exhausted to prepare a meal, spills a lot of things due to tremors, cannot drain vegetables or handle saucepans due to subacromial impingement. 
    
        Previous PA4 suggests aided. FH states poor concentration, forgetfulness, whenever she sees a knife she can get self-harming thoughts, this can be a trigger to engage in self- harming.   </p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <br>

      
      <h3 class="govuk-heading-m">Taking nutrition</h3>
      <p class="govuk-body">
        <a href="#" class="govuk-link" style="float: right">Change</a>
     </p>
      <h3 class="govuk-heading-s">Functional history for taking nutrition</h3>
      <p class="text">Whenever she has a plate of food in front of her, she can independently convey it to the mouth, chew and swallow, reporting no regular spillage episodes. 

        However she generally eats foods which require her to only use a fork or a spoon with the right hand for ease and convenience purposes as her left hand might cause tremors. 

        She asks someone else to cut up food in small portions to ensure that she doesn't have to use a fork and knife simultaneously as her left hand can have tremors.
         She is able to acknowledge herself whenever she's hungry, but there are times when she forgets to eat due to her mental health conditions. 

         She'd need to be reminded to eat regularly, and once reminded she'd get herself to eat something. She normally eats 1 main meal daily, tending to snack on fruit throughout the day when she feels like. 
      </p>

      <h3 class="govuk-heading-s">How well can the claimant take nutrition?</h3>
      <p>(2a) Can take nutrition unaided</p>

      <h3 class="govuk-heading-s">Justification for taking nutrition</h3>
      <p class="text">Restrictions reported: 

        CQ states due to constant shakes cannot lift food with fork, drops food, if she tries to hold a drink in left hand she spills it, cannot hold a fork and knife to eat, it's difficult to cut meat, forgets to eat due to depression and low mood, around 5 days mostly eats snacks, gets anxious missing meals due to diabetes. FH states at times forgets to eat and would need reminding to get herself to eat something, she generally eats foods which require her to only use a fork or a spoon with the right hand for ease and convenience purposes as her left hand might cause tremors, she asks someone else to cut up food in small portions to ensure that she doesn't have to use a fork and knife simultaneously as her left hand can have tremors. </p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <br>

      <h3 class="govuk-heading-m">Managing therapy</h3>
      <p class="govuk-body">
        <a href="#" class="govuk-link" style="float: right">Change</a>
     </p>
      <h3 class="govuk-heading-s">Functional history for managing therapy</h3>
      <p class="text">She tends to be forgetful about which medication she has to take at which time of day. Normally certain symptoms come on, and this would serve as a reminder to her that she needs to take her tablets.
        She is able to manage pill packets and can administer the tablets with a glass of water independently. She currently has a monthly prescription. She is in control of her medication and tablets are at her disposal.</p>

      <h3 class="govuk-heading-s">How well can the claimant manage therapy or monitor a health condition?</h3>
      <p>(3a) Either does not receive medication or therapy or need to monitor a health condition, or can manage medication or therapy or monitor a health condition unaided</p>

      <h3 class="govuk-heading-s">Justification for managing therapy</h3>
      <p class="text">Restrictions reported: 

        CQ states most mornings forgets to take anti-depressants, forgets to check blood sugars most days, hardly remembers to take Paracetamol unless asked, had to cancel tests and appointments due to anxiety and pain. 
        Previous PA4 suggests unaided. FH states she tends to be forgetful about which medication she has to take at which time of day.</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <br>

      <h3 class="govuk-heading-m">Washing and bathing</h3>

      <div>
        <h3 class="govuk-heading-s" style="display: inline-block;">Functional history for washing and bathing</h3>
        <a href="washingbathing?source=Washing and bathing" class="govuk-link govuk-body" style="float: right">Change</a>
      </div>

      <p class="text">She needs to hold onto the grab rails at the side of the bath to make bathing transfers safely owing to added leverage and stability required due to her physical pains. 

        Normally she has a shower, she sits at the edge of the bath whilst holding onto the grab rails to get in the bath, she then stands in the bath to shower, and whilst standing in the bath she can independently wash her hair, upper body and lower body. 

        Once finished she sits at the edge of the bath and then steps out of the bath whilst holding onto the hand rail. She usually has a wash by the sink on most days, and has a shower once every few days, she is able to determine whenever she needs to have 
        a shower and a wash herself without difficulties, and it approximately takes her 5 minutes to shower each time, which is a normal duration for her. </p>

      {% if data["washingbathingSelect"] === undefined %} 
      <div class="govuk-form-group--error">     
       <div>
        <h3 class="govuk-heading-s" style="display: inline-block;">How well can the claimant wash and bathe?</h3>
        <!-- <a href="washingbathing?source=Washing and bathing" class="govuk-link govuk-body" style="float: right">Add</a> -->
       </div>
       <p><b><a href="washingbathing-error?source=Washing and bathing" class="govuk-link" style="color:#d4351c">Select a descriptor for washing and  bathing</a></b></p>
    </div> 

    {% elseif (data["washingbathingSelect"]) %}
    <div>
      <h3 class="govuk-heading-s" style="display: inline-block;">How well can the claimant wash and bathe?</h3>
      <a href="washingbathing?source=Washing and bathing" class="govuk-link govuk-body" style="float: right">Change</a>
     </div>
      <p>{{data["washingbathingSelect"]}}</p>
    {% endif %}
    <br>

      <h3 class="govuk-heading-s">Justification for washing and bathing</h3>
      <p class="text">Restrictions reported: 

        CQ states having a warm bath helps with stiffness and pain in back, legs and shoulder, has difficulty getting out of the bath, only has a bath rarely when there is someone to help her get out, cannot wash her hair due to left shoulder impingement, cannot lift arm up above shoulder height.
        Previous PA4 suggests aided. FH states needs to hold onto grab rails in and out of the bath to make bathing transfers safely due to pain, she usually has a wash by the sink on most days, and has a shower once every few days.</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <br>

      <h3 class="govuk-heading-m">Managing toilet needs</h3>
      <p class="govuk-body">
        <a href="#" class="govuk-link" style="float: right">Change</a>
     </p>
      <h3 class="govuk-heading-s">Functional history for managing toilet needs</h3>
      <p class="text">She holds onto the nearby sink and the walking stick for added leverage and support to steadily get on and off the toilet due to her physical pains. 
        Otherwise she can attend to her hygiene needs and can maintain hygiene and cleanliness throughout without difficulties. 

        Sometimes she can get an upset stomach and would need to use the toilet urgently, and due to her knee pains restricting mobility she wouldn't be able to reach the toilet on time appropriately and this can cause accidents. </p>

      <h3 class="govuk-heading-s">How well can the claimant manage toilet needs?</h3>
      <p>(5b) Needs to use an aid or appliance to be able to manage toilet needs or incontinence </p>

      <h3 class="govuk-heading-s">Justification for managing toilet needs</h3>
      <p class="text">Restrictions reported: 

        CQ states gets pain and diarrhea if she has gluten and dairy, has to be close to a toilet and sometimes has accidents before she gets there, it's hard to stand up after sitting on the toilet due to knee pain and stiffness. Previous PA4 suggests aided. 
        FH states difficulties getting to the toilet on time due to knee pains can cause accidents, holds onto the nearby sink and uses the walking stick on and off the toilet for added leverage.</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <br>

      <h3 class="govuk-heading-m">Dressing and undressing</h3>
      <p class="govuk-body">
        <a href="#" class="govuk-link" style="float: right">Change</a>
     </p>
      <h3 class="govuk-heading-s">Functional history for dressing and undressing</h3>
      <p class="text">She is physically capable of putting on and taking off t-shirts, shirts, sweaters and tops independently without difficulties. 
        She tends to find managing zips, fastenings and buttons a bit fiddly due to her hand pains and possibly having swollen fingers. She needs to be sitting down to put on and take off trousers, socks and shoes, for lower half items once sat down she leans forwards to reach down to her feet and lifts her knees closer to her chest in sitting, depending on which position is mostly comfortable.</p>

      <h3 class="govuk-heading-s">How well can the claimant dress or undress?</h3>
      <p>(6a) Can dress and undress unaided</p>

      <h3 class="govuk-heading-s">Justification for managing dressing and undressing</h3>
      <p class="text">Restrictions reported: 

        CQ states has problems dressing daily, shoulder is stiff and painful, doesn't have full range of movement, cannot do zips at the back or bras, 5 days out 7 days cannot tie trainers or laces, cannot put arm up to wear a jumper. 

        FH states takes a long time to dress to allow for joint stiffness to ease in the morning, managing buttons can be fiddly due to hand pains, for lower half items once sat down she leans forwards to reach down to her feet and lifts her knees closer to her chest in sitting, depending on which position is mostly comfortable.</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <br>

      <h3 class="govuk-heading-m">Communicating verbally</h3>
      <p class="govuk-body">
        <a href="#" class="govuk-link" style="float: right">Change</a>
     </p>
      <h3 class="govuk-heading-s">Functional history for communicating verbally</h3>
      <p class="text">She does not express any significant issues with verbal communication, speaking and hearing. Normally she can speak to people, can understand what is being said and can maintain a conversation going without difficulties. </p>

      <h3 class="govuk-heading-s">How well can the claimant communicate verbally?</h3>
      <p>(7a) Can express and understand verbal information unaided</p>

      <h3 class="govuk-heading-s">Justification for communicating verbally</h3>
      <p class="text">Restrictions reported: 

        CQ states when anxious and depressed cannot fully take in what people are saying, most of the time closes down because of the overload, has poor memory, tries to write notes down to remember, when listening to instructions never remembers them and has to be asked to be taken through them 1 by 1, attention isn't very good. 
        FH states she does not express any significant issues with verbal communication, speaking and hearing. </p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <br>

      <h3 class="govuk-heading-m">Reading and understanding signs, symbols and words</h3>
      <p class="govuk-body">
        <a href="#" class="govuk-link" style="float: right">Change</a>
     </p>
      <h3 class="govuk-heading-s">Functional history for reading and understanding signs, symbols and words</h3>
      <p class="text">She is able to read and understand basic and complex written information and sentences without difficulties. If she receives official documentation, letters and correspondence she wouldn't require complex information to be broken down into simple text for her to make sense out of what she's just read. She can easily distinguish between signs and symbols in roads and public places. 
      </p>

      <h3 class="govuk-heading-s">How well can the claimant read and understand signs, symbols and words?</h3>
      <p>(8a) Can read and understand basic and complex written information either unaided or using spectacles or contact lenses 
      </p>

      <h3 class="govuk-heading-s">Justification for reading and understanding signs, symbols and words</h3>
      <p class="text">Restrictions reported: 

        CQ states lines get mixed up and she doesn't remember what she's read, cannot focus. FH states she can read and understand basic and complex written information and sentences without difficulties.</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <br>

      <h3 class="govuk-heading-m">Engaging face to face</h3>
      <p class="govuk-body">
        <a href="#" class="govuk-link" style="float: right">Change</a>
     </p>
      <h3 class="govuk-heading-s">Functional history for engaging face to face</h3>
      <p class="text">She feels confident interacting with her friends and people she know well. She doesn't interact with people she doesn't know as she can feel uncomfortable and overwhelmed due to mental health reasons. 
        If she is to interact with a new person face to face, she'd need to be notified of the meeting beforehand so that she mentally prepares herself for the actual encounter, and she would also need any friend or close relative support her before, during and after she meets that person to ensure that she remains calm and composed.</p>

      <h3 class="govuk-heading-s">How well can the claimant engage face to face?</h3>
      <p>(9a) Can engage with other people unaided</p>
     
      <h3 class="govuk-heading-s">Justification for engaging face to face</h3>
      <p class="text">Restrictions reported: 

        CQ states cannot go in crowds or where there is a lot of people as this causes stress and anxiety, gets anxious, panicky and cannot speak when meeting new people, avoids such situations if possible, has a small group of friends who she sees occasionally but cannot meet anyone else.</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <br>

      <h3 class="govuk-heading-m">Budgeting</h3>
      <p class="govuk-body">
        <a href="#" class="govuk-link" style="float: right">Change</a>
     </p>
      <h3 class="govuk-heading-s">Functional history for budgeting</h3>
      <p class="text">She has a good understanding of money and is aware of how money works. She is aware of the concept of money, the value of things and the need to budget for future purchases.</p>

      <h3 class="govuk-heading-s">How well can the claimant budget?</h3>
      <p>(10a) Can manage complex budgeting decisions unaided</p>

      <h3 class="govuk-heading-s">Justification for budgeting</h3>
      <p class="text">Restrictions reported: 

        CQ states gets anxious about money and bills, due to depression and anxiety she doesn't have a clear head and she cannot plan, support worker and husband help with bills, gets overloaded and has panic attacks. FH states understands how money works.</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <br>

      <h3 class="govuk-heading-m">Daily living qualifying period and prospective test</h3>
      <p>{{data["recommendation-daily-living"]}}</p>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Has the claimant had the functional restriction for at least 3 months?
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Is the claimant likely to have the functional restriction in 9 months?
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> date of birth</span>
            </a>
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-l">Mobility</h2>

      <h3 class="govuk-heading-m">Planning and following journeys</h3>
      <p class="govuk-body">
        <a href="#" class="govuk-link" style="float: right">Change</a>
     </p>
      <h3 class="govuk-heading-s">Functional history for planning and following journeys</h3>
      <p class="text">She usually gets a lift to attend for appointments, as she's used to it being done this way. She usually goes out to the countryside accompanied by her friend once every couple of weeks.</p>

      <h3 class="govuk-heading-s">How well can the claimant plan and follow journeys?</h3>
      <p>(11a) Can plan and follow the route of a journey unaided</p>

      <h3 class="govuk-heading-s">Justification for planning and following journeys</h3>
      <p class="text">Restrictions reported: 

        CQ states gets frightened about having a panic attack at the thought of leaving the house, asks husband or relatives to do the shopping, is usually fine in known places but if the route changes or she gets lost gets extremely anxious, panicky, cannot breathe and feels sick, is not comfortable approaching anyone for directions, cannot follow a map if anxious, gets distressed about missing a turn, usually doesn't go to new places due to anxiety. FH states she usually gets a lift to attend for appointments, as she's used to it being done this way.</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <br>

      <h3 class="govuk-heading-m">Moving around</h3>
      <p class="govuk-body">
        <a href="#" class="govuk-link" style="float: right">Change</a>
     </p>
      <h3 class="govuk-heading-s">Functional history for moving around</h3>
      <p class="text">She can comfortably cover up to 30 metres prior to needing to stop, it would approximately take her 5 minutes to walk such distance, and she'd need to stop owing to knee pains especially in the left knee.
        She would then need to have a rest break of about 5 minutes in a seated position until the pain subsides to a certain extent, prior to being able to repeat this same distance as tolerated, but sometimes she wouldn't be able to repeat it again due to her knee pains.</p>

      <h3 class="govuk-heading-s">How well can the claimant move around?</h3>
      <p>(12c) Can stand and then move unaided more than 20 metres but no more than 50 metres</p>

      <h3 class="govuk-heading-s">Justification for moving around</h3>
      <p class="text">Restrictions reported:

        CQ states less than 20 metres, has knee stiffness, pain, inflammation and instability moving from sitting to standing, uses walking stick and knee brace with metal hinges and without these she cannot walk, it's painful going up and down stairs due to pain and weakness, walks quite slowly as left knee is unstable and gives way, has fallen quite a lot recently. Previous PA4 suggests 50-200 metres. 
        FH states 30 metres take 5 minutes to cover, she then stops for a 5 minute rest break due to knee pains, and can then repeat this same distance as tolerated prior to exhaustion but sometimes due to pain she wouldn't be able to repeat this distance.</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <br>

      <h3 class="govuk-heading-m">Mobility qualifying period and prospective test</h3>
      <p>{{data["recommendation-mobility"]}}</p>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Has the claimant had the functional restriction for at least 3 months?
          </dt>
          <dd class="govuk-summary-list__value">
              Yes
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Is the claimant likely to have the functional restriction in 9 months?
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> date of birth</span>
            </a>
          </dd>
        </div>
      </dl>


      <h2 class="govuk-heading-l">Observations</h2>

     <div>
      <h3 class="govuk-heading-m" style="display: inline-block;">Mental state observations</h3>
        <a href="#" class="govuk-link govuk-body" style="float: right; display: inline;">Change</a>
    </div>
     <p class="text">Behaviour
      She managed to maintain a calm and relaxed behaviour whilst managing to establish an appropriate rapport with the assessor. She was keen on participating and was happy to provide elaborate answers to the questions asked.

      Mood
      Her mood appeared to be stable and euthymic throughout. Initially she appeared to be tearful when explaining about details in relation to her health conditions, however this sensation quickly resolved as the assessment proceeded, once she felt more at ease opening up about her health conditions.

      Suicidal thoughts
      She's been experiencing suicidal thoughts since the time of her mental health condition diagnosis, she last tried to overdose on medication in December 2020 which required hospitalisation. Currently she still experiences such thoughts, however she wouldn't have intentions or plans to act on the thoughts. 
      Her mental health team are aware of these thoughts and past suicidal attempt.</p>
    
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <br>

      <h3 class="govuk-heading-m">Informal observations</h3>
      <p class="govuk-body">
        <a href="#" class="govuk-link" style="float: right">Change</a>
     </p>
     <p class="text">She was able to concentrate throughout the assessment with no signs of fatigue or irritability.</p>
    
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <br>

      

      <h2 class="govuk-heading-l">Recommendation</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Recommended future review period
          </dt>
          <dd class="govuk-summary-list__value">
            18 months
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
    
    {% if data["reviewtimereasons"] === "None" or data["reviewtimereasons"] == "" %} 
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-form-group--error">
            Reason for this review period
          </dt>
          <dd class="govuk-summary-list__value">
            <b><a href="review-error?source=Review" class="govuk-link" style="color:#d4351c">Enter a reason for this review period</a></b>
          </dd>
          <dd class="govuk-summary-list__actions">
            <!-- <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> reveiw period reason</span>
            </a> -->
          </dd>
        </div>
        {% else %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Reason for this review period
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["reviewtimereasons"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="review?source=Review">
              Change<span class="govuk-visually-hidden"> reveiw period reason</span>
            </a>
          </dd>
        </div>
        {% endif %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Is it likely that the functional restriction will still be present when reviewed?
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> restriction</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Do they need additional support for future claims processes?
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden">additional support</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Does the claimant meet the criteria for special rules?
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> special rules</span>
            </a>
          </dd>
        </div>
      </dl>

     
      <div class="govuk-inset-text">
        No harmful information has been included in this report.
      </div>
    
  
    <form action="submit.html" method="get" novalidate>
      <input type="hidden" name="answers-checked" value="true">
      <button class="govuk-button" data-module="govuk-button">
        Submit report
      </button>
    </form>

  </div>      
      </div>

{% endblock %}
