{% extends "layouts/side-nav-validation.html" %}


{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% set containerClasses = "full-width-container" %}

{% block content_left %}

<style type="text/css">
  .govuk-textarea {
    text-align: left;
    display: block;
    white-space: pre-line;
  }
             
  </style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="#" method="post" id="auto-redirect">
    <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <span class="govuk-caption-xl"></span>
        <h1 class="govuk-fieldset__heading">
          Social and occupational history
        </h1>
      </legend>
<br>
<br>
  
  <div class="govuk-form-group">
    <div class="govuk-form-group">
      <label class="govuk-label" for="home-live-in">
       <b>Type of home and living situation</b>
      </label>
      <textarea class="govuk-textarea" id="home-live-with" name="home-live-in" rows="4">Lives with two house mates in a standard shared house (this is not supported living accommodation from mental health institutions).</textarea>
    </div>  

    <div class="govuk-form-group">
      <div class="govuk-form-group">
        <label class="govuk-label" for="home-live-in">
         <b>Caring responsibilities</b>
        </label>
        <textarea class="govuk-textarea" id="home-live-with" name="home-live-in" rows="4">She usually has psychiatry appointments with the mental health team, the last time she had a phone consultation was 4-5 months ago, and she's been under their care since the time of diagnosis.</textarea>
      </div>  

    <label class="govuk-label" for="access-home-areas">
      <b>Aids, appliances and adaptations</b>
    </label>
    <textarea class="govuk-textarea" id="access-home-areas" name="aids-adaptations" rows="4">She self-purchased a walking stick about 2 years ago to provide additional support when walking, which she has to use at all times to be able to walk safely indoors and outdoors. 
      She doesn't use wheelchairs or mobility scooters for outdoors mobility. </textarea>
  </div>      

  <div class="govuk-form-group">
    <label class="govuk-label" for="work-study">
      <b>Work and education</b>
    </label>
    <textarea class="govuk-textarea" id="work-study" name="work-education" rows="4">She is currently unemployed, last worked 2-3 years ago as a website developer on a part- time basis, over 18 hours weekly. She did this job for about 2.5 years prior to leaving. 
      She had to stop from work owing to reasons unrelated to her mental health conditions, but after a short period after terminating work she had a mental health breakdown.</textarea>
 </div> 

 <div class="govuk-form-group">
  <label class="govuk-label" for="getting-around">
    <b>Driving and getting around</b>
  </label>
  <textarea class="govuk-textarea" id="getting-around" name="getting-around" rows="4">She holds a full driving licence, she currently drives a manual, unadapted car. The last time she drove was about 2 weeks ago and she drove locally to look after someone else's cat, whereby she drove about a quarter of a mile. </textarea>
</div>
  
  <div class="govuk-form-group">
    <label class="govuk-label" for="everyday-activities">
      <b>Shopping and housework</b>
    </label>
    <textarea class="govuk-textarea" id="everyday-activities" name="shopping-housework" rows="4">Her landlady normally does all the grocery shopping for her and then she gets her food delivered at home for ease and convenience purposes.</textarea>
  </div>      
  
  <div class="govuk-form-group">
    <label class="govuk-label" for="spending-spare-time">
      <b>Hobbies and spare time</b>
    </label>
    <textarea class="govuk-textarea" id="spending-spare-time" name="spare-time" rows="4">She likes spending time in her garden, tending to spend most of her days sitting outside in the garden.</textarea>
  </div> 
 

   

       

  <br>
  <br>

  <div class="govuk-form-group">
    <label class="govuk-label" for="additional-social-history">
     <b>Additional social and occupational history</b>
    </label>
    <textarea class="govuk-textarea" id="additional-social-history" name="additional-social-history" rows="4">{{data["additional-social-history"]}}</textarea>
  </div>  

      
    </div>

      </form>

  </fieldset>
  </form>
  </div>      

{% endblock %}
