{% extends "layouts/side-nav-validation.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% set containerClasses = "full-width-container" %}
{% block content_left %}

<style type="text/css">
  .govuk-textarea {
    text-align: left;
    display: block;
    white-space: pre-line;
  }
             
  </style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-error-summary" data-module="govuk-error-summary">
      <div role="alert">
        <h2 class="govuk-error-summary__title">
          There is a problem
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <li>
              <a href="#">Select a descriptor for washing and bathing</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <a href="javascript:history.back()" class="govuk-back-link">Back</a>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Washing and bathing</h1>
      </div>
    </div>

    <form action="#" method="post" id="auto-redirect">
              
              

        <div class="govuk-form-group">
            <label class="govuk-label govuk-label--s" for="washingbathingNotes">
              Functional history for washing and bathing
            </label>
          
          
            <textarea class="govuk-textarea govuk-!-margin-bottom-9" id="washingbathingNotes" name="washingbathingNotes" rows="15">She needs to hold onto the grab rails at the side of the bath to make bathing transfers safely owing to added leverage and stability required due to her physical pains. 

              Normally she has a shower, she sits at the edge of the bath whilst holding onto the grab rails to get in the bath, she then stands in the bath to shower, and whilst standing in the bath she can independently wash her hair, upper body and lower body. 
      
              Once finished she sits at the edge of the bath and then steps out of the bath whilst holding onto the hand rail. She usually has a wash by the sink on most days, and has a shower once every few days, she is able to determine whenever she needs to have 
              a shower and a wash herself without difficulties, and it approximately takes her 5 minutes to shower each time, which is a normal duration for her. </textarea>
          </div>
          <div class="govuk-form-group govuk-form-group--error">

            <fieldset class="govuk-fieldset govuk-!-margin-bottom-9">
            
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
            
              Which of these describes how well the claimant can wash and bathe?
            
            </legend>
            
            <p id="whereDoYouLive-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> Select a descriptor for washing and bathing
            </p>
            <div class="govuk-radios">
              
              {% if data["washingbathingSelect"] == '(4a) Can wash and bathe unaided' %}
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="washingbathingSelect" name="washingbathingSelect" type="radio" value="(4a) Can wash and bathe unaided" {{ checked }}>
                    <label class="govuk-label govuk-radios__label" for="washingbathingSelect">
                  (4a) Can wash and bathe unaided
                </label>
                </div>
                
                  
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="washingbathingSelect-2" name="washingbathingSelect" type="radio" value="(4b) Needs to use an aid or appliance to be able to wash or bathe">
                    <label class="govuk-label govuk-radios__label" for="washingbathingSelect-2">
                  (4b) Needs to use an aid or appliance to be able to wash or bathe
                </label>
                  </div>
    
                  
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="washingbathingSelect-3" name="washingbathingSelect" type="radio" value="(4c) Needs supervision or prompting to be able to wash or bathe">
                    <label class="govuk-label govuk-radios__label" for="washingbathingSelect-3">
                  (4c) Needs supervision or prompting to be able to wash or bathe
                </label>
                  </div>
        
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="washingbathingSelect-4" name="washingbathingSelect" type="radio" value="(4d) Needs assistance to be able to wash either their hair or body below the waist">
                    <label class="govuk-label govuk-radios__label" for="washingbathingSelect-4">
                  (4d) Needs assistance to be able to wash either their hair or body below the waist
                </label>
                  </div>
        
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="washingbathingSelect-5" name="washingbathingSelect" type="radio" value="(4e) Needs assistance to be able to get in or out of a bath or shower">
                    <label class="govuk-label govuk-radios__label" for="washingbathingSelect-5">
                  (4e) Needs assistance to be able to get in or out of a bath or shower
                </label>
                  </div>
           
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="washingbathingSelect-6" name="washingbathingSelect" type="radio" value="(4f) Needs assistance to be able to wash their body between the shoulders and waist">
                    <label class="govuk-label govuk-radios__label" for="washingbathingSelect-6">
                  (4f) Needs assistance to be able to wash their body between the shoulders and waist
                </label>
                  </div>
 
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="washingbathingSelect-7" name="washingbathingSelect" type="radio" value="(4g) Cannot wash and bathe at all and needs another person to wash their entire body">
                    <label class="govuk-label govuk-radios__label" for="washingbathingSelect-7">
                  (4g) Cannot wash and bathe at all and needs another person to wash their entire body
                </label>
                  </div>

                  {% elseif data["washingbathingSelect"] == '(4b) Needs to use an aid or appliance to be able to wash or bathe' %}
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="washingbathingSelect" name="washingbathingSelect" type="radio" value="(4a) Can wash and bathe unaided">
                    <label class="govuk-label govuk-radios__label" for="washingbathingSelect">
                  (4a) Can wash and bathe unaided
                </label>
                </div>
                
                  
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="washingbathingSelect-2" name="washingbathingSelect" type="radio" value="(4b) Needs to use an aid or appliance to be able to wash or bathe" {{ checked }}>
                    <label class="govuk-label govuk-radios__label" for="washingbathingSelect-2">
                  (4b) Needs to use an aid or appliance to be able to wash or bathe
                </label>
                  </div>
    
                  
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="washingbathingSelect-3" name="washingbathingSelect" type="radio" value="(4c) Needs supervision or prompting to be able to wash or bathe">
                    <label class="govuk-label govuk-radios__label" for="washingbathingSelect-3">
                  (4c) Needs supervision or prompting to be able to wash or bathe
                </label>
                  </div>
        
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="washingbathingSelect-4" name="washingbathingSelect" type="radio" value="(4d) Needs assistance to be able to wash either their hair or body below the waist">
                    <label class="govuk-label govuk-radios__label" for="washingbathingSelect-4">
                  (4d) Needs assistance to be able to wash either their hair or body below the waist
                </label>
                  </div>
        
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="washingbathingSelect-5" name="washingbathingSelect" type="radio" value="(4e) Needs assistance to be able to get in or out of a bath or shower">
                    <label class="govuk-label govuk-radios__label" for="washingbathingSelect-5">
                  (4e) Needs assistance to be able to get in or out of a bath or shower
                </label>
                  </div>
           
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="washingbathingSelect-6" name="washingbathingSelect" type="radio" value="(4f) Needs assistance to be able to wash their body between the shoulders and waist">
                    <label class="govuk-label govuk-radios__label" for="washingbathingSelect-6">
                  (4f) Needs assistance to be able to wash their body between the shoulders and waist
                </label>
                  </div>
 
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="washingbathingSelect-7" name="washingbathingSelect" type="radio" value="(4g) Cannot wash and bathe at all and needs another person to wash their entire body">
                    <label class="govuk-label govuk-radios__label" for="washingbathingSelect-7">
                  (4g) Cannot wash and bathe at all and needs another person to wash their entire body
                </label>
                  </div>
              
                  {% elseif data["washingbathingSelect"] == '(4c) Needs supervision or prompting to be able to wash or bathe' %}
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="washingbathingSelect" name="washingbathingSelect" type="radio" value="(4a) Can wash and bathe unaided">
                    <label class="govuk-label govuk-radios__label" for="washingbathingSelect">
                  (4a) Can wash and bathe unaided
                </label>
                </div>
                
                  
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="washingbathingSelect-2" name="washingbathingSelect" type="radio" value="(4b) Needs to use an aid or appliance to be able to wash or bathe">
                    <label class="govuk-label govuk-radios__label" for="washingbathingSelect-2">
                  (4b) Needs to use an aid or appliance to be able to wash or bathe
                </label>
                  </div>
    
                  
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="washingbathingSelect-3" name="washingbathingSelect" type="radio" value="(4c) Needs supervision or prompting to be able to wash or bathe" {{ checked }}>
                    <label class="govuk-label govuk-radios__label" for="washingbathingSelect-3">
                  (4c) Needs supervision or prompting to be able to wash or bathe
                </label>
                  </div>
        
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="washingbathingSelect-4" name="washingbathingSelect" type="radio" value="(4d) Needs assistance to be able to wash either their hair or body below the waist">
                    <label class="govuk-label govuk-radios__label" for="washingbathingSelect-4">
                  (4d) Needs assistance to be able to wash either their hair or body below the waist
                </label>
                  </div>
        
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="washingbathingSelect-5" name="washingbathingSelect" type="radio" value="(4e) Needs assistance to be able to get in or out of a bath or shower">
                    <label class="govuk-label govuk-radios__label" for="washingbathingSelect-5">
                  (4e) Needs assistance to be able to get in or out of a bath or shower
                </label>
                  </div>
           
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="washingbathingSelect-6" name="washingbathingSelect" type="radio" value="(4f) Needs assistance to be able to wash their body between the shoulders and waist">
                    <label class="govuk-label govuk-radios__label" for="washingbathingSelect-6">
                  (4f) Needs assistance to be able to wash their body between the shoulders and waist
                </label>
                  </div>
 
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="washingbathingSelect-7" name="washingbathingSelect" type="radio" value="(4g) Cannot wash and bathe at all and needs another person to wash their entire body">
                    <label class="govuk-label govuk-radios__label" for="washingbathingSelect-7">
                  (4g) Cannot wash and bathe at all and needs another person to wash their entire body
                </label>
                  </div>

                  {% elseif data["washingbathingSelect"] == '(4d) Needs assistance to be able to wash either their hair or body below the waist' %}
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="washingbathingSelect" name="washingbathingSelect" type="radio" value="(4a) Can wash and bathe unaided">
                    <label class="govuk-label govuk-radios__label" for="washingbathingSelect">
                  (4a) Can wash and bathe unaided
                </label>
                </div>
                
                  
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="washingbathingSelect-2" name="washingbathingSelect" type="radio" value="(4b) Needs to use an aid or appliance to be able to wash or bathe">
                    <label class="govuk-label govuk-radios__label" for="washingbathingSelect-2">
                  (4b) Needs to use an aid or appliance to be able to wash or bathe
                </label>
                  </div>
    
                  
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="washingbathingSelect-3" name="washingbathingSelect" type="radio" value="(4c) Needs supervision or prompting to be able to wash or bathe">
                    <label class="govuk-label govuk-radios__label" for="washingbathingSelect-3">
                  (4c) Needs supervision or prompting to be able to wash or bathe
                </label>
                  </div>
        
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="washingbathingSelect-4" name="washingbathingSelect" type="radio" value="(4d) Needs assistance to be able to wash either their hair or body below the waist" {{ checked }}>
                    <label class="govuk-label govuk-radios__label" for="washingbathingSelect-4">
                  (4d) Needs assistance to be able to wash either their hair or body below the waist
                </label>
                  </div>
        
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="washingbathingSelect-5" name="washingbathingSelect" type="radio" value="(4e) Needs assistance to be able to get in or out of a bath or shower">
                    <label class="govuk-label govuk-radios__label" for="washingbathingSelect-5">
                  (4e) Needs assistance to be able to get in or out of a bath or shower
                </label>
                  </div>
           
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="washingbathingSelect-6" name="washingbathingSelect" type="radio" value="(4f) Needs assistance to be able to wash their body between the shoulders and waist">
                    <label class="govuk-label govuk-radios__label" for="washingbathingSelect-6">
                  (4f) Needs assistance to be able to wash their body between the shoulders and waist
                </label>
                  </div>
 
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="washingbathingSelect-7" name="washingbathingSelect" type="radio" value="(4g) Cannot wash and bathe at all and needs another person to wash their entire body">
                    <label class="govuk-label govuk-radios__label" for="washingbathingSelect-7">
                  (4g) Cannot wash and bathe at all and needs another person to wash their entire body
                </label>
                  </div>

                  {% elseif data["washingbathingSelect"] == '(4e) Needs assistance to be able to get in or out of a bath or shower' %}
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="washingbathingSelect" name="washingbathingSelect" type="radio" value="(4a) Can wash and bathe unaided">
                    <label class="govuk-label govuk-radios__label" for="washingbathingSelect">
                  (4a) Can wash and bathe unaided
                </label>
                </div>
                
                  
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="washingbathingSelect-2" name="washingbathingSelect" type="radio" value="(4b) Needs to use an aid or appliance to be able to wash or bathe">
                    <label class="govuk-label govuk-radios__label" for="washingbathingSelect-2">
                  (4b) Needs to use an aid or appliance to be able to wash or bathe
                </label>
                  </div>
    
                  
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="washingbathingSelect-3" name="washingbathingSelect" type="radio" value="(4c) Needs supervision or prompting to be able to wash or bathe">
                    <label class="govuk-label govuk-radios__label" for="washingbathingSelect-3">
                  (4c) Needs supervision or prompting to be able to wash or bathe
                </label>
                  </div>
        
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="washingbathingSelect-4" name="washingbathingSelect" type="radio" value="(4d) Needs assistance to be able to wash either their hair or body below the waist">
                    <label class="govuk-label govuk-radios__label" for="washingbathingSelect-4">
                  (4d) Needs assistance to be able to wash either their hair or body below the waist
                </label>
                  </div>
        
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="washingbathingSelect-5" name="washingbathingSelect" type="radio" value="(4e) Needs assistance to be able to get in or out of a bath or shower" {{ checked }}>
                    <label class="govuk-label govuk-radios__label" for="washingbathingSelect-5">
                  (4e) Needs assistance to be able to get in or out of a bath or shower
                </label>
                  </div>
           
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="washingbathingSelect-6" name="washingbathingSelect" type="radio" value="(4f) Needs assistance to be able to wash their body between the shoulders and waist">
                    <label class="govuk-label govuk-radios__label" for="washingbathingSelect-6">
                  (4f) Needs assistance to be able to wash their body between the shoulders and waist
                </label>
                  </div>
 
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="washingbathingSelect-7" name="washingbathingSelect" type="radio" value="(4g) Cannot wash and bathe at all and needs another person to wash their entire body">
                    <label class="govuk-label govuk-radios__label" for="washingbathingSelect-7">
                  (4g) Cannot wash and bathe at all and needs another person to wash their entire body
                </label>
                  </div>

                  {% elseif data["washingbathingSelect"] == '(4f) Needs assistance to be able to wash their body between the shoulders and waist' %}
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="washingbathingSelect" name="washingbathingSelect" type="radio" value="(4a) Can wash and bathe unaided">
                    <label class="govuk-label govuk-radios__label" for="washingbathingSelect">
                  (4a) Can wash and bathe unaided
                </label>
                </div>
                
                  
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="washingbathingSelect-2" name="washingbathingSelect" type="radio" value="(4b) Needs to use an aid or appliance to be able to wash or bathe">
                    <label class="govuk-label govuk-radios__label" for="washingbathingSelect-2">
                  (4b) Needs to use an aid or appliance to be able to wash or bathe
                </label>
                  </div>
    
                  
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="washingbathingSelect-3" name="washingbathingSelect" type="radio" value="(4c) Needs supervision or prompting to be able to wash or bathe">
                    <label class="govuk-label govuk-radios__label" for="washingbathingSelect-3">
                  (4c) Needs supervision or prompting to be able to wash or bathe
                </label>
                  </div>
        
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="washingbathingSelect-4" name="washingbathingSelect" type="radio" value="(4d) Needs assistance to be able to wash either their hair or body below the waist">
                    <label class="govuk-label govuk-radios__label" for="washingbathingSelect-4">
                  (4d) Needs assistance to be able to wash either their hair or body below the waist
                </label>
                  </div>
        
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="washingbathingSelect-5" name="washingbathingSelect" type="radio" value="(4e) Needs assistance to be able to get in or out of a bath or shower">
                    <label class="govuk-label govuk-radios__label" for="washingbathingSelect-5">
                  (4e) Needs assistance to be able to get in or out of a bath or shower
                </label>
                  </div>
           
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="washingbathingSelect-6" name="washingbathingSelect" type="radio" value="(4f) Needs assistance to be able to wash their body between the shoulders and waist" {{ checked }}>
                    <label class="govuk-label govuk-radios__label" for="washingbathingSelect-6">
                  (4f) Needs assistance to be able to wash their body between the shoulders and waist
                </label>
                  </div>
 
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="washingbathingSelect-7" name="washingbathingSelect" type="radio" value="(4g) Cannot wash and bathe at all and needs another person to wash their entire body">
                    <label class="govuk-label govuk-radios__label" for="washingbathingSelect-7">
                  (4g) Cannot wash and bathe at all and needs another person to wash their entire body
                </label>
                  </div>

                  {% elseif data["washingbathingSelect"] == '(4g) Cannot wash and bathe at all and needs another person to wash their entire body' %}
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="washingbathingSelect" name="washingbathingSelect" type="radio" value="(4a) Can wash and bathe unaided">
                    <label class="govuk-label govuk-radios__label" for="washingbathingSelect">
                  (4a) Can wash and bathe unaided
                </label>
                </div>
                
                  
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="washingbathingSelect-2" name="washingbathingSelect" type="radio" value="(4b) Needs to use an aid or appliance to be able to wash or bathe">
                    <label class="govuk-label govuk-radios__label" for="washingbathingSelect-2">
                  (4b) Needs to use an aid or appliance to be able to wash or bathe
                </label>
                  </div>
    
                  
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="washingbathingSelect-3" name="washingbathingSelect" type="radio" value="(4c) Needs supervision or prompting to be able to wash or bathe">
                    <label class="govuk-label govuk-radios__label" for="washingbathingSelect-3">
                  (4c) Needs supervision or prompting to be able to wash or bathe
                </label>
                  </div>
        
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="washingbathingSelect-4" name="washingbathingSelect" type="radio" value="(4d) Needs assistance to be able to wash either their hair or body below the waist">
                    <label class="govuk-label govuk-radios__label" for="washingbathingSelect-4">
                  (4d) Needs assistance to be able to wash either their hair or body below the waist
                </label>
                  </div>
        
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="washingbathingSelect-5" name="washingbathingSelect" type="radio" value="(4e) Needs assistance to be able to get in or out of a bath or shower">
                    <label class="govuk-label govuk-radios__label" for="washingbathingSelect-5">
                  (4e) Needs assistance to be able to get in or out of a bath or shower
                </label>
                  </div>
           
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="washingbathingSelect-6" name="washingbathingSelect" type="radio" value="(4f) Needs assistance to be able to wash their body between the shoulders and waist">
                    <label class="govuk-label govuk-radios__label" for="washingbathingSelect-6">
                  (4f) Needs assistance to be able to wash their body between the shoulders and waist
                </label>
                  </div>
 
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="washingbathingSelect-7" name="washingbathingSelect" type="radio" value="(4g) Cannot wash and bathe at all and needs another person to wash their entire body" {{ checked }}>
                    <label class="govuk-label govuk-radios__label" for="washingbathingSelect-7">
                  (4g) Cannot wash and bathe at all and needs another person to wash their entire body
                </label>
                  </div>

                  {% elseif data["washingbathingSelect"] === undefined %}
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="washingbathingSelect" name="washingbathingSelect" type="radio" value="(4a) Can wash and bathe unaided">
                    <label class="govuk-label govuk-radios__label" for="washingbathingSelect">
                  (4a) Can wash and bathe unaided
                </label>
                </div>
                
                  
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="washingbathingSelect-2" name="washingbathingSelect" type="radio" value="(4b) Needs to use an aid or appliance to be able to wash or bathe">
                    <label class="govuk-label govuk-radios__label" for="washingbathingSelect-2">
                  (4b) Needs to use an aid or appliance to be able to wash or bathe
                </label>
                  </div>
    
                  
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="washingbathingSelect-3" name="washingbathingSelect" type="radio" value="(4c) Needs supervision or prompting to be able to wash or bathe">
                    <label class="govuk-label govuk-radios__label" for="washingbathingSelect-3">
                  (4c) Needs supervision or prompting to be able to wash or bathe
                </label>
                  </div>
        
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="washingbathingSelect-4" name="washingbathingSelect" type="radio" value="(4d) Needs assistance to be able to wash either their hair or body below the waist">
                    <label class="govuk-label govuk-radios__label" for="washingbathingSelect-4">
                  (4d) Needs assistance to be able to wash either their hair or body below the waist
                </label>
                  </div>
        
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="washingbathingSelect-5" name="washingbathingSelect" type="radio" value="(4e) Needs assistance to be able to get in or out of a bath or shower">
                    <label class="govuk-label govuk-radios__label" for="washingbathingSelect-5">
                  (4e) Needs assistance to be able to get in or out of a bath or shower
                </label>
                  </div>
           
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="washingbathingSelect-6" name="washingbathingSelect" type="radio" value="(4f) Needs assistance to be able to wash their body between the shoulders and waist">
                    <label class="govuk-label govuk-radios__label" for="washingbathingSelect-6">
                  (4f) Needs assistance to be able to wash their body between the shoulders and waist
                </label>
                  </div>
 
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="washingbathingSelect-7" name="washingbathingSelect" type="radio" value="(4g) Cannot wash and bathe at all and needs another person to wash their entire body">
                    <label class="govuk-label govuk-radios__label" for="washingbathingSelect-7">
                  (4g) Cannot wash and bathe at all and needs another person to wash their entire body
                </label>
                  </div>
                  {% endif %}

            </div>

          </fieldset>
        </div>

          <div class="govuk-form-group">
            <label class="govuk-label govuk-label--s" for="washingJustify">
              Justification for washing and bathing
            </label>
          
            <textarea class="govuk-textarea govuk-!-margin-bottom-9" id="washingJustification" name="washingJustify" rows="15">Restrictions reported: 

              CQ states having a warm bath helps with stiffness and pain in back, legs and shoulder, has difficulty getting out of the bath, only has a bath rarely when there is someone to help her get out, cannot wash her hair due to left shoulder impingement, cannot lift arm up above shoulder height.
              Previous PA4 suggests aided. FH states needs to hold onto grab rails in and out of the bath to make bathing transfers safely due to pain, she usually has a wash by the sink on most days, and has a shower once every few days.</textarea>
          </div>

          
                   
          <!-- <button class="govuk-button" data-module="govuk-button">
            Save and continue
          </button> -->
          
          </form>
    </div>

      </form>
      </div>
<!--
    <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="list-convictions-status">Not started</strong>
    <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="submit-pay-status">Cannot start yet</strong>
    <strong class="govuk-tag govuk-tag--blue govuk-prototype-kit-task-list__tag" id="contact-details-status">In progress</strong>
    <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="eligibility-status">Completed</strong>

  -->


{% endblock %}
