{% extends "layouts/layout-split-banner.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <a href="javascript:history.back()" class="govuk-back-link">Back</a>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Select a daily living qualifying period and prospective test</h1>
      </div>
    </div>

    <form action="#" method="post" novalidate="">
              
              

        <div class="govuk-form-group">

            <fieldset class="govuk-fieldset" aria-describedby="dl-hint">
            
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
            
              Has the claimant had the functional restriction for at least 3 months?
            
            </legend>
              
            <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                   
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="dl" name="dl" type="radio" value="Yes">
                    <label class="govuk-label govuk-radios__label" for="dl">
                  Yes
                </label>
                    
                  </div>

                  
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="dl-2" name="dl" type="radio" value="No" aria-controls="conditional-dl-2" aria-expanded="false">
                    <label class="govuk-label govuk-radios__label" for="dl-2">
                  No
                </label>
                    
                  </div>
                  
                    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-dl-2">
                      
              
          
          <div class="govuk-form-group">
            <label class="govuk-label govuk-label--s" for="part-not-met-dl">
              Qualifying period details
            </label>
          
          
            <textarea class="govuk-textarea" id="part-not-met-dl" name="part-not-met-dl" rows="5"></textarea>
          </div>
          
              
                    </div>
                  
                  
                
              
                
                  
                  
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="dl-3" name="dl" type="radio" value="No daily living restriction found">
                    <label class="govuk-label govuk-radios__label" for="dl-3">
                  No daily living restriction found
                </label>
                    
                  </div>
                  
                  
                
              
            </div>
            
          
          </fieldset>
          
          
          </div>

<div class="govuk-form-group">

  <fieldset class="govuk-fieldset" aria-describedby="dl9-hint">
  
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
  
    Is the claimant likely to have the functional restriction in 9 months?
  
  </legend>


  <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
    
      
          
        
        
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="dl9" name="dl9" type="radio" value="Yes">
          <label class="govuk-label govuk-radios__label" for="dl9">
        Yes
      </label>
          
        </div>
        
        
      
    
      
        
        
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="dl9-2" name="dl9" type="radio" value="No" aria-controls="conditional-dl9-2" aria-expanded="false">
          <label class="govuk-label govuk-radios__label" for="dl9-2">
        No
      </label>
          
        </div>
        
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-dl9-2">
            
      

<div class="govuk-form-group">
  <label class="govuk-label govuk-label--s" for="9part-not-met-dl">
    Prospective test details
  </label>


  <textarea class="govuk-textarea" id="9part-not-met-dl" name="9part-not-met-dl" rows="5"></textarea>
</div>

      
          </div>
        
        
      
    
      
        
        
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="dl9-3" name="dl9" type="radio" value="No daily living restriction found">
          <label class="govuk-label govuk-radios__label" for="dl9-3">
        No daily living restriction found
      </label>
          
        </div>
        
        
      
    
  </div>
  

</fieldset>


</div>          <button class="govuk-button" data-module="govuk-button">
  Save and continue
</button>
          
          </form>
    </div>

      </form>
<!--
    <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="list-convictions-status">Not started</strong>
    <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="submit-pay-status">Cannot start yet</strong>
    <strong class="govuk-tag govuk-tag--blue govuk-prototype-kit-task-list__tag" id="contact-details-status">In progress</strong>
    <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="eligibility-status">Completed</strong>

  -->
  </div>      
      </div>

{% endblock %}
