{% extends "layouts/split-histories.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">

    <a href="ta-task-list2.html" class="govuk-back-link">Back</a>
    
    <span class="govuk-caption-xl">PIP telephone assessment</span>
    <h1 class="govuk-heading-l">
       History
    </h1>


    <form action="cya-history" method="get">
      <label class="govuk-label" for="event-name">
          History of condition
         </label>
       <div class="govuk-form-group">
      <textarea class="govuk-textarea" id="history-condition" name="history-of-condition-prep" rows="15" aria-describedby="history-condition-hint"></textarea>
    </div>
    <label class="govuk-label" for="event-name">
     Current medication or treatment
    </label>
    <div class="govuk-form-group">
      </h1>
      <textarea class="govuk-textarea" id="meds-treatment" name="meds-treatment-prep" rows="15" aria-describedby="more-detail-hint"></textarea>
    </div>
    <div class="govuk-form-group">
      <h1 class="govuk-label-wrapper">
        <label class="govuk-label" for="more-detail">
         Social and occupational history
        </label>
      </h1>
      <textarea class="govuk-textarea" id="social-history" name="social-history-prep" rows="15" aria-describedby="more-detail-hint"></textarea>
    </div>
        <div class="govuk-button-group">
  
        </div><button class="govuk-button" data-module="govuk-button">
          Save and continue
        </button>
      </div>
  
        </form>

      
  <div class="govuk-grid-column-one-half">
    
    <h1 class="govuk-heading-l">Claimant documents</h1>


    <a href="javascript:history.back()" class="govuk-back-link">Back to claimant documents</a>



      
    <iframe class="document" src="/public/pdfs/cq-2.pdf" title="PIP2 document"></iframe><br>
    <br>
  </div>     

  </div> 
     
      </div>
  </div>

{% endblock %}
