{% extends "layouts/evidence-without-sidenav.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        Report submitted
      </h1>
    </div>
    <br>
    <h2 class="govuk-heading-m">What to do next</h2>

    <p class="govuk-body">Go back to <a class="govuk-link" href="workflow-versions">referral overview</a>.</p>

     <p class="govuk-body"><a class="govuk-link" href="report-TDM">View report</a></p>

  </div>      



{% endblock %}
