<div id="document-list">
  <h1 class="govuk-heading-l">Claimant documents</h1>

  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

  <table class="govuk-table" data-module="moj-sortable-table" aria-describedby="last-updated">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header column-width-20" aria-sort="none">Document type</th>
        <th scope="col" class="govuk-table__header column-width-20" aria-sort="none">Document label</th>
        <th scope="col" class="govuk-table__header column-width-10" aria-sort="none">Benefit type</th>
        <th scope="col" class="govuk-table__header column-width-15" aria-sort="none">Date of document</th>
        <th scope="col" class="govuk-table__header column-width-15" aria-sort="descending">Date DWP received</th>
        <th scope="col" class="govuk-table__header column-width-20" aria-sort="none">Latest document activity</th>
      </tr>
    </thead>

    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          {# if adding a new document - make sure the link has a class of document-link and the data-url is set to the correct document #}
          <a class="reco-document documentLinks document-link" data-url="/public/pdfs/PIP2-test-scenario.pdf" href="#">Claimant questionaire</a>
        </td>
        <td class="govuk-table__cell">PIP2 questionaire</td>
        <td class="govuk-table__cell">PIP</td>
        <td class="govuk-table__cell" data-sort-value="8/06/23">9 September 2020</td>
        <td class="govuk-table__cell" data-sort-value="9/06/23">13 September 2020</td>
        <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">New document</strong></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          {# if adding a new document - make sure the link has a class of document-link and the data-url is set to the correct document #}
          <a class="reco-document documentLinks document-link" data-url="/public/pdfs/cq-2.pdf" href="#">Careplan</a>
        </td>
        <td class="govuk-table__cell"></td>
        <td class="govuk-table__cell">PIP</td>
        <td class="govuk-table__cell" data-sort-value="8/06/23">23 June 2023</td>
        <td class="govuk-table__cell" data-sort-value="9/06/23">10 August 2019</td>
        <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">New document</strong></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          {# if adding a new document - make sure the link has a class of document-link and the data-url is set to the correct document #}
          <a class="reco-document documentLinks document-link" data-url="/public/pdfs/cq-2.pdf" href="#">Hospital letter 1</a>
        </td>
        <td class="govuk-table__cell"></td>
        <td class="govuk-table__cell">PIP</td>
        <td class="govuk-table__cell" data-sort-value="8/06/23">19 August 2019</td>
        <td class="govuk-table__cell" data-sort-value="9/06/23">11 September 2019</td>
        <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">New document</strong></td>
      </tr>
    </tbody>
  </table>
</div>
<div id="document-display" hidden=true>
  <a href="#" id="document-back-link" class="govuk-back-link">Back to claimant documents</a>
  <iframe id="document-iframe" class="document" src="about:blank"></iframe>
  <br>
</div>

<script>
const listElement = document.getElementById('document-list');
const displayElement = document.getElementById('document-display');
const documentDisplay = document.getElementById('document-iframe');

const backLink = document.getElementById('document-back-link');

const documentLinks = document.getElementsByClassName('document-link');

function showDocument(event) {
  event.preventDefault();
  documentDisplay.src = 'about:blank';
  listElement.hidden = true;
  displayElement.hidden = false;
  documentDisplay.src = event.target.dataset.url;
}

if (documentLinks.length > 0) {
  Array.from(documentLinks).forEach((element) => element.addEventListener('click', showDocument));

  backLink.addEventListener('click', (event) => {
    event.preventDefault();
    listElement.hidden = false;
    displayElement.hidden = true;
    documentDisplay.src = 'about:blank';
  });
}
</script>