{% extends "layouts/layout-ta.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <a href="javascript:history.back()" class="govuk-back-link">Back</a>
    

<form action="cya-phone" method="get">
  <div class="govuk-form-group">
    <span class="govuk-caption-xl"></span>
    <h1 class="govuk-label-wrapper">
      <label class="govuk-label govuk-label--l" for="more-detail">
       Mental state observations
      </label>
      <div id="passport-issued-hint" class="govuk-hint">
        This can include general cognition, behaviour, speech and mood
      </div>
    </h1>
    <textarea class="govuk-textarea" id="mental-state" name="mental-state" rows="7" aria-describedby="history-condition-hint"></textarea>
  </div>

  <div class="govuk-form-group">
    <h1 class="govuk-label-wrapper">
      <label class="govuk-label govuk-label--l" for="more-detail">
       Physical state observations
      </label>
      <div id="passport-issued-hint" class="govuk-hint">
        This can include breathlessness, tiredness, or signs they are in pain
      </div>
    </h1>
    <textarea class="govuk-textarea" id="observations" name="observations" rows="7" aria-describedby="history-condition-hint"></textarea>
  </div>

      <div class="govuk-button-group">
      </div><button class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>
    </div>

      </form>
<!--
    <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="list-convictions-status">Not started</strong>
    <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="submit-pay-status">Cannot start yet</strong>
    <strong class="govuk-tag govuk-tag--blue govuk-prototype-kit-task-list__tag" id="contact-details-status">In progress</strong>
    <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="eligibility-status">Completed</strong>

  -->
  </div>      
      </div>

{% endblock %}
