{% extends "layouts/layout-split-banner-SREL.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content_left %}

<style>
   .govuk-summary-list__actions {
    width: 25%;
    padding-right: 0;
    text-align: right;
  }
</style>

<a href="javascript:history.back()" class="govuk-back-link">Back</a>

        <span class="govuk-caption-xl"></span>
        <h1 class="govuk-heading-l">
          Check medical conditions
        </h1>
        
        <dl class="govuk-summary-list">
        {% for query in data['queriesCondition'] %}          
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Condition
            </dt>
            <dd class="govuk-summary-list__value">
              {{ query.condition }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <ul class="govuk-summary-list__actions-list">
                <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="#">
                      Change<span class="govuk-visually-hidden">change condition</span>
                  </a></li>
                <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="remove-condition?condition={{query.condition}}">
                    Remove<span class="govuk-visually-hidden">remove condition</span>
                  </a></li>
              </ul>
            </dd>
          </div>
         
          {% endfor %}
        </dl>

<form action="#" method="post">
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h2 class="govuk-fieldset__heading">
         Add another condition?
        </h2>
      </legend>
      <div class="govuk-radios" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="add-yes" name="anotherCondition" type="radio" value="Yes">
          <label class="govuk-label govuk-radios__label" for="add-yes">
            Yes
          </label>
        </div>

        <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="add-no" name="anotherCondition" type="radio" value="No">
            <label class="govuk-label govuk-radios__label" for="add-no">
            No
            </label>
          </div>
        </div>
    </fieldset>
  </div>
  <div class="govuk-button-group">

      <button class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>
    </div>

      </form>
<!--
    <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="list-convictions-status">Not started</strong>
    <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="submit-pay-status">Cannot start yet</strong>
    <strong class="govuk-tag govuk-tag--blue govuk-prototype-kit-task-list__tag" id="contact-details-status">In progress</strong>
    <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="eligibility-status">Completed</strong>

  -->

{% endblock %}
