{% extends "layouts/layout-split-banner-SREL.html" %}


{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content_left %}

<a href="javascript:history.back()" class="govuk-back-link">Back</a>
    
    <h1 class="govuk-heading-l">Evidence</h1>

    <div class="govuk-error-summary" data-module="govuk-error-summary">
      <div role="alert">
        <h2 class="govuk-error-summary__title">
          There is a problem
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <li>
              <a href="#">Date of DS1500 must include a month and year</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <h2 class="govuk-heading-m">Select the evidence you have used</h2>

    <form action="#" method="post">

      <div class="govuk-form-group">
           <fieldset class="govuk-fieldset">
        
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">    
        </legend>

        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
      
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input autosave" id="evidenceusedpip" name="evidenceusedpip" type="checkbox" value="DS1500" data-aria-controls="conditional-evidence">
            <label class="govuk-label govuk-checkboxes__label" for="evidenceusedpip">
        DS1500
        </label>
          </div>
          <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden govuk-form-group--error" id="conditional-evidence">
              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" role="group" aria-describedby="evidence-date-hint">
                  <div id="passport-issued-hint govuk-form-group--error" class="govuk-hint">
                    For example, 27 3 2007
                  </div>
                  <div class="govuk-date-input govuk-form-group--error" id="evidence-issued">
                    <p id="passport-issued-error" class="govuk-error-message">
                      <span class="govuk-visually-hidden">Error:</span> Date of DS1500 must include a month and year
                    </p>
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="evidence-issued-day">
                          Day
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="evidence-issued-day" type="text" inputmode="numeric">
                      </div>
                    </div>
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="evidence-issued-month">
                          Month
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-2 govuk-input--error" id="evidence-issued-month" name="evidence-issued-month" type="text" inputmode="numeric">
                      </div>
                    </div>
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="evidence-issued-year">
                          Year
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-4 govuk-input--error" id="evidence-issued-year" name="evidence-issued-year" type="text" inputmode="numeric">
                      </div>
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>
        
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input autosave" id="evidenceusedpip-2" name="evidenceusedpip" type="checkbox" value="SR1" data-aria-controls="conditional-evidence-2">
            <label class="govuk-label govuk-checkboxes__label" for="evidenceusedpip-2">
        SR1
        </label>
          </div>
          <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-evidence-2">
            <div class="govuk-form-group">
              <label class="govuk-label" for="contact-by-email">
                Date of SR1
              </label>
              <input class="govuk-input govuk-!-width-one-third" id="contact-by-email" name="document-date" type="text" spellcheck="false" autocomplete="email">
            </div>
            </div>
          
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input autosave" id="evidenceusedpip-3" name="evidenceusedpip" type="checkbox" value="Claimant questionnaire" data-aria-controls="conditional-evidence-3">
            <label class="govuk-label govuk-checkboxes__label" for="evidenceusedpip-3">
        Claimant questionnaire
        </label>
          </div>

          <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-evidence-3">
            <div class="govuk-form-group">
              <label class="govuk-label" for="contact-by-email">
                Date of claimant questionnaire
              </label>
              <input class="govuk-input govuk-!-width-one-third" id="contact-by-email" name="document-date" type="text" spellcheck="false" autocomplete="email">
            </div>
            </div>
   
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input autosave" id="evidenceusedpip-4" name="evidenceusedpip" type="checkbox" value="GP factual report" data-aria-controls="conditional-evidence-4">
            <label class="govuk-label govuk-checkboxes__label" for="evidenceusedpip-4">
       GP factual report
            </label>
          </div>
          
          <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-evidence-4">
            <div class="govuk-form-group">
              <label class="govuk-label" for="contact-by-email">
                Date of GP factual report
              </label>
              <input class="govuk-input govuk-!-width-one-third" id="contact-by-email" name="document-date" type="text" spellcheck="false" autocomplete="email">
            </div>
            </div>

          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input autosave" id="evidenceusedpip-5" name="evidenceusedpip" type="checkbox" value="GP letter" data-aria-controls="conditional-evidence-5">
            <label class="govuk-label govuk-checkboxes__label" for="evidenceusedpip-5">
        GP letter
        </label>
          </div>
 
          <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-evidence-5">
            <div class="govuk-form-group">
              <label class="govuk-label" for="contact-by-email">
                Date of GP letter
              </label>
              <input class="govuk-input govuk-!-width-one-third" id="contact-by-email" name="document-date" type="text" spellcheck="false" autocomplete="email">
            </div>
            </div>
  
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input autosave" id="evidenceusedpip-6" name="evidenceusedpip" type="checkbox" value="Consultant letter" data-aria-controls="conditional-evidence-6">
            <label class="govuk-label govuk-checkboxes__label" for="evidenceusedpip-6">
        Consultant letter
        </label>
          </div>

          <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-evidence-6">
            <div class="govuk-form-group">
              <label class="govuk-label" for="contact-by-email">
                Date of consultant letter
              </label>
              <input class="govuk-input govuk-!-width-one-third" id="contact-by-email" name="document-date" type="text" spellcheck="false" autocomplete="email">
            </div>
            </div>
     
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input autosave" id="evidenceusedpip-7" name="evidenceusedpip" type="checkbox" value="Hospital doctor letter" data-aria-controls="conditional-evidence-7">
            <label class="govuk-label govuk-checkboxes__label" for="evidenceusedpip-7">
        Hospital doctor letter
            </label>
          </div>
 
          <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-evidence-7">
            <div class="govuk-form-group">
              <label class="govuk-label" for="contact-by-email">
                Date of hospital doctor letter
              </label>
              <input class="govuk-input govuk-!-width-one-third" id="contact-by-email" name="document-date" type="text" spellcheck="false" autocomplete="email">
            </div>
            </div>
        
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input autosave" id="evidenceusedpip-8" name="evidenceusedpip" type="checkbox" value="Specialist nurse letter" data-aria-controls="conditional-evidence-8">
            <label class="govuk-label govuk-checkboxes__label" for="evidenceusedpip-8">
        Specialist nurse letter
        </label>
          </div>
          
        
          <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-evidence-8">
            <div class="govuk-form-group">
              <label class="govuk-label" for="contact-by-email">
                Date of specalist nurse letter
              </label>
              <input class="govuk-input govuk-!-width-one-third" id="contact-by-email" name="document-date" type="text" spellcheck="false" autocomplete="email">
            </div>
            </div>
        
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input autosave" id="evidenceusedpip-9" name="evidenceusedpip" type="checkbox" value="Careplan" data-aria-controls="conditional-evidence-9">
            <label class="govuk-label govuk-checkboxes__label" for="evidenceusedpip-9">
       Careplan
        </label>
          </div>

          <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-evidence-9">
            <div class="govuk-form-group">
              <label class="govuk-label" for="contact-by-email">
                Date of careplan
              </label>
              <input class="govuk-input govuk-!-width-one-third" id="contact-by-email" name="document-date" type="text" spellcheck="false" autocomplete="email">
            </div>
            </div>

          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input autosave" id="evidenceusedpip-10" name="evidenceusedpip" type="checkbox" value="PIP assessment report" data-aria-controls="conditional-evidence-10">
            <label class="govuk-label govuk-checkboxes__label" for="evidenceusedpip-10">
            PIP assessment report
        </label>
          </div>

          <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-evidence-10">
            <div class="govuk-form-group">
              <label class="govuk-label" for="contact-by-email">
                Date of PIP assessment report
              </label>
              <input class="govuk-input govuk-!-width-one-third" id="contact-by-email" name="document-date" type="text" spellcheck="false" autocomplete="email">
            </div>
            </div>
        
        </div>

           </fieldset>
          </div>
    
      
        

  <div class="govuk-form-group">
  <label class="govuk-label govuk-label--s" for="other-evidence">
  Any other evidence used
  </label>
<textarea class="govuk-textarea autosave" id="other-evidence" name="other-evidence" rows="4">{{data["other-evidence"]}}</textarea>
</div>

<button class="govuk-button" data-module="govuk-button">
Save and continue
</button>


    </form>

{% endblock %}
