{% extends "layouts/layout-split-banner-SREL.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">

    <a href="javascript:history.back()" class="govuk-back-link">Back</a>
    
    <h1 class="govuk-heading-xl">Health assessment report</h1>

    <div class="govuk-inset-text">
      No harmful information has been included in this report
    </div>

    <h2 class="govuk-heading-l">Evidence used</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-5">
        {% for evidence in data['evidenceusedpip'] %}
        <h2 class="govuk-heading-m">{{ evidence }}</h2>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of {{ evidence }}
          </dt>
          <dd class="govuk-summary-list__value">
            12 December 2023
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="evidence">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        <br>
        {% endfor %}
        </dl>
        
        {% if (data['other-evidence']) %}
        <h3 class="govuk-heading-m" style="margin-top:-5%;">Other evidence used</h3>
            <p class="govuk-body">
              <a href="evidence" class="govuk-link" style="float: right">Change</a>
          </p>
          <p>{{data["other-evidence"]}}</p>
     
       <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        {% elseif (data['other-evidence'] !== ' ') %}
    
        {% endif %}

 
  {% if (data['shortCall'] == 'Yes') %}
  <h2 class="govuk-heading-l">Short call</h2>
  {% for query in data['queriesShortcall'] %}

    <h3 class="govuk-heading-m">Who did you call?</h3>
      <p class="govuk-body">
        <a href="shortcall" class="govuk-link" style="float: right">Change</a>
     </p>
      <p> {{ query.callName }}</p>    

      <h3 class="govuk-heading-m">Consultation notes</h3>
      <p class="govuk-body">
        <a href="shortcall" class="govuk-link" style="float: right">Change</a>
     </p>
      <p> {{ query.consultationNotes }}</p>    

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      {% endfor %}

      {% else %}
      {% endif %}

      <br>
      <h2 class="govuk-heading-l">Diagnosis and prognosis</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Is the claimant aware of their diagnosis?     
        </dt>
        <dd class="govuk-summary-list__value">
          {{data["diagnosis"]}}
        </dd>
        <dd class="govuk-summary-list__actions">
          <ul class="govuk-summary-list__actions-list">
            <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="diagnosis">
                  Change<span class="govuk-visually-hidden"> contact details</span>
              </a></li>
          </ul>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Is the claimant aware of their prognosis?     
        </dt>
        <dd class="govuk-summary-list__value">
          {{data["prognosis"]}}
        </dd>
        <dd class="govuk-summary-list__actions">
          <ul class="govuk-summary-list__actions-list">
            <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="prognosis">
                  Change<span class="govuk-visually-hidden"> contact details</span>
              </a></li>
          </ul>
        </dd>
      </div>
    </dl>
 
    <h2 class="govuk-heading-l">Medical conditions</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      
      {% for query in data['queriesCondition'] %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Condition       
        </dt>
        <dd class="govuk-summary-list__value">
          {{ query.condition }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <ul class="govuk-summary-list__actions-list">
            <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="conditions">
                  Change<span class="govuk-visually-hidden"> contact details</span>
              </a></li>
            <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="#">
                Remove<span class="govuk-visually-hidden"> contact details</span>
              </a></li>
          </ul>
        </dd>
      </div>
   {% endfor %}
    </dl>


    <h2 class="govuk-heading-l">Special rules eligibility</h2>
   
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
     <div class="govuk-summary-list__row">
       <dt class="govuk-summary-list__key">
        Does the claimant meet the criteria for special rules?
       </dt>
       <dd class="govuk-summary-list__value">
         {{data["specialRules"]}}
       </dd>
       <dd class="govuk-summary-list__actions">
         <a class="govuk-link" href="special-rules">
           Change<span class="govuk-visually-hidden"> name</span>
         </a>
       </dd>
     </div>
  </dl>

  <h3 class="govuk-heading-s" style="margin-top:-5%;">Justification for special rules</h3>
     <p class="govuk-body">
      <a href="mobility" class="govuk-link" style="float: right">Change</a>
   </p>
          <p>{{data["justification-sr"]}}</p>
     
       <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
     <div class="govuk-summary-list__row">
       <dt class="govuk-summary-list__key">
         Special rules date
       </dt>
       <dd class="govuk-summary-list__value">
         {{data["srel-date-day"]}}  {{data["srel-date-month"]}}  {{data["srel-date-year"]}}
       </dd>
       <dd class="govuk-summary-list__actions">
         <a class="govuk-link" href="special-rules-date">
           Change<span class="govuk-visually-hidden"> name</span>
         </a>
       </dd>
     </div> 
   </dl>


      <h2 class="govuk-heading-l">Mobility</h2>

      <h3 class="govuk-heading-m">Planning and following journeys</h3>
      <p class="govuk-body">
        <a href="mobility" class="govuk-link" style="float: right">Change</a>
     </p>
      
      <h3 class="govuk-heading-s">How well can the claimant plan and follow journeys?</h3>
      <p>{{data["mobility-one"]}}</p>

      <h3 class="govuk-heading-s">Justification for planning and following journeys</h3>
     
      <p>{{data["justification-planning"]}}</p>   

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <br>

      <h3 class="govuk-heading-m">Moving around</h3>
      <p class="govuk-body">
        <a href="mobility" class="govuk-link" style="float: right">Change</a>
     </p>
     
      <h3 class="govuk-heading-s">How well can the claimant move around?</h3>
      <p>{{data["mobility-two"]}}</p>

  <h3 class="govuk-heading-s">Justification for moving around</h3>
 
  <p>{{data["justification-moving"]}}</p>

  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
</dl>

<!-- <dl class="govuk-summary-list govuk-!-margin-bottom-9">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Is this information harmful?</dt>
    <dd class="govuk-summary-list__value">
      {{data["justificationHarmfulInfo"]}}
    </dd>
    <dd class="govuk-summary-list__actions">
      <ul class="govuk-summary-list__actions-list">
        <a class="govuk-link" href="#">
          Change<span class="govuk-visually-hidden"> name</span>
        </a>
      </ul>
    </dd>
  </div>
</dl> -->


  
    <form action="#" method="post" novalidate>
      <input type="hidden" name="answers-checked" value="true">
      <button class="govuk-button" data-module="govuk-button">
       Submit report
      </button>
    </form>
 
  </div>      
      </div>

{% endblock %}
