{% extends "layouts/layout-split-banner-SREL.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">

    <a href="javascript:history.back()" class="govuk-back-link">Back</a>
    
    <h1 class="govuk-heading-xl">Harmful information report</h1>

    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-visually-hidden">Warning: </span>
        Do not share this report with the claimant.
      </strong>
    </div>

    <h2 class="govuk-heading-l">Claimant details</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-5">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Name
        </dt>
        <dd class="govuk-summary-list__value">
          Kelly Hall
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          National Insurance number
        </dt>
        <dd class="govuk-summary-list__value">
          RN 00 01 23 A
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Date of birth
        </dt>
        <dd class="govuk-summary-list__value">
          31 December 1999
        </dd>
      </div>
      <br>
      </dl>
      

      <h2 class="govuk-heading-l">Assessment details</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-5">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date report was completed
          </dt>
          <dd class="govuk-summary-list__value">
            20 January 2024
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Benefit
          </dt>
          <dd class="govuk-summary-list__value">
            Personal Independence Payment
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Assessment type
          </dt>
          <dd class="govuk-summary-list__value">
            Special rules
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Healthcare professional
          </dt>
          <dd class="govuk-summary-list__value">
            Aldo Raine
          </dd>
        </div>
        <br>
        </dl>
      

    <h2 class="govuk-heading-l">Evidence</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-5">
        <h3 class="govuk-heading-m">SR1</h3>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of SR1
          </dt>
          <dd class="govuk-summary-list__value">
            12 December 2023
          </dd>
        </div>
        <br>
        </dl>

        <dl class="govuk-summary-list govuk-!-margin-bottom-5">
          <h3 class="govuk-heading-m">Consultant letter</h3>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date of consultant letter
            </dt>
            <dd class="govuk-summary-list__value">
              19 December 2023
            </dd>
          </div>
          <br>
          </dl>

          <dl class="govuk-summary-list govuk-!-margin-bottom-5">
            <h3 class="govuk-heading-m">Specialist nurse letter</h3>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Date of specialist nurse letter
              </dt>
              <dd class="govuk-summary-list__value">
                4 January 2024
              </dd>
            </div>
            <br>
            </dl>

        {% if (data['other-evidence']) %}
        <h3 class="govuk-heading-m" style="margin-top:-5%;">Other evidence used</h3>
            <p class="govuk-body">
          </p>
          <p>{{data["other-evidence"]}}</p>
     
       <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        {% elseif (data['other-evidence'] !== ' ') %}
    
        {% endif %}


  <h2 class="govuk-heading-l">Short calls</h2>

    <h3 class="govuk-heading-m">Who was called?</h3>
      <p class="govuk-body">
     </p>
      <p>Dr. A Cula</p>    

      <h3 class="govuk-heading-m">Relationship to claimant</h3>
      <p class="govuk-body">
     </p>
      <p>Their GP</p>    

      <h3 class="govuk-heading-m">Consultation notes</h3>
    
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>    

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
   

      <br>
      <br>

      <h2 class="govuk-heading-l">Diagnosis and prognosis</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Is the claimant aware of their diagnosis?     
        </dt>
        <dd class="govuk-summary-list__value">
         No
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Is the claimant aware of their prognosis?     
        </dt>
        <dd class="govuk-summary-list__value">
         No
        </dd>
      </div>
    </dl>

    <h2 class="govuk-heading-l">Medical conditions</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Condition name     
        </dt>
        <dd class="govuk-summary-list__value">
          Renal cancer
        </dd>
      </div>
    </dl>
    <h2 class="govuk-heading-l">Special rules eligibility</h2>
   
    <dl class="govuk-summary-list govuk-!-margin-bottom-3">
     <div class="govuk-summary-list__row">
       <dt class="govuk-summary-list__key">
        Does the claimant meet the criteria for special rules?
       </dt>
       <dd class="govuk-summary-list__value">
         Yes
       </dd>
     </div>

     <div class="govuk-summary-list__row">
       <dt class="govuk-summary-list__key">
         Special rules date
       </dt>
       <dd class="govuk-summary-list__value">
         02 March 2022
       </dd>

     </div>
   </dl>

   <h3 class="govuk-heading-s">Justification for special rules</h3>
 
   <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>    

   <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
   <br>

      <h2 class="govuk-heading-l">Mobility</h2>

      <h3 class="govuk-heading-m">Planning and following journeys</h3>

      
      <h3 class="govuk-heading-s">How well can the claimant plan and follow journeys?</h3>
      <p>(11c) Cannot plan the route of a journey</p>

      <h3 class="govuk-heading-s">Justification for planning and following journeys</h3>
    
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>    

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <br>

      <h3 class="govuk-heading-m">Moving around</h3>
     
      <h3 class="govuk-heading-s">How well can the claimant move around?</h3>
      <p>(12d) Can stand and then move using an aid or appliance more than 20 metres but no more than 50 metres</p>

  <h3 class="govuk-heading-s">Justification for moving around</h3>
 
  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
</dl>

<!-- <dl class="govuk-summary-list govuk-!-margin-bottom-9">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Is this information harmful?</dt>
    <dd class="govuk-summary-list__value">
      {{data["justificationHarmfulInfo"]}}
    </dd>
    <dd class="govuk-summary-list__actions">
      <ul class="govuk-summary-list__actions-list">
        <a class="govuk-link" href="#">
          Change<span class="govuk-visually-hidden"> name</span>
        </a>
      </ul>
    </dd>
  </div>
</dl> -->

<p class="govuk-body">
  <a href="assessment-report-workflow" class="govuk-link">View claimant's report</a>
</p>
<p class="govuk-body">
  <a href="#" class="govuk-link">Print this page</a>
</p>
  

 
  </div>      
      </div>

{% endblock %}
