{% extends "layouts/layout-split-banner-SREL.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">

    <a href="javascript:history.back()" class="govuk-back-link">Back</a>
    
    <span class="govuk-caption-l">Report 1 of 2</span>
    <h1 class="govuk-heading-xl">Harmful information report</h1>

    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-visually-hidden">Warning</span>
        Do not share this report with the claimant.
      </strong>
    </div>

    <h2 class="govuk-heading-l">Evidence used</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-5">
        <h2 class="govuk-heading-m">SR1</h2>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of SR1
          </dt>
          <dd class="govuk-summary-list__value">
            12 December 2023
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="evidence">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        <br>
        </dl>

        {% if (data['other-evidence']) %}
        <h3 class="govuk-heading-m" style="margin-top:-5%;">Other evidence used</h3>
            <p class="govuk-body">
              <a href="evidence" class="govuk-link" style="float: right">Change</a>
          </p>
          <p>{{data["other-evidence"]}}</p>
     
       <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        {% elseif (data['other-evidence'] !== ' ') %}
    
        {% endif %}


  <h2 class="govuk-heading-l">Short call</h2>

    <h3 class="govuk-heading-m">Who did you call?</h3>
      <p class="govuk-body">
        <a href="shortcall" class="govuk-link" style="float: right">Change</a>
     </p>
      <p>Doctor at GP practise</p>    

      <h3 class="govuk-heading-m">Consultation notes</h3>
    
      <p>Shortcall notes</p>    

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
   

      <br>
      <br>

      <h2 class="govuk-heading-l">Diagnosis and prognosis</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Is the claimant aware of their diagnosis?     
        </dt>
        <dd class="govuk-summary-list__value">
         No
        </dd>
        <dd class="govuk-summary-list__actions">
          <ul class="govuk-summary-list__actions-list">
            <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="diagnosis">
                  Change<span class="govuk-visually-hidden"> contact details</span>
              </a></li>
          </ul>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Is the claimant aware of their prognosis?     
        </dt>
        <dd class="govuk-summary-list__value">
         No
        </dd>
        <dd class="govuk-summary-list__actions">
          <ul class="govuk-summary-list__actions-list">
            <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="prognosis">
                  Change<span class="govuk-visually-hidden"> contact details</span>
              </a></li>
          </ul>
        </dd>
      </div>
    </dl>

    <h2 class="govuk-heading-l">Medical conditions</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Condition       
        </dt>
        <dd class="govuk-summary-list__value">
          Cancer
        </dd>
        <dd class="govuk-summary-list__actions">
          <ul class="govuk-summary-list__actions-list">
            <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="conditions">
                  Change<span class="govuk-visually-hidden"> contact details</span>
              </a></li>
            <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="#">
                Remove<span class="govuk-visually-hidden"> contact details</span>
              </a></li>
          </ul>
        </dd>
      </div>
    </dl>


    <h2 class="govuk-heading-l">Special rules eligibility</h2>
   
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
     <div class="govuk-summary-list__row">
       <dt class="govuk-summary-list__key">
        Does the claimant meet the criteria for special rules?
       </dt>
       <dd class="govuk-summary-list__value">
         Yes
       </dd>
       <dd class="govuk-summary-list__actions">
         <a class="govuk-link" href="special-rules">
           Change<span class="govuk-visually-hidden"> name</span>
         </a>
       </dd>
     </div>
     </dl>

     <p class="govuk-body">
      <a href="special-rules-yes" class="govuk-link" style="float: right">Change</a>
   </p>
     <h3 class="govuk-heading-s" style="margin-top:-5%;">Justification for special rules</h3>
          <p>Justification notes</p>
     
       <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
     <div class="govuk-summary-list__row">
       <dt class="govuk-summary-list__key">
         Special rules date
       </dt>
       <dd class="govuk-summary-list__value">
         02 March 2022
       </dd>
       <dd class="govuk-summary-list__actions">
         <a class="govuk-link" href="special-rules-date">
           Change<span class="govuk-visually-hidden"> name</span>
         </a>
       </dd>
     </div>
   </dl>

      <h2 class="govuk-heading-l">Mobility</h2>

      <h3 class="govuk-heading-m">Planning and following journeys</h3>
      <p class="govuk-body">
        <a href="mobility-eleven" class="govuk-link" style="float: right">Change</a>
     </p>
      
      <h3 class="govuk-heading-s">How well can the claimant plan and follow journeys?</h3>
      <p>(11c) Cannot plan the route of a journey</p>

      <h3 class="govuk-heading-s">Justification for planning and following journeys</h3>
    
      <p>Justification notes</p>    

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <br>

      <h3 class="govuk-heading-m">Moving around</h3>
      <p class="govuk-body">
        <a href="mobility-twelve" class="govuk-link" style="float: right">Change</a>
     </p>
     
      <h3 class="govuk-heading-s">How well can the claimant move around?</h3>
      <p>(12d) Can stand and then move using an aid or appliance more than 20 metres but no more than 50 metres</p>

  <h3 class="govuk-heading-s">Justification for moving around</h3>
 
  <p>Justification notes</p>

  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
</dl>

<!-- <dl class="govuk-summary-list govuk-!-margin-bottom-9">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Is this information harmful?</dt>
    <dd class="govuk-summary-list__value">
      {{data["justificationHarmfulInfo"]}}
    </dd>
    <dd class="govuk-summary-list__actions">
      <ul class="govuk-summary-list__actions-list">
        <a class="govuk-link" href="#">
          Change<span class="govuk-visually-hidden"> name</span>
        </a>
      </ul>
    </dd>
  </div>
</dl> -->


  
    <form action="assessment-report-workflow" method="post" novalidate>
      <input type="hidden" name="answers-checked" value="true">
      <button class="govuk-button" data-module="govuk-button">
       Save and continue
      </button>
    </form>
 
  </div>      
      </div>

{% endblock %}
