{% extends "layouts/layout-split-banner-SREL.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content_left %}

<a href="javascript:history.back()" class="govuk-back-link">Back</a>
    

<form action="#" method="post">
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <span class="govuk-caption-xl"></span>
        <h1 class="govuk-fieldset__heading">
          The claimant meets the criteria for special rules
        </h1>
      </legend>
     </fieldset>
  </div>

        <h2 class="govuk-heading-m">Justification for this decision</h2>
        <div class="govuk-form-group">
          <textarea class="govuk-textarea" id="justification" name="justification-sr" rows="10">{{data["justification-sr"]}}</textarea>
        </div>

      
         
          <div class="govuk-button-group">
             <button class="govuk-button" data-module="govuk-button">
                Save and continue
              </button>
            </div>
    
  </form>
      

{% endblock %}
