{% extends "layouts/phonecall-without-sidenav.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}


{% block header %}

{{
  dwpHeader({
      name: "Health Assessment Service",
      serviceHref: '../',
      container: true
  })
}}

{% endblock %}

{% block content_left %}

<style type="text/css">
  .govuk-textarea {
    text-align: left;
    display: block;
    white-space: pre-line;
  }
             
  </style>

<!-- <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">    -->

<form action="#" method="post" id="auto-redirect">
  <input type="hidden" name="{{ loop.index0 }}"/>
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <span class="govuk-caption-xl"></span>
        <h1 class="govuk-fieldset__heading">
          Record a phone call
        </h1>
        <div id="passport-issued-hint" class="govuk-hint">
        </div>
      </legend>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" role="group" aria-describedby="phoneCall-date">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h2 class="govuk-fieldset__heading">
              Phone call date
            </h2>
          </legend>
          <div id="passport-issued-hint" class="govuk-hint">
            For example, 27 3 2025
          </div>
          <div class="govuk-date-input" id="phonecall-date">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="phonecall-day">
                  Day
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="phonecall-day" name="phone-day" type="text" inputmode="numeric">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="phonecall-month">
                  Month
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="phonecall-month" name="phone-month" type="text" inputmode="numeric">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="phonecall-year">
                  Year
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="phonecall-year" name="phone-year" type="text" inputmode="numeric">
              </div>
            </div>
          </div>
        </fieldset>
      </div>

        <!-- who was called -->
        <div class="govuk-form-group">
          <h2 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--m" for="event-name">
              Who did you call?
            </label>
          </h2>
          <div id="event-name-hint" class="govuk-hint">
            If they are not the claimant, include their role in the assessment
          </div>
        <input class="govuk-input" id="shortcall-name" name="shortcallName" type="text">
        </div>
      
      <!-- identity question -->
      <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          Did you confirm the claimant's identity?
        </legend>
      <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="id" name="claimantIdentity" type="radio" value="Yes" data-aria-controls="conditional-yes">
        <label class="govuk-label govuk-radios__label" for="id">
          Yes
        </label>
        </div>
        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-yes">
          <div class="govuk-form-group">
            <label class="govuk-label" for="no-examination">
              How did you confirm their identity?
            </label>
            <textarea class="govuk-textarea govuk-!-width-two-thirds" id="no-examination" name="yesWhy" rows="5" aria-describedby="more-detail-no"></textarea>
          </div>
        </div>

      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="id-2" name="claimantIdentity" type="radio" value="No" data-aria-controls="conditional-no">
        <label class="govuk-label govuk-radios__label" for="id-2">
          No
        </label>
        </div>
        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-no">
          <div class="govuk-form-group">
            <label class="govuk-label" for="no-examination">
              Why could you not confirm their identity?
            </label>
            <textarea class="govuk-textarea govuk-!-width-two-thirds" id="id-2" name="noWhy" rows="5" aria-describedby="more-detail-no"></textarea>
          </div>
        </div>
      </div>
      </fieldset>
    </div>
  </div>
  

    <!-- claimant consent-->
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <span class="govuk-caption-l"></span>
        </legend>
    
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          Did they give consent?
        </legend>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="consentID" name="consentPBR" type="radio" value="Yes">
          <label class="govuk-label govuk-radios__label" for="consentID">
            Yes
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="consent-no" name="consentPBR" type="radio" value="No">
          <label class="govuk-label govuk-radios__label" for="consent-no">
            No
          </label>
        </div>     
        </fieldset>
    </div>

      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--m" for="consultation-notes">
          Phone call notes
        </label>
        <textarea class="govuk-textarea" id="phone-notes" name="phonecallNotes" rows="10" aria-describedby="phone call notes"></textarea>
      </div>
     

    <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
      Save and add another phone call
    </button>

  </fieldset>
</div>
   
  </form>
  <!-- </div>
</div> -->
      

{% endblock %}
