-{% extends "layouts/side-nav-prompts" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% set containerClasses = "full-width-container" %}
{% block content_left %}

<style>
  .govuk-summary-list__actions {
   width: 25%;
   padding-right: 0;
   text-align: right;
 }
</style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
   
        <span class="govuk-caption-xl"></span>
        <h1 class="govuk-heading-l">
          Condition history
        </h1>
       
          <!--logic for adding conditions-->
          {% for condition in data['conditionAdded'] %}
          <!-- <p class="govuk-body">
            <a href="conditions-change?index={{loop.index0}}&edit={{condition.conditionName}}&length={{condition.conditionLength}}&diag={{condition.diagnosis}}&med={{condition.medicalcareTreatments}}&hos={{condition.hospital}}&hosText={{condition.hospitalTextbox}}&syp={{condition.conditionSymptoms}}&var={{condition.conditionVariability}}&menth={{condition.mentalHealth}}&func={{condition.functionalRestriction}}" class="govuk-link" style="float: right">Change | Remove</a>
          </p> -->

          <div class="govuk-body" style="float:right;">
            <ul class="govuk-summary-list__actions-list">
              <li class="govuk-summary-list__actions-list-item" style="display:inline-block;">
                  <a href="conditions-change?index={{loop.index0}}&edit={{condition.conditionName}}&length={{condition.conditionLength}}&diag={{condition.diagnosis}}&med={{condition.medicalcareTreatments}}&hos={{condition.hospital}}&hosText={{condition.hospitalTextbox}}&syp={{condition.conditionSymptoms}}&var={{condition.conditionVariability}}&menth={{condition.mentalHealth}}&menthText={{condition.mentalHealthTextbox}}&func={{condition.functionalRestriction}}" class="govuk-link">Change</a>
              </li>
              <li class="govuk-summary-list__actions-list-item" style="display:inline-block;">
                  <a href="#" class="govuk-link">Remove</a>
              </li>
          </ul>
        </div>
          <h2 class="govuk-heading-m">{{ condition.conditionName }}</h2>

          <dl class="govuk-summary-list govuk-summary-list--no-border">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                When did the condition or disability start?
              </dt>
              <dd class="govuk-summary-list__value">
                {{ condition.conditionLength }}
              </dd>
              <!-- <dd class="govuk-summary-list__actions">
                <ul class="govuk-summary-list__actions-list">
                  <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="conditions-change?index={{loop.index0}}&edit={{condition.conditionName}}">
                        Change<span class="govuk-visually-hidden">condition change</span>
                    </a></li>
                  <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="#">
                      Remove<span class="govuk-visually-hidden">condition remove</span>
                    </a></li>
                </ul>
              </dd> -->
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Diagnosis
              </dt>
              <dd class="govuk-summary-list__value">
                {{ condition.diagnosis }}
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Medical care, investigations and treatments
              </dt>
              <dd class="govuk-summary-list__value">
                {{ condition.medicalcareTreatments }}
              </dd>
            </div>

            {% if condition.hospital == 'Yes' %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Has the claimant been admitted to hospital as a result of this condition or disability?
              </dt>
              <dd class="govuk-summary-list__value">
                {{ condition.hospital }}
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Hospital admissions details 
              </dt>
              <dd class="govuk-summary-list__value">
                {{ condition.hospitalTextbox }}
              </dd>
            </div>

            {% elseif data["hospitalAdmission"] == 'No' %}

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Has the claimant been admitted to hospital as a result of this condition or disability?
              </dt>
              <dd class="govuk-summary-list__value">
                {{ condition.hospital }}
              </dd>
            </div>

            {% endif %}
          

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Symptoms, impact and progression
              </dt>
              <dd class="govuk-summary-list__value">
                {{ condition.conditionSymptoms }}
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Variability
              </dt>
              <dd class="govuk-summary-list__value">
                {{ condition.conditionVariability }}
              </dd>
            </div>
 
            {% if condition.mentalHealth == 'Yes' %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Does the claimant experience suicidal thoughts and self harm?
              </dt>
              <dd class="govuk-summary-list__value">
                {{ condition.mentalHealth }}
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Suicidal thoughts and self harm details 
              </dt>
              <dd class="govuk-summary-list__value">
                {{ condition.mentalHealthTextbox }}
              </dd>
            </div>

            {% elseif data["mentalHealthCondition"] == 'No' %}

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Does the claimant experience suicidal thoughts and self harm?
              </dt>
              <dd class="govuk-summary-list__value">
                {{ condition.mentalHealth }}
              </dd>
            </div>

            {% endif %}

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Does the claimant report functional restrictions caused by this condition or disability?
              </dt>
              <dd class="govuk-summary-list__value">
                {{ condition.functionalRestriction }}
              </dd>
            </div>
       </dl>
     
 
       <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        
       {% endfor %}

            <br>


<form action="#" method="post">
  
  <div class="govuk-button-group">
    <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
      Add another condition
    </button>
    </div>

      </form>
    </div>
</div>
     
   

{% endblock %}