-{% extends "layouts/video-main-layout" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% set containerClasses = "full-width-container" %}
{% block content_left %}

<style>
  .govuk-summary-list__actions {
   width: 25%;
   padding-right: 0;
   text-align: right;
 }

</style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
   
        <span class="govuk-caption-xl"></span>
        <h1 class="govuk-heading-l">
         Additional attendees
        </h1>
  
        <!-- logic for adding attendees -->
       {% for attendee in data['attendeeAdded'] %}
       <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <h2 class="govuk-heading-m"><a class="govuk-link" href="attendees-change?index={{loop.index0}}&name={{attendee.attendeeName}}&relate={{attendee.relation}}">{{ attendee.attendeeName }}</a></h2>
          </dt>
          <dd class="govuk-summary-list__value">
            {{ attendee.relation }} 
          </dd>
          <dd class="govuk-summary-list__actions">
            <ul class="govuk-summary-list__actions-list">
              <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="attendees-change?index={{loop.index0}}&name={{attendee.attendeeName}}&relate={{attendee.relation}}">
                    Change<span class="govuk-visually-hidden">attendee change</span>
                </a></li>
              <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="remove-attendee?attendees={{attendee.attendeeName}}">
                  Remove<span class="govuk-visually-hidden">attendee remove</span>
                </a></li>
            </ul>
          </dd>
          </div>
        </dl>
        {% endfor %}
       
       
       <!-- <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible"> -->
      
       
<form action="#" method="post">
  
  <div class="govuk-button-group">
    <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
      Add another attendee
    </button>
    </div>

      </form>
    </div>
</div>
     
   

{% endblock %}