{% extends "layouts/video-main-layout.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% set containerClasses = "full-width-container" %}
{% block content_left %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- <a href="javascript:history.back()" class="govuk-back-link">Back</a> -->
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Examination consent</h1>
      </div>
    </div>

    <form action="#" method="post" id="auto-redirect">
              
  
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset govuk-!-margin-bottom-9">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              Did the claimant give consent to the physical examination?
            </legend>
            
            <div class="govuk-radios" data-module="govuk-radios">
  
              {% if data["examinationConsent"] == 'Yes' %}
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="examinationConsent" name="examinationConsent" type="radio" value="Yes" {{ checked }}>
                    <label class="govuk-label govuk-radios__label" for="examinationConsent">
                      Yes
                    </label>
                  </div>
         
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="examinationConsent-2" name="examinationConsent" type="radio" value="No" data-aria-controls="conditional-no-consent">
                    <label class="govuk-label govuk-radios__label" for="examinationConsent-2">
                      No
                    </label>
                  </div>
                  <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-no-consent">
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="no-examination">
                        Why did they not give consent?
                      </label>
                      <textarea class="govuk-textarea govuk-!-width-three-quarters" id="no-examination" name="no-consent-given" rows="5" aria-describedby="more-detail-no">{{data["no-consent-given"]}}</textarea>
                    </div>
                  </div>
     
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="examinationConsent-3" name="examinationConsent" type="radio" value="Physical examination not required" data-aria-controls="conditional-not-required">
                    <label class="govuk-label govuk-radios__label" for="examinationConsent-3">
                      Physical examination not required
                    </label>
                  </div>
                  <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-not-required">
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="no-examination-required">
                        Why was the physical examination not required?
                      </label>
                      <textarea class="govuk-textarea govuk-!-width-three-quarters" id="no-examination-required" name="not-required" rows="5" aria-describedby="more-detail-not-required">{{data["not-required"]}}</textarea>
                    </div>
                </div>
  
                  {% elseif data["examinationConsent"] == 'No' %}
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="examinationConsent" name="examinationConsent" type="radio" value="Yes">
                    <label class="govuk-label govuk-radios__label" for="examinationConsent">
                      Yes
                    </label>
                  </div>
         
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="examinationConsent-2" name="examinationConsent" type="radio" value="No" checked data-aria-controls="conditional-no-consent">
                    <label class="govuk-label govuk-radios__label" for="examinationConsent-2">
                      No
                    </label>
                  </div>
                  <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-no-consent">
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="no-examination">
                        Why did they not give consent?
                      </label>
                      <textarea class="govuk-textarea govuk-!-width-three-quarters" id="no-examination" name="no-consent-given" rows="5" aria-describedby="more-detail-no">{{data["no-consent-given"]}}</textarea>
                    </div>
                  </div>
     
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="examinationConsent-3" name="examinationConsent" type="radio" value="Physical examination not required" data-aria-controls="conditional-not-required">
                    <label class="govuk-label govuk-radios__label" for="examinationConsent-3">
                      Physical examination not required
                    </label>
                  </div>
                  <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-not-required">
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="no-examination-required">
                        Why was the physical examination not required?
                      </label>
                      <textarea class="govuk-textarea govuk-!-width-three-quarters" id="no-examination-required" name="not-required" rows="5" aria-describedby="more-detail-not-required">{{data["not-required"]}}</textarea>
                    </div>
                </div>

                  {% elseif data["examinationConsent"] == 'Physical examination not required' %}
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="examinationConsent" name="examinationConsent" type="radio" value="Yes">
                    <label class="govuk-label govuk-radios__label" for="examinationConsent">
                      Yes
                    </label>
                  </div>
         
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="examinationConsent-2" name="examinationConsent" type="radio" value="No" data-aria-controls="conditional-no-consent">
                    <label class="govuk-label govuk-radios__label" for="examinationConsent-2">
                      No
                    </label>
                  </div>
                  <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-no-consent">
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="no-examination">
                        Why did they not give consent?
                      </label>
                      <textarea class="govuk-textarea govuk-!-width-three-quarters" id="no-examination" name="no-consent-given" rows="5" aria-describedby="more-detail-no">{{data["no-consent-given"]}}</textarea>
                    </div>
                  </div>
     
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="examinationConsent-3" name="examinationConsent" type="radio" value="Physical examination not required" checked data-aria-controls="conditional-not-required">
                    <label class="govuk-label govuk-radios__label" for="examinationConsent-3">
                      Physical examination not required
                    </label>
                  </div>
                  <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-not-required">
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="no-examination-required">
                        Why was the physical examination not required?
                      </label>
                      <textarea class="govuk-textarea govuk-!-width-three-quarters" id="no-examination-required" name="not-required" rows="5" aria-describedby="more-detail-not-required">{{data["not-required"]}}</textarea>
                    </div>
                </div>

                  {% elseif data["examinationConsent"] === undefined %}
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="examinationConsent" name="examinationConsent" type="radio" value="Yes">
                    <label class="govuk-label govuk-radios__label" for="examinationConsent">
                      Yes
                    </label>
                  </div>
         
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="examinationConsent-2" name="examinationConsent" type="radio" value="No" data-aria-controls="conditional-no-consent">
                    <label class="govuk-label govuk-radios__label" for="examinationConsent-2">
                      No
                    </label>
                  </div>
                  <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-no-consent">
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="no-examination">
                        Why did they not give consent?
                      </label>
                      <textarea class="govuk-textarea govuk-!-width-three-quarters" id="no-examination" name="no-consent-given" rows="5" aria-describedby="more-detail-no">{{data["no-consent-given"]}}</textarea>
                    </div>
                  </div>
     
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="examinationConsent-3" name="examinationConsent" type="radio" value="Physical examination not required" data-aria-controls="conditional-not-required">
                    <label class="govuk-label govuk-radios__label" for="examinationConsent-3">
                      Physical examination not required
                    </label>
                  </div>
                  <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-not-required">
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="no-examination-required">
                        Why was the physical examination not required?
                      </label>
                      <textarea class="govuk-textarea govuk-!-width-three-quarters" id="no-examination-required" name="not-required" rows="5" aria-describedby="more-detail-not-required">{{data["not-required"]}}</textarea>
                    </div>
                  </div>
  
                {% endif %}
            </div>
          </fieldset>

          <!-- <div class="govuk-form-group">
            <label class="govuk-label govuk-label--s" for="chaperone">
              Chaperone name (optional)
            </label>
            <input class="govuk-input" id="chaperoneName" name="chaperone" type="text" value="{{data["chaperone"]}}">
          </div> -->
          
          
           </div>
        </form>
     </div>
   </div> 


   <!-- <div class="govuk-form-group">
    <fieldset class="govuk-fieldset govuk-!-margin-bottom-9">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
      Did the claimant give consent to the physical examination?
    </legend>
    <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="examinationConsent" name="examinationConsent" type="radio" value="Yes">
            <label class="govuk-label govuk-radios__label" for="examinationConsent">
              Yes
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="examinationConsent-2" name="examinationConsent" type="radio" value="No" data-aria-controls="conditional-no-consent">
            <label class="govuk-label govuk-radios__label" for="examinationConsent-2">
              No
            </label>
          </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-no-consent">
            <div class="govuk-form-group">
              <label class="govuk-label" for="no-examination">
                Why did they not give consent
              </label>
              <textarea class="govuk-textarea govuk-!-width-one-half" id="no-examination" name="no-consent-given" rows="5" aria-describedby="more-detail-no"></textarea>
            </div>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="examinationConsent-3" name="examinationConsent" type="radio" value="Physical examination not required" data-aria-controls="conditional-not-required">
            <label class="govuk-label govuk-radios__label" for="examinationConsent-3">
              Physical examination not required
            </label>
          </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-not-required">
            <div class="govuk-form-group">
              <label class="govuk-label" for="no-examination-required">
                Why was the physical examination not required?
              </label>
              <textarea class="govuk-textarea govuk-!-width-one-half" id="no-examination-required" name="not-required" rows="5" aria-describedby="more-detail-not-required"></textarea>
            </div>
          </div>
        </div>
      </fieldset>
      </div> -->


     

{% endblock %}
