{% extends "layouts/video-main-layout.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% set containerClasses = "full-width-container" %}
{% block content_left %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- <a href="javascript:history.back()" class="govuk-back-link">Back</a> -->
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-6">Physical examination</h1>
      </div>
    </div>

    <form action="#" method="post" id="auto-redirect">
              
          <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Standard physical examinations
              </span>
            </summary>
            <div class="govuk-details__text">
              <p class="govuk-body">A physical examination can include:</p>
                <ul class="govuk-list govuk-list--bullet">
                  <li>upper body examination</li>
                  <li>lower body examination</li>
                  <!-- <li>vision examination</li> -->
                  <!-- <li>hearing examination</li> -->
                  <!-- <li>cardio-respiratory examination</li> -->
                  <li>neurological examination</li>
                </ul>
            </div>
          </details>
           
          </fieldset>

          <div class="govuk-form-group">
            <label class="govuk-label govuk-label--s" for="noExaminations">
            </label>
            <textarea class="govuk-textarea govuk-!-margin-bottom-9" id="noExaminations" name="noPhysicalExaminationText" rows="8">{{data["noPhysicalExaminationText"]}}</textarea>
          </div>

           </div>
        </form>
     </div>
   </div>

 

{% endblock %}
