{% extends "layouts/consultationNotes.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<style type="text/css">
  .text {
    text-align: left;
    display: block;
    white-space: pre-line;
  }

    @media (min-width: 48.0625em) {
.sticky {
        position: sticky;
        top: 10px;
        max-height: 100vh;
        overflow-y: auto;
        margin-bottom: 20px;
}
}

 .border {
      border-left: 3px solid #1d70b8;
      padding-left: 10px;
  }

</style>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- <a href="justification-activity" class="govuk-back-link">Back</a> -->
    
    <h1 class="govuk-heading-l" id="consultation">Questionnaire responses</h1>

       <h2 class="govuk-heading-m">Preparing food</h2>

       <p class="govuk-body">I struggle to chop things due to arthritis in my hands, my partner does most of the cooking, however I do like to help.</p>

       <h2 class="govuk-heading-m">Taking nutrition</h2>
   
       <p class="govuk-body">I don't have problems with this.</p>

       <h2 class="govuk-heading-m">Managing therapy</h2>
   
       <p class="govuk-body">My partner puts out my tablets as my fingers don't grip well.</p>

        <h2 class="govuk-heading-m">Washing and bathing</h2>
   
       <p class="govuk-body">I take my time getting in and out the bath, as the shower is over the bath, I have a rubber mat to stop me slipping and hold on.</p>

        <h2 class="govuk-heading-m">Managing toilet needs</h2>
   
       <p class="govuk-body">This is fine.</p>

       <h2 class="govuk-heading-m">Dressing and undressing</h2>
   
       <p class="govuk-body">Getting dressed takes longer due to pain and stiffness in my back. I find shirt buttons difficult as they are tiny so my partner helps with these.</p>

         <h2 class="govuk-heading-m">Communicating verbally</h2>
   
       <p class="govuk-body">N/A</p>

       <h2 class="govuk-heading-m">Reading and understanding signs, symbols and words</h2>
   
       <p class="govuk-body">N/A</p>

       <h2 class="govuk-heading-m">Engaging face to face</h2>
   
       <p class="govuk-body">N/A</p>

       <h2 class="govuk-heading-m">Budgeting</h2>
   
       <p class="govuk-body">My partner has always looked after the bills.</p>

      <h2 class="govuk-heading-m">Planning and following journeys</h2>
   
       <p class="govuk-body">N/A</p>

       <h2 class="govuk-heading-m">Moving around</h2>
   
       <p class="govuk-body">N/A</p>
      
      
      
    
  <!-- <div class="govuk-grid-column-one-third sticky">
    
     
       
            <nav role="navigation" class="border" aria-labelledby="subsection-title" style="float: right">
              <h2 class="govuk-heading-s" id="subsection-title">
              On this page
            </h2>
              <ul class="govuk-list">
                <li>
                  <a href="#consultation" class="govuk-link govuk-link--no-visited-state">Consultation notes</a>
                </li>
                <li>
                  <a href="#conditionhistory" class="govuk-link govuk-link--no-visited-state">Conditions</a>
                </li>
                <li>
                  <a href="#medicationName">Medication</a>
                </li>
                <li>
                  <a href="#socialOcc">Social and occupational history</a>
                </li>
                <li>
                  <a href="#functionalHistory">Functional history</a>
                </li>
    
                <li>
                  <a href="#mentalState">Mental state observations</a>
                </li>
                <li>
                  <a href="#informal">Informal observations</a>
                </li>
              </ul>
            </nav>
          
    
        </div>
       -->
      </div>

{% endblock %}
