{% extends "layouts/justification-two-layout" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% set containerClasses = "full-width-container" %}
{% block content_left %}

<style type="text/css">
  .govuk-textarea {
    text-align: left;
    display: block;
    white-space: pre-line;
  }
             
  </style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">   

    <form action="#" method="post" id="auto-redirect">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <span class="govuk-caption-xl"></span>
            <h1 class="govuk-fieldset__heading">
              Activity descriptors
            </h1>
            <div id="passport-issued-hint" class="govuk-hint">
            </div>
          </legend>

    
          <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">Daily living activities</caption> 
        <thead class="govuk-table__head">

          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">
              Activity name
            </th>
            <th scope="col" class="govuk-table__header">
              Descriptor choice
            </th>
            <th scope="col" class="govuk-table__header">
              Score
            </th>
             <th scope="col" class="govuk-table__header">
             
            </th>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              1. Preparing food
            </th>

            <td class="govuk-table__cell">
              {% if (data['preparingfoodSelect']) %}
                 {{data["preparingfoodSelect"]}} 
              {% else %}
              <a href="preparingfood" class="govuk-link">Add</a>
            </td>
            {% endif %}
    
            <td class="govuk-table__cell govuk-table__cell--numeric">
              {% if (data['preparingfoodSelect'] == "(1a) Can prepare and cook a simple meal unaided") %}
                  {% set prepFoodScore = 0 %} 
              {% elseif (data['preparingfoodSelect'] == "(1b) Needs to use an aid or appliance to be able to either prepare or cook a simple meal") %}
                 {% set prepFoodScore = 2 %} 
              {% elseif (data['preparingfoodSelect'] == "(1c) Cannot cook a simple meal using a conventional cooker but is able to do so using a microwave") %}
                 {% set prepFoodScore = 2 %} 
              {% elseif (data['preparingfoodSelect'] == "(1d) Needs prompting to be able to either prepare or cook a simple meal") %}
                 {% set prepFoodScore = 2 %} 
              {% elseif (data['preparingfoodSelect'] == "(1e) Needs supervision or assistance to either prepare or cook a simple meal") %}
                 {% set prepFoodScore = 4 %} 
              {% elseif (data['preparingfoodSelect'] == "(1f) Cannot prepare and cook food") %}
                 {% set prepFoodScore = 8 %} 
              {% else %}
               {% set prepFoodScore = 0 %} 
            {% endif %}
          </td>
            {% if (data['preparingfoodSelect']) %}
          <td class="govuk-table__cell">
            <a href="preparingfood" class="govuk-link">Change</a>
             {% else %}
          <td class="govuk-table__cell">

          </td>
             {% endif %}
        </tr>

        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              2. Taking nutrition
            </th>

            <td class="govuk-table__cell">
              {% if (data['takingnutritionSelect']) %}
                 {{data["takingnutritionSelect"]}} 
              {% else %}
              <a href="takingnutrition" class="govuk-link">Add</a>
            </td>
            {% endif %}
    
            <td class="govuk-table__cell govuk-table__cell--numeric">
              {% if (data['takingnutritionSelect'] == "(2a) Can take nutrition unaided") %}
                 {% set nutritionScore = 0 %} 
              {% elseif (data['takingnutritionSelect'] == "(2b) Needs to use an aid or appliance to be able to take nutrition, or supervision to be able to take nutrition, or assistance to be able to cut up food") %}
                 {% set nutritionScore = 2 %} 
              {% elseif (data['takingnutritionSelect'] == "(2c) Needs a therapeutic source to be able to take nutrition") %}
                 {% set nutritionScore = 2 %} 
              {% elseif (data['takingnutritionSelect'] == "(2d) Needs prompting to be able to take nutrition") %}
                 {% set nutritionScore = 4 %} 
              {% elseif (data['takingnutritionSelect'] == "(2e) Needs assistance to be able to manage a therapeutic source to take nutrition") %}
                 {% set nutritionScore = 6 %} 
              {% elseif (data['takingnutritionSelect'] == "(2f) Cannot convey food and drink to their mouth and needs another person to do so") %}
              {% set nutritionScore = 10 %} 
              {% else %}
                 {% set nutritionScore = 0 %} 
            {% endif %}
          </td>
            {% if (data['takingnutritionSelect']) %}
          <td class="govuk-table__cell">
            <a href="takingnutrition" class="govuk-link">Change</a>
             {% else %}
          <td class="govuk-table__cell">

          </td>
             {% endif %}
        </tr>

         <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              3. Managing therapy
            </th>

            <td class="govuk-table__cell">
              {% if (data['managingtherapySelect']) %}
                 {{data["managingtherapySelect"]}} 
              {% else %}
              <a href="managingtherapy" class="govuk-link">Add</a>
            </td>
            {% endif %}
    
            <td class="govuk-table__cell govuk-table__cell--numeric">
              {% if (data['managingtherapySelect'] == "(3a) Either does not receive medication or therapy or need to monitor a health condition, or can manage medication or therapy or monitor a health condition unaided") %}
                 {% set therapyScore = 0 %} 
              {% elseif (data['managingtherapySelect'] == "(3b) Needs to use an aid or appliance to be able to manage medication, or needs supervision, prompting or assistance to be able to manage medication, or needs supervision, prompting or assistance to be able to monitor a health condition") %}
                 {% set therapyScore = 1 %} 
              {% elseif (data['managingtherapySelect'] == "(3c) Needs supervision, prompting or assistance to be able to manage therapy that takes no more than 3.5 hours a week") %}
                 {% set therapyScore = 2 %} 
              {% elseif (data['managingtherapySelect'] == "(3d) Needs supervision, prompting or assistance to be able to manage therapy that takes more than 3.5 but no more than 7 hours a week") %}
                 {% set therapyScore = 4 %} 
              {% elseif (data['managingtherapySelect'] == "(3e) Needs supervision, prompting or assistance to be able to manage therapy that takes more than 7 but no more than 14 hours a week") %}
                 {% set therapyScore = 6 %} 
              {% elseif (data['managingtherapySelect'] == "(3f) Needs supervision, prompting or assistance to be able to manage therapy that takes more than 14 hours a week") %}
              {% set therapyScore = 8 %} 
              {% else %}
                {% set therapyScore = 0 %} 
            {% endif %}
          </td>
           {% if (data['managingtherapySelect']) %}
          <td class="govuk-table__cell">
            <a href="managingtherapy" class="govuk-link">Change</a>
             {% else %}
          <td class="govuk-table__cell">

          </td>
             {% endif %}
        </tr>

        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              4. Washing and bathing
            </th>

            <td class="govuk-table__cell">
              {% if (data['washingbathingSelect']) %}
                 {{data["washingbathingSelect"]}} 
              {% else %}
              <a href="washingbathing" class="govuk-link">Add</a>
            </td>
            {% endif %}
    
            <td class="govuk-table__cell govuk-table__cell--numeric">
              {% if (data['washingbathingSelect'] == "(4a) Can wash and bathe unaided") %}
                 {% set washingScore = 0 %} 
              {% elseif (data['washingbathingSelect'] == "(4b) Needs to use an aid or appliance to be able to wash or bathe") %}
                 {% set washingScore = 2 %} 
              {% elseif (data['washingbathingSelect'] == "(4c) Needs supervision or prompting to be able to wash or bathe") %}
                 {% set washingScore = 2 %} 
              {% elseif (data['washingbathingSelect'] == "(4d) Needs assistance to be able to wash either their hair or body below the waist") %}
                 {% set washingScore = 2 %} 
              {% elseif (data['washingbathingSelect'] == "(4e) Needs assistance to be able to get in or out of a bath or shower") %}
                 {% set washingScore = 3 %} 
              {% elseif (data['washingbathingSelect'] == "(4f) Needs assistance to be able to wash their body between the shoulders and waist") %}
              {% set washingScore = 4 %} 
              {% elseif (data['washingbathingSelect'] == "(4g) Cannot wash and bathe at all and needs another person to wash their entire body") %}
                {% set washingScore = 8 %} 
              {% else %}
                {% set washingScore = 0 %} 
            {% endif %}
          </td>
           {% if (data['washingbathingSelect']) %}
          <td class="govuk-table__cell">
            <a href="washingbathing" class="govuk-link">Change</a>
             {% else %}
          <td class="govuk-table__cell">

          </td>
             {% endif %}
        </tr>

        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              5. Managing toilet needs
            </th>

            <td class="govuk-table__cell">
              {% if (data['toiletneedsSelect']) %}
                 {{data["toiletneedsSelect"]}} 
              {% else %}
              <a href="toiletneeds" class="govuk-link">Add</a>
            </td>
            {% endif %}
    
            <td class="govuk-table__cell govuk-table__cell--numeric">
               {% if (data['toiletneedsSelect'] == "(5a) Can manage toilet needs or incontinence unaided") %}
                 {% set toiletScore = 0 %} 
              {% elseif (data['toiletneedsSelect'] == "(5b) Needs to use an aid or appliance to be able to manage toilet needs or incontinence") %}
                 {% set toiletScore = 2 %} 
              {% elseif (data['toiletneedsSelect'] == "(5c) Needs supervision or prompting to be able to manage toilet needs") %}
                 {% set toiletScore = 2 %} 
              {% elseif (data['toiletneedsSelect'] == "(5d) Needs assistance to be able to manage toilet needs") %}
                 {% set toiletScore = 4 %} 
              {% elseif (data['toiletneedsSelect'] == "(5e) Needs assistance to be able to manage incontinence of either bladder or bowel") %}
                 {% set toiletScore = 6 %} 
              {% elseif (data['toiletneedsSelect'] == "(5f) Needs assistance to be able to manage incontinence of both bladder and bowel") %}
              {% set toiletScore = 8 %} 
              {% else %}
                {% set toiletScore = 0 %} 
            {% endif %}
          </td>
           {% if (data['toiletneedsSelect']) %}
           <td class="govuk-table__cell">
            <a href="toiletneeds" class="govuk-link">Change</a>
            {% else %}
          <td class="govuk-table__cell">

          </td>
             {% endif %}
        </tr>

         <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              6. Dressing and undressing
            </th>

            <td class="govuk-table__cell">
              {% if (data['dressingSelect']) %}
                 {{data["dressingSelect"]}} 
              {% else %}
              <a href="dressing" class="govuk-link">Add</a>
            </td>
            {% endif %}
    
            <td class="govuk-table__cell govuk-table__cell--numeric">
               {% if (data['dressingSelect'] == "(6a) Can dress and undress unaided") %}
                 {% set dressingScore = 0 %} 
              {% elseif (data['dressingSelect'] == "(6b) Needs to use an aid or appliance to be able to dress or undress") %}
                 {% set dressingScore = 2 %} 
              {% elseif (data['dressingSelect'] == "(6c) Needs either prompting to be able to dress, undress or determine appropriate circumstances for remaining clothed, or needs prompting or assistance to be able to select appropriate clothing") %}
                 {% set dressingScore = 2 %} 
              {% elseif (data['dressingSelect'] == "(6d) Needs assistance to be able to dress or undress their lower body") %}
                 {% set dressingScore = 2 %} 
              {% elseif (data['dressingSelect'] == "(6e) Needs assistance to be able to dress or undress their upper body") %}
                 {% set dressingScore = 4 %} 
              {% elseif (data['dressingSelect'] == "(6f) Cannot dress or undress at all") %}
              {% set dressingScore = 8 %} 
              {% else %}
                {% set dressingScore = 0 %} 
            {% endif %}
          </td>
           {% if (data['dressingSelect']) %}
           <td class="govuk-table__cell">
            <a href="dressing" class="govuk-link">Change</a>
             {% else %}
          <td class="govuk-table__cell">

          </td>
             {% endif %}
        </tr>


         <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              7. Communicating verbally
            </th>
            
            <td class="govuk-table__cell">
              {% if (data['communicatingverballySelect']) %}
                 {{data["communicatingverballySelect"]}} 
              {% else %}
              <a href="communicatingverbally" class="govuk-link">Add</a>
            </td>
            {% endif %}
    
            <td class="govuk-table__cell govuk-table__cell--numeric">
               {% if (data['communicatingverballySelect'] == "(7a) Can express and understand verbal information unaided") %}
                 {% set communicatingScore = 0 %} 
              {% elseif (data['communicatingverballySelect'] == "(7b) Needs to use an aid or appliance to be able to speak or hear") %}
                 {% set communicatingScore = 2 %} 
              {% elseif (data['communicatingverballySelect'] == "(7c) Needs communication support to be able to express or understand complex verbal information") %}
                 {% set communicatingScore = 4 %} 
              {% elseif (data['communicatingverballySelect'] == "(7d) Needs communication support to be able to express or understand basic verbal information") %}
                 {% set communicatingScore = 8 %} 
              {% elseif (data['communicatingverballySelect'] == "(7e) Cannot express or understand verbal information at all even with communication support") %}
                 {% set communicatingScore = 12 %} 
              {% else %}
                 {% set communicatingScore = 0 %} 
            {% endif %}
          </td>
           {% if (data['communicatingverballySelect']) %}
           <td class="govuk-table__cell">
            <a href="communicatingverbally" class="govuk-link">Change</a>
             {% else %}
          <td class="govuk-table__cell">

          </td>
             {% endif %}
        </tr>

        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              8. Reading and understanding signs, symbols and words
            </th>

            <td class="govuk-table__cell">
              {% if (data['readingunderstandingSelect']) %}
                 {{data["readingunderstandingSelect"]}} 
              {% else %}
              <a href="readingunderstanding" class="govuk-link">Add</a>
            </td>
            {% endif %}

            <td class="govuk-table__cell govuk-table__cell--numeric">
              {% if (data['readingunderstandingSelect'] == "(8a) Can read and understand basic and complex written information either unaided or using spectacles or contact lenses") %}
                 {% set readingScore = 0 %} 
              {% elseif (data['readingunderstandingSelect'] == "(8b) Needs to use an aid or appliance, other than spectacles or contact lenses, to be able to read or understand either basic or complex written information") %}
                 {% set readingScore = 2 %} 
              {% elseif (data['readingunderstandingSelect'] == "(8c) Needs prompting to be able to read or understand complex written information") %}
                 {% set readingScore = 2 %} 
              {% elseif (data['readingunderstandingSelect'] == "(8d) Needs prompting to be able to read or understand basic written information") %}
                 {% set readingScore = 4 %} 
              {% elseif (data['readingunderstandingSelect'] == "(8e) Cannot read or understand signs, symbols or words at all") %}
                 {% set readingScore = 8 %} 
              {% else %}
                 {% set readingScore = 0 %} 
            {% endif %}
              </td>
              {% if (data['readingunderstandingSelect']) %}
           <td class="govuk-table__cell">
            <a href="readingunderstanding" class="govuk-link">Change</a>
            {% else %}
          <td class="govuk-table__cell">

          </td>
             {% endif %}
        </tr>

         <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
             9. Engaging face to face
            </th>

            <td class="govuk-table__cell">
              {% if (data['facetofaceSelect']) %}
                 {{data["facetofaceSelect"]}} 
              {% else %}
              <a href="facetoface" class="govuk-link">Add</a>
              
            </td>
            {% endif %}
    
            <td class="govuk-table__cell govuk-table__cell--numeric">
              {% if (data['facetofaceSelect'] == "(9a) Can engage with other people unaided") %}
                 {% set facetofaceScore = 0 %} 
              {% elseif (data['facetofaceSelect'] == "(9b) Needs prompting to be able to engage with other people") %}
                 {% set facetofaceScore = 2 %} 
              {% elseif (data['facetofaceSelect'] == "(9c) Needs social support to be able to engage with other people") %}
                 {% set facetofaceScore = 4 %} 
              {% elseif (data['facetofaceSelect'] == "(9d) Cannot engage with other people due to such engagement, causing either overwhelming psychological distress to the claimant or leading the claimant to exhibit behaviour which would result in a substantial risk of harm to the claimant or another person") %}
                 {% set facetofaceScore = 8 %} 
              {% else %}
                {% set facetofaceScore = 0 %} 
            {% endif %}
          </td>
           {% if (data['facetofaceSelect']) %}
           <td class="govuk-table__cell">
            <a href="facetoface" class="govuk-link">Change</a>
            {% else %}
          <td class="govuk-table__cell">

          </td>
             {% endif %}
        </tr>


         <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              10. Budgeting
            </th>

            <td class="govuk-table__cell">
              {% if (data['budgetingSelect']) %}
                 {{data["budgetingSelect"]}} 
              {% else %}
              <a href="budgeting" class="govuk-link">Add</a>
              
            </td>
            {% endif %}
    
            <td class="govuk-table__cell govuk-table__cell--numeric">
               {% if (data['budgetingSelect'] == "(10a) Can manage complex budgeting decisions unaided") %}
                 {% set budgetingScore = 0 %} 
              {% elseif (data['budgetingSelect'] == "(10b) Needs prompting or assistance to be able to make complex budgeting decisions") %}
                 {% set budgetingScore = 2 %} 
              {% elseif (data['budgetingSelect'] == "(10c) Needs prompting or assistance to be able to make simple budgeting decisions") %}
                 {% set budgetingScore = 4 %} 
              {% elseif (data['budgetingSelect'] == "(10d) Cannot make any budgeting decisions at all") %}
                 {% set budgetingScore = 6 %} 
              {% else %}
                 {% set budgetingScore = 0 %} 
            {% endif %}
          </td>
           {% if (data['budgetingSelect']) %}
           <td class="govuk-table__cell">
            <a href="budgeting" class="govuk-link">Change</a>
          </td>
          {% else %}
          <td class="govuk-table__cell">

          </td>
             {% endif %}
        </tr>
       
        <!-- <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Score total</th>
            <td class="govuk-table__cell govuk-table__cell"></td>
            <td class="govuk-table__cell govuk-table__cell--numeric">{{ prepFoodScore + nutritionScore + therapyScore + washingScore + toiletScore + dressingScore + communicatingScore + readingScore + facetofaceScore + budgetingScore }}</td>
            <td class="govuk-table__cell govuk-table__cell--numeric"></td>
        </tr> -->
      
  </tbody>
</table>

<br>
<br>
  <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">Mobility activities</caption> 
        <thead class="govuk-table__head">

          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">
              Activity name
            </th>
            <th scope="col" class="govuk-table__header">
              Descriptor choice
            </th>
            <th scope="col" class="govuk-table__header">
              Score
            </th>
            <th scope="col" class="govuk-table__header">
            
            </th>
        </thead>
        <tbody class="govuk-table__body">
       <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
             11. Planning and following journeys
            </th>

            <td class="govuk-table__cell">
              {% if (data['journeysSelectpbr']) %}
                 {{data["journeysSelectpbr"]}} 
              {% else %}
              <a href="journeys" class="govuk-link">Add</a>
              
            </td>
            {% endif %}
    
            <td class="govuk-table__cell govuk-table__cell--numeric">
             {% if (data['journeysSelectpbr'] == "(11a) Can plan and follow the route of a journey unaided") %}
                 {% set journeyScore = 0 %} 
              {% elseif (data['journeysSelectpbr'] == "(11b) Needs prompting to be able to undertake any journey to avoid overwhelming psychological distress to the claimant") %}
                 {% set journeyScore = 4 %} 
              {% elseif (data['journeysSelectpbr'] == "(11c) Cannot plan the route of a journey") %}
                 {% set journeyScore = 8 %} 
              {% elseif (data['journeysSelectpbr'] == "(11d) Cannot follow the route of an unfamiliar journey without another person, assistance dog or orientation aid") %}
                 {% set journeyScore = 10 %} 
              {% elseif (data['journeysSelectpbr'] == "(11e) Cannot undertake any journey because it would cause overwhelming psychological distress to the claimant") %}
              {% set journeyScore = 10 %} 
              {% elseif (data['journeysSelectpbr'] == "(11f) Cannot follow the route of a familiar journey without another person, an assistance dog or an orientation aid") %}
                {% set journeyScore = 12 %} 
              {% else %}
                {% set journeyScore = 0 %} 
            {% endif %}
          </td>
           {% if (data['journeysSelectpbr']) %}
           <td class="govuk-table__cell">
            <a href="journeys" class="govuk-link">Change</a>
          </td>
          {% else %}
          <td class="govuk-table__cell">

          </td>
             {% endif %}
        </tr>

        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
             12. Moving around
            </th>

            <td class="govuk-table__cell">
              {% if (data['movingaroundSelectpbr']) %}
                 {{data["movingaroundSelectpbr"]}} 
              {% else %}
              <a href="movingaround" class="govuk-link">Add</a>
              
            </td>
            {% endif %}
    
            <td class="govuk-table__cell govuk-table__cell--numeric">
            {% if (data['movingaroundSelectpbr'] == "(12a) Can stand and then move more than 200 metres, either aided or unaided") %}
                 {% set movingScore = 0 %} 
              {% elseif (data['movingaroundSelectpbr'] == "(12b) Can stand and then move more than 50 metres but no more than 200 metres, either aided or unaided") %}
                 {% set movingScore = 4 %} 
              {% elseif (data['movingaroundSelectpbr'] == "(12c) Can stand and then move unaided more than 20 metres but no more than 50 metres") %}
                 {% set movingScore = 8 %} 
              {% elseif (data['movingaroundSelectpbr'] == "(12d) Can stand and then move using an aid or appliance more than 20 metres but no more than 50 metres") %}
                 {% set movingScore = 10 %} 
              {% elseif (data['movingaroundSelectpbr'] == "(12e) Can stand and then move more than 1 metre but no more than 20 metres, either aided or unaided") %}
                 {% set movingScore = 12 %} 
              {% elseif (data['movingaroundSelectpbr'] == "(12f) Cannot stand or move more than 1 metre, either aided or unaided") %}
                 {% set movingScore = 12 %} 
              {% else %}
                {% set movingScore = 0 %} 
            {% endif %}
          </td>
          {% if (data['movingaroundSelectpbr']) %}
           <td class="govuk-table__cell">
            <a href="movingaround" class="govuk-link">Change</a>
          </td>
          {% else %}
          <td class="govuk-table__cell">

          </td>
             {% endif %}
        </tr>
        
        <!-- <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Score total</th> 
            <td class="govuk-table__cell govuk-table__cell"></td>
             <td class="govuk-table__cell govuk-table__cell--numeric">{{ journeyScore + movingScore }}</td> 
            <td class="govuk-table__cell govuk-table__cell--numeric"></td>
        </tr> -->

  </tbody>
</table>

        

          
          </fieldset>

            
            
            </div>
          </div>
        </form>
         
  
    </div> 

   </fieldset>
    </div>


      

{% endblock %}
