{% extends "layouts/justification-two-layout" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% set containerClasses = "full-width-container" %}
{% block content_left %}

<style type="text/css">
  .govuk-textarea {
    text-align: left;
    display: block;
    white-space: pre-line;
  }
             
  </style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds"> 

    <form action="#" method="post" id="auto-redirect">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <span class="govuk-caption-xl"></span>
            <h1 class="govuk-fieldset__heading">
              Justifications
            </h1>
            <div id="passport-issued-hint" class="govuk-hint">
            </div>
          </legend>

            <h2 class="govuk-heading-m">Select the activities you want to group</h2>

          <table class="govuk-table">
        <!-- <caption class="govuk-table__caption govuk-table__caption--m">Dates and amounts</caption> -->
        <thead class="govuk-table__head">

   
    
          {% if data["justificationDCheck"].includes("Preparing food") or data["hiddenActivity"].includes("Preparing food")  %} 
             <input class="govuk-checkboxes__input" id="justicationPF" name="hiddenActivity" type="hidden" value="Preparing food" data-aria-controls="">
              {% set prepFood = 1 %}
  
          {% else %}
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="justicationPF" name="justificationDCheck" type="checkbox" value="Preparing food" data-aria-controls="">
                <label class="govuk-label govuk-checkboxes__label" for="justicationPF">
                <b>Preparing food</b>
                </label>
            </div>
          </div>
            </th>
            <td class="govuk-table__cell">
            {% if (data['preparingfoodSelect']) %}

                {{data["preparingfoodSelect"]}}
      
            </td>
            <td class="govuk-table__cell">
            {% else %}
            No descriptor selected
             
            </td>
             <td class="govuk-table__cell">

             </td>
              {% endif %}
          </tr>
          {% endif %}
        </thead>
        <tbody class="govuk-table__body">
          {% if data['justificationDCheck'].includes("Taking nutrition") or data["hiddenActivity"].includes("Taking nutrition")  %} 

          <input class="govuk-checkboxes__input" id="justicationTN" name="hiddenActivity" type="hidden" value="Taking nutrition" data-aria-controls="">

          {% else %}
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="justicationTN" name="justificationDCheck" type="checkbox" value="Taking nutrition" data-aria-controls="">
                <label class="govuk-label govuk-checkboxes__label" for="justicationTN">
                <b>Taking nutrition</b>
                </label>
            </div>
          </div>
            </th>
            <td class="govuk-table__cell">
              {% if (data['takingnutritionSelect']) %}
             
               {{data["takingnutritionSelect"]}} 
            </td>
            <td class="govuk-table__cell">
            {% else %}
             No descriptor selected
            </td>
             <td class="govuk-table__cell">

             </td>
                {% endif %}
          </tr>
        {% endif %}

          {% if data['justificationDCheck'].includes("Managing therapy") or data["hiddenActivity"].includes("Managing therapy")  %} 

          <input class="govuk-checkboxes__input" id="justicationTN" name="hiddenActivity" type="hidden" value="Managing therapy" data-aria-controls="">

          {% else %}

          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="justicationMT" name="justificationDCheck" type="checkbox" value="Managing therapy" data-aria-controls="">
                <label class="govuk-label govuk-checkboxes__label" for="justicationMT">
                <b>Managing therapy</b>
                </label>
            </div>
          </div>
            </th>
            <td class="govuk-table__cell">
              {% if (data['managingtherapySelect']) %}
             
               {{data["managingtherapySelect"]}} 
            </td>
            <td class="govuk-table__cell">
            {% else %}
            No descriptor selected
            </td>
             <td class="govuk-table__cell">

             </td>
                {% endif %}
          </tr>

           {% endif %}

          {% if data['justificationDCheck'].includes("Washing and bathing") or data["hiddenActivity"].includes("Washing and bathing")  %} 

          <input class="govuk-checkboxes__input" id="justicationWB" name="hiddenActivity" type="hidden" value="Washing and bathing" data-aria-controls="">

          {% else %}
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="justicationWB" name="justificationDCheck" type="checkbox" value="Washing and bathing" data-aria-controls="">
                <label class="govuk-label govuk-checkboxes__label" for="justicationWB">
                <b>Washing and bathing</b>
                </label>
            </div>
          </div>
            </th>
            <td class="govuk-table__cell">
              {% if (data['washingbathingSelect']) %}
             
               {{data["washingbathingSelect"]}} 
            </td>
            <td class="govuk-table__cell">
            {% else %}
               No descriptor selected
            </td>
             <td class="govuk-table__cell">

             </td>
                {% endif %}
          </tr>

           {% endif %}

          {% if data['justificationDCheck'].includes("Managing toilet needs") or data["hiddenActivity"].includes("Managing toilet needs")  %} 

          <input class="govuk-checkboxes__input" id="justicationWB" name="hiddenActivity" type="hidden" value="Managing toilet needs" data-aria-controls="">

          {% else %}
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="justicationToiletNeeds" name="justificationDCheck" type="checkbox" value="Managing toilet needs" data-aria-controls="">
                <label class="govuk-label govuk-checkboxes__label" for="justicationToiletNeeds">
                <b>Managing toilet needs</b>
                </label>
            </div>
          </div>
            </th>
            <td class="govuk-table__cell">
              {% if (data['toiletneedsSelect']) %}
             
               {{data["toiletneedsSelect"]}} 
            </td>
            <td class="govuk-table__cell">
            {% else %}
             No descriptor selected
            </td>
             <td class="govuk-table__cell">

             </td>
                {% endif %}
          </tr>

           {% endif %}

          {% if data['justificationDCheck'].includes("Dressing and undressing") or data["hiddenActivity"].includes("Dressing and undressing")  %} 
          <input class="govuk-checkboxes__input" id="justicationWB" name="hiddenActivity" type="hidden" value="Dressing and undressing" data-aria-controls="">

          {% else %}

           <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="justicationDressing" name="justificationDCheck" type="checkbox" value="Dressing and undressing" data-aria-controls="">
                <label class="govuk-label govuk-checkboxes__label" for="justicationDressing">
                <b>Dressing and undressing</b>
                </label>
            </div>
          </div>
            </th>
            <td class="govuk-table__cell">
              {% if (data['dressingSelect']) %}
             
               {{data["dressingSelect"]}} 
            </td>
            <td class="govuk-table__cell">
            {% else %}
              No descriptor selected
       
            </td>
             <td class="govuk-table__cell">

             </td>
                {% endif %}
          </tr>

               {% endif %}


          {% if data['justificationDCheck'].includes("Communicating verbally") or data["hiddenActivity"].includes("Communicating verbally")  %} 
          <input class="govuk-checkboxes__input" id="justicationWB" name="hiddenActivity" type="hidden" value="Communicating verbally" data-aria-controls="">

          {% else %}
           <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="justicationCV" name="justificationDCheck" type="checkbox" value="Communicating verbally" data-aria-controls="">
                <label class="govuk-label govuk-checkboxes__label" for="justicationCV">
                <b>Communicating verbally</b>
                </label>
            </div>
          </div>
            </th>
            <td class="govuk-table__cell">
              {% if (data['communicatingverballySelect']) %}
             
               {{data["communicatingverballySelect"]}} 
            </td>
            <td class="govuk-table__cell">
            {% else %}
             No descriptor selected
            </td>
             <td class="govuk-table__cell">

             </td>
                {% endif %}
          </tr>
           {% endif %}

          {% if data['justificationDCheck'].includes("Reading and understanding signs, symbols and words") or data["hiddenActivity"].includes("Reading and understanding signs, symbols and words")  %} 
          <input class="govuk-checkboxes__input" id="justicationWB" name="hiddenActivity" type="hidden" value="Reading and understanding signs, symbols and words" data-aria-controls="">

          {% else %}

           <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="justicationReading" name="justificationDCheck" type="checkbox" value="Reading and understanding signs, symbols and words" data-aria-controls="">
                <label class="govuk-label govuk-checkboxes__label" for="justicationReading">
                <b>Reading and understanding signs, symbols and words</b>
                </label>
            </div>
          </div>
            </th>
            <td class="govuk-table__cell">
              {% if (data['readingunderstandingSelect']) %}
             
               {{data["readingunderstandingSelect"]}} 
            </td>
            <td class="govuk-table__cell">
            {% else %}
              No descriptor selected
            </td>
             <td class="govuk-table__cell">

             </td>
                {% endif %}
          </tr>

          {% endif %}

           {% if data['justificationDCheck'].includes("Engaging face to face") or data["hiddenActivity"].includes("Engaging face to face")  %} 
          <input class="govuk-checkboxes__input" id="justicationWB" name="hiddenActivity" type="hidden" value="Engaging face to face" data-aria-controls="">

          {% else %}
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="justicationFace" name="justificationDCheck" type="checkbox" value="Engaging face to face" data-aria-controls="">
                <label class="govuk-label govuk-checkboxes__label" for="justicationFace">
                <b>Engaging face to face</b>
                </label>
            </div>
          </div>
            </th>
            <td class="govuk-table__cell">
              {% if (data['facetofaceSelect']) %}
             
               {{data["facetofaceSelect"]}} 
            </td>
            <td class="govuk-table__cell">
            {% else %}
              No descriptor selected
            </td>
             <td class="govuk-table__cell">

             </td>
                {% endif %}
          </tr>
          {% endif %}

           {% if data['justificationDCheck'].includes("Budgeting") or data["hiddenActivity"].includes("Budgeting")  %} 
          <input class="govuk-checkboxes__input" id="justicationWB" name="hiddenActivity" type="hidden" value="Budgeting" data-aria-controls="">

          {% else %}

          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="justicationBud" name="justificationDCheck" type="checkbox" value="Budgeting" data-aria-controls="">
                <label class="govuk-label govuk-checkboxes__label" for="justicationBud">
                <b>Budgeting</b>
                </label>
            </div>
          </div>
            </th>
            <td class="govuk-table__cell">
              {% if (data['budgetingSelect']) %}
             
               {{data["budgetingSelect"]}} 
            </td>
            <td class="govuk-table__cell">
            {% else %}
             No descriptor selected
            </td>
             <td class="govuk-table__cell">

             </td>
                {% endif %}
          </tr>

             {% endif %}

             {% if data['justificationDCheck'].includes("Planning and following journeys") or data["hiddenActivity"].includes("Planning and following journeys")  %} 
          <input class="govuk-checkboxes__input" id="justicationWB" name="hiddenActivity" type="hidden" value="Planning and following journeys" data-aria-controls="">

          {% else %}

          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="justicationBud" name="justificationDCheck" type="checkbox" value="Planning and following journeys" data-aria-controls="">
                <label class="govuk-label govuk-checkboxes__label" for="justicationBud">
                <b>Planning and following journeys</b>
                </label>
            </div>
          </div>
            </th>
            <td class="govuk-table__cell">
              {% if (data['journeysSelectpbr']) %}
             
               {{data["journeysSelectpbr"]}} 
            </td>
            <td class="govuk-table__cell">
            {% else %}
              No descriptor selected
            </td>
             <td class="govuk-table__cell">

             </td>
                {% endif %}
          </tr>

             {% endif %}

          {% if data['justificationDCheck'].includes("Moving around") or data["hiddenActivity"].includes("Moving around")  %} 
          <input class="govuk-checkboxes__input" id="justicationWB" name="hiddenActivity" type="hidden" value="Moving around" data-aria-controls="">

          {% else %}

          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="justicationmoving" name="justificationDCheck" type="checkbox" value="Moving around" data-aria-controls="">
                <label class="govuk-label govuk-checkboxes__label" for="justicationmoving">
                <b>Moving around</b>
                </label>
            </div>
          </div>
            </th>
            <td class="govuk-table__cell">
              {% if (data['movingaroundSelectpbr']) %}
             
               {{data["movingaroundSelectpbr"]}} 
            </td>
            <td class="govuk-table__cell">
            {% else %}
              No descriptor selected
            </td>
             <td class="govuk-table__cell">

             </td>
                {% endif %}
          </tr>

             {% endif %}
    
  </tbody>
</table>

          </fieldset>

          <button type="submit" class="govuk-button" data-module="govuk-button">
            Create group
          </button>

          <a href="addToGroup" class="govuk-link govuk-button group-btn govuk-button--secondary">Add to exisiting group</a>
  
        {% for justification in data['justificationAdded'] %}
        {% set outerLoopIndex = loop.index0 %}
         {% set count = loop.index %}
      <input type="hidden" name="radioID" value="{{ loop.index }}"/>
      <h2 class="govuk-heading-m">Justification for activity {{ justification.groupName }}</h2>
        
        <!-- {{prepFood}}, {{nutritionNum}} {{therapyNum}} -->
          <!-- <p class="govuk-body">{{ justification.activityName | join(", ") }}</p> -->

         {% for activityName in justification.activityName %} 
            
         {% if activityName === "Preparing food" %} 
                {% set prepfoodNum = 1 %}

                {% set nutritionNum = 2 %}
                {% set therapyNum = 3 %}
                  
    
         {% endif %} 
         {% endfor %} 
         
    
          {% for activityName in justification.activityName %} 
                 
      <dl class="govuk-summary-list" id="{{ outerLoopIndex + '-' + loop.index0 }}">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
           {{ activityName }}
            </dt>
            <dd class="govuk-summary-list__value">
               {% if activityName === "Preparing food" %} 
                {{data["preparingfoodSelect"]}}
               {% endif %}
         
               {% if activityName === "Taking nutrition" %} 
                {{data["takingnutritionSelect"]}}
               {% endif %}

               {% if activityName === "Managing therapy" %} 
               {{data["managingtherapySelect"]}}
               {% endif %}

               {% if activityName === "Washing and bathing" %} 
               {{data["washingbathingSelect"]}}
               {% endif %}

               {% if activityName === "Managing toilet needs" %} 
               {{data["toiletneedsSelect"]}}
               {% endif %}

               {% if activityName === "Dressing and undressing" %} 
               {{data["dressingSelect"]}}
               {% endif %}

                {% if activityName === "Communicating verbally" %} 
               {{data["communicatingverballySelect"]}}
               {% endif %}

               {% if activityName === "Reading and understanding signs, symbols and words" %} 
               {{data["readingunderstandingSelect"]}}
               {% endif %}

               {% if activityName === "Engaging face to face" %} 
               {{data["facetofaceSelect"]}}
               {% endif %}

               {% if activityName === "Budgeting" %} 
               {{data["budgetingSelect"]}}
               {% endif %}

               {% if activityName === "Planning and following journeys" %} 
               {{data["journeysSelectpbr"]}}
               {% endif %}


            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link group-btn" id="removeLinkActivity" href="justification-activity?removeLink=true?aName={{activityName}}?id={{loop.index}}">Remove<span class="govuk-visually-hidden"> name</span></a>
            </dd>
          </div>
        </dl>
    
        {% endfor %}

        {% if justification.problemCheck == "The claimant has not reported problems with these activities and there was no evidence to suggest otherwise."  %} 
         <p>The claimant has not reported problems with these activities and there was no evidence to suggest otherwise.</p>
       
         {% endif %}

     {% if loop.index == "1"  %} 
     <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="nationality-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
          <h1 class="govuk-fieldset__heading">
            No problems with this activity
          </h1>
        </legend>
        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="noProblems" name="noProblemTakeNut" type="checkbox" value="The claimant has not reported problems with taking nutrition, and there was no evidence to suggest otherwise." aria-describedby="nationality-item-hint">
            <label class="govuk-label govuk-checkboxes__label" for="nationality">
              The claimant has not reported problems with taking nutrition, and there was no evidence to suggest otherwise.
            </label>
          </div>
        </div>
      </fieldset>
    </div>
       <textarea class="govuk-textarea govuk-!-margin-bottom-9" id="overallJustifcation {{loop.index}}" name="groupJustify" rows="15">{{data["groupJustify"]}}</textarea>
     
       {% elseif loop.index == "2"  %} 
          <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="nationality-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              <h1 class="govuk-fieldset__heading">
                No problems with this activity
              </h1>
            </legend>
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="noProblems" name="noProblemTakeNut" type="checkbox" value="The claimant has not reported problems with taking nutrition, and there was no evidence to suggest otherwise." aria-describedby="nationality-item-hint">
                <label class="govuk-label govuk-checkboxes__label" for="nationality">
                  The claimant has not reported problems with taking nutrition, and there was no evidence to suggest otherwise.
                </label>
              </div>
            </div>
          </fieldset>
        </div>
        <textarea class="govuk-textarea govuk-!-margin-bottom-9" id="overallJustifcation {{loop.index}}" name="groupJustifyTwo" rows="15">{{data["groupJustifyTwo"]}}</textarea>
        {% elseif loop.index == "3"  %} 
            <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="nationality-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              <h1 class="govuk-fieldset__heading">
                No problems with this activity
              </h1>
            </legend>
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="noProblems" name="noProblemTakeNut" type="checkbox" value="The claimant has not reported problems with taking nutrition, and there was no evidence to suggest otherwise." aria-describedby="nationality-item-hint">
                <label class="govuk-label govuk-checkboxes__label" for="nationality">
                  The claimant has not reported problems with taking nutrition, and there was no evidence to suggest otherwise.
                </label>
              </div>
            </div>
          </fieldset>
        </div>
        <textarea class="govuk-textarea govuk-!-margin-bottom-9" id="overallJustifcation {{loop.index}}" name="groupJustifyThree" rows="15">{{data["groupJustifyThree"]}}</textarea>
         {% elseif loop.index == "4"  %} 
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="nationality-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                <h1 class="govuk-fieldset__heading">
                  No problems with this activity
                </h1>
              </legend>
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="noProblems" name="noProblemTakeNut" type="checkbox" value="The claimant has not reported problems with taking nutrition, and there was no evidence to suggest otherwise." aria-describedby="nationality-item-hint">
                  <label class="govuk-label govuk-checkboxes__label" for="nationality">
                    The claimant has not reported problems with taking nutrition, and there was no evidence to suggest otherwise.
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
        <textarea class="govuk-textarea govuk-!-margin-bottom-9" id="overallJustifcation {{loop.index}}" name="groupJustifyFour" rows="15">{{data["groupJustifyFour"]}}</textarea>
         {% elseif loop.index == "5"  %} 
                    <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="nationality-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                  <h1 class="govuk-fieldset__heading">
                    No problems with this activity
                  </h1>
                </legend>
                <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="noProblems" name="noProblemTakeNut" type="checkbox" value="The claimant has not reported problems with taking nutrition, and there was no evidence to suggest otherwise." aria-describedby="nationality-item-hint">
                    <label class="govuk-label govuk-checkboxes__label" for="nationality">
                      The claimant has not reported problems with taking nutrition, and there was no evidence to suggest otherwise.
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>
        <textarea class="govuk-textarea govuk-!-margin-bottom-9" id="overallJustifcation {{loop.index}}" name="groupJustifyFive" rows="15">{{data["groupJustifyFive"]}}</textarea>
         {% elseif loop.index == "6"  %} 
            <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="nationality-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                <h1 class="govuk-fieldset__heading">
                  No problems with this activity
                </h1>
              </legend>
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="noProblems" name="noProblemTakeNut" type="checkbox" value="The claimant has not reported problems with taking nutrition, and there was no evidence to suggest otherwise." aria-describedby="nationality-item-hint">
                  <label class="govuk-label govuk-checkboxes__label" for="nationality">
                    The claimant has not reported problems with taking nutrition, and there was no evidence to suggest otherwise.
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
        <textarea class="govuk-textarea govuk-!-margin-bottom-9" id="overallJustifcation {{loop.index}}" name="groupJustifySix" rows="15">{{data["groupJustifySix"]}}</textarea>
          {% elseif loop.index == "7"  %} 
                <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="nationality-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                <h1 class="govuk-fieldset__heading">
                  No problems with this activity
                </h1>
              </legend>
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="noProblems" name="noProblemTakeNut" type="checkbox" value="The claimant has not reported problems with taking nutrition, and there was no evidence to suggest otherwise." aria-describedby="nationality-item-hint">
                  <label class="govuk-label govuk-checkboxes__label" for="nationality">
                    The claimant has not reported problems with taking nutrition, and there was no evidence to suggest otherwise.
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
        <textarea class="govuk-textarea govuk-!-margin-bottom-9" id="overallJustifcation {{loop.index}}" name="groupJustifySeven" rows="15">{{data["groupJustifySeven"]}}</textarea>
          {% elseif loop.index == "8"  %} 
                <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="nationality-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                <h1 class="govuk-fieldset__heading">
                  No problems with this activity
                </h1>
              </legend>
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="noProblems" name="noProblemTakeNut" type="checkbox" value="The claimant has not reported problems with taking nutrition, and there was no evidence to suggest otherwise." aria-describedby="nationality-item-hint">
                  <label class="govuk-label govuk-checkboxes__label" for="nationality">
                    The claimant has not reported problems with taking nutrition, and there was no evidence to suggest otherwise.
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
        <textarea class="govuk-textarea govuk-!-margin-bottom-9" id="overallJustifcation {{loop.index}}" name="groupJustifyEight" rows="15">{{data["groupJustifyEight"]}}</textarea>
          {% elseif loop.index == "9"  %} 
              <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="nationality-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                  <h1 class="govuk-fieldset__heading">
                    No problems with this activity
                  </h1>
                </legend>
                <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="noProblems" name="noProblemTakeNut" type="checkbox" value="The claimant has not reported problems with taking nutrition, and there was no evidence to suggest otherwise." aria-describedby="nationality-item-hint">
                    <label class="govuk-label govuk-checkboxes__label" for="nationality">
                      The claimant has not reported problems with taking nutrition, and there was no evidence to suggest otherwise.
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>
        <textarea class="govuk-textarea govuk-!-margin-bottom-9" id="overallJustifcation {{loop.index}}" name="groupJustifyNine" rows="15">{{data["groupJustifyNine"]}}</textarea>
         {% elseif loop.index == "10"  %} 
               <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="nationality-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                  <h1 class="govuk-fieldset__heading">
                    No problems with this activity
                  </h1>
                </legend>
                <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="noProblems" name="noProblemTakeNut" type="checkbox" value="The claimant has not reported problems with taking nutrition, and there was no evidence to suggest otherwise." aria-describedby="nationality-item-hint">
                    <label class="govuk-label govuk-checkboxes__label" for="nationality">
                      The claimant has not reported problems with taking nutrition, and there was no evidence to suggest otherwise.
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>
        <textarea class="govuk-textarea govuk-!-margin-bottom-9" id="overallJustifcation {{loop.index}}" name="groupJustifyTen" rows="15">{{data["groupJustifyTen"]}}</textarea>
         {% elseif loop.index == "11"  %} 
               <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="nationality-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                  <h1 class="govuk-fieldset__heading">
                    No problems with this activity
                  </h1>
                </legend>
                <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="noProblems" name="noProblemTakeNut" type="checkbox" value="The claimant has not reported problems with taking nutrition, and there was no evidence to suggest otherwise." aria-describedby="nationality-item-hint">
                    <label class="govuk-label govuk-checkboxes__label" for="nationality">
                      The claimant has not reported problems with taking nutrition, and there was no evidence to suggest otherwise.
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>
        <textarea class="govuk-textarea govuk-!-margin-bottom-9" id="overallJustifcation {{loop.index}}" name="groupJustifyEleven" rows="15">{{data["groupJustifyEleven"]}}</textarea>
         {% elseif loop.index == "12"  %} 
               <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="nationality-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                  <h1 class="govuk-fieldset__heading">
                    No problems with this activity
                  </h1>
                </legend>
                <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="noProblems" name="noProblemTakeNut" type="checkbox" value="The claimant has not reported problems with taking nutrition, and there was no evidence to suggest otherwise." aria-describedby="nationality-item-hint">
                    <label class="govuk-label govuk-checkboxes__label" for="nationality">
                      The claimant has not reported problems with taking nutrition, and there was no evidence to suggest otherwise.
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>
        <textarea class="govuk-textarea govuk-!-margin-bottom-9" id="overallJustifcation {{loop.index}}" name="groupJustifyTwelve" rows="15">{{data["groupJustifyTwelve"]}}</textarea>
        {% endif %} 
        <br>
        <br>
        <br>
         {% endfor %} 

            </div>
          <!-- </div> -->
        </form>
        <script>
           const ab = document.querySelectorAll(".group-btn"); // this will make anything redirect-able 
          ab.forEach(link => {
            link.addEventListener("click", function (e) {
              e.preventDefault();
              const formElement = document.getElementById("auto-redirect");
              formElement.action = window.location.href = "?redirect=" + e.target.href;
              formElement.submit();
            });
          });
          </script>
  
    </div> 

    <div class="govuk-grid-column-one-third">
        <p class="govuk-body">
          <a href="#" class="govuk-link" rel="noreferrer noopener" target="_blank">Questionnaire responses (opens in a new tab)</a>
        </p>
        <p class="govuk-body">
          <a href="consultation-notes" class="govuk-link" rel="noreferrer noopener" target="_blank">Consultation notes (opens in a new tab)</a>
        </p>
      </div>
    </div>

   </fieldset>
    </div>


      

{% endblock %}
