{% extends "layouts/layout-split-banner.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">

    <a href="javascript:history.back()" class="govuk-back-link">Back</a>
    

    <span class="govuk-caption-xl"></span>
    <h1 class="govuk-heading-xl">Check your answers</h1>

    <h2 class="govuk-heading-l">Telephone call</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          ID verification
        </dt>
        <dd class="govuk-summary-list__value">
            {{data["radioGroupId"]}}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> name</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Consent
        </dt>
        <dd class="govuk-summary-list__value">
            {{data["radioGroupConsent"]}}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> date of birth</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Additional attendees?
        </dt>
        <dd class="govuk-summary-list__value">
            {{data["radioGroupAttendees"]}}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> customer reference</span>
          </a>
        </dd>
      </div>
    </dl>

    <h2 class="govuk-heading-l">Conditions</h2>

    {% for query in data['queriesCondition'] %}
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Condition       </dt>
        <dd class="govuk-summary-list__value">
          {{ query.condition }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <ul class="govuk-summary-list__actions-list">
            <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> contact details</span>
              </a></li>
            <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="#">
                Remove<span class="govuk-visually-hidden"> contact details</span>
              </a></li>
          </ul>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
         Approximate start date
        </dt>
        <dd class="govuk-summary-list__value">
          {{ query.conditionLength }}
        </dd>
        <dd class="govuk-summary-list__actions">
         
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Condition overview
        </dt>
        <dd class="govuk-summary-list__value">
          {{ query.conditionSymptoms }}
        </dd>
        <dd class="govuk-summary-list__actions">
        
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Variability
        </dt>
        <dd class="govuk-summary-list__value">
          {{data["variability"]}}
        </dd>
        <dd class="govuk-summary-list__actions">
         
        </dd>
      </div>
    </dl>
 {% endfor %}

  <h2 class="govuk-heading-l">Medications</h2>

  {% for query in data['queriesMedication'] %}
  <dl class="govuk-summary-list govuk-!-margin-bottom-9">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
       Medication name      </dt>
      <dd class="govuk-summary-list__value">
        {{ query.medicationName }}
      </dd>
      <dd class="govuk-summary-list__actions">
        <ul class="govuk-summary-list__actions-list">
          <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> contact details</span>
            </a></li>
          <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="#">
              Remove<span class="govuk-visually-hidden"> contact details</span>
            </a></li>
        </ul>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
       Dose     </dt>
      <dd class="govuk-summary-list__value">
        {{ query.medicationDose }}
      </dd>
      <dd class="govuk-summary-list__actions">
       
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
       Frequency      </dt>
      <dd class="govuk-summary-list__value">
        {{ query.medicationFrequency }}
      </dd>
      <dd class="govuk-summary-list__actions">
      
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Efficacy      </dt>
      <dd class="govuk-summary-list__value">
        {{ query.medicationEfficacy }}
      </dd>
      <dd class="govuk-summary-list__actions">
       
      </dd>
    </div>
    
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
       Side effects
      </dt>
      <dd class="govuk-summary-list__value">
        {{ query.medSideEffect }}
      </dd>
      <dd class="govuk-summary-list__actions">
        
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
       Additional information
      </dt>
      <dd class="govuk-summary-list__value">
        {{ query.additonalInfo }}
      </dd>
      <dd class="govuk-summary-list__actions">
       
      </dd>
    </div>
  </dl>

  {% endfor %}

    <h2 class="govuk-heading-l">Treatments</h2>

    {% for query in data['queriesTreatment'] %}
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
        Treatment type </dt>
        <dd class="govuk-summary-list__value">
          {{ query.treatmentType }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <ul class="govuk-summary-list__actions-list">
            <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> contact details</span>
              </a></li>
            <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="#">
                Remove<span class="govuk-visually-hidden"> contact details</span>
              </a></li>
          </ul>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
         Hours per week     </dt>
        <dd class="govuk-summary-list__value">
          {{ query.treatmentFrequency }}
        </dd>
        <dd class="govuk-summary-list__actions">
          
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
        Additional information for this treatment
        </dt>
        <dd class="govuk-summary-list__value">
          {{ query.treatmentLocation }}
        </dd>
        <dd class="govuk-summary-list__actions">
         
        </dd>
      </div>
    </dl>
    {% endfor %}

    <h2 class="govuk-heading-l">Social and occupational history</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Do they live with anyone?
        </dt>
        <dd class="govuk-summary-list__value">
            {{data["home-live-with"]}}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> customer reference</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          What kind of home do they live in?        </dt>
        <dd class="govuk-summary-list__value">
            {{data["home-type"]}}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> name</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Has the home been adapted in any way? 
        </dt>
        <dd class="govuk-summary-list__value">
            {{data["home-adaptations"]}}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> customer reference</span>
          </a>
        </dd>
      </div>
     
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Do they use any aids or appliances?
        </dt>
        <dd class="govuk-summary-list__value">
            {{data["aids-appliances"]}}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> customer reference</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Do they work?
        </dt>
        <dd class="govuk-summary-list__value">
            {{data["do-they-work"]}}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> customer reference</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Do they drive?
        </dt>
        <dd class="govuk-summary-list__value">
            {{data["drive-details"]}}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> customer reference</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          How else do they get around?
        </dt>
        <dd class="govuk-summary-list__value">
            {{data["get-around"]}}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> customer reference</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          How do they buy their shopping?
        </dt>
        <dd class="govuk-summary-list__value">
            {{data["shopping"]}}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> customer reference</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          How do they manage their housework?
        </dt>
        <dd class="govuk-summary-list__value">
            {{data["housework"]}}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> customer reference</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Do they spend their time?
        </dt>
        <dd class="govuk-summary-list__value">
            {{data["hobbies"]}}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> customer reference</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Additional social and occupational history 
        </dt>
        <dd class="govuk-summary-list__value">
            {{data["add-info"]}}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> customer reference</span>
          </a>
        </dd>
      </div>
      </dl>

      <h2 class="govuk-heading-l">Daily living</h2>

      <p class="govuk-body">
        <a href="#" class="govuk-link" style="float: right; display: inline;">Change</a>
     </p>
      <h3 class="govuk-heading-m">Preparing food</h3>
      <p>{{data["preparingfoodNotes"]}}</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <br>

      <p class="govuk-body">
        <a href="#" class="govuk-link" style="float: right; display: inline;">Change</a>
     </p>
      <h3 class="govuk-heading-m">Taking nutrition</h3>
      <p>{{data["takingnutritionNotes"]}}</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <br>

      <p class="govuk-body">
        <a href="#" class="govuk-link" style="float: right; display: inline;">Change</a>
     </p>
      <h3 class="govuk-heading-m">Managing therapy</h3>
      <p> {{data["managingtherapyNotes"]}}</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <br>

      <p class="govuk-body">
        <a href="#" class="govuk-link" style="float: right; display: inline;">Change</a>
     </p>
      <h3 class="govuk-heading-m">Washing and bathing</h3>
      <p>  {{data["washingbathingNotes"]}}</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <br>

      <p class="govuk-body">
        <a href="#" class="govuk-link" style="float: right; display: inline;">Change</a>
     </p>
      <h3 class="govuk-heading-m">Managing toilet needs</h3>
      <p>  {{data["toiletneedsNotes"]}}</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <br>

      <p class="govuk-body">
        <a href="#" class="govuk-link" style="float: right; display: inline;">Change</a>
     </p>
      <h3 class="govuk-heading-m">Dressing and undressing</h3>
      <p>   {{data["dressingNotes"]}}</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <br>

      <p class="govuk-body">
        <a href="#" class="govuk-link" style="float: right; display: inline;">Change</a>
     </p>
      <h3 class="govuk-heading-m">Communicating verbally</h3>
      <p> {{data["communicatingverballyNotes"]}} </p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <br>

      <p class="govuk-body">
        <a href="#" class="govuk-link" style="float: right; display: inline;">Change</a>
     </p>
      <h3 class="govuk-heading-m"> Reading and understanding signs, symbols and words</h3>
      <p>  {{data["readingunderstandingNotes"]}} </p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <br>

      <p class="govuk-body">
        <a href="#" class="govuk-link" style="float: right; display: inline;">Change</a>
     </p>
      <h3 class="govuk-heading-m">Engaging face to face</h3>
      <p> {{data["facetofaceNotes"]}} </p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <br>

      <p class="govuk-body">
        <a href="#" class="govuk-link" style="float: right; display: inline;">Change</a>
     </p>
      <h3 class="govuk-heading-m">Budgeting</h3>
      <p> {{data["budgetingNotes"]}} </p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <br>
    
  
        <h2 class="govuk-heading-l">Mobility</h2>

        <p class="govuk-body">
          <a href="#" class="govuk-link" style="float: right; display: inline;">Change</a>
       </p>
        <h3 class="govuk-heading-m">Planning and following journeys</h3>
        <p>  {{data["journeysNotes"]}} </p>
  
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        <br>

        <p class="govuk-body">
          <a href="#" class="govuk-link" style="float: right; display: inline;">Change</a>
       </p>
        <h3 class="govuk-heading-m">Moving around</h3>
        <p> {{data["movingaroundNotes"]}} </p>
  
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        <br>

      <h2 class="govuk-heading-l">Examination</h2>

      <p class="govuk-body">
        <a href="#" class="govuk-link" style="float: right; display: inline;">Change</a>
     </p>
      <h3 class="govuk-heading-m">Mental state</h3>
      <p>   {{data["mental-state"]}} </p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <br>

      <p class="govuk-body">
        <a href="#" class="govuk-link" style="float: right; display: inline;">Change</a>
     </p>
      <h3 class="govuk-heading-m">Observations</h3>
      <p> {{data["observations"]}}</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <br>
  
    <form action="ta-task-list5.html" method="get" novalidate>
      <input type="hidden" name="answers-checked" value="true">
      <button class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>
    </form>
    <!--
    <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="list-convictions-status">Not started</strong>
    <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="submit-pay-status">Cannot start yet</strong>
    <strong class="govuk-tag govuk-tag--blue govuk-prototype-kit-task-list__tag" id="contact-details-status">In progress</strong>
    <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="eligibility-status">Completed</strong>

  -->
  </div>      
      </div>

{% endblock %}
