{% extends "layouts/layout-ta.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <a href="javascript:history.back()" class="govuk-back-link">Back</a>
    

    <h1 class="govuk-heading-l">You have abandoned this consultation</h1>

<form action="#" method="post">
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h2 class="govuk-fieldset__heading">
          What is the next step for this assessment?
        </h2>
      </legend>
      <div class="govuk-radios" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="contact" name="abandon" type="radio" value="Complete the assessment with available evidence" data-aria-controls="conditional-contact">
          <label class="govuk-label govuk-radios__label" for="contact">
            End the consultation and continue with the assessment
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="contact-2" name="abandon" type="radio" value="Send to admin" data-aria-controls="conditional-contact-2">
          <label class="govuk-label govuk-radios__label" for="contact-2">
            Transfer to the Non-Clinical Admin Team (NCAT)
        </label>
        </div>
        <!-- <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="contact-3" name="abandon" type="radio" value="Mark as assessment not completed" data-aria-controls="conditional-contact-3">
          <label class="govuk-label govuk-radios__label" for="contact-3">
            Mark as assessment not completed
          </label>
        </div> -->
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="contact-4" name="abandon" type="radio" value="Record unacceptable claimant behaviour" data-aria-controls="conditional-contact-4">
          <label class="govuk-label govuk-radios__label" for="contact-4">
            Record unacceptable claimant behaviour
          </label>
        </div>

        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="contact-5" name="abandon" type="radio" value="answerNoClaim" data-aria-controls="conditional-contact-4">
          <label class="govuk-label govuk-radios__label" for="contact-5">
            This claimant no longer wants to claim
          </label>
        </div>
       
      </div>
    </fieldset>
  </div>

      <div class="govuk-button-group">

      </div><button class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>
    </div>

      </form>
<!--
    <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="list-convictions-status">Not started</strong>
    <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="submit-pay-status">Cannot start yet</strong>
    <strong class="govuk-tag govuk-tag--blue govuk-prototype-kit-task-list__tag" id="contact-details-status">In progress</strong>
    <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="eligibility-status">Completed</strong>

  -->
  </div>      
      </div>

{% endblock %}
