{% extends "layouts/layout-split-banner.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <a href="javascript:history.back()" class="govuk-back-link">Back</a>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Select a mobility qualifying period and prospective test</h1>
      </div>
    </div>

    <form action="#" method="post" novalidate="">
              
              

        <div class="govuk-form-group">

            <fieldset class="govuk-fieldset" aria-describedby="qp-hint">
            
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
            
              Has the claimant had the functional restriction for at least 3 months?
            
            </legend>
            
          
            <!-- <div id="qp-hint" class="govuk-hint">
              The qualifying period of the required period condition
            </div> -->
          
          
            <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
              
                
                    
                  
                  
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="qp" name="mobility-qp" type="radio" value="Yes">
                    <label class="govuk-label govuk-radios__label" for="qp">
                  Yes
                </label>
                    
                  </div>
                  
                  
                
              
                
                  
                  
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="qp-2" name="mobility-qp" type="radio" value="No" aria-controls="conditional-qp-2" aria-expanded="false">
                    <label class="govuk-label govuk-radios__label" for="qp-2">
                  No
                </label>
                    
                  </div>
                  
                    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-qp-2">
                      
              
          
          <div class="govuk-form-group">
            <label class="govuk-label govuk-label--s" for="part-not-met">
              Qualifying period details
            </label>
          
          
            <textarea class="govuk-textarea" id="part-not-met" name="part-not-met" rows="5"></textarea>
          </div>
          
              
                    </div>
                  
                  
                
              
                
                  
                  
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="qp-3" name="mobility-qp" type="radio" value="No mobility restriction found">
                    <label class="govuk-label govuk-radios__label" for="qp-3">
                  No mobility restriction found
                </label>
                    
                  </div>
                  
                  
                
              
            </div>
            
          
          </fieldset>
          
          
          </div>
          <div class="govuk-form-group">

            <fieldset class="govuk-fieldset" aria-describedby="9qp-hint">
            
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
            
              Is the claimant likely to have the functional restriction in 9 months?
            
            </legend>
            
          
            <!-- <div id="9qp-hint" class="govuk-hint">
              The prospective test of the required period condition
            </div> -->
          
          
            <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
              
                
                    
                  
                  
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="9qp" name="9qp" type="radio" value="Yes">
                    <label class="govuk-label govuk-radios__label" for="9qp">
                  Yes
                </label>
                    
                  </div>
                  
                  
                
              
                
                  
                  
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="9qp-2" name="9qp" type="radio" value="No" aria-controls="conditional-9qp-2" aria-expanded="false">
                    <label class="govuk-label govuk-radios__label" for="9qp-2">
                  No
                </label>
                    
                  </div>
                  
                    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-9qp-2">
                      
                
          
          <div class="govuk-form-group">
            <label class="govuk-label govuk-label--s" for="9part-not-met">
              Prospective test details
            </label>
          
          
            <textarea class="govuk-textarea" id="9part-not-met" name="9part-not-met" rows="5"></textarea>
          </div>
          
                
                    </div>
                  
                  
                
              
                
                  
                  
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="9qp-3" name="9qp" type="radio" value="No mobility restriction found">
                    <label class="govuk-label govuk-radios__label" for="9qp-3">
                  No mobility restriction found
                </label>
                    
                  </div>
                  
                  
                
              
            </div>
            
          
          </fieldset>
          
          
          </div>
<button class="govuk-button" data-module="govuk-button">
  Save and continue
</button>
          
          </form>
    </div>

      </form>
<!--
    <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="list-convictions-status">Not started</strong>
    <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="submit-pay-status">Cannot start yet</strong>
    <strong class="govuk-tag govuk-tag--blue govuk-prototype-kit-task-list__tag" id="contact-details-status">In progress</strong>
    <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="eligibility-status">Completed</strong>

  -->
  </div>      
      </div>

{% endblock %}
