{% extends "layouts/task-layout.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-xl">PIP telephone assessment</span>
    <h1 class="govuk-heading-l">
      Telephone assessment for John Smith
    </h1>

    <table class="govuk-table">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Appointment time</th>
            <td class="govuk-table__cell">9:45am</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Appointee details</th>
            <td class="govuk-table__cell">No appointee</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">To do</th>
            <td class="govuk-table__cell">Start assessment and call the claimant</td>
          </tr>
        </tbody>
      </table>    
      
      <form action="ta-task-list" method="post" class="form">
        <button class="govuk-button" data-module="govuk-button">Start assessment</button>
    </form>
    <p>  <a href="task-cannot">I cannot do this task</a> </p>
<!--
    <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="list-convictions-status">Not started</strong>
    <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="submit-pay-status">Cannot start yet</strong>
    <strong class="govuk-tag govuk-tag--blue govuk-prototype-kit-task-list__tag" id="contact-details-status">In progress</strong>
    <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="eligibility-status">Completed</strong>

  -->
  </div>      
      </div>

{% endblock %}
