{% extends "layouts/editing.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<style type="text/css">
  .text {
    text-align: left;
    display: block;
    white-space: pre-line;
  }
             
  </style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">

    <a href="evidence-addAnother" class="govuk-back-link">Back</a>
    

    <h1 class="govuk-heading-xl">Check answers</h1>


    <h2 class="govuk-heading-l">Evidence</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-2">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Evidence used
        </dt>
        {% for evidence in data['evidenceAdded'] %}
        {% set outerLoopIndex = loop.index0 %}
        <!--Only show the last iteration of loop-->
        {% if loop.last %}
            <!-- Pulling out specific values to display -->
        {% for evidenceName in evidence.evidenceName %} 
 
          <p class="govuk-body" style="margin-bottom: 3.5%;">{{ evidenceName }}</p> 
        

        {% endfor %}
        {% endif %}
    {% endfor %}
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="evidence-addAnother">
            Change<span class="govuk-visually-hidden"> evidence used</span>
          </a>
        </dd>
      </div>
    </dl>
   


    <div class="govuk-!-margin-bottom-9" style="margin-top: 1%;">
      <h4 class="govuk-heading-s" style="display: inline-block;">Evidence supplied during consultation</h4>
      <a href="evidence-addAnother#evidenceInConsultation" class="govuk-link govuk-body" style="float: right; display: inline;">Change</a>
  
      <p class="govuk-body" style="width: 90%;">{{ data["otherEvidence"] }}</p>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    </div>
  

    <h2 class="govuk-heading-l">Consultation</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
         Consulation date
        </dt>
        <dd class="govuk-summary-list__value">
          13 October 2023
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> consultation date</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Was the claimant's identity verified?
        </dt>
        <dd class="govuk-summary-list__value">
          Yes
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> if the claimant's identity was verified</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          How was their identity verified?
        </dt>
        <dd class="govuk-summary-list__value">
          Passport, NINo, First line of address
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> how their identity was verified</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Did the claimant give consent?
        </dt>
        <dd class="govuk-summary-list__value">
          Yes
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> if the claimant gave consent</span>
          </a>
        </dd>
      </div>
    </dl>

    <h2 class="govuk-heading-l">Additional attendees (optional)</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-7">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Attendee name
        </dt>
        <dd class="govuk-summary-list__value">
          Sarah Smith
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> attendee name</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Relationship or role
        </dt>
        <dd class="govuk-summary-list__value">
          Sister
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> relationship or role for Sarah Smith</span>
          </a>
        </dd>
      </div>
    </dl>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Attendee name
        </dt>
        <dd class="govuk-summary-list__value">
          Marvin Turner
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> attendee name</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Relationship or role
        </dt>
        <dd class="govuk-summary-list__value">
          Doctor
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> relationship or role for Marvin Turner</span>
          </a>
        </dd>
      </div>
    </dl>

    <h2 class="govuk-heading-l">Condition history</h3>

    <dl class="govuk-summary-list govuk-!-margin-bottom-2">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Condition or disability name
        </dt>
        <dd class="govuk-summary-list__value">
          Depression
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> condition or disability name</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
           When did the condition or disability start?
        </dt>
        <dd class="govuk-summary-list__value">
          March 2022
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> when Depression started</span></a>
        </dd>
      </div>
    </dl>

  <div class="govuk-summary-list govuk-!-margin-bottom-0">
    <h4 class="govuk-heading-s" style="display: inline-block;">Diagnosis, impact and variability</h4>
    <a href="#" class="govuk-link govuk-body" style="float: right; display: inline;">Change</a>

    <p class="govuk-body" style="width: 90%;">Struggles with motivation and with doing basic activities around the house, has good days and bad days which can be hard to predict in frequency</p>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  </div>

  <div style="margin-top: -1.5%;">
    <h4 class="govuk-heading-s" style="display: inline-block;">Current treatments, specialist input and hospital stays</h4>
    <a href="#" class="govuk-link govuk-body" style="float: right; display: inline;">Change</a>

    <p class="govuk-body" style="width: 90%;">Over the past 12 months she last had a hospital admission in December 2020 due to an attempted overdose on medication, and she stayed in hospital for a duration of a day in total for this.</p>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  </div>

  <div style="margin-top: -1.5%;">
    <h4 class="govuk-heading-s" style="display: inline-block;">Home therapies (optional)</h4>
    <a href="#" class="govuk-link govuk-body" style="float: right; display: inline;">Change</a>

    <p class="govuk-body" style="width: 90%;">No caring responsibilities</p>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  </div>

  <div style="margin-top: -1.5%;">
    <h4 class="govuk-heading-s" style="display: inline-block;">Suicidal thoughts and self harm (optional)</h4>
    <a href="#" class="govuk-link govuk-body" style="float: right; display: inline;">Change</a>

    <p class="govuk-body" style="width: 90%;">She's been experiencing suicidal thoughts since the time of her condition diagnosis, she last tried to overdose on medication in December 2020 which required hospitalisation. 
      Currently she still experiences such thoughts, however she wouldn't have intentions or plans to act on the thoughts.</p>
      <hr class="govuk-section-break govuk-section-break--m govuk-!-margin-bottom-7 govuk-section-break--visible">
  </div>

  <br>

  <dl class="govuk-summary-list govuk-!-margin-bottom-2">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Condition or disability name
      </dt>
      <dd class="govuk-summary-list__value">
        Back pain
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
         When did the condition or disability start?
      </dt>
      <dd class="govuk-summary-list__value">
        June 2012
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> date of birth</span></a>
      </dd>
    </div>
  </dl>

    <div class="govuk-!-margin-bottom-0"> 
      <h4 class="govuk-heading-s" style="display: inline-block;">Diagnosis, impact and variability</h4>
      <a href="#" class="govuk-link govuk-body" style="float: right; display: inline;">Change</a>
  
      <p class="govuk-body" style="width: 90%;">Had scans at the hospital for a suspected bulging disc, no overnight hospital stay was requried.</p>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    </div>

    <div style="margin-top: -1.5%;">
      <h4 class="govuk-heading-s" style="display: inline-block;">Current treatments, specialist input and hospital stays</h4>
      <a href="#" class="govuk-link govuk-body" style="float: right; display: inline;">Change</a>
  
      <p class="govuk-body" style="width: 90%;">Has had physiotherapy, did not help get better, still in lots of pain and hoping will get better overtime</p>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    </div>
  
    <div style="margin-top: -1.5%;">
      <h4 class="govuk-heading-s" style="display: inline-block;">Home therapies (optional)</h4>
      <a href="#" class="govuk-link govuk-body" style="float: right; display: inline;">Change</a>
  
      <p class="govuk-body" style="width: 90%;">No caring responsibilities</p>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    </div>
  
    <div style="margin-top: -1.5%;">
      <h4 class="govuk-heading-s" style="display: inline-block;">Suicidal thoughts and self harm (optional)</h4>
      <a href="#" class="govuk-link govuk-body" style="float: right; display: inline;">Change</a>
  
      <p class="govuk-body" style="width: 90%;">No suidcidal thoughts</p>
      <hr class="govuk-section-break govuk-section-break--m govuk-!-margin-bottom-9 govuk-section-break--visible">
    </div>

      <h2 class="govuk-heading-l">Medication (optional)</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-7">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Medication name
          </dt>
          <dd class="govuk-summary-list__value">
            Codeine
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Dosage
          </dt>
          <dd class="govuk-summary-list__value">
            30mg
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Frequency
          </dt>
          <dd class="govuk-summary-list__value">
            Once daily
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Reason for taking
          </dt>
          <dd class="govuk-summary-list__value">
           To ease pain
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Effectiveness (optional)
          </dt>
          <dd class="govuk-summary-list__value">
            Sometime eases symptoms
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Side effects (optional)
          </dt>
          <dd class="govuk-summary-list__value">
            Feel sick
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
    </dl>


    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Medication name
        </dt>
        <dd class="govuk-summary-list__value">
          Sertraline
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> name</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Dosage
        </dt>
        <dd class="govuk-summary-list__value">
          30mg
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> name</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Frequency
        </dt>
        <dd class="govuk-summary-list__value">
          Once daily
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> name</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Reason for taking
        </dt>
        <dd class="govuk-summary-list__value">
         To reduce anxiety
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> name</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Effectiveness (optional)
        </dt>
        <dd class="govuk-summary-list__value">
          Sometime eases symptoms
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> name</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Side effects (optional)
        </dt>
        <dd class="govuk-summary-list__value">
          Feel sick
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> name</span>
          </a>
        </dd>
      </div>
  </dl>
  
    <br>
    <div>
      <h2 class="govuk-heading-l" style="display: inline-block;">Social and occupational history (optional)</h3>
        <a href="#" class="govuk-link govuk-body" style="float: right">Change</a>
    </div>

    <div>
    <p class="govuk-body" style="width: 90%;">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dui odio, ultrices vel faucibus non, ultricies nec lacus. Donec justo libero, rutrum rhoncus nisl et, imperdiet volutpat mauris. Nunc aliquam tellus sem, eu dictum nisl aliquam non. Interdum et malesuada fames ac ante ipsum primis in faucibus. Etiam eget efficitur ex, vitae rutrum diam. Nullam semper dapibus turpis non eleifend. In non ex felis. Nulla facilisi. Donec sollicitudin ex et tellus rutrum tristique. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Donec rutrum convallis urna vel posuere.
<br><br>
Suspendisse consequat commodo consequat. Integer finibus eros vel ipsum tincidunt, eget tincidunt mi malesuada. In eu enim id velit facilisis rutrum. Ut ultrices tristique vehicula. Proin vel nisi at augue imperdiet scelerisque vel at urna. Nunc sit amet gravida urna. Praesent quis enim in arcu pulvinar euismod non in erat. Nulla mollis lectus auctor felis rhoncus blandit. Etiam luctus molestie gravida.
<br><br>
Integer id vehicula quam. Integer magna justo, euismod non semper ut, molestie id velit. Aenean imperdiet porttitor sem mollis gravida. Fusce sagittis orci elit, ac gravida sapien feugiat in. Nunc at libero nec leo maximus efficitur. Sed magna metus, placerat vitae fermentum ac, sodales id diam. Fusce quis odio et justo fermentum ultricies vel vel sapien. Quisque vitae leo molestie, eleifend velit at, ultrices diam. Proin in semper urna, at consequat magna. Maecenas ut sollicitudin lacus. Integer a tortor eu ante condimentum ultrices.
    </p>
    <hr class="govuk-section-break govuk-section-break--m govuk-!-margin-bottom-9  govuk-section-break--visible">
    </div>


      <h2 class="govuk-heading-l">Daily living</h2>
      
      <h3 class="govuk-heading-m" style="display: inline-block;">Preparing food</h3>

    <div>
      <h3 class="govuk-heading-s" style="display: inline-block;">Functional history for preparing food</h3>
      <a href="#" class="govuk-link govuk-body" style="float: right; display: inline;">Change</a>
    </div>

      <p class="text" style="width: 90%;">She is unable to prepare and cook a simple meal from fresh ingredients for 1 person. 
        Her concentration is quite poor and tends to forget switching electric appliances on and off regularly. There have been instances when she's had accidents in the kitchen due to accidently burning herself. 
        She is unable to cut, peel and chop ingredients or open up packaging, tins and jars due to her hand pans.</p>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <div>
      <h3 class="govuk-heading-s" style="display: inline-block;">How well can the claimant prepare food?</h3>
      <a href="#" class="govuk-link govuk-body" style="float: right; display: inline;">Change</a>
      </div>

      <p style="width: 90%;">(1e) Needs supervision or assistance to either prepare or cook a simple meal</p>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <div>
      <h3 class="govuk-heading-s" style="display: inline-block;">Justification for preparing food</h3>
      <a href="#" class="govuk-link govuk-body" style="float: right; display: inline;">Change</a>
      </div>

      <p class="text" style="width: 90%;">CQ states standing for long periods causes knee pains, cutting and peeling causes hand pains and swelling, tremor prevents her from lifting saucepans, cutting, peeling and opening tins, has burnt herself, cannot use a tin opener and has left meals uncooked, a lot of the time feels too exhausted to prepare a meal, spills a lot of things due to tremors, cannot drain vegetables or handle saucepans due to subacromial impingement.</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-!-margin-bottom-7  govuk-section-break--visible">


      <h3 class="govuk-heading-m" style="display: inline-block;">Taking nutrition</h3>

      <div>
      <h3 class="govuk-heading-s" style="display: inline-block;">Functional history for taking nutrition</h3>
      <a href="#" class="govuk-link govuk-body" style="float: right">Change</a>
      </div>

      <p class="text" style="width: 90%;">Whenever she has a plate of food in front of her, she can independently convey it to the mouth, chew and swallow, reporting no regular spillage episodes. She'd need to be reminded to eat regularly, and once reminded she'd get herself to eat something. She normally eats 1 main meal daily, tending to snack on fruit throughout the day when she feels like. 
      </p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <div>
      <h3 class="govuk-heading-s" style="display: inline-block;">How well can the claimant take nutrition?</h3>
      <a href="#" class="govuk-link govuk-body" style="float: right">Change</a>
      </div>

      <p style="width: 90%;">(2a) Can take nutrition unaided</p>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <div>
      <h3 class="govuk-heading-s" style="display: inline-block;">Justification for taking nutrition</h3>
      <a href="#" class="govuk-link govuk-body" style="float: right">Change</a>
      </div>

      <p class="text" style="width: 90%;">CQ states due to constant shakes cannot lift food with fork, drops food, if she tries to hold a drink in left hand she spills it, cannot hold a fork and knife to eat, it's difficult to cut meat, forgets to eat due to depression and low mood, around 5 days mostly eats snacks, gets anxious missing meals due to diabetes. FH states at times forgets to eat and would need reminding to get herself to eat something, she generally eats foods which require her to only use a fork or a spoon with the right hand for ease and convenience purposes as her left hand might cause tremors, she asks someone else to cut up food in small portions to ensure that she doesn't have to use a fork and knife simultaneously as her left hand can have tremors.</p>
      <hr class="govuk-section-break govuk-section-break--m govuk-!-margin-bottom-7  govuk-section-break--visible">

      <h3 class="govuk-heading-m" style="display: inline-block;">Managing therapy</h3>
      
      <div>
      <h3 class="govuk-heading-s" style="display: inline-block;">Functional history for managing therapy</h3>
      <a href="#" class="govuk-link govuk-body" style="float: right">Change</a>
      </div>

      <p class="text" style="width: 90%;">She tends to be forgetful about which medication she has to take at which time of day. Normally certain symptoms come on, and this would serve as a reminder to her that she needs to take her tablets.
        She is able to manage pill packets and can administer the tablets with a glass of water independently. She currently has a monthly prescription. She is in control of her medication and tablets are at her disposal. </p>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        
      <div>
      <h3 class="govuk-heading-s" style="display: inline-block;">How well can the claimant manage therapy or monitor a health condition?</h3>
      <a href="#" class="govuk-link govuk-body" style="float: right">Change</a>
      </div>

      <p style="width: 90%;">(3a) Either does not receive medication or therapy or need to monitor a health condition, or can manage medication or therapy or monitor a health condition unaided</p>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <div>
      <h3 class="govuk-heading-s" style="display: inline-block;">Justification for managing therapy</h3>
      <a href="#" class="govuk-link govuk-body" style="float: right">Change</a>
      </div>

      <p class="text" style="width: 90%;">CQ states most mornings forgets to take anti-depressants, forgets to check blood sugars most days, hardly remembers to take Paracetamol unless asked, had to cancel tests and appointments due to anxiety and pain. 
        Previous PA4 suggests unaided. FH states she tends to be forgetful about which medication she has to take at which time of day.</p>

        <hr class="govuk-section-break govuk-section-break--m govuk-!-margin-bottom-7  govuk-section-break--visible">

      <h3 class="govuk-heading-m" style="display: inline-block;">Washing and bathing</h3>
  
      <div>
      <h3 class="govuk-heading-s" style="display: inline-block;">Functional history for washing and bathing</h3>
      <a href="#" class="govuk-link govuk-body" style="float: right">Change</a>
     </div>

      <p class="text" style="width: 90%;">She needs to hold onto the grab rails at the side of the bath to make bathing transfers safely owing to added leverage and stability required due to her physical pains.</p>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">  

      <div>
      <h3 class="govuk-heading-s" style="display: inline-block;">How well can the claimant wash and bathe?</h3>
      <a href="#" class="govuk-link govuk-body" style="float: right">Change</a>
      </div>

      <p style="width: 90%;">(4b) Needs to use an aid or appliance to be able to wash or bathe </p>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <div>
      <h3 class="govuk-heading-s" style="display: inline-block;">Justification for washing and bathing</h3>
      <a href="#" class="govuk-link govuk-body" style="float: right">Change</a>
      </div>

      <p class="text" style="width: 90%;">CQ states having a warm bath helps with stiffness and pain in back, legs and shoulder, has difficulty getting out of the bath, only has a bath rarely when there is someone to help her get out, cannot wash her hair due to left shoulder impingement, cannot lift arm up above shoulder height.
        Previous PA4 suggests aided. FH states needs to hold onto grab rails in and out of the bath to make bathing transfers safely due to pain, she usually has a wash by the sink on most days, and has a shower once every few days. FME confirms OA diagnosis, left knee pain and knee giving way, knee pain is aggravated by walking/standing/squatting, also confirming antalgic gait and restless legs. CM section shows partially effective prescribed pain relief medication management.</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-!-margin-bottom-7  govuk-section-break--visible">

      <h3 class="govuk-heading-m" style="display: inline-block;">Managing toilet needs</h3>
  
      <div>
      <h3 class="govuk-heading-s" style="display: inline-block;">Functional history for managing toilet needs</h3>
      <a href="#" class="govuk-link govuk-body" style="float: right">Change</a>
      </div>

      <p class="text" style="width: 90%;">She holds onto the nearby sink and the walking stick for added leverage and support to steadily get on and off the toilet due to her physical pains. 
        Otherwise she can attend to her hygiene needs and can maintain hygiene and cleanliness throughout without difficulties.</p>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <div>
      <h3 class="govuk-heading-s" style="display: inline-block;">How well can the claimant manage toilet needs?</h3>
      <a href="#" class="govuk-link govuk-body" style="float: right">Change</a>
      </div>

      <p style="width: 90%;">(5b) Needs to use an aid or appliance to be able to manage toilet needs or incontinence </p>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <div>
      <h3 class="govuk-heading-s" style="display: inline-block;">Justification for managing toilet needs</h3>
      <a href="#" class="govuk-link govuk-body" style="float: right">Change</a>
      </div>

      <p class="text" style="width: 90%;">CQ states gets pain and diarrhea if she has gluten and dairy, has to be close to a toilet and sometimes has accidents before she gets there, it's hard to stand up after sitting on the toilet due to knee pain and stiffness. Previous PA4 suggests aided. 
        FH states difficulties getting to the toilet on time due to knee pains can cause accidents, holds onto the nearby sink and uses the walking stick on and off the toilet for added leverage. SOH shows that she holds onto bannisters and the walls to manage stairs whilst taking 1 step at a time, sometimes she cannot manage stairs due to pain and has to sleep downstairs, uses a self-purchased walking stick constantly, she has pre-installed rails at the side of the bath and uses the walking stick and car door frame for leverage in and out of the car; suggesting certain physical limitations.</p>

        <hr class="govuk-section-break govuk-section-break--m govuk-!-margin-bottom-7  govuk-section-break--visible">

      <h3 class="govuk-heading-m" style="display: inline-block;">Dressing and undressing</h3>
    
     <div>
      <h3 class="govuk-heading-s" style="display: inline-block;">Functional history for dressing and undressing</h3>
      <a href="#" class="govuk-link govuk-body" style="float: right">Change</a>
    </div>

      <p class="text" style="width: 90%;">She is physically capable of putting on and taking off t-shirts, shirts, sweaters and tops independently without difficulties. 
        She tends to find managing zips, fastenings and buttons a bit fiddly due to her hand pains and possibly having swollen fingers. She needs to be sitting down to put on and take off trousers, socks and shoes, for lower half items once sat down she leans forwards to reach down to her feet and lifts her knees closer to her chest in sitting, depending on which position is mostly comfortable.</p>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <div>
      <h3 class="govuk-heading-s" style="display: inline-block;">How well can the claimant dress or undress?</h3>
      <a href="#" class="govuk-link govuk-body" style="float: right">Change</a>
     </div>

      <p style="width: 90%;">(6a) Can dress and undress unaided</p>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <div>
      <h3 class="govuk-heading-s" style="display: inline-block;">Justification for managing dressing and undressing</h3>
      <a href="#" class="govuk-link govuk-body" style="float: right">Change</a>
      </div>

      <p class="text" style="width: 90%;">CQ states has problems dressing daily, shoulder is stiff and painful, doesn't have full range of movement, cannot do zips at the back or bras, 5 days out 7 days cannot tie trainers or laces, cannot put arm up to wear a jumper. </p>

      <hr class="govuk-section-break govuk-section-break--m govuk-!-margin-bottom-7  govuk-section-break--visible">

      <h3 class="govuk-heading-m" style="display: inline-block;">Communicating verbally</h3>
    
      <div>
      <h3 class="govuk-heading-s" style="display: inline-block;">Functional history for communicating verbally</h3>
      <a href="#" class="govuk-link govuk-body" style="float: right">Change</a>
      </div>

      <p class="text" style="width: 90%;">She does not express any significant issues with verbal communication, speaking and hearing. Normally she can speak to people, can understand what is being said and can maintain a conversation going without difficulties. </p>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <div>
      <h3 class="govuk-heading-s" style="display: inline-block;">How well can the claimant communicate verbally?</h3>
      <a href="#" class="govuk-link govuk-body" style="float: right">Change</a>
      </div>

      <p style="width: 90%;">(7a) Can express and understand verbal information unaided</p>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <div>
      <h3 class="govuk-heading-s" style="display: inline-block;">Justification for communicating verbally</h3>
      <a href="#" class="govuk-link govuk-body" style="float: right">Change</a>
      </div>

      <p class="text" style="width: 90%;">CQ states when anxious and depressed cannot fully take in what people are saying, most of the time closes down because of the overload, has poor memory, tries to write notes down to remember, when listening to instructions never remembers them and has to be asked to be taken through them 1 by 1, attention isn't very good. 
        FH states she does not express any significant issues with verbal communication, speaking and hearing.</p>

        <hr class="govuk-section-break govuk-section-break--m govuk-!-margin-bottom-7  govuk-section-break--visible">

      <h3 class="govuk-heading-m" style="display: inline-block;">Reading and understanding signs, symbols and words</h3>
   
      <div>
      <h3 class="govuk-heading-s" style="display: inline-block;">Functional history for reading and understanding signs, symbols and words</h3>
      <a href="#" class="govuk-link govuk-body" style="float: right">Change</a>
      </div>

      <p class="text" style="width: 90%;">She is able to read and understand basic and complex written information and sentences without difficulties. If she receives official documentation, letters and correspondence she wouldn't require complex information to be broken down into simple text for her to make sense out of what she's just read. She can easily distinguish between signs and symbols in roads and public places. 
      </p>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <div>
      <h3 class="govuk-heading-s" style="display: inline-block;">How well can the claimant read and understand signs, symbols and words?</h3>
      <a href="#" class="govuk-link govuk-body" style="float: right">Change</a>
     </div>

      <p style="width: 90%;">(8a) Can read and understand basic and complex written information either unaided or using spectacles or contact lenses 
      </p>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <div>
      <h3 class="govuk-heading-s" style="display: inline-block;">Justification for reading and understanding signs, symbols and words</h3>
      <a href="#" class="govuk-link govuk-body" style="float: right">Change</a>
      </div>

      <p class="text" style="width: 90%;">CQ states lines get mixed up and she doesn't remember what she's read, cannot focus. FH states she can read and understand basic and complex written information and sentences without difficulties.</p>
      <hr class="govuk-section-break govuk-section-break--m govuk-!-margin-bottom-7  govuk-section-break--visible">

      <h3 class="govuk-heading-m" style="display: inline-block;">Engaging face to face</h3>

      <div>
      <h3 class="govuk-heading-s" style="display: inline-block;">Functional history for engaging face to face</h3>
      <a href="#" class="govuk-link govuk-body" style="float: right">Change</a>
      </div>

      <p class="text" style="width: 90%;">She feels confident interacting with her friends and people she know well. She doesn't interact with people she doesn't know as she can feel uncomfortable and overwhelmed due to mental health reasons. 
        
        If she is to interact with a new person face to face, she'd need to be notified of the meeting beforehand so that she mentally prepares herself for the actual encounter, and she would also need any friend or close relative support her before, during and after she meets that person to ensure that she remains calm and composed.</p>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <div>
      <h3 class="govuk-heading-s" style="display: inline-block;">How well can the claimant engage face to face?</h3>
      <a href="#" class="govuk-link govuk-body" style="float: right">Change</a>
      </div>

      <p style="width: 90%;">(9a) Can engage with other people unaided</p>
     <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <div>
      <h3 class="govuk-heading-s" style="display: inline-block;">Justification for engaging face to face</h3>
      <a href="#" class="govuk-link govuk-body" style="float: right">Change</a>
      </div>

      <p class="text" style="width: 90%;">CQ states cannot go in crowds or where there is a lot of people as this causes stress and anxiety, gets anxious, panicky and cannot speak when meeting new people, avoids such situations if possible, has a small group of friends who she sees occasionally but cannot meet anyone else.
        Previous PA4 suggests unaided. FH states needs notification and a friend or relative to be with her when meeting a new person, without this help she'd cancel the meeting until help is provided due to anxiety, she doesn't interact with people she doesn't know as she can feel uncomfortable and overwhelmed due to mental health reasons.</p>

        <hr class="govuk-section-break govuk-section-break--m govuk-!-margin-bottom-7  govuk-section-break--visible">

      <h3 class="govuk-heading-m" style="display: inline-block;">Budgeting</h3>

      <div>
      <h3 class="govuk-heading-s" style="display: inline-block;">Functional history for budgeting</h3>
      <a href="#" class="govuk-link govuk-body" style="float: right">Change</a>
      </div>

      <p class="text" style="width: 90%;">She is able to make sense out of the change given to her from simple transactions. She uses online banking. </p>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <div>
      <h3 class="govuk-heading-s" style="display: inline-block;">How well can the claimant budget?</h3>
      <a href="#" class="govuk-link govuk-body" style="float: right">Change</a>
      </div>

      <p style="width: 90%;">(10a) Can manage complex budgeting decisions unaided</p>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <div>
      <h3 class="govuk-heading-s" style="display: inline-block;">Justification for budgeting</h3>
      <a href="#" class="govuk-link govuk-body" style="float: right">Change</a>
      </div>

      <p class="text" style="width: 90%;">CQ states gets anxious about money and bills, due to depression and anxiety she doesn't have a clear head and she cannot plan, support worker and husband help with bills, gets overloaded and has panic attacks. FH states understands how money works.</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-!-margin-bottom-7  govuk-section-break--visible">

      <h3 class="govuk-heading-m">Daily living qualifying period and prospective test</h3>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Has the claimant had the daily living functional restriction for at least 3 months?
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Daily living qualifying period details
          </dt>
          <dd class="govuk-summary-list__value">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> date of birth</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Is the claimant likely to have the daily living functional restriction in 9 months?
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> date of birth</span>
            </a>
          </dd>
        </div>


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Daily living prospective test details
          </dt>
          <dd class="govuk-summary-list__value">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> date of birth</span>
            </a>
          </dd>
        </div>
      </dl>



      <h2 class="govuk-heading-l">Mobility</h2>

      <h3 class="govuk-heading-m" style="display: inline-block;">Planning and following journeys</h3>
      
      <div>
      <h3 class="govuk-heading-s" style="display: inline-block;">Functional history for planning and following journeys</h3>
      <a href="#" class="govuk-link govuk-body" style="float: right">Change</a>
      </div>

      <p class="text" style="width: 90%;">She usually gets a lift to attend for appointments, as she's used to it being done this way. She usually goes out to the countryside accompanied by her friend once every couple of weeks.</p>

       <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <div>
      <h3 class="govuk-heading-s" style="display: inline-block;">How well can the claimant plan and follow journeys?</h3>
      <a href="#" class="govuk-link govuk-body" style="float: right">Change</a>
      </div>

      <p style="width: 90%;">(11a) Can plan and follow the route of a journey unaided</p>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <div>
      <h3 class="govuk-heading-s" style="display: inline-block;">Justification for planning and following journeys</h3>
      <a href="#" class="govuk-link govuk-body" style="float: right">Change</a>
      </div>

      <p class="text" style="width: 90%;">CQ states gets frightened about having a panic attack at the thought of leaving the house, asks husband or relatives to do the shopping, is usually fine in known places but if the route changes or she gets lost gets extremely anxious, panicky, cannot breathe and feels sick, is not comfortable approaching anyone for directions, cannot follow a map if anxious, gets distressed about missing a turn, usually doesn't go to new places due to anxiety. FH states she usually gets a lift to attend for appointments, as she's used to it being done this way.</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-!-margin-bottom-7  govuk-section-break--visible">

      <h3 class="govuk-heading-m" style="display: inline-block;">Moving around</h3>
      
      <div>
      <h3 class="govuk-heading-s" style="display: inline-block;">Functional history for moving around</h3>
      <a href="#" class="govuk-link govuk-body" style="float: right">Change</a>
      </div>

      <p class="text" style="width: 90%;">She normally feels tired and in pain after covering such distances despite trying to walk as tolerated. She normally walks at a slow, comfortable pace, aided with a walking stick at all times for added leverage, support and stability. She doesn't use wheelchairs or mobility scooters for outdoors mobility. 
        She's had some falls over this past year due to legs giving way unpredictably and being really clumsy due to unsteadiness. She isn't a blue badge holder. Her walking pattern is described as slow and at times wobbly. Indoors - she can access all rooms downstairs but if the pain is worse she's unable to manage stairs and sleeps downstairs on the settee.</p>
     <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <div>
      <h3 class="govuk-heading-s" style="display: inline-block;">How well can the claimant move around?</h3>
      <a href="#" class="govuk-link govuk-body" style="float: right">Change</a>
      </div>

      <p style="width: 90%;">(12c) Can stand and then move unaided more than 20 metres but no more than 50 metres</p>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <div>
      <h3 class="govuk-heading-s" style="display: inline-block;">Justification for moving around</h3>
      <a href="#" class="govuk-link govuk-body" style="float: right">Change</a>
      </div>

      <p class="text" style="width: 90%;">CQ states less than 20 metres, has knee stiffness, pain, inflammation and instability moving from sitting to standing, uses walking stick and knee brace with metal hinges and without these she cannot walk, it's painful going up and down stairs due to pain and weakness, walks quite slowly as left knee is unstable and gives way, has fallen quite a lot recently. Previous PA4 suggests 50-200 metres.</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-!-margin-bottom-7  govuk-section-break--visible">

      <h3 class="govuk-heading-m">Mobility qualifying period and prospective test</h3>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Has the claimant had the mobility functional restriction for at least 3 months?
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Mobility qualifying period details
          </dt>
          <dd class="govuk-summary-list__value">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> date of birth</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Is the claimant likely to have the mobility functional restriction in 9 months?
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> date of birth</span>
            </a>
          </dd>
        </div>


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Mobility prospective test details
          </dt>
          <dd class="govuk-summary-list__value">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> date of birth</span>
            </a>
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-l">Physical examination</h2>

      <div>
      <h3 class="govuk-heading-m" style="display: inline-block;">Examination consent</h3>
    </div>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Did the claimant consent to the physical examination?
        </dt>
        <dd class="govuk-summary-list__value">
            No
        </dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> date of birth</span>
            </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Why did they not give consent?
        </dt>
        <dd class="govuk-summary-list__value">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nisl metus, auctor non hendrerit in
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> date of birth</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Chaperone name (optional)
        </dt>
        <dd class="govuk-summary-list__value">
           Simon Peterson
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> date of birth</span>
          </a>
        </dd>
      </div>

    </dl>

    <div>
      <h3 class="govuk-heading-m" style="display: inline-block;">Physical examination notes (optional)</h3>
        <a href="#" class="govuk-link govuk-body" style="float: right">Change</a>
    </div>

     <p class="text" style="width: 90%;">She managed to maintain a calm and relaxed behaviour whilst managing to establish an appropriate rapport with the assessor. She was keen on participating and was happy to provide elaborate answers to the questions asked.</p>
    

     <hr class="govuk-section-break govuk-section-break--m govuk-!-margin-bottom-9  govuk-section-break--visible">



      <h2 class="govuk-heading-l">Observations</h2>

      <div>
      <h3 class="govuk-heading-m" style="display: inline-block;">Mental state observations (optional)</h3>
        <a href="#" class="govuk-link govuk-body" style="float: right">Change</a>
    </div>

     <p class="text" style="width: 90%;">Behaviour
      She managed to maintain a calm and relaxed behaviour whilst managing to establish an appropriate rapport with the assessor. She was keen on participating and was happy to provide elaborate answers to the questions asked.</p>
    
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <br>

      <div>
      <h3 class="govuk-heading-m" style="display: inline-block;">Informal observations (optional)</h3>
        <a href="#" class="govuk-link govuk-body" style="float: right">Change</a>
    </div>

     <p class="text" style="width: 90%;">She was able to concentrate throughout the assessment with no signs of fatigue or irritability.</p>
  

      <hr class="govuk-section-break govuk-section-break--m govuk-!-margin-bottom-9 govuk-section-break--visible">

      <h2 class="govuk-heading-l">Review period</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-1">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Recommended future review period
          </dt>
          <dd class="govuk-summary-list__value">
            18 months
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        </dl>

        <div style="margin-top: 1%;">
          <h4 class="govuk-heading-s" style="display: inline-block;">Reason for this review period</h4>
          <a href="#" class="govuk-link govuk-body" style="float: right; display: inline;">Change</a>
      
          <p class="govuk-body" style="width: 90%;">Certain functional limitations were present at the time of the assessment, which would warrant a review. She is currently on the waiting list to have counselling. 
            She is due to start having PT sessions for the left knee, and once she would have had enough sessions she's to enlist for a left TKR surgery. Since there are pending specialists' 
            interventions in place with no official confirmatory appointment start date, the reported symptoms are likely to have a functional impact on her ability to carry out daily living 
            and mobility tasks reliably in the short term. With further specialists' interventions in place, a short term review of 1 year 6 months is most appropriate.</p>
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        </div>

        <dl class="govuk-summary-list" style="margin-top: -2%;">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Is it likely that the functional restriction will still be present when reviewed?
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> restriction</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Do they need additional support for future claims processes?
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden">additional support</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Do they meet the criteria for special rules?
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> special rules</span>
            </a>
          </dd>
        </div>
      </dl>

    
<br>
<br>
  
    <form action="declaration" method="post" novalidate>
      <input type="hidden" name="answers-checked" value="true">
      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </form>

  </div>      
      </div>

{% endblock %}
