{% extends "layouts/prompts-without-sidenav" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}

{{
  dwpHeader({
      name: "Health Assessment Service",
      serviceHref: '../',
      container: true
  })
}}

  <header class="moj-primary-navigation">
    <div class="govuk-width-container">
      <div class="moj-primary-navigation">
  
        <div class="moj-primary-navigation__container">
      
          <div class="moj-primary-navigation__nav">
      
            <nav class="moj-primary-navigation" aria-label="Primary navigation">
      
              <ul class="moj-primary-navigation__list">
                <li class="moj-primary-navigation__item"> 
                  <a class="moj-primary-navigation__link" aria-current="page" href=" ">Assessment</a>
                  </li>
  
  
                <li class="moj-primary-navigation__item">
                  <a class="moj-primary-navigation__link" href="conditions-docs-change">Claimant documents</a>
                </li>
              </ul>
          </nav>
      
          </div>
        </div>
      </div>
      
  
        
    </div>
    </header> 

{% endblock %}

{% block content_left %}

<style type="text/css">
  .govuk-textarea {
    text-align: left;
    display: block;
    white-space: pre-line;
  }
             
  </style>

<!-- <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">    -->


<form action="#" method="post" id="auto-redirect">
  <input type="hidden" value="{{ data.source }}"/>
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <span class="govuk-caption-xl"></span>
        <h1 class="govuk-fieldset__heading">
          Add a condition or disability
        </h1>
        <div id="passport-issued-hint" class="govuk-hint">
        </div>
      </legend>

      
      <div class="govuk-form-group">
        <label class="govuk-label" for="condition-name-first">
          <b>Condition or disability name</b>
        </label>
        <input class="govuk-input" id="condition-name-first" name="condition-name-first" type="text" value="{{data["edit"]}}">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="condition-start">
          <b>When did the condition or disability start?</b>
        </label>
        <input class="govuk-input" id="condition-start" name="condition-start" type="text" value="{{data["length"]}}">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="diagnosis">
          <b>Diagnosis, symptoms and variability</b>
        </label>
        <textarea class="govuk-textarea" id="diagnosis" name="diagnosis" rows="5" aria-describedby="diagnosis">{{data["diag"]}}</textarea>
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="meds-care-treatments">
          <b>Investigations, treatments and hospital stays</b>
        </label>
        <textarea class="govuk-textarea" id="meds-care-treatments" name="meds-care-treatments" rows="5" aria-describedby="medical-care-and-treatments">{{data["med"]}}</textarea>
      </div>

      <div class="govuk-form-group"></div>
        <label class="govuk-label" for="home-therapies">
          <b>Home therapies (optional)</b>
        </label>
        <textarea class="govuk-textarea" id="home-therapies" name="home-therapies" rows="5" aria-describedby="home therapy">{{data["therapy"]}}</textarea>
      </div>
      
      <div class="govuk-form-group">
        <label class="govuk-label" for="self-harm">
          <b>Suicidal thoughts and self harm (optional)</b>
        </label>
        <textarea class="govuk-textarea" id="mental-health" name="mentalHealthCondition" rows="5" aria-describedby="mental-health">{{data["menth"]}}</textarea>
      </div>
      

          <div class="govuk-button-group">

          <button type="submit" class="govuk-button" data-module="govuk-button">
            Save and continue
          </button>

          {% if (data['conditionAdded']) %}
          <p><a href="conditions-addAnother">Cancel</a></p>
          {% else %}
          <p><a href="conditions-none">Cancel</a></p>
          {% endif %}

         </div>
          

      </fieldset>
    </div>
  <!-- </div> -->
 </form>
<!-- </div> -->
      

{% endblock %}
