{% extends "layouts/layout-ta.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    
  <div class="govuk-grid-column-one-half">

    <a href="ta-task-list" class="govuk-back-link">Back</a>
    

    <h1 class="govuk-heading-l">Evidence</h1>




    <form action="ta-task-list2" method="post">



      


<div class="govuk-form-group">

<fieldset class="govuk-fieldset">

<legend class="govuk-fieldset__legend govuk-fieldset__legend--s">

Evidence used

</legend>


<div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">


  

  
  
  
  
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input autosave" id="evidenceusedpip" name="evidenceusedpip" type="checkbox" value="Claimant questionnaire">
    <label class="govuk-label govuk-checkboxes__label" for="evidenceusedpip">
Claimant questionnaire
</label>
    
  </div>
  





  
  
  
  
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input autosave" id="evidenceusedpip-2" name="evidenceusedpip" type="checkbox" value="Fit note (Med 3)">
    <label class="govuk-label govuk-checkboxes__label" for="evidenceusedpip-2">
Fit note (Med 3)
</label>
    
  </div>
  





  
  
  
  
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input autosave" id="evidenceusedpip-3" name="evidenceusedpip" type="checkbox" value="Prescription or medication list">
    <label class="govuk-label govuk-checkboxes__label" for="evidenceusedpip-3">
Prescription or medication list
</label>
    
  </div>
  





  
  
  
  
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input autosave" id="evidenceusedpip-4" name="evidenceusedpip" type="checkbox" value="Care plan">
    <label class="govuk-label govuk-checkboxes__label" for="evidenceusedpip-4">
Care plan
</label>
    
  </div>
  





  
  
  
  
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input autosave" id="evidenceusedpip-5" name="evidenceusedpip" type="checkbox" value="GP letter">
    <label class="govuk-label govuk-checkboxes__label" for="evidenceusedpip-5">
GP letter
</label>
    
  </div>
  





  
  
  
  
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input autosave" id="evidenceusedpip-6" name="evidenceusedpip" type="checkbox" value="GP factual report (GPFR)">
    <label class="govuk-label govuk-checkboxes__label" for="evidenceusedpip-6">
GP factual report (GPFR)
</label>
    
  </div>
  





  
  
  
  
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input autosave" id="evidenceusedpip-7" name="evidenceusedpip" type="checkbox" value="GP patient form (113)">
    <label class="govuk-label govuk-checkboxes__label" for="evidenceusedpip-7">
GP patient form (113)
</label>
    
  </div>
  





  
  
  
  
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input autosave" id="evidenceusedpip-8" name="evidenceusedpip" type="checkbox" value="GP health record">
    <label class="govuk-label govuk-checkboxes__label" for="evidenceusedpip-8">
GP health record
</label>
    
  </div>
  





  
  
  
  
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input autosave" id="evidenceusedpip-9" name="evidenceusedpip" type="checkbox" value="Factual medical report (FRR2)">
    <label class="govuk-label govuk-checkboxes__label" for="evidenceusedpip-9">
Factual medical report (FRR2)
</label>
    
  </div>
  





  
  
  
  
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input autosave" id="evidenceusedpip-10" name="evidenceusedpip" type="checkbox" value="Healthcare professional factual report (FRR3)">
    <label class="govuk-label govuk-checkboxes__label" for="evidenceusedpip-10">
Healthcare professional factual report (FRR3)
</label>
    
  </div>
  





  
  
  
  
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input autosave" id="evidenceusedpip-11" name="evidenceusedpip" type="checkbox" value="Phone call (FRR4)">
    <label class="govuk-label govuk-checkboxes__label" for="evidenceusedpip-11">
Phone call (FRR4)
</label>
    
  </div>
  





  
  
  
  
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input autosave" id="evidenceusedpip-12" name="evidenceusedpip" type="checkbox" value="Hospital letter, report or discharge summary">
    <label class="govuk-label govuk-checkboxes__label" for="evidenceusedpip-12">
Hospital letter, report or discharge summary
</label>
    
  </div>
  





  
  
  
  
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input autosave" id="evidenceusedpip-13" name="evidenceusedpip" type="checkbox" value="Consultant letter or report">
    <label class="govuk-label govuk-checkboxes__label" for="evidenceusedpip-13">
Consultant letter or report
</label>
    
  </div>
  





  
  
  
  
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input autosave" id="evidenceusedpip-14" name="evidenceusedpip" type="checkbox" value="Specialist letter or report">
    <label class="govuk-label govuk-checkboxes__label" for="evidenceusedpip-14">
Specialist letter or report
</label>
    
  </div>
  





  
  
  
  
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input autosave" id="evidenceusedpip-15" name="evidenceusedpip" type="checkbox" value="Allied heath professional's letter or report">
    <label class="govuk-label govuk-checkboxes__label" for="evidenceusedpip-15">
Allied heath professional's letter or report
</label>
    
  </div>
  





  
  
  
  
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input autosave" id="evidenceusedpip-16" name="evidenceusedpip" type="checkbox" value="Radiology and investigative report">
    <label class="govuk-label govuk-checkboxes__label" for="evidenceusedpip-16">
Radiology and investigative report
</label>
    
  </div>
  





  
  
  
  
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input autosave" id="evidenceusedpip-17" name="evidenceusedpip" type="checkbox" value="Previous assessment report">
    <label class="govuk-label govuk-checkboxes__label" for="evidenceusedpip-17">
Previous assessment report
</label>
    
  </div>
  



</div>


</fieldset>


</div>


      

<div class="govuk-form-group">
<label class="govuk-label govuk-label--s" for="other-evidence">
Other evidence used
</label>


<textarea class="govuk-textarea autosave" id="other-evidence" name="other-evidence" rows="4"></textarea>
</div>





      


<div class="govuk-form-group">

<fieldset class="govuk-fieldset">

<legend class="govuk-fieldset__legend govuk-fieldset__legend--s">

Evidence requested but not returned

</legend>


<div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">


  

  
  
  
  
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input autosave" id="evidence-requested-not-returned" name="evidence-requested-not-returned" type="checkbox" value="Claimant questionnaire">
    <label class="govuk-label govuk-checkboxes__label" for="evidence-requested-not-returned">
Claimant questionnaire
</label>
    
  </div>
  





  
  
  
  
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input autosave" id="evidence-requested-not-returned-2" name="evidence-requested-not-returned" type="checkbox" value="GP patient form (113s)">
    <label class="govuk-label govuk-checkboxes__label" for="evidence-requested-not-returned-2">
GP patient form (113)
</label>
    
  </div>
  





  
  
  
  
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input autosave" id="evidence-requested-not-returned-3" name="evidence-requested-not-returned" type="checkbox" value="Factual medical report (FRR2)">
    <label class="govuk-label govuk-checkboxes__label" for="evidence-requested-not-returned-3">
Factual medical report (FRR2)
</label>
    
  </div>
  





  
  
  
  
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input autosave" id="evidence-requested-not-returned-4" name="evidence-requested-not-returned" type="checkbox" value="Healthcare professional factual medical report (FRR3)">
    <label class="govuk-label govuk-checkboxes__label" for="evidence-requested-not-returned-4">
Healthcare professional factual medical report (FRR3)
</label>
    
  </div>
  



</div>


</fieldset>


</div>


        

<div class="govuk-form-group">
<label class="govuk-label govuk-label--s" for="other-evidence-not-returned">
Other evidence requested but not returned
</label>


<textarea class="govuk-textarea autosave" id="other-evidence-not-returned" name="other-evidence-not-returned" rows="4"></textarea>
</div>

               

<button class="govuk-button" data-module="govuk-button">
Save and continue
</button>


    </form>
  </div> 
  <div class="govuk-grid-column-one-half">
    
    <p class="govuk-body"><a href="evidence" class="govuk-link">Hide claimant documents</a></p>

    <a href="javascript:history.back()" class="govuk-back-link">Back to claimant documents</a>



      
      <iframe class="document" src="/public/pdfs/cq-2.pdf" title="PIP2 document"></iframe><br>
  </div>     
      </div>

{% endblock %}
