{% extends "layouts/declaration" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<style type="text/css">
  .govuk-textarea {
    text-align: left;
    display: block;
    white-space: pre-line;
  }
             
  </style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">   
    <a href="javascript:history.back()" class="govuk-back-link">Back</a>

<form action="submitted" method="post" id="auto-redirect">
  <div class="govuk-form-group">
  
      <h1 class="govuk-heading-xl">Declaration</h1>

      <p class="govuk-body">By submitting this report, you confirm that:</p>
      <ul class="govuk-list govuk-list--bullet">
          <li>all further medical evidence available has been reviewed and considered</li>
          <li>no harmful information has been included in this report</li>
          <li>these statements can be added to the report</li>
      </ul>

      <br>
        <br>

        <button type="submit" class="govuk-button" data-module="govuk-button">
          I confirm – submit report
        </button>
      </div>
  
      </div>
    </form>
  </div>
</div>

      

{% endblock %}
