-{% extends "layouts/evidence-noSpiltscreen.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% set containerClasses = "full-width-container" %}
{% block content_left %}

<style>
  .govuk-summary-list__actions {
   width: 25%;
   padding-right: 0;
   text-align: right;
 }
</style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
   
        <span class="govuk-caption-xl"></span>
        <h1 class="govuk-heading-l">
          Evidence
        </h1>

        <p>All view links open in a new tab.</p>
       
          <!--logic for adding evidence-->
          <!-- looking into the array as a whole -->
          {% for evidence in data['evidenceAdded'] %}
            {% set outerLoopIndex = loop.index %}

             <!-- Pulling out specific values to display -->
            {% for evidenceName in evidence.evidenceName %} 
              <dl class="govuk-summary-list" id="{{ outerLoopIndex + '-' + loop.index }}">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    {% if outerLoopIndex > 0 %}
                    <h2 class="govuk-heading-m">{{ evidenceName }}</h2>
            
                    {% endif %} 
                    
                  </dt>
                  <!-- <dd class="govuk-summary-list__value">
                  
                  </dd> -->
                
                  <dd class="govuk-summary-list__actions">
                    <ul class="govuk-summary-list__actions-list">
                      <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="#">
                            View<span class="govuk-visually-hidden">evidence change</span>
                        </a></li>
                      <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="remove-evidence?indexEvidence={{ outerLoopIndex + '-' + loop.index }}&evidence={{evidenceName}}">
                          Remove<span class="govuk-visually-hidden">evidence remove</span>
                        </a></li>
                    </ul>
                  </dd>
                </div>
              </dl>  
            {% endfor %}
          {% endfor %}

            <br>


<form action="#" method="post">
  
  <div class="govuk-button-group">
    <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
      Add evidence
    </button>
    </div>

      </form>
    </div>
</div>
     
   

{% endblock %}