{% extends "layouts/evidence-without-sidenav.html" %}


{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content_left %}

  

        <form action="#" method="post" id="auto-redirect">

      <div class="govuk-form-group">
           <fieldset class="govuk-fieldset">

            <div id="document-list">
              <h1 class="govuk-heading-l">Review and add evidence</h1>

              <p>All view links open in a new tab.</p>

              <!-- top table evidence that orginated from DWP -->
              <table class="govuk-table govuk-!-margin-bottom-9" data-module="moj-sortable-table" aria-describedby="last-updated">
                <caption class="govuk-table__caption govuk-table__caption--m">Benefit evidence</caption>
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header column-width-20" aria-sort="descending">Selected</th>
                    <th scope="col" class="govuk-table__header column-width-20" aria-sort="descending">Name</th>
                    <th scope="col" class="govuk-table__header column-width-10" aria-sort="descending">Benefit type</th>
                    <th scope="col" class="govuk-table__header column-width-15" aria-sort="descending">Date of document</th>
                    <th scope="col" class="govuk-table__header column-width-15" aria-sort="descending">Date DWP received</th>
                    <th scope="col" class="govuk-table__header column-width-15"></th>
                  </tr>
                </thead>
            
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                      {% if data["dwp-evidence"] == "None" %}
                      <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="DWP-one" name="dwp-evidence" type="checkbox" value="Claimant questionaire">
                          <label class="govuk-label govuk-checkboxes__label" for="DWP-one"></label>
                        </div>
                      </div>
                        {% elseif data["dwp-evidence"].includes("Claimant questionaire") %}
                        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="DWP-one" name="dwp-evidence" type="checkbox" value="Claimant questionaire" {{ checked }}>
                            <label class="govuk-label govuk-checkboxes__label" for="DWP-one"></label>
                          </div>
                        </div>
                          {% else %}
                        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="DWP-one" name="dwp-evidence" type="checkbox" value="Claimant questionaire">
                            <label class="govuk-label govuk-checkboxes__label" for="DWP-one"></label>
                          </div>
                        </div>
                          {% endif %}
                    </td>
                    <td class="govuk-table__cell">Claimant questionaire</a>
                    </td>
                    <td class="govuk-table__cell">PIP</td>
                    <td class="govuk-table__cell" data-sort-value="9 September 2020">9 September 2020</td>
                    <td class="govuk-table__cell" data-sort-value="13 September 2020">13 September 2020</td>
                    <td class="govuk-table__cell"><a class="reco-document documentLinks document-link" target="_blank" href="/public/pdfs/PIP2-test-scenario.pdf">View</a></td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                      {% if data["dwp-evidence"] == "None" %}
                      <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="DWP-two" name="dwp-evidence" type="checkbox" value="PIP2">
                          <label class="govuk-label govuk-checkboxes__label" for="DWP-two"></label>
                        </div>
                     </div>
                     {% elseif data["dwp-evidence"].includes("PIP2") %}
                     <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="DWP-two" name="dwp-evidence" type="checkbox" value="PIP2" {{ checked }}>
                        <label class="govuk-label govuk-checkboxes__label" for="DWP-two"></label>
                      </div>
                   </div>
                   {% else %}
                   <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="DWP-two" name="dwp-evidence" type="checkbox" value="PIP2">
                      <label class="govuk-label govuk-checkboxes__label" for="DWP-two"></label>
                    </div>
                 </div>
                   {% endif %}
                    </td>
                    <td class="govuk-table__cell">PIP2</a>
                    </td>
                    <td class="govuk-table__cell">PIP</td>
                    <td class="govuk-table__cell" data-sort-value="19 August 2019">19 August 2019</td>
                    <td class="govuk-table__cell" data-sort-value="11 September 2019">11 September 2019</td>
                    <td class="govuk-table__cell"><a class="reco-document documentLinks document-link" data-url="/public/pdfs/PIP2-test-scenario.pdf"  target="_blank" href="/public/pdfs/PIP2-test-scenario.pdf">View</a></td>
                  </tr>
                  
                </tbody>
              </table>
            </div>



          <!-- bottom table -- other evidence that has been sent by claimant -->
              <table class="govuk-table" data-module="moj-sortable-table" aria-describedby="last-updated">
                <caption class="govuk-table__caption govuk-table__caption--m">Further evidence</caption>
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header column-width-20" aria-sort="descending">Selected</th>
                    <th scope="col" class="govuk-table__header column-width-20" aria-sort="descending">Name</th>
                    <th scope="col" class="govuk-table__header column-width-10" aria-sort="descending">Benefit type</th>
                    <th scope="col" class="govuk-table__header column-width-15" aria-sort="descending">Date of document</th>
                    <th scope="col" class="govuk-table__header column-width-15" aria-sort="descending">Date DWP received</th>
                    <th scope="col" class="govuk-table__header column-width-15"></th>
                  </tr>
                </thead>
            
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                      {% if data["document-name"] == "None" %}
                      <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="evidence-two" name="document-name" type="checkbox" value="GP letter">
                          <label class="govuk-label govuk-checkboxes__label" for="evidence-two"></label>
                        </div>
                      </div>
                      {% elseif data["document-name"].includes("GP letter") %}
                        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="evidence-two" name="document-name" type="checkbox" value="GP letter" {{ checked }}>
                            <label class="govuk-label govuk-checkboxes__label" for="evidence-two"></label>
                          </div>
                        </div>
                          {% else %}
                          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="evidence-two" name="document-name" type="checkbox" value="GP letter">
                              <label class="govuk-label govuk-checkboxes__label" for="evidence-two"></label>
                            </div>
                          </div>
                          {% endif %}
                      </td>
                    <td class="govuk-table__cell">GP letter</a>
                    </td>
                    <td class="govuk-table__cell">PIP</td>
                    <td class="govuk-table__cell" data-sort-value="9 September 2020">9 September 2020</td>
                    <td class="govuk-table__cell" data-sort-value="13 September 2020">13 September 2020</td>
                    <td class="govuk-table__cell"><a class="reco-document documentLinks document-link" target="_blank" href="evidence-only?evidence=GP letter">View</a></td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                      {% if data["document-name"] == "None" %}
                      <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="evidence-three" name="document-name" type="checkbox" value="Careplan">
                          <label class="govuk-label govuk-checkboxes__label" for="evidence-three"></label>
                        </div>
                     </div>
                     {% elseif data["document-name"].includes("Careplan") %}
                     <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="evidence-three" name="document-name" type="checkbox" value="Careplan" {{ checked }}>
                        <label class="govuk-label govuk-checkboxes__label" for="evidence-three"></label>
                      </div>
                   </div>
                   {% else %}
                   <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="evidence-three" name="document-name" type="checkbox" value="Careplan">
                      <label class="govuk-label govuk-checkboxes__label" for="evidence-three"></label>
                    </div>
                 </div>
                   {% endif %}
                    </td>
                    <td class="govuk-table__cell">Careplan</a>
                    </td>
                    <td class="govuk-table__cell">PIP</td>
                    <td class="govuk-table__cell" data-sort-value="23 June 2023">23 June 2023</td>
                    <td class="govuk-table__cell" data-sort-value="10 August 2019">10 August 2019</td>
                    <td class="govuk-table__cell"><a class="reco-document documentLinks document-link" data-url="/public/pdfs/PIP2-test-scenario.pdf" target="_blank" href="evidence-only?evidence=Careplan">View</a></td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                      {% if data["document-name"] == "None" %}
                      <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="evidence-four" name="document-name" type="checkbox" value="Hospital letter">
                          <label class="govuk-label govuk-checkboxes__label" for="evidence-four"></label>
                        </div>
                     </div>
                     {% elseif data["document-name"].includes("Hospital letter") %}
                     <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="evidence-four" name="document-name" type="checkbox" value="Hospital letter" {{ checked }}>
                        <label class="govuk-label govuk-checkboxes__label" for="evidence-four"></label>
                      </div>
                   </div>
                   {% else %}
                   <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="evidence-four" name="document-name" type="checkbox" value="Hospital letter">
                      <label class="govuk-label govuk-checkboxes__label" for="evidence-four"></label>
                    </div>
                 </div>
                   {% endif %}
                    </td>
                    <td class="govuk-table__cell">Hospital letter</a>
                    </td>
                    <td class="govuk-table__cell">PIP</td>
                    <td class="govuk-table__cell" data-sort-value="19 August 2019">19 August 2019</td>
                    <td class="govuk-table__cell" data-sort-value="11 September 2019">11 September 2019</td>
                    <td class="govuk-table__cell"><a class="reco-document documentLinks document-link" data-url="/public/pdfs/PIP2-test-scenario.pdf"  target="_blank" href="evidence-only?evidence=Hospital letter 1">View</a></td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                      {% if data["document-name"] == "None" %}
                      <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="evidence-five" name="document-name" type="checkbox" value="Consultant letter">
                          <label class="govuk-label govuk-checkboxes__label" for="evidence-five"></label>
                        </div>
                     </div>
                     {% elseif data["document-name"].includes("Consultant letter") %}
                     <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="evidence-five" name="document-name" type="checkbox" value="Consultant letter" {{ checked }}>
                        <label class="govuk-label govuk-checkboxes__label" for="evidence-five"></label>
                      </div>
                   </div>
                   {% else %}
                   <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="evidence-five" name="document-name" type="checkbox" value="Consultant letter">
                      <label class="govuk-label govuk-checkboxes__label" for="evidence-five"></label>
                    </div>
                 </div>
                   {% endif %}
                    </td>
                    <td class="govuk-table__cell">Consultant letter</a>
                    </td>
                    <td class="govuk-table__cell">PIP</td>
                    <td class="govuk-table__cell" data-sort-value="19 August 2019">19 August 2019</td>
                    <td class="govuk-table__cell" data-sort-value="11 September 2019">11 September 2019</td>
                    <td class="govuk-table__cell"><a class="reco-document documentLinks document-link" data-url="/public/pdfs/PIP2-test-scenario.pdf"  target="_blank" href="evidence-only?evidence=Consultant letter">View</a></td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                      {% if data["document-name"] == "None" %}
                      <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="evidence-seven" name="document-name" type="checkbox" value="Medical records">
                          <label class="govuk-label govuk-checkboxes__label" for="evidence-seven"></label>
                        </div>
                     </div>
                     {% elseif data["document-name"].includes("Medical records") %}
                     <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="evidence-seven" name="document-name" type="checkbox" value="Medical records" {{ checked }}>
                        <label class="govuk-label govuk-checkboxes__label" for="evidence-seven"></label>
                      </div>
                   </div>
                   {% else %}
                   <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="evidence-seven" name="document-name" type="checkbox" value="Medical records">
                      <label class="govuk-label govuk-checkboxes__label" for="evidence-seven"></label>
                    </div>
                 </div>
                   {% endif %}
                    </td>
                    <td class="govuk-table__cell">Medical records</a>
                    </td>
                    <td class="govuk-table__cell">PIP</td>
                    <td class="govuk-table__cell" data-sort-value="19 August 2019">19 August 2019</td>
                    <td class="govuk-table__cell" data-sort-value="11 September 2019">11 September 2019</td>
                    <td class="govuk-table__cell"><a class="reco-document documentLinks document-link" data-url="/public/pdfs/PIP2-test-scenario.pdf"  target="_blank" href="evidence-only?evidence=Medical records">View</a></td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                      {% if data["document-name"] == "None" %}
                      <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="evidence-eight" name="document-name" type="checkbox" value="Xray scan">
                          <label class="govuk-label govuk-checkboxes__label" for="evidence-eight"></label>
                        </div>
                     </div>
                     {% elseif data["document-name"].includes("Xray scan") %}
                     <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="evidence-eight" name="document-name" type="checkbox" value="Xray scan" {{ checked }}>
                        <label class="govuk-label govuk-checkboxes__label" for="evidence-eight"></label>
                      </div>
                   </div>
                   {% else %}
                   <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="evidence-eight" name="document-name" type="checkbox" value="Xray scan">
                      <label class="govuk-label govuk-checkboxes__label" for="evidence-eight"></label>
                    </div>
                 </div>
                   {% endif %}
                    </td>
                    <td class="govuk-table__cell">Xray scan</a>
                    </td>
                    <td class="govuk-table__cell">PIP</td>
                    <td class="govuk-table__cell" data-sort-value="19 August 2019">19 August 2019</td>
                    <td class="govuk-table__cell" data-sort-value="11 September 2019">11 September 2019</td>
                    <td class="govuk-table__cell"><a class="reco-document documentLinks document-link" data-url="/public/pdfs/PIP2-test-scenario.pdf"  target="_blank" href="evidence-only?evidence=Further medical evidence">View</a></td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                      {% if data["document-name"] == "None" %}
                      <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="evidence-nine" name="document-name" type="checkbox" value="Further medical evidence">
                          <label class="govuk-label govuk-checkboxes__label" for="evidence-nine"></label>
                        </div>
                     </div>
                     {% elseif data["document-name"].includes("Further medical evidence") %}
                     <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="evidence-nine" name="document-name" type="checkbox" value="Further medical evidence" {{ checked }}>
                        <label class="govuk-label govuk-checkboxes__label" for="evidence-nine"></label>
                      </div>
                   </div>
                   {% else %}
                   <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="evidence-nine" name="document-name" type="checkbox" value="Further medical evidence">
                      <label class="govuk-label govuk-checkboxes__label" for="evidence-nine"></label>
                    </div>
                 </div>
                   {% endif %}
                    </td>
                    <td class="govuk-table__cell">Further medical evidence</a>
                    </td>
                    <td class="govuk-table__cell">PIP</td>
                    <td class="govuk-table__cell" data-sort-value="19 August 2019">19 August 2019</td>
                    <td class="govuk-table__cell" data-sort-value="11 September 2019">11 September 2019</td>
                    <td class="govuk-table__cell"><a class="reco-document documentLinks document-link" data-url="/public/pdfs/PIP2-test-scenario.pdf"  target="_blank" href="evidence-only?evidence=Further medical evidence">View</a></td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                      {% if data["document-name"] == "None" %}
                      <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="evidence-ten" name="document-name" type="checkbox" value="Surgeon report">
                          <label class="govuk-label govuk-checkboxes__label" for="evidence-ten"></label>
                        </div>
                     </div>
                     {% elseif data["document-name"].includes("Surgeon report") %}
                     <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="evidence-ten" name="document-name" type="checkbox" value="Surgeon report" {{ checked }}>
                        <label class="govuk-label govuk-checkboxes__label" for="evidence-ten"></label>
                      </div>
                   </div>
                   {% else %}
                   <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="evidence-ten" name="document-name" type="checkbox" value="Surgeon report">
                      <label class="govuk-label govuk-checkboxes__label" for="evidence-ten"></label>
                    </div>
                 </div>
                   {% endif %}
                    </td>
                    <td class="govuk-table__cell">Surgeon report</a>
                    </td>
                    <td class="govuk-table__cell">PIP</td>
                    <td class="govuk-table__cell" data-sort-value="19 August 2019">19 August 2019</td>
                    <td class="govuk-table__cell" data-sort-value="11 September 2019">11 September 2019</td>
                    <td class="govuk-table__cell"><a class="reco-document documentLinks document-link" data-url="/public/pdfs/PIP2-test-scenario.pdf"  target="_blank" href="evidence-only?evidence=Surgeon report">View</a></td>
                  </tr>


                </tbody>
              </table>
            </div>


  
    <div class="govuk-button-group">
      <button type="submit" class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>

      {% if (data['evidenceAdded']) %}
      <p><a href="evidence-addAnother">Cancel</a></p>
      {% else %}
      <p><a href="evidence-none">Cancel</a></p>
      {% endif %}

     </div>

       </fieldset>
      </div>
    </form>

 

{% endblock %}
