{% extends "layouts/evidence-without-sidenav.html" %}


{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content_left %}

<!-- <div class="govuk-grid-row"> -->
  <!-- <div class="govuk-grid-column-two-thirds">    -->
  

        <form action="#" method="post" id="auto-redirect">

      <div class="govuk-form-group">
           <fieldset class="govuk-fieldset">

            <div id="document-list">
              <h1 class="govuk-heading-l">Review and add evidence</h1>

              <p>All view links open in a new tab.</p>
            
              <table class="govuk-table" data-module="moj-sortable-table" aria-describedby="last-updated">
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header column-width-20" aria-sort="none">checkbox</th>
                    <th scope="col" class="govuk-table__header column-width-20" aria-sort="none">Document type</th>
                    <th scope="col" class="govuk-table__header column-width-20" aria-sort="none">Document label</th>
                    <th scope="col" class="govuk-table__header column-width-10" aria-sort="none">Benefit type</th>
                    <th scope="col" class="govuk-table__header column-width-15" aria-sort="none">Date of document</th>
                    <th scope="col" class="govuk-table__header column-width-15" aria-sort="descending">Date DWP received</th>
                    <th scope="col" class="govuk-table__header column-width-20" aria-sort="none">Latest document activity</th>
                  </tr>
                </thead>
            
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                      <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="waste" name="document-name" type="checkbox" value="Claimant questionaire">
                          <label class="govuk-label govuk-checkboxes__label" for="evidence"></label>
                        </div>
                    </td>
                    <td class="govuk-table__cell">
                      {# if adding a new document - make sure the link has a class of document-link and the data-url is set to the correct document #}
                      <a class="reco-document documentLinks document-link" data-url="/public/pdfs/PIP2-test-scenario.pdf" href="#">Claimant questionaire</a>
                    </td>
                    <td class="govuk-table__cell">PIP2 questionaire</td>
                    <td class="govuk-table__cell">PIP</td>
                    <td class="govuk-table__cell" data-sort-value="8/06/23">9 September 2020</td>
                    <td class="govuk-table__cell" data-sort-value="9/06/23">13 September 2020</td>
                    <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">New document</strong></td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="waste" name="document-name" type="checkbox" value="GP letter">
                            <label class="govuk-label govuk-checkboxes__label" for="evidence"></label>
                          </div>
                      </td>
                    <td class="govuk-table__cell">
                      {# if adding a new document - make sure the link has a class of document-link and the data-url is set to the correct document #}
                      <a class="reco-document documentLinks document-link" data-url="/public/pdfs/PIP2-test-scenario.pdf" href="#">GP letter</a>
                    </td>
                    <td class="govuk-table__cell">GP letter</td>
                    <td class="govuk-table__cell">PIP</td>
                    <td class="govuk-table__cell" data-sort-value="8/06/23">9 September 2020</td>
                    <td class="govuk-table__cell" data-sort-value="9/06/23">13 September 2020</td>
                    <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">New document</strong></td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                      <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="waste" name="document-name" type="checkbox" value="Hospital letter">
                          <label class="govuk-label govuk-checkboxes__label" for="evidence"></label>
                        </div>
                    </td>
                    <td class="govuk-table__cell">
                      {# if adding a new document - make sure the link has a class of document-link and the data-url is set to the correct document #}
                      <a class="reco-document documentLinks document-link" data-url="/public/pdfs/cq-2.pdf" href="#">Careplan</a>
                    </td>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell">PIP</td>
                    <td class="govuk-table__cell" data-sort-value="8/06/23">23 June 2023</td>
                    <td class="govuk-table__cell" data-sort-value="9/06/23">10 August 2019</td>
                    <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">New document</strong></td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                      <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="waste" name="document-name" type="checkbox" value="Careplan">
                          <label class="govuk-label govuk-checkboxes__label" for="evidence"></label>
                        </div>
                    </td>
                    <td class="govuk-table__cell">
                      {# if adding a new document - make sure the link has a class of document-link and the data-url is set to the correct document #}
                      <a class="reco-document documentLinks document-link" data-url="/public/pdfs/cq-2.pdf" href="#">Hospital letter 1</a>
                    </td>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell">PIP</td>
                    <td class="govuk-table__cell" data-sort-value="8/06/23">19 August 2019</td>
                    <td class="govuk-table__cell" data-sort-value="9/06/23">11 September 2019</td>
                    <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">New document</strong></td>
                  </tr>
                </tbody>
              </table>
            </div>
         

  
    <div class="govuk-button-group">
      <button type="submit" class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>

      {% if (data['evidenceAdded']) %}
      <p><a href="evidence-addAnother">Cancel</a></p>
      {% else %}
      <p><a href="evidence-none">Cancel</a></p>
      {% endif %}

     </div>

       </fieldset>
      </div>
    </form>
  <!-- </div> -->
<!-- </div> -->
 

{% endblock %}
