-{% extends "layouts/evidence-noSpiltscreen.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% set containerClasses = "full-width-container" %}
{% block content_left %}

<style>
  .govuk-summary-list__actions {
   width: 25%;
   padding-right: 0;
   text-align: right;
 }
</style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
   
        <span class="govuk-caption-xl"></span>
        <h1 class="govuk-heading-l">
          Evidence
        </h1>

        <p>All view links open in a new tab.</p>

        <div class="govuk-!-margin-bottom-9">
          <h2 class="govuk-heading-m">Benefit claim documents</h2>
          <!--logic for adding evidence-->
          <!-- looking into the array as a whole -->
          {% for DWPevidence in data['evidenceAdded'] %}
            {% set outerLoopIndex = loop.index0 %}
            <!--Only show the last iteration of loop-->
              {% if loop.last %}
                  <!-- Pulling out specific values to display -->
                {% for coreEvidence in DWPevidence.coreEvidence %} 
                    <dl class="govuk-summary-list" id="{{ outerLoopIndex + '-' + loop.index0 }}">
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                          <p class="govuk-body"><b>{{ coreEvidence }}</b></p>
                        </dt>
                        
                        <dd class="govuk-summary-list__value">
                          {% if coreEvidence === "AP assessment report" %}
                          8 March 2022
                          {% endif %}

                          {% if coreEvidence === "Award Review AR1" %}
                          28 February 2025
                          {% endif %}

                          {% if coreEvidence === "Award Review AR1 covering letter" %}
                          28 February 2025
                          {% endif %}

                          {% if coreEvidence === "PIP2 questionnaire" %}
                          26 January 2022
                          {% endif %}
                        </dd>
                      
                        <dd class="govuk-summary-list__actions">
                          <ul class="govuk-summary-list__actions-list">
                            <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" target="_blank" href="/public/pdfs/{{coreEvidence}}.pdf">
                                  View<span class="govuk-visually-hidden">evidence change</span>
                              </a></li>
                            <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="remove-evidence?indexEvidence={{ outerLoopIndex }}&evidence={{evidenceName}}">
                                Remove<span class="govuk-visually-hidden">evidence remove</span>
                              </a></li>
                          </ul>
                        </dd>
                      </div>
                    </dl>  
                {% endfor %}
             {% endif %}
          {% endfor %}
          </div>


       <div>
        <h2 class="govuk-heading-m">Other supporting documents</h2>
          <!--logic for adding evidence-->
          <!-- looking into the array as a whole -->
          {% for evidence in data['evidenceAdded'] %}
            {% set outerLoopIndex = loop.index0 %}
            <!--Only show the last iteration of loop-->
              {% if loop.last %}
                  <!-- Pulling out specific values to display -->
                {% for evidenceName in evidence.evidenceName %} 
                  <dl class="govuk-summary-list" id="{{ outerLoopIndex + '-' + loop.index0 }}">
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        <b><p class="govuk-body"><b>{{ evidenceName }}</b></p></b>
                      </dt>
                    
                      <dd class="govuk-summary-list__value">
                        {% if evidenceName === "NHS Hospital appointment letter" %}
                        29 January 2025
                        {% endif %}

                        {% if evidenceName === "Further Evidence" %}
                        2 February 2025
                        {% endif %}

                        {% if evidenceName === "Hospital Factual Report" %}
                        19 September 2024
                        {% endif %}

                        {% if evidenceName === "GP letter" %}
                        11 November 2024
                        {% endif %}

                        {% if evidenceName === "Care plan" %}
                        25 November 2024
                        {% endif %}

                        {% if evidenceName === "GP letters" %}
                        8 August 2024
                        {% endif %}
                      </dd>
               
                    <dd class="govuk-summary-list__actions">
                      <ul class="govuk-summary-list__actions-list">
                        <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" target="_blank" href="/public/pdfs/{{evidenceName}}.pdf">
                              View<span class="govuk-visually-hidden">evidence change</span>
                          </a></li>
                        <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="remove-evidence?indexEvidence={{ outerLoopIndex }}&evidence={{evidenceName}}">
                            Remove<span class="govuk-visually-hidden">evidence remove</span>
                          </a></li>
                      </ul>
                    </dd>
                  </div>
                  </dl>  
                {% endfor %}
                {% endif %}
          {% endfor %}

        </div>

            <br>


<form action="#" method="post" id="auto-redirect">
  
  <div class="govuk-button-group govuk-!-margin-bottom-8">
    <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
      Add evidence
    </button>
    </div>

    {% if data["furtherEvidence"] === "Yes" %}
    <div class="govuk-form-group" id="evidenceInConsultation">
      <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h2 class="govuk-fieldset__heading">
            Did the claimant present further evidence during the consultation?
          </h2>
        </legend>
        <div id="contact-hint" class="govuk-hint">
   
        </div>
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="furtherEvidence" name="furtherEvidence" type="radio" value="Yes" data-aria-controls="further-evidence" {{ checked }}>
            <label class="govuk-label govuk-radios__label" for="furtherEvidence">
              Yes
            </label>
          </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="further-evidence">
            <div class="govuk-form-group">
              <label class="govuk-label" for="evidence-consultation">
                Evidence presented during consultation
              </label>
              <textarea class="govuk-textarea govuk-!-width-two-thirds" id="evidence-consultation" name="yesFurtherEvidence" type="text" spellcheck="false" autocomplete="text" rows="5">{{ data["yesFurtherEvidence"] }}</textarea>
            </div>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="contact-2" name="furtherEvidence" type="radio" value="No">
            <label class="govuk-label govuk-radios__label" for="contact-2">
             No
            </label>
          </div>
         
        </div>
      </fieldset>
    </div>

    {% elseif data["furtherEvidence"] === "No" %}
    <div class="govuk-form-group" id="evidenceInConsultation">
      <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h2 class="govuk-fieldset__heading">
            Did the claimant present further evidence during the consultation?
          </h2>
        </legend>
        <div id="contact-hint" class="govuk-hint">
   
        </div>
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="furtherEvidence" name="furtherEvidence" type="radio" value="Yes" data-aria-controls="further-evidence">
            <label class="govuk-label govuk-radios__label" for="furtherEvidence">
              Yes
            </label>
          </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="further-evidence">
            <div class="govuk-form-group">
              <label class="govuk-label" for="evidence-consultation">
                Evidence presented during consultation
              </label>
              <textarea class="govuk-textarea govuk-!-width-two-thirds" id="evidence-consultation" name="yesFurtherEvidence" type="text" spellcheck="false" autocomplete="text" rows="5">{{ data["yesFurtherEvidence"] }}</textarea>
            </div>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="contact-2" name="furtherEvidence" type="radio" value="No" {{ checked }}>
            <label class="govuk-label govuk-radios__label" for="contact-2">
             No
            </label>
          </div>
         
        </div>
      </fieldset>
    </div>
    {% else %}
    <div class="govuk-form-group" id="evidenceInConsultation">
      <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h2 class="govuk-fieldset__heading">
            Did the claimant present further evidence during the consultation?
          </h2>
        </legend>
        <div id="contact-hint" class="govuk-hint">
   
        </div>
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="furtherEvidence" name="furtherEvidence" type="radio" value="Yes" data-aria-controls="further-evidence">
            <label class="govuk-label govuk-radios__label" for="furtherEvidence">
              Yes
            </label>
          </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="further-evidence">
            <div class="govuk-form-group">
              <label class="govuk-label" for="evidence-consultation">
                Evidence presented during consultation
              </label>
              <textarea class="govuk-textarea govuk-!-width-two-thirds" id="evidence-consultation" name="yesFurtherEvidence" type="text" spellcheck="false" autocomplete="text" rows="5">{{ data["yesFurtherEvidence"] }}</textarea>
            </div>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="contact-2" name="furtherEvidence" type="radio" value="No">
            <label class="govuk-label govuk-radios__label" for="contact-2">
             No
            </label>
          </div>
         
        </div>
      </fieldset>
    </div>
    {% endif %}
   
    <!-- <div class="govuk-form-group" id="evidenceInConsultation">
      <label class="govuk-label" for="more-evidence">
        <b>Evidence supplied during consultation</b>
      </label>
      <textarea class="govuk-textarea" id="more-evidence" name="otherEvidence" rows="5">{{ data["otherEvidence"] }}</textarea>
    </div> -->

      </form>
    </div>
</div>
     
   

{% endblock %}