-{% extends "layouts/evidence-noSpiltscreen.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% set containerClasses = "full-width-container" %}
{% block content_left %}

<style>
  .govuk-summary-list__actions {
   width: 25%;
   padding-right: 0;
   text-align: right;
 }
</style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
   
        <span class="govuk-caption-xl"></span>
        <h1 class="govuk-heading-l">
          Evidence
        </h1>

        <p>All view links open in a new tab.</p>

        <div class="govuk-!-margin-bottom-9">
          <h2 class="govuk-heading-m">Benefit evidence</h2>
          <!--logic for adding evidence-->
          <!-- looking into the array as a whole -->
          {% for DWPevidence in data['evidenceAdded'] %}
            {% set outerLoopIndex = loop.index0 %}
            <!--Only show the last iteration of loop-->
              {% if loop.last %}
                  <!-- Pulling out specific values to display -->
                {% for coreEvidence in DWPevidence.coreEvidence %} 
                  <dl class="govuk-summary-list" id="{{ outerLoopIndex + '-' + loop.index0 }}">
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                    
                        <p class="govuk-body"><b>{{ coreEvidence }}</b></p>
              
                      </dt>
                      <!-- <dd class="govuk-summary-list__value">
                      
                      </dd> -->
                    
                      <dd class="govuk-summary-list__actions">
                        <ul class="govuk-summary-list__actions-list">
                          <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" target="_blank" href="/public/pdfs/PIP2-test-scenario.pdf">
                                View<span class="govuk-visually-hidden">evidence change</span>
                            </a></li>
                          <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="remove-evidence?indexEvidence={{ outerLoopIndex }}&evidence={{evidenceName}}">
                              Remove<span class="govuk-visually-hidden">evidence remove</span>
                            </a></li>
                        </ul>
                      </dd>
                    </div>
                  </dl>  
                {% endfor %}
                {% endif %}
          {% endfor %}
          </div>


       <div>
        <h2 class="govuk-heading-m">Further medical evidence</h2>
          <!--logic for adding evidence-->
          <!-- looking into the array as a whole -->
          {% for evidence in data['evidenceAdded'] %}
            {% set outerLoopIndex = loop.index0 %}
            <!--Only show the last iteration of loop-->
              {% if loop.last %}
                  <!-- Pulling out specific values to display -->
                {% for evidenceName in evidence.evidenceName %} 
                  <dl class="govuk-summary-list" id="{{ outerLoopIndex + '-' + loop.index0 }}">
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        <b><p class="govuk-body"><b>{{ evidenceName }}</b></p></b>

                      </dt>
      
                      {% for evidenceDate in evidence.evidenceDate %} 
                      {% set outerLoopIndex = loop.index0 %}
                    
                      <dd class="govuk-summary-list__value" id="{{ outerLoopIndex + '-' + loop.index0 }}">
                        {{ evidenceDate }}
                      </dd>
          
                      {% endfor %}
                    
                      <dd class="govuk-summary-list__actions">
                        <ul class="govuk-summary-list__actions-list">
                          <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" target="_blank" href="/public/pdfs/PIP2-test-scenario.pdf">
                                View<span class="govuk-visually-hidden">evidence change</span>
                            </a></li>
                          <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="remove-evidence?indexEvidence={{ outerLoopIndex }}&evidence={{evidenceName}}">
                              Remove<span class="govuk-visually-hidden">evidence remove</span>
                            </a></li>
                        </ul>
                      </dd>
                    </div>
                  </dl>  
                {% endfor %}
                {% endif %}
          {% endfor %}

        </div>

            <br>


<form action="#" method="post" id="auto-redirect">
  
  <div class="govuk-button-group govuk-!-margin-bottom-8">
    <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
      Add evidence
    </button>
    </div>
   
    <div class="govuk-form-group" id="evidenceInConsultation">
      <label class="govuk-label" for="more-evidence">
        <b>Evidence supplied during consultation</b>
      </label>
      <textarea class="govuk-textarea" id="more-evidence" name="otherEvidence" rows="5">{{ data["otherEvidence"] }}</textarea>
    </div>

      </form>
    </div>
</div>
     
   

{% endblock %}