{% extends "layouts/prep-soch.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <a href="javascript:history.back()" class="govuk-back-link">Back</a>
    <span class="govuk-caption-xl">PIP telephone assessment</span>
    <h1 class="govuk-heading-l">
       Social and occupational history
    </h1>


    <a href="javascript:history.back()" class="govuk-back-link">Back</a>
  
  <div class="govuk-form-group">
    <label class="govuk-label" for="more-detail">
      What kind of home do they live in?
    </label>
    <textarea class="govuk-textarea" id="home-type" name="home-type" rows="5"></textarea>
  </div>      

  <div class="govuk-form-group">
    <label class="govuk-label" for="more-detail">
     Has the home been adapted in any way? 
    </label>
    <textarea class="govuk-textarea" id="home-adaptations" name="home-adaptations" rows="5"></textarea>
  </div>      

  <div class="govuk-form-group">
    <label class="govuk-label" for="more-detail">
     Do they live with anyone?
    </label>
    <textarea class="govuk-textarea" id="home-live-with" name="home-live-with" rows="5"></textarea>
  </div>      

  <div class="govuk-form-group">
    <label class="govuk-label" for="more-detail">
     Do they use any aids or appliances?
    </label>
    <textarea class="govuk-textarea" id="aids-appliances" name="aids-appliances" rows="5"></textarea>
  </div>      

  <div class="govuk-button-group">
      </div><button class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>
    </div>

      </form>
<!--
    <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="list-convictions-status">Not started</strong>
    <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="submit-pay-status">Cannot start yet</strong>
    <strong class="govuk-tag govuk-tag--blue govuk-prototype-kit-task-list__tag" id="contact-details-status">In progress</strong>
    <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="eligibility-status">Completed</strong>

  -->
  </div>      
      </div>

{% endblock %}
