{% extends "layouts/layout-split-banner.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content_left %}


<a href="javascript:history.back()" class="govuk-back-link">Back</a>
    

<form action="#" method="post">
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <span class="govuk-caption-xl"></span>
        <h1 class="govuk-fieldset__heading">
          Daily living analysis
        </h1>
      </legend>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
           Preparing food
          </dt>
          {% if (data['preparingfoodSelect']) %}
          <dd class="govuk-summary-list__value">
            {{data["preparingfoodSelect"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="preparingfood">
              Change<span class="govuk-visually-hidden">preparing food</span>
            </a>
          </dd>
          {% else %}
          <dd class="govuk-summary-list__value">
            <a href="preparingfood" class="govuk-link">Select preparing food descriptor</a>
          </dd>
          <dd class="govuk-summary-list__actions">
           
          </dd>
          {% endif %}
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Taking nutrition
          </dt>
          {% if (data['takingnutritionSelect']) %}
          <dd class="govuk-summary-list__value">
            {{data["takingnutritionSelect"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="takingnutrition">
              Change<span class="govuk-visually-hidden"> taking nutrition</span>
            </a>
          </dd>
          {% else %}
          <dd class="govuk-summary-list__value">
            <a href="takingnutrition" class="govuk-link">Select taking nutrition descriptor</a>
          </dd>
          <dd class="govuk-summary-list__actions">
           
          </dd>
          {% endif %}
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Managing therapy
          </dt>
          {% if (data['managingtherapySelect']) %}
          <dd class="govuk-summary-list__value">
            {{data["managingtherapySelect"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="managingtherapy">
              Change<span class="govuk-visually-hidden"> managing therapy</span>
            </a>
          </dd>
          {% else %}
          <dd class="govuk-summary-list__value">
            <a href="managingtherapy" class="govuk-link">Select managing therapy descriptor</a>
          </dd>
          <dd class="govuk-summary-list__actions">
           
          </dd>
          {% endif %}
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Washing and bathing
          </dt>
          {% if (data['washingbathingSelect']) %}
          <dd class="govuk-summary-list__value">
            {{data["washingbathingSelect"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="washingbathing">
              Change<span class="govuk-visually-hidden"> Washing and bathing</span>
            </a>
          </dd>
          {% else %}
          <dd class="govuk-summary-list__value">
            <a href="washingbathing" class="govuk-link">Select washing and bathing descriptor</a>
          </dd>
          <dd class="govuk-summary-list__actions">
           
          </dd>
          {% endif %}
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Managing toilet needs
          </dt>
          {% if (data['toiletneedsSelect']) %}
          <dd class="govuk-summary-list__value">
            {{data["toiletneedsSelect"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="toiletneeds">
              Change<span class="govuk-visually-hidden"> managing toilet needs</span>
            </a>
          </dd>
          {% else %}
          <dd class="govuk-summary-list__value">
            <a href="toiletneeds" class="govuk-link">Select managing toilet needs descriptor</a>
          </dd>
          <dd class="govuk-summary-list__actions">
           
          </dd>
          {% endif %}
      
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Dressing and undressing
          </dt>
          {% if (data['dressingSelect']) %}
          <dd class="govuk-summary-list__value">
            {{data["dressingSelect"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="dressing">
              Change<span class="govuk-visually-hidden"> dressing and undressing</span>
            </a>
          </dd>
          {% else %}
          <dd class="govuk-summary-list__value">
            <a href="dressing" class="govuk-link">Select dressing and undressing descriptor</a>
          </dd>
          <dd class="govuk-summary-list__actions">
           
          </dd>
          {% endif %}
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Communicating verbally
          </dt>
          {% if (data['communicatingverballySelect']) %}
          <dd class="govuk-summary-list__value">
            {{data["communicatingverballySelect"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="communicatingverbally">
              Change<span class="govuk-visually-hidden"> communicating verbally</span>
            </a>
          </dd>
          {% else %}
          <dd class="govuk-summary-list__value">
            <a href="communicatingverbally" class="govuk-link">Select communicating verbally descriptor</a>
          </dd>
          <dd class="govuk-summary-list__actions">
           
          </dd>
          {% endif %}
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Reading and understanding signs, symbols and words
          </dt>
          {% if (data['readingunderstandingSelect']) %}
          <dd class="govuk-summary-list__value">
            {{data["readingunderstandingSelect"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="readingunderstanding">
              Change<span class="govuk-visually-hidden"> reading understanding</span>
            </a>
          </dd>
          {% else %}
          <dd class="govuk-summary-list__value">
            <a href="readingunderstanding" class="govuk-link" style="text-align: left;">Select reading and understanding signs, symbols and words descriptor</a>
          </dd>
          {% endif %}
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Engaging face to face
          </dt>
          {% if (data['facetofaceSelect']) %}
          <dd class="govuk-summary-list__value">
            {{data["facetofaceSelect"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="facetoface">
              Change<span class="govuk-visually-hidden"> engaging face to face</span>
            </a>
          </dd>
          {% else %}
          <dd class="govuk-summary-list__value">
            <a href="facetoface" class="govuk-link" style="text-align: left;">Select engaging face to face descriptor</a>
          </dd>
          {% endif %}
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Budgeting
          </dt>
          {% if (data['budgetingSelect']) %}
          <dd class="govuk-summary-list__value">
            {{data["budgetingSelect"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="budgeting">
              Change<span class="govuk-visually-hidden"> budgeting</span>
            </a>
          </dd>
          {% else %}
          <dd class="govuk-summary-list__value">
            <a href="budgeting" class="govuk-link" style="text-align: left;">Select budgeting descriptor</a>
          </dd>
          {% endif %}
        </div>
      </dl>
    </fieldset>
  </div>

  <h2 class="govuk-heading-m">Provide a justification for daily living</h2>
  <div class="govuk-form-group">
    <textarea class="govuk-textarea" id="recommendation-daily-living" name="recommendation-daily-living" rows="15"></textarea>
  </div>
      <div class="govuk-button-group">

      <button class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>
    </div>
  </form>
      

{% endblock %}
