{% extends "layouts/layout-split.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content_left %}

<a href="javascript:history.back()" class="govuk-back-link">Back</a>
    

<form action="#" method="post">
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <span class="govuk-caption-xl"></span>
        <h1 class="govuk-fieldset__heading">
          Add medication
        </h1>
      </legend>

          <div class="govuk-form-group">
            <label class="govuk-label" for="meds-name">
              Medication name
            </label>
            <input class="govuk-input" id="meds-name" name="meds-name" type="text">
          </div>
          <div class="govuk-form-group">
            <label class="govuk-label" for="meds-dose">
              Dose
            </label>
            <input class="govuk-input" id="meds-dose" name="meds-dose" type="text">
          </div>
          <div class="govuk-form-group">
            <label class="govuk-label" for="meds-frequency">
              Frequency
            </label>
            <input class="govuk-input" id="meds-frequency" name="meds-frequency" type="text">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="meds-efficacy">
              Efficacy
            </label>
            <input class="govuk-input" id="meds-effectiveness" name="meds-efficacy" type="text">
          </div>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
                <label class="govuk-label" for="width-5">
                  Are there side effects?
                </label>   
                <input class="govuk-input" id="sideEffect" name="side-effects" type="text">           
              <!-- <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="contact" name="med-side-effect" type="radio" value="Yes" data-aria-controls="conditional-contact">
                  <label class="govuk-label govuk-radios__label" for="contact">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="contact-2" name="med-side-effect" type="radio" value="No" data-aria-controls="conditional-contact-2">
                  <label class="govuk-label govuk-radios__label" for="contact-2">
                    No
                  </label>
                </div>

              </div> -->
              
              <!-- if side effect equals yes then display side effects more details else display no-->
                <!-- <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact" name="med-side-effect">
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="more-detail">
                          Can you provide more detail?
                        </label>
                        <textarea class="govuk-textarea" id="more-detail" name="side-effects-detail" rows="5"></textarea>
                      </div>
                </div> -->
               
            </fieldset>
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="meds-name">
              Additional information for this medication
            </label>
            <input class="govuk-input" id="additional-info" name="additional-info" type="text">
          </div>
          
          

    </fieldset>
  </div>
      <div class="govuk-button-group">

      <button class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>
    </div>
    <p class="govuk-body"><a href="end-why" class="govuk-link">Abandon consultation</a></p>
  </form>
      

{% endblock %}
