{% extends "layouts/layout-split-banner.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content_left %}

<a href="javascript:history.back()" class="govuk-back-link">Back</a>
    

<form action="#" method="post">
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <span class="govuk-caption-xl"></span>
        <h1 class="govuk-fieldset__heading">
          Mobility analysis
        </h1>
      </legend>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Planning and following journeys
          </dt>
          {% if (data['journeysSelectpbr']) %}
          <dd class="govuk-summary-list__value">
            {{data["journeysSelectpbr"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="journeys">
              Change<span class="govuk-visually-hidden">planning journeys</span>
            </a>
          </dd>
          {% else %}
          <dd class="govuk-summary-list__value">
            <a href="journeys" class="govuk-link">Select planning and following journeys descriptor</a>
          </dd>
          <dd class="govuk-summary-list__actions">
           
          </dd>
          {% endif %}
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
           Moving around
          </dt>
          {% if (data['movingaroundSelectpbr']) %}
          <dd class="govuk-summary-list__value">
            {{data["movingaroundSelectpbr"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="movingaround">
              Change<span class="govuk-visually-hidden">moving around</span>
            </a>
          </dd>
          {% else %}
          <dd class="govuk-summary-list__value">
            <a href="movingaround" class="govuk-link">Select moving around descriptor</a>
          </dd>
          <dd class="govuk-summary-list__actions">
           
          </dd>
          {% endif %}
        </div>
        </dl>
      


      


       

        

       
          </fieldset>
        </div>

        <h2 class="govuk-heading-m">Provide a justification for mobility</h2>
        <div class="govuk-form-group">
          <textarea class="govuk-textarea" id="recommendation-daily-living" name="recommendation-mobility" rows="15"></textarea>
        </div>
            <div class="govuk-button-group">

      <button class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>
    </div>
  </form>
      

{% endblock %}
