{% extends "layouts/layout-split-banner.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content_left %}
<!-- <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds"> -->

    <a href="javascript:history.back()" class="govuk-back-link">Back</a>
    <!-- <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds"> -->
        <h1 class="govuk-heading-l">Select a descriptor for preparing food</h1>
      <!-- </div>
    </div> -->


    <!-- <div class="govuk-summary-list__row">
    <dd class="govuk-summary-list__value no-bottom-border"></dd>
    <dd class="govuk-summary-list__actions no-bottom-border"></dd>
    </div> -->


    <form action="daily-living" method="get" novalidate="">
              
              

<div class="govuk-form-group">
</div>

<div class="govuk-form-group">

  <fieldset class="govuk-fieldset govuk-!-margin-bottom-9">
  
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
    How well can the claimant cook food?
  </legend>
  
  <div class="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="preparingfoodSelect" name="preparingfoodSelect" type="radio" value="(1a) Can prepare and cook a simple meal unaided">
          <label class="govuk-label govuk-radios__label" for="preparingfoodSelect">
        (1a) Can prepare and cook a simple meal unaided
      </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="preparingfoodSelect-2" name="preparingfoodSelect" type="radio" value="(1b) Needs to use an aid or appliance to be able to either prepare or cook a simple meal">
          <label class="govuk-label govuk-radios__label" for="preparingfoodSelect-2">
        (1b) Needs to use an aid or appliance to be able to either prepare or cook a simple meal
      </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="preparingfoodSelect-3" name="preparingfoodSelect" type="radio" value="(1c) Cannot cook a simple meal using a conventional cooker but is able to do so using a microwave">
          <label class="govuk-label govuk-radios__label" for="preparingfoodSelect-3">
        (1c) Cannot cook a simple meal using a conventional cooker but is able to do so using a microwave
      </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="preparingfoodSelect-4" name="preparingfoodSelect" type="radio" value="(1d) Needs prompting to be able to either prepare or cook a simple meal">
          <label class="govuk-label govuk-radios__label" for="preparingfoodSelect-4">
        (1d) Needs prompting to be able to either prepare or cook a simple meal
      </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="preparingfoodSelect-5" name="preparingfoodSelect" type="radio" value="(1e) Needs supervision or assistance to either prepare or cook a simple meal">
          <label class="govuk-label govuk-radios__label" for="preparingfoodSelect-5">
        (1e) Needs supervision or assistance to either prepare or cook a simple meal
      </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="preparingfoodSelect-6" name="preparingfoodSelect" type="radio" value="(1f) Cannot prepare and cook food">
          <label class="govuk-label govuk-radios__label" for="preparingfoodSelect-6">
        (1f) Cannot prepare and cook food
      </label>
        </div>
  </div>
</fieldset>
</div>

              <button class="govuk-button" data-module="govuk-button">
                Save and continue
              </button>
          
          </form>
    </div>
<!--
    <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="list-convictions-status">Not started</strong>
    <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="submit-pay-status">Cannot start yet</strong>
    <strong class="govuk-tag govuk-tag--blue govuk-prototype-kit-task-list__tag" id="contact-details-status">In progress</strong>
    <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="eligibility-status">Completed</strong>

  -->
  <!-- </div>      
      </div> -->

{% endblock %}