{% extends "layouts/main-case-8.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Assessment overview
    </h1>

      <ul class="app-task-list__items" style="padding-left: 0%;">
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">Evidence
        </h2>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="evidence" aria-describedby="eligibility-status">
                Evidence used
              </a>
            </span>
            <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong> 
          </li>
      
               <li class="app-task-list__item">
                  <h2 class="app-task-list__section">
                    <span class="app-task-list__section-number">Claimant history
                  </h2>
                  <li class="app-task-list__item">
                    <span class="app-task-list__task-name">
                      <a href="conditions.html" aria-describedby="read-declaration-status">
                        Medical conditions
                      </a>
                    </span>
                    <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong> 
                  </li>
                  <li class="app-task-list__item">
                    <span class="app-task-list__task-name">
                      <a href="meds.html" aria-describedby="read-declaration-status">
                        Medications
                      </a>
                    </span>
                    <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong> 
                  </li>
                  <li class="app-task-list__item">
                    <span class="app-task-list__task-name">
                      <a href="treatment.html" aria-describedby="read-declaration-status">
                        Treatments
                      </a>
                    </span>
                    <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong> 
                  </li>
                  <!-- <li class="app-task-list__item">
                  <span class="app-task-list__task-name">
                    <a href="meds.html" aria-describedby="read-declaration-status">
                      Daily living descriptors
                    </a>
                  </span>
                  <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
                </li>
      
                <li class="app-task-list__item">
                  <span class="app-task-list__task-name">
                    <a href="evidence" aria-describedby="eligibility-status">
                      Mobility descriptors
                    </a>
                  </span>
                  <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
                </li> -->
            
        </li>
        
      
        <li class="app-task-list__item">
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">Analysis
          </h2>
          <span class="app-task-list__task-name">
            <a href="daily-living.html" aria-describedby="read-declaration-status">
              Daily living
            </a>
          </span>
          <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong> 
        </li>
        <!-- <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            <a href="daily-living2.html" aria-describedby="read-declaration-status">
              Daily living justification (test)
            </a>
          </span>
          <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
        </li> -->
        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            <a href="mobility.html" aria-describedby="read-declaration-status">
              Mobility
              </a>
          </span>
          <strong class="govuk-tag app-task-list__tag" id="list-convictions-status">Completed</strong>
        </li>
      <!-- <li class="app-task-list__item">
      <span class="app-task-list__task-name">
        <a href="journeys.html" aria-describedby="read-declaration-status">
          Mobility justification
          </a>
      </span>
      <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
      </li> -->
      <li class="app-task-list__item">
        <span class="app-task-list__task-name">
        <a href="dl-qual.html" aria-describedby="read-declaration-status">
        Qualifying period
        </a>
        </span>
        <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
      </li>
      <li class="app-task-list__item">
        <span class="app-task-list__task-name">
        <a href="review.html" aria-describedby="read-declaration-status">
        Review period
        </a>
        </span>
        <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
      </li>

<!--
    <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="list-convictions-status">Not started</strong>
    <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="submit-pay-status">Cannot start yet</strong>
    <strong class="govuk-tag govuk-tag--blue govuk-prototype-kit-task-list__tag" id="contact-details-status">In progress</strong>
    <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="eligibility-status">Completed</strong>

  -->
  </div>      
      </div>

{% endblock %}
