{% extends "layouts/side-nav-editing-audit.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% set containerClasses = "full-width-container" %}
{% block content_left %}

<style type="text/css">
  .govuk-textarea {
    text-align: left;
    display: block;
    white-space: pre-line;
  }
             
  </style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <a href="javascript:history.back()" class="govuk-back-link">Back</a>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Budgeting</h1>
      </div>
    </div>

    <form action="#" method="post" id="auto-redirect">
              
              

      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--s" for="budgetingNotes">
          Functional history for budgeting
        </label>
      
      
        <textarea class="govuk-textarea govuk-!-margin-bottom-9" id="budgetingNotes" name="budgetingNotes" rows="15">
          She has a good understanding of money and is aware of how money works. She is aware of the concept of money, the value of things and the need to budget for future purchases.

          She has a bank account set up, is aware of what is coming in and out of it, and household bills payments are normally done by herself paying a monthly fee contribution for ease and convenience purposes. 
          
          She is able to make sense out of the change given to her from simple transactions. She uses online banking. 
        </textarea>
      </div>

      <div class="govuk-form-group">

        <fieldset class="govuk-fieldset govuk-!-margin-bottom-9">
        
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
        
          Which of these describes how well the claimant can budget?
        
        </legend>
        
      
        <div class="govuk-radios">

          {% if data["budgetingSelect"] == '(10a) Can manage complex budgeting decisions unaided' %}
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="budgetingSelect" name="budgetingSelect" type="radio" value="(10a) Can manage complex budgeting decisions unaided" {{ checked }}>
                <label class="govuk-label govuk-radios__label" for="budgetingSelect">
              (10a) Can manage complex budgeting decisions unaided
            </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="budgetingSelect-2" name="budgetingSelect" type="radio" value="(10b) Needs prompting or assistance to be able to make complex budgeting decisions">
                <label class="govuk-label govuk-radios__label" for="budgetingSelect-2">
              (10b) Needs prompting or assistance to be able to make complex budgeting decisions
            </label>
              </div>
              
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="budgetingSelect-3" name="budgetingSelect" type="radio" value="(10c) Needs prompting or assistance to be able to make simple budgeting decisions">
                <label class="govuk-label govuk-radios__label" for="budgetingSelect-3">
              (10c) Needs prompting or assistance to be able to make simple budgeting decisions
            </label>
              </div>
 
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="budgetingSelect-4" name="budgetingSelect" type="radio" value="(10d) Cannot make any budgeting decisions at all">
                <label class="govuk-label govuk-radios__label" for="budgetingSelect-4">
              (10d) Cannot make any budgeting decisions at all
            </label>
              </div>

              {% elseif data["budgetingSelect"] == '(10b) Needs prompting or assistance to be able to make complex budgeting decisions' %}
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="budgetingSelect" name="budgetingSelect" type="radio" value="(10a) Can manage complex budgeting decisions unaided">
                <label class="govuk-label govuk-radios__label" for="budgetingSelect">
              (10a) Can manage complex budgeting decisions unaided
            </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="budgetingSelect-2" name="budgetingSelect" type="radio" value="(10b) Needs prompting or assistance to be able to make complex budgeting decisions" {{ checked }}>
                <label class="govuk-label govuk-radios__label" for="budgetingSelect-2">
              (10b) Needs prompting or assistance to be able to make complex budgeting decisions
            </label>
              </div>
              
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="budgetingSelect-3" name="budgetingSelect" type="radio" value="(10c) Needs prompting or assistance to be able to make simple budgeting decisions">
                <label class="govuk-label govuk-radios__label" for="budgetingSelect-3">
              (10c) Needs prompting or assistance to be able to make simple budgeting decisions
            </label>
              </div>
 
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="budgetingSelect-4" name="budgetingSelect" type="radio" value="(10d) Cannot make any budgeting decisions at all">
                <label class="govuk-label govuk-radios__label" for="budgetingSelect-4">
              (10d) Cannot make any budgeting decisions at all
            </label>
              </div>

              {% elseif data["budgetingSelect"] == '(10c) Needs prompting or assistance to be able to make simple budgeting decisions' %}
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="budgetingSelect" name="budgetingSelect" type="radio" value="(10a) Can manage complex budgeting decisions unaided">
                <label class="govuk-label govuk-radios__label" for="budgetingSelect">
              (10a) Can manage complex budgeting decisions unaided
            </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="budgetingSelect-2" name="budgetingSelect" type="radio" value="(10b) Needs prompting or assistance to be able to make complex budgeting decisions">
                <label class="govuk-label govuk-radios__label" for="budgetingSelect-2">
              (10b) Needs prompting or assistance to be able to make complex budgeting decisions
            </label>
              </div>
              
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="budgetingSelect-3" name="budgetingSelect" type="radio" value="(10c) Needs prompting or assistance to be able to make simple budgeting decisions" {{ checked }}>
                <label class="govuk-label govuk-radios__label" for="budgetingSelect-3">
              (10c) Needs prompting or assistance to be able to make simple budgeting decisions
            </label>
              </div>
 
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="budgetingSelect-4" name="budgetingSelect" type="radio" value="(10d) Cannot make any budgeting decisions at all">
                <label class="govuk-label govuk-radios__label" for="budgetingSelect-4">
              (10d) Cannot make any budgeting decisions at all
            </label>
              </div>

              {% elseif data["budgetingSelect"] == '(10d) Cannot make any budgeting decisions at all' %}
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="budgetingSelect" name="budgetingSelect" type="radio" value="(10a) Can manage complex budgeting decisions unaided">
                <label class="govuk-label govuk-radios__label" for="budgetingSelect">
              (10a) Can manage complex budgeting decisions unaided
            </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="budgetingSelect-2" name="budgetingSelect" type="radio" value="(10b) Needs prompting or assistance to be able to make complex budgeting decisions">
                <label class="govuk-label govuk-radios__label" for="budgetingSelect-2">
              (10b) Needs prompting or assistance to be able to make complex budgeting decisions
            </label>
              </div>
              
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="budgetingSelect-3" name="budgetingSelect" type="radio" value="(10c) Needs prompting or assistance to be able to make simple budgeting decisions">
                <label class="govuk-label govuk-radios__label" for="budgetingSelect-3">
              (10c) Needs prompting or assistance to be able to make simple budgeting decisions
            </label>
              </div>
 
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="budgetingSelect-4" name="budgetingSelect" type="radio" value="(10d) Cannot make any budgeting decisions at all" {{ checked }}>
                <label class="govuk-label govuk-radios__label" for="budgetingSelect-4">
              (10d) Cannot make any budgeting decisions at all
            </label>
              </div>

              {% elseif data["budgetingSelect"] === undefined %}
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="budgetingSelect" name="budgetingSelect" type="radio" value="(10a) Can manage complex budgeting decisions unaided" {{ checked }}>
                <label class="govuk-label govuk-radios__label" for="budgetingSelect">
              (10a) Can manage complex budgeting decisions unaided
            </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="budgetingSelect-2" name="budgetingSelect" type="radio" value="(10b) Needs prompting or assistance to be able to make complex budgeting decisions">
                <label class="govuk-label govuk-radios__label" for="budgetingSelect-2">
              (10b) Needs prompting or assistance to be able to make complex budgeting decisions
            </label>
              </div>
              
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="budgetingSelect-3" name="budgetingSelect" type="radio" value="(10c) Needs prompting or assistance to be able to make simple budgeting decisions">
                <label class="govuk-label govuk-radios__label" for="budgetingSelect-3">
              (10c) Needs prompting or assistance to be able to make simple budgeting decisions
            </label>
              </div>
 
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="budgetingSelect-4" name="budgetingSelect" type="radio" value="(10d) Cannot make any budgeting decisions at all">
                <label class="govuk-label govuk-radios__label" for="budgetingSelect-4">
              (10d) Cannot make any budgeting decisions at all
            </label>
              </div>
          {% endif %}
          
        </div>
        
      
      </fieldset>

      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--s" for="budgetingJustify">
          Justification for budgeting
        </label>
      
        <textarea class="govuk-textarea govuk-!-margin-bottom-9" id="budgetingJustification" name="budgetingJustify" rows="15">
          Restrictions reported: 

          CQ states gets anxious about money and bills, due to depression and anxiety she doesn't have a clear head and she cannot plan, support worker and husband help with bills, gets overloaded and has panic attacks. FH states understands how money works.
          
          Recommendation and evidence used to support: 

          It is likely that on the majority of days she can make complex budgeting decisions unaided in a timely manner, to an acceptable standard and repeatedly. Although acknowledging regular psychiatry reviews and prescribed strong medication dosage for her mental health conditions, evidence from HOC shows no underlying diagnoses of learning difficulties/disabilities or other cognitive/intellectual health related conditions which could potentially cause restrictions around this activity.

          Despite CQ reporting limitations, SOH shows that she used to work as a website developer, she can use a mobile phone and she spends her days in the garden; suggesting an element of cognition, intellect and motivation. This is in line with IOs being unremarkable showing ability to concentrate, to follow a sequence, to take decisions independently, also showing good insight, intellect, cognition and memory skills. MSE confirms good insight, cognition and information processing. FH suggests no significant limitations with this activity. Thus it is likely she can do this activity unaided. 

          Reasons why the reported restrictions are not supported by evidence: 

          N/A 

          Other descriptor supported by some evidence and the reasons why they haven’t been advised: 

          N/A 
        </textarea>
      </div>
      
      
         </div>  
      </form>
    </div>
  </div>



{% endblock %}
