{% extends "layouts/editing.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">

    <a href="javascript:history.back()" class="govuk-back-link">Back to latest version</a>
  
    <h1 class="govuk-heading-xl">Previous versions of this report</h1>

    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m"></caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header app-custom-class">Version</th>
          <th scope="col" class="govuk-table__header app-custom-class">Submission date</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a href="report-versioned" class="govuk-link">View version 3 (opens in new tab)</a></td>
          <td class="govuk-table__cell">4.00pm, 10 July 2024</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a href="report-versioned" class="govuk-link">View version 2 (opens in new tab)</a></td>
          <td class="govuk-table__cell">11.00am, 8 July 2024</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a href="report-versioned" class="govuk-link">View version 1 (opens in new tab)</a></th>
          <td class="govuk-table__cell">09.30am, 7 July 2024</td>
        </tr>
    
      </tbody>
    </table>

  </div>      
      </div>

{% endblock %}
