{% extends "layouts/side-nav-evidence.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% set containerClasses = "full-width-container" %}
{% block content_left %}

<style type="text/css">
  .govuk-textarea {
    text-align: left;
    display: block;
    white-space: pre-line;
  }
             
  </style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">   

<form action="#" method="post" id="auto-redirect">
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <span class="govuk-caption-xl"></span>
        <h1 class="govuk-fieldset__heading">
          Additional attendees
        </h1>
        <div id="condition-hint" class="govuk-hint">
        </div>
      </legend>

       <p>No additional attendees have been added.</p>
      
          <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Add an attendee
          </button>
         
      </fieldset>
    </div>
    </form>
    </div>
  </div>

      

{% endblock %}
