{% extends "layouts/side-nav-editing-audit.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% set containerClasses = "full-width-container" %}
{% block content_left %}

<style type="text/css">
  .govuk-textarea {
    text-align: left;
    display: block;
    white-space: pre-line;
  }
             
  </style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <a href="javascript:history.back()" class="govuk-back-link">Back</a>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Moving around</h1>
      </div>
    </div>

    <form action="#" method="post" id="auto-redirect">
              
              

        <div class="govuk-form-group">
            <label class="govuk-label govuk-label--s" for="movingaroundNotes">
              Functional history for moving around
            </label>
          
          
            <textarea class="govuk-textarea govuk-!-margin-bottom-9" id="movingaroundNotes" name="movingaroundNotes" rows="15">
              She can comfortably cover up to 30 metres prior to needing to stop, it would approximately take her 5 minutes to walk such distance, and she'd need to stop owing to knee pains especially in the left knee.
               She would then need to have a rest break of about 5 minutes in a seated position until the pain subsides to a certain extent, prior to being able to repeat this same distance as tolerated, but sometimes she wouldn't be able to repeat it again due to her knee pains. 

               She normally feels tired and in pain after covering such distances despite trying to walk as tolerated. She normally walks at a slow, comfortable pace, aided with a walking stick at all times for added leverage, support and stability. She doesn't use wheelchairs or mobility scooters for outdoors mobility. 
               She's had some falls over this past year due to legs giving way unpredictably and being really clumsy due to unsteadiness. She isn't a blue badge holder. Her walking pattern is described as slow and at times wobbly. Indoors - she can access all rooms downstairs but if the pain is worse she's unable to manage stairs and sleeps downstairs on the settee. 
               
               Outdoors - her friend drops her off nearby a field and she just sits to enjoy the countryside view rather than walk around due to her physical pains, otherwise she is not walking anywhere in particular outdoors regularly. 
            </textarea>
          </div>

          <div class="govuk-form-group">

            <fieldset class="govuk-fieldset govuk-!-margin-bottom-9">
            
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
            
              Which of these describes how well the claimant can move around?
            
            </legend>
            
          
            <div class="govuk-radios">
  
              {% if data["movingaroundSelectpbr"] == '(12a) Can stand and then move more than 200 metres, either aided or unaided' %}
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr" name="movingaroundSelectpbr" type="radio" value="(12a) Can stand and then move more than 200 metres, either aided or unaided" {{ checked }}>
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr">
                  (12a) Can stand and then move more than 200 metres, either aided or unaided
                </label>
                  </div>
         
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-2" name="movingaroundSelectpbr" type="radio" value="(12b) Can stand and then move more than 50 metres but no more than 200 metres, either aided or unaided">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-2">
                  (12b) Can stand and then move more than 50 metres but no more than 200 metres, either aided or unaided
                </label>
                  </div>
     
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-3" name="movingaroundSelectpbr" type="radio" value="(12c) Can stand and then move unaided more than 20 metres but no more than 50 metres">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-3">
                  (12c) Can stand and then move unaided more than 20 metres but no more than 50 metres
                </label>
                  </div>
  
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-4" name="movingaroundSelectpbr" type="radio" value="(12d) Can stand and then move using an aid or appliance more than 20 metres but no more than 50 metres">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-4">
                  (12d) Can stand and then move using an aid or appliance more than 20 metres but no more than 50 metres
                </label>
                  </div>
   
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-5" name="movingaroundSelectpbr" type="radio" value="(12e) Can stand and then move more than 1 metre but no more than 20 metres, either aided or unaided">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-5">
                  (12e) Can stand and then move more than 1 metre but no more than 20 metres, either aided or unaided
                </label>
                  </div>

                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-6" name="movingaroundSelectpbr" type="radio" value="(12f) Cannot stand or move more than 1 metre, either aided or unaided">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-6">
                  (12f) Cannot stand or move more than 1 metre, either aided or unaided
                </label>
                  </div>

                  {% elseif data["movingaroundSelectpbr"] == '(12b) Can stand and then move more than 50 metres but no more than 200 metres, either aided or unaided' %}
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr" name="movingaroundSelectpbr" type="radio" value="(12a) Can stand and then move more than 200 metres, either aided or unaided">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr">
                  (12a) Can stand and then move more than 200 metres, either aided or unaided
                </label>
                  </div>
         
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-2" name="movingaroundSelectpbr" type="radio" value="(12b) Can stand and then move more than 50 metres but no more than 200 metres, either aided or unaided" {{ checked }}>
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-2">
                  (12b) Can stand and then move more than 50 metres but no more than 200 metres, either aided or unaided
                </label>
                  </div>
     
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-3" name="movingaroundSelectpbr" type="radio" value="(12c) Can stand and then move unaided more than 20 metres but no more than 50 metres">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-3">
                  (12c) Can stand and then move unaided more than 20 metres but no more than 50 metres
                </label>
                  </div>
  
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-4" name="movingaroundSelectpbr" type="radio" value="(12d) Can stand and then move using an aid or appliance more than 20 metres but no more than 50 metres">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-4">
                  (12d) Can stand and then move using an aid or appliance more than 20 metres but no more than 50 metres
                </label>
                  </div>
   
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-5" name="movingaroundSelectpbr" type="radio" value="(12e) Can stand and then move more than 1 metre but no more than 20 metres, either aided or unaided">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-5">
                  (12e) Can stand and then move more than 1 metre but no more than 20 metres, either aided or unaided
                </label>
                  </div>

                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-6" name="movingaroundSelectpbr" type="radio" value="(12f) Cannot stand or move more than 1 metre, either aided or unaided">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-6">
                  (12f) Cannot stand or move more than 1 metre, either aided or unaided
                </label>
                  </div>

                  {% elseif data["movingaroundSelectpbr"] == '(12c) Can stand and then move unaided more than 20 metres but no more than 50 metres' %}
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr" name="movingaroundSelectpbr" type="radio" value="(12a) Can stand and then move more than 200 metres, either aided or unaided">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr">
                  (12a) Can stand and then move more than 200 metres, either aided or unaided
                </label>
                  </div>
         
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-2" name="movingaroundSelectpbr" type="radio" value="(12b) Can stand and then move more than 50 metres but no more than 200 metres, either aided or unaided">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-2">
                  (12b) Can stand and then move more than 50 metres but no more than 200 metres, either aided or unaided
                </label>
                  </div>
     
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-3" name="movingaroundSelectpbr" type="radio" value="(12c) Can stand and then move unaided more than 20 metres but no more than 50 metres" {{ checked }}>
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-3">
                  (12c) Can stand and then move unaided more than 20 metres but no more than 50 metres
                </label>
                  </div>
  
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-4" name="movingaroundSelectpbr" type="radio" value="(12d) Can stand and then move using an aid or appliance more than 20 metres but no more than 50 metres">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-4">
                  (12d) Can stand and then move using an aid or appliance more than 20 metres but no more than 50 metres
                </label>
                  </div>
   
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-5" name="movingaroundSelectpbr" type="radio" value="(12e) Can stand and then move more than 1 metre but no more than 20 metres, either aided or unaided">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-5">
                  (12e) Can stand and then move more than 1 metre but no more than 20 metres, either aided or unaided
                </label>
                  </div>

                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-6" name="movingaroundSelectpbr" type="radio" value="(12f) Cannot stand or move more than 1 metre, either aided or unaided">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-6">
                  (12f) Cannot stand or move more than 1 metre, either aided or unaided
                </label>
                  </div>

                  {% elseif data["movingaroundSelectpbr"] == '(12d) Can stand and then move using an aid or appliance more than 20 metres but no more than 50 metres' %}
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr" name="movingaroundSelectpbr" type="radio" value="(12a) Can stand and then move more than 200 metres, either aided or unaided">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr">
                  (12a) Can stand and then move more than 200 metres, either aided or unaided
                </label>
                  </div>
         
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-2" name="movingaroundSelectpbr" type="radio" value="(12b) Can stand and then move more than 50 metres but no more than 200 metres, either aided or unaided">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-2">
                  (12b) Can stand and then move more than 50 metres but no more than 200 metres, either aided or unaided
                </label>
                  </div>
     
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-3" name="movingaroundSelectpbr" type="radio" value="(12c) Can stand and then move unaided more than 20 metres but no more than 50 metres">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-3">
                  (12c) Can stand and then move unaided more than 20 metres but no more than 50 metres
                </label>
                  </div>
  
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-4" name="movingaroundSelectpbr" type="radio" value="(12d) Can stand and then move using an aid or appliance more than 20 metres but no more than 50 metres" {{ checked }}>
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-4">
                  (12d) Can stand and then move using an aid or appliance more than 20 metres but no more than 50 metres
                </label>
                  </div>
   
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-5" name="movingaroundSelectpbr" type="radio" value="(12e) Can stand and then move more than 1 metre but no more than 20 metres, either aided or unaided">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-5">
                  (12e) Can stand and then move more than 1 metre but no more than 20 metres, either aided or unaided
                </label>
                  </div>

                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-6" name="movingaroundSelectpbr" type="radio" value="(12f) Cannot stand or move more than 1 metre, either aided or unaided">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-6">
                  (12f) Cannot stand or move more than 1 metre, either aided or unaided
                </label>
                  </div>

                  {% elseif data["movingaroundSelectpbr"] == '(12e) Can stand and then move more than 1 metre but no more than 20 metres, either aided or unaided' %}
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr" name="movingaroundSelectpbr" type="radio" value="(12a) Can stand and then move more than 200 metres, either aided or unaided">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr">
                  (12a) Can stand and then move more than 200 metres, either aided or unaided
                </label>
                  </div>
         
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-2" name="movingaroundSelectpbr" type="radio" value="(12b) Can stand and then move more than 50 metres but no more than 200 metres, either aided or unaided">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-2">
                  (12b) Can stand and then move more than 50 metres but no more than 200 metres, either aided or unaided
                </label>
                  </div>
     
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-3" name="movingaroundSelectpbr" type="radio" value="(12c) Can stand and then move unaided more than 20 metres but no more than 50 metres">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-3">
                  (12c) Can stand and then move unaided more than 20 metres but no more than 50 metres
                </label>
                  </div>
  
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-4" name="movingaroundSelectpbr" type="radio" value="(12d) Can stand and then move using an aid or appliance more than 20 metres but no more than 50 metres">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-4">
                  (12d) Can stand and then move using an aid or appliance more than 20 metres but no more than 50 metres
                </label>
                  </div>
   
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-5" name="movingaroundSelectpbr" type="radio" value="(12e) Can stand and then move more than 1 metre but no more than 20 metres, either aided or unaided" {{ checked }}>
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-5">
                  (12e) Can stand and then move more than 1 metre but no more than 20 metres, either aided or unaided
                </label>
                  </div>

                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-6" name="movingaroundSelectpbr" type="radio" value="(12f) Cannot stand or move more than 1 metre, either aided or unaided">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-6">
                  (12f) Cannot stand or move more than 1 metre, either aided or unaided
                </label>
                  </div>

                  {% elseif data["movingaroundSelectpbr"] == '(12f) Cannot stand or move more than 1 metre, either aided or unaided' %}
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr" name="movingaroundSelectpbr" type="radio" value="(12a) Can stand and then move more than 200 metres, either aided or unaided">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr">
                  (12a) Can stand and then move more than 200 metres, either aided or unaided
                </label>
                  </div>
         
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-2" name="movingaroundSelectpbr" type="radio" value="(12b) Can stand and then move more than 50 metres but no more than 200 metres, either aided or unaided">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-2">
                  (12b) Can stand and then move more than 50 metres but no more than 200 metres, either aided or unaided
                </label>
                  </div>
     
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-3" name="movingaroundSelectpbr" type="radio" value="(12c) Can stand and then move unaided more than 20 metres but no more than 50 metres">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-3">
                  (12c) Can stand and then move unaided more than 20 metres but no more than 50 metres
                </label>
                  </div>
  
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-4" name="movingaroundSelectpbr" type="radio" value="(12d) Can stand and then move using an aid or appliance more than 20 metres but no more than 50 metres">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-4">
                  (12d) Can stand and then move using an aid or appliance more than 20 metres but no more than 50 metres
                </label>
                  </div>
   
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-5" name="movingaroundSelectpbr" type="radio" value="(12e) Can stand and then move more than 1 metre but no more than 20 metres, either aided or unaided">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-5">
                  (12e) Can stand and then move more than 1 metre but no more than 20 metres, either aided or unaided
                </label>
                  </div>

                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-6" name="movingaroundSelectpbr" type="radio" value="(12f) Cannot stand or move more than 1 metre, either aided or unaided" {{ checked }}>
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-6">
                  (12f) Cannot stand or move more than 1 metre, either aided or unaided
                </label>
                  </div>

                  {% elseif data["movingaroundSelectpbr"] === undefined %}
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr" name="movingaroundSelectpbr" type="radio" value="(12a) Can stand and then move more than 200 metres, either aided or unaided">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr">
                  (12a) Can stand and then move more than 200 metres, either aided or unaided
                </label>
                  </div>
         
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-2" name="movingaroundSelectpbr" type="radio" value="(12b) Can stand and then move more than 50 metres but no more than 200 metres, either aided or unaided">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-2">
                  (12b) Can stand and then move more than 50 metres but no more than 200 metres, either aided or unaided
                </label>
                  </div>
     
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-3" name="movingaroundSelectpbr" type="radio" value="(12c) Can stand and then move unaided more than 20 metres but no more than 50 metres">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-3">
                  (12c) Can stand and then move unaided more than 20 metres but no more than 50 metres
                </label>
                  </div>
  
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-4" name="movingaroundSelectpbr" type="radio" value="(12d) Can stand and then move using an aid or appliance more than 20 metres but no more than 50 metres">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-4">
                  (12d) Can stand and then move using an aid or appliance more than 20 metres but no more than 50 metres
                </label>
                  </div>
   
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-5" name="movingaroundSelectpbr" type="radio" value="(12e) Can stand and then move more than 1 metre but no more than 20 metres, either aided or unaided">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-5">
                  (12e) Can stand and then move more than 1 metre but no more than 20 metres, either aided or unaided
                </label>
                  </div>

                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="movingaroundSelectpbr-6" name="movingaroundSelectpbr" type="radio" value="(12f) Cannot stand or move more than 1 metre, either aided or unaided">
                    <label class="govuk-label govuk-radios__label" for="movingaroundSelectpbr-6">
                  (12f) Cannot stand or move more than 1 metre, either aided or unaided
                </label>
                  </div>

                  {% endif %}
            </div>
            
          
          </fieldset>

          <div class="govuk-form-group">
            <label class="govuk-label govuk-label--s" for="movingJustify">
              Justification for moving around
            </label>
          
            <textarea class="govuk-textarea govuk-!-margin-bottom-9" id="movingJustification" name="movingJustify" rows="15">
              Restrictions reported:

              CQ states less than 20 metres, has knee stiffness, pain, inflammation and instability moving from sitting to standing, uses walking stick and knee brace with metal hinges and without these she cannot walk, it's painful going up and down stairs due to pain and weakness, walks quite slowly as left knee is unstable and gives way, has fallen quite a lot recently. Previous PA4 suggests 50-200 metres. 
              FH states 30 metres take 5 minutes to cover, she then stops for a 5 minute rest break due to knee pains, and can then repeat this same distance as tolerated prior to exhaustion but sometimes due to pain she wouldn't be able to repeat this distance. 

              Recommendation and evidence used to support:
              
              It is likely that on the majority of days she can stand and then move using an aid more than 20 metres but no more than 50 metres, reliably. HOC shows a diagnosis of OA affecting both knees for which she currently refers to the GP as needed usually whenever due for a medication review, she had PT in the past which was considered to be partially beneficial, she had a left knee arthroscopy in 2018 which was successful in the short term, had steroid injections to the left knee, with the plan in place being that of having more PT sessions and once her left knee musculature is strong and it's deemed she's had enough PT, she would enlist to have a left TKR surgery. 

              FME confirms OA diagnosis, left knee pain and knee giving way, knee pain is aggravated by walking/standing/squatting, also confirming antalgic gait and restless legs. CM section shows partially effective prescribed pain relief medication management. SOH shows that she holds onto bannisters and the walls to manage stairs whilst taking 1 step at a time, sometimes she cannot manage stairs due to pain and has to sleep downstairs, uses a self-purchased walking stick constantly; suggesting certain physical limitations. IOs support walking at a moderate pace with a slight limp using a walking stick whilst being noted to grimace due to pain and that she required support moving from sitting to standing and vice versa. 

              MSK exam supports ability to perform lower limb standing movements using a walking stick for added support. FH indicates ability to walk up to 30 metres prior to stopping due to knee pains. With overall evidence suggesting that she's awaiting for further specialists' interventions for the left knee, she was noted to walk at a moderate pace with a slight limp using her walking stick, FME supports she walks with an antalgic gait, and SOH indicates she can access rooms downstairs however she cannot always manage stairs due to pain; it is likely she can stand and walk 20-50 metres aided reliably. 

              Reasons why the reported restrictions are not supported by evidence: 

              N/A 

              Other descriptor supported by some evidence and the reasons why they haven’t been advised: 

              Although previous PA4 suggests 50-200 metres, the following evidence indicates a decline due to physical health symptoms. IOs show that she was observed to walk for approximately 5 metres in 7 seconds at a moderate pace, being noticed to slightly limp onto the left leg with every step she takes, also being noticed to grimace with pain whilst taking 1 step at a time walking with a walking stick held on the right hand side and she was observed to sit to stand and stand to sit in 1 fluid movement by holding onto the sides of the chair for added support and stability due to her physical pains to make both transfers as smoothly as possible. 

              MSK exam shows that she required the support of a walking stick to perform lower limb standing movements. HOC establishes that she's awaiting for further specialists' input due to her left knee. FME confirms OA diagnosis, left knee pain and knee giving way, knee pain is aggravated by walking/standing/squatting, also confirming antalgic gait and restless legs. CM section shows partially effective prescribed pain relief medication management. SOH shows that she has to use a walking stick constantly to walk and at times she wouldn't be able to manage stairs due to pain, having to sleep downstairs, however is able to access rooms downstairs in the property. Thus overall evidence indicates a decline due to OA diagnosis, and that she can reliably walk 20-50 metres aided reliably. 
            </textarea>
          </div>
          
          
           </div>
        </form>
     </div>
   </div>

 

{% endblock %}
