{% extends "layouts/side-nav.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">

    <a href="javascript:history.back()" class="govuk-back-link">Back</a>
    

    <span class="govuk-caption-xl">Personal Independance Payment</span>
    <h1 class="govuk-heading-xl">Health Assessment Report</h1>

    
    <h2 class="govuk-heading-l">Assessment details</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Date report was completed
        </dt>
        <dd class="govuk-summary-list__value">
           13th October 2023
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> name</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Benefit
        </dt>
        <dd class="govuk-summary-list__value">
          Personal Independence Payment
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> date of birth</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
         Assessment type
        </dt>
        <dd class="govuk-summary-list__value">
            Telephone assessment
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> customer reference</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Healthcare professional
        </dt>
        <dd class="govuk-summary-list__value">
            Dr. Smith
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> health professional</span>
          </a>
        </dd>
        
      </div>
    </dl>   

    <h2 class="govuk-heading-l">Evidence</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      {% for evidenceSelection in data['evidenceusedpip'] %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          {{ evidenceSelection }}
        </dt>
        
        <dd class="govuk-summary-list__value">
          16th March
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> name</span>
          </a>
        </dd>
      </div>
      {% endfor %}
    </dl>

    <h2 class="govuk-heading-l">Consultation</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Was the claimants identity confirmed?
        </dt>
        
        <dd class="govuk-summary-list__value">
          {{data["verify"]}}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> name</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Did the claimant give their consent?
        </dt>
        
        <dd class="govuk-summary-list__value">
          {{data["consent"]}}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> name</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Additional attendees
        </dt>
        
        <dd class="govuk-summary-list__value">
          {{data["attendeesAssessment"]}}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> name</span>
          </a>
        </dd>
      </div>
    </dl>

    <h2 class="govuk-heading-l">History of condition</h2>

    <p class="govuk-body">
      <a href="#" class="govuk-link" style="float: right">Change</a>
   </p>
    <p>{{data["condition-history"]}} </p>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <br>

    <h2 class="govuk-heading-l">Social and occupational history</h2>
    <p class="govuk-body">
      <a href="#" class="govuk-link" style="float: right">Change</a>
   </p>
    <p>{{data["social-occupational-history"]}} </p>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <br>

    <!--
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Do they live with anyone?
        </dt>
        <dd class="govuk-summary-list__value">
            {{data["home-live-with"]}}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> customer reference</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          What kind of home do they live in?        </dt>
        <dd class="govuk-summary-list__value">
            {{data["home-type"]}}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> name</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Has the home been adapted in any way? 
        </dt>
        <dd class="govuk-summary-list__value">
            {{data["home-adaptations"]}}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> customer reference</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Do they use any aids or appliances?
        </dt>
        <dd class="govuk-summary-list__value">
            {{data["aids-appliances"]}}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> customer reference</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Do they work?
        </dt>
        <dd class="govuk-summary-list__value">
            {{data["do-they-work"]}}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> customer reference</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Can they drive?
        </dt>
        <dd class="govuk-summary-list__value">
            {{data["drive-details"]}}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> customer reference</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          How can they get around?
        </dt>
        <dd class="govuk-summary-list__value">
            {{data["get-around"]}}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> customer reference</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          How do they buy their shopping?
        </dt>
        <dd class="govuk-summary-list__value">
            {{data["shopping"]}}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> customer reference</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          How do they manage their housework?
        </dt>
        <dd class="govuk-summary-list__value">
            {{data["housework"]}}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> customer reference</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          How do they spend their spare time?
        </dt>
        <dd class="govuk-summary-list__value">
            {{data["hobbies"]}}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> customer reference</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Additional social and occupational history
        </dt>
        <dd class="govuk-summary-list__value">
            {{data["hobbies"]}}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> customer reference</span>
          </a>
        </dd>
      </div>
      </dl>
      -->

      <h2 class="govuk-heading-l">Daily living</h2>
      
      <h3 class="govuk-heading-m">Preparing food</h3>
      <p class="govuk-body">
        <a href="#" class="govuk-link" style="float: right; display: inline;">Change</a>
     </p>
      <h3 class="govuk-heading-s">Functional history for preparing food</h3>
      <p>{{data["preparingfoodNotes"]}}</p>
      <h3 class="govuk-heading-s">How well can the claimant cook food?</h3>
      <p>{{data["preparingfoodSelect"]}}</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <br>

      
      <h3 class="govuk-heading-m">Taking nutrition</h3>
      <p class="govuk-body">
        <a href="#" class="govuk-link" style="float: right">Change</a>
     </p>
      <h3 class="govuk-heading-s">Functional history for taking nutrition</h3>
      <p>{{data["takingnutritionNotes"]}}</p>
      <h3 class="govuk-heading-s">How well can the claimant take nutrition?</h3>
      <p>{{data["takingnutritionSelect"]}}</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <br>

      <h3 class="govuk-heading-m">Managing therapy</h3>
      <p class="govuk-body">
        <a href="#" class="govuk-link" style="float: right">Change</a>
     </p>
      <h3 class="govuk-heading-s">Functional history for managing therapy</h3>
      <p>{{data["managingtherapyNotes"]}}</p>
      <h3 class="govuk-heading-s">How well can the claimant manage therapy or monitor a health condition?</h3>
      <p>{{data["managingtherapySelect"]}}</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <br>

      <h3 class="govuk-heading-m">Washing and bathing</h3>
      <p class="govuk-body">
        <a href="#" class="govuk-link" style="float: right">Change</a>
     </p>
      <h3 class="govuk-heading-s">Functional history for washing and bathing</h3>
      <p>{{data["washingbathingNotes"]}}</p>
      <h3 class="govuk-heading-s">How well can the claimant wash and bathe?</h3>
      <p>{{data["washingbathingSelect"]}}</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <br>

      <h3 class="govuk-heading-m">Managing toilet needs</h3>
      <p class="govuk-body">
        <a href="#" class="govuk-link" style="float: right">Change</a>
     </p>
      <h3 class="govuk-heading-s">Functional history for managing toilet needs</h3>
      <p>{{data["toiletneedsNotes"]}}</p>
      <h3 class="govuk-heading-s">How well can the claimant manage toilet needs?</h3>
      <p>{{data["toiletneedsSelect"]}}</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <br>

      <h3 class="govuk-heading-m">Dressing and undressing</h3>
      <p class="govuk-body">
        <a href="#" class="govuk-link" style="float: right">Change</a>
     </p>
      <h3 class="govuk-heading-s">Functional history for dressing and undressing</h3>
      <p>{{data["dressingNotes"]}}</p>
      <h3 class="govuk-heading-s">How well can the claimant dress or undress?</h3>
      <p>{{data["dressingSelect"]}}</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <br>

      <h3 class="govuk-heading-m">Communicating verbally</h3>
      <p class="govuk-body">
        <a href="#" class="govuk-link" style="float: right">Change</a>
     </p>
      <h3 class="govuk-heading-s">Functional history for communicating verbally</h3>
      <p>{{data["communicatingverballyNotes"]}}</p>
      <h3 class="govuk-heading-s">How well can the claimant communicate verbally?</h3>
      <p>{{data["communicatingverballySelect"]}}</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <br>

      <h3 class="govuk-heading-m">Reading and understanding signs, symbols and words</h3>
      <p class="govuk-body">
        <a href="#" class="govuk-link" style="float: right">Change</a>
     </p>
      <h3 class="govuk-heading-s">Functional history for reading and understanding signs, symbols and words</h3>
      <p>{{data["readingunderstandingNotes"]}}</p>
      <h3 class="govuk-heading-s">How well can the claimant reading and understanding signs, symbols and words?</h3>
      <p>{{data["readingunderstandingSelect"]}}</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <br>

      <h3 class="govuk-heading-m">Engaging face to face</h3>
      <p class="govuk-body">
        <a href="#" class="govuk-link" style="float: right">Change</a>
     </p>
      <h3 class="govuk-heading-s">Functional history for engaging face to face</h3>
      <p>{{data["facetofaceNotes"]}}</p>
      <h3 class="govuk-heading-s">How well can the claimant engage face to face?</h3>
      <p>{{data["facetofaceSelect"]}}</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <br>

      <h3 class="govuk-heading-m">Budgeting</h3>
      <p class="govuk-body">
        <a href="#" class="govuk-link" style="float: right">Change</a>
     </p>
      <h3 class="govuk-heading-s">Functional history for budgeting</h3>
      <p>{{data["budgetingNotes"]}}</p>
      <h3 class="govuk-heading-s">How well can the claimant budget?</h3>
      <p>{{data["budgetingSelect"]}}</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <br>

      <h3 class="govuk-heading-m">Justification for daily living choices</h3>
      <p>{{data["recommendation-daily-living"]}}</p>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Has the claimant had the functional restriction for at least 3 months?
          </dt>
          <dd class="govuk-summary-list__value">
              {{data["dl"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Is the claimant likely to have the functional restriction in 9 months?
          </dt>
          <dd class="govuk-summary-list__value">
            {{data["dl9"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> date of birth</span>
            </a>
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-l">Mobility</h2>

      <h3 class="govuk-heading-m">Planning and following journeys</h3>
      <p class="govuk-body">
        <a href="#" class="govuk-link" style="float: right">Change</a>
     </p>
      <h3 class="govuk-heading-s">Functional history for planning and following journeys</h3>
      <p>{{data["planningJourneyNotes"]}}</p>
      <h3 class="govuk-heading-s">How well can the claimant plan and follow journeys?</h3>
      <p>{{data["journeysSelectpbr"]}}</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <br>

      <h3 class="govuk-heading-m">Moving around</h3>
      <p class="govuk-body">
        <a href="#" class="govuk-link" style="float: right">Change</a>
     </p>
      <h3 class="govuk-heading-s">Functional history for moving around</h3>
      <p>{{data["movingaroundNotes"]}}</p>
      <h3 class="govuk-heading-s">How well can the claimant move around?</h3>
      <p>{{data["movingaroundSelectpbr"]}}</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <br>

      <h3 class="govuk-heading-m">Justification for mobility choices</h3>
      <p>{{data["recommendation-mobility"]}}</p>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Has the claimant had the functional restriction for at least 3 months?
          </dt>
          <dd class="govuk-summary-list__value">
              {{data["mobility-qp"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Is the claimant likely to have the functional restriction in 9 months?
          </dt>
          <dd class="govuk-summary-list__value">
            {{data["9qp"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> date of birth</span>
            </a>
          </dd>
        </div>
      </dl>


      <h2 class="govuk-heading-l">Observations</h2>

      <h3 class="govuk-heading-m">Mental state</h3>
      <p class="govuk-body">
        <a href="#" class="govuk-link" style="float: right">Change</a>
     </p>
      <p>{{data["mental-state"]}}</p>
    
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <br>

      <h3 class="govuk-heading-m">Physical state</h3>
      <p class="govuk-body">
        <a href="#" class="govuk-link" style="float: right">Change</a>
     </p>
      <p>{{data["physical-state"]}}</p>
    
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <br>

      

      <h2 class="govuk-heading-l">Recommendation</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Recommended future review period
          </dt>
          <dd class="govuk-summary-list__value">
              {{data["whenreview"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Reason for this review period
          </dt>
          <dd class="govuk-summary-list__value">
              {{data["reviewtimereasons"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> reveiw period reason</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Is it likely that the functional restriction will still be present when reviewed?
          </dt>
          <dd class="govuk-summary-list__value">
            {{data["functional-restict-review"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> restriction</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Do they need additional support for future claims processes?
          </dt>
          <dd class="govuk-summary-list__value">
            {{data["as-marker"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden">additional support</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Does the claimant meet the criteria for special rules?
          </dt>
          <dd class="govuk-summary-list__value">
            {{data["special-rules"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> special rules</span>
            </a>
          </dd>
        </div>
      </dl>

     
      <div class="govuk-inset-text">
        No harmful information has been included in this report.
      </div>
    

      <p class="govuk-body">
        <a href="#" class="govuk-link">Print this page</a>
      </p>

  
      <!-- <h2 class="govuk-heading-m">Examination</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Mental state
          </dt>
          <dd class="govuk-summary-list__value">
              {{data["mental-state"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Observations
          </dt>
          <dd class="govuk-summary-list__value">
              {{data["observations"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> date of birth</span>
            </a>
          </dd>
        </div>
      </dl> -->
  
    <form action="ta-done.html" method="get" novalidate>
      <input type="hidden" name="answers-checked" value="true">
      <button class="govuk-button" data-module="govuk-button">
        Submit report
      </button>
    </form>
    <!--
    <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="list-convictions-status">Not started</strong>
    <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="submit-pay-status">Cannot start yet</strong>
    <strong class="govuk-tag govuk-tag--blue govuk-prototype-kit-task-list__tag" id="contact-details-status">In progress</strong>
    <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="eligibility-status">Completed</strong>

  -->
  </div>      
      </div>

{% endblock %}
