{% extends "layouts/TDM-check-answers.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">

    <a href="javascript:history.back()" class="govuk-back-link">Back</a>
    
    <span class="govuk-caption-l">Report 2 of 2</span>
    <h1 class="govuk-heading-xl">Health assessment report</h1>

<!------------------------Harmful information starts below--------------------------------------------------------------------------------------------->
<!-- <div class="govuk-inset-text">
  No harmful information has been included in this report
</div> -->

<h2 class="govuk-heading-l">Evidence used</h2>
<dl class="govuk-summary-list govuk-!-margin-bottom-5">

  <p class="govuk-!-margin-bottom-8">All relevant supporting evidence has been reviewed and considered when writing this report.</p>

 
<!-- <dl class="govuk-summary-list govuk-!-margin-bottom-9">
  {% for evidence in data['evidenceusedpip'] %}
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      {{ evidence }}
    </dt>
    
    <dd class="govuk-summary-list__value">
 
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="evidence">
        Change<span class="govuk-visually-hidden"> name</span>
      </a>
    </dd>
  </div>
  {% endfor %}
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
     Other evidence used
    </dt>
    
    <dd class="govuk-summary-list__value">
      {{data["other-evidence"]}}
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="evidence">
        Change<span class="govuk-visually-hidden"> name</span>
      </a>
    </dd>
  </div>
</dl> -->

 <div>
    <h2 class="govuk-heading-l" style="display: inline-block;">Brief summary of clinical details</h3>
      <a href="#" class="govuk-link govuk-body" style="float: right; display: inline;">Change</a>
  </div>
    <div style="margin-top: -1.5%;">
    <p class="govuk-body" style="width: 90%;">{{ data["summary-of-details"] }}</p>
      <hr class="govuk-section-break govuk-section-break--m govuk-!-margin-bottom-7 govuk-section-break--visible">
  </div>

  <!-- <h2 class="govuk-heading-l">Phone call</h2> -->

    <!-- <p>A telephone call was made to gather further information.</p> -->
    

   </dl>

   <h2 class="govuk-heading-l" style="display: inline-block;">Phone calls</h3>

     {% for calls in data['phoneAdded'] %}
  
    <dl class="govuk-summary-list govuk-!-margin-bottom-0">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
         Who was called
        </dt>
        <dd class="govuk-summary-list__value">
          {{ calls.phonecallName }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> date of birth</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
         Relationship or role
        </dt>
        <dd class="govuk-summary-list__value">
          {{ calls.relationship }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> date of birth</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Phone call date
        </dt>
        <dd class="govuk-summary-list__value">
          {{ calls.phonecallDay }}
          {% if calls.phonecallMonth === "1" %} 
          January
          {% endif %}

          {% if calls.phonecallMonth === "2" %} 
          February
          {% endif %}

          {% if calls.phonecallMonth === "3" %} 
          March
          {% endif %}

          {% if calls.phonecallMonth === "4" %} 
           April
          {% endif %}

          {% if calls.phonecallMonth === "5" %} 
          May
          {% endif %}

          {% if calls.phonecallMonth === "6" %} 
          June
          {% endif %}

          {% if calls.phonecallMonth === "7" %} 
          July
          {% endif %}

          {% if calls.phonecallMonth === "8" %} 
          August
          {% endif %}

          {% if calls.phonecallMonth === "9" %} 
          September
          {% endif %}

          {% if calls.phonecallMonth === "10" %} 
          October
          {% endif %}

          {% if calls.phonecallMonth === "11" %} 
          November
          {% endif %}

          {% if calls.phonecallMonth === "12" %} 
          December
          {% endif %}

          {{ calls.phonecallYear }}
          
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> name</span>
          </a>
        </dd>
      </div>
    </dl> 

    <div style="margin-top: 1%;">
      <h4 class="govuk-heading-s" style="display: inline-block;">Phone call notes</h4>
      <a href="#" class="govuk-link govuk-body" style="float: right; display: inline;">Change</a>
  
      <p class="govuk-body" style="width: 90%;">{{ calls.phonecallNotes }}</p>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    </div>

    <!-- <div style="margin-top: 1%;">
      <h4 class="govuk-heading-s" style="display: inline-block;">Harmful information</h4>
      <a href="#" class="govuk-link govuk-body" style="float: right; display: inline;">Change</a>
  
      <p class="govuk-body" style="width: 90%;">{{ calls.phonecallHarmfulNotes }}</p>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    </div> -->
    <br>
    <br>
    {% endfor %}


   <h2 class="govuk-heading-l">Additional needs</h2> 

      <p>After considering the available evidence, I have concluded that the claimant will have severe limitations. This is likely to affect their ability to mobilise on the majority of days.</p>
      <p class="govuk-body">
        <a href="#" class="govuk-link">Print this page</a>
      </p>


    <form action="#" method="post" novalidate>
      <input type="hidden" name="answers-checked" value="true">
      <button class="govuk-button" data-module="govuk-button">
       Submit report
      </button>
    </form>
 
  </div>      
      </div>

{% endblock %}
