{% extends "layouts/TDM-layout-paper.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% set containerClasses = "full-width-container" %}
{% block content_left %}

<style type="text/css">
  .govuk-textarea {
    text-align: left;
    display: block;
    white-space: pre-line;
  }
             
  </style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">   

<form action="#" method="post" id="auto-redirect">
  <input type="hidden" name="{{ loop.index0 }}"/>
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <span class="govuk-caption-xl"></span>
        <h1 class="govuk-fieldset__heading">
          Brief summary of clinical details
        </h1>
        <div id="passport-issued-hint" class="govuk-hint">
        </div>
      </legend>

      <div class="govuk-form-group">
        <textarea class="govuk-textarea" id="briefSummary" name="summary-of-details" rows="20" aria-describedby="brief summary of clinical details">{{ data["summary-of-details"] }}</textarea>
      </div>
      </fieldset>

      <!-- <div class="govuk-form-group">
        <label class="govuk-label govuk-label--m" for="consultation-notes">
          Harmful information
        </label>
         <div id="more-detail-hint" class="govuk-hint">
          Enter any potentially harmful information here. This will not be included in the report. 
        </div>
        <textarea class="govuk-textarea" id="paperNotes" name="paperHarmfulNotes" rows="10" aria-describedby="phone call notes">{{ data["paperHarmfulNotes"] }}</textarea>
      </div> -->
    </div>
  </form>
  </div>
</div>
      

{% endblock %}
