{% extends "layouts/layout-split-banner-SREL.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content_left %}

    <a href="javascript:history.back()" class="govuk-back-link">Back</a>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Select a descriptor for moving around</h1>
      </div>
    </div>

    <form action="#" method="post" novalidate="">
              
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h1 class="govuk-fieldset__heading">
              Which of these describes how well the claimant can move around?
            </h1>
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="option-1" name="mobility-two" type="radio" value="(12a) Can stand and then move more than 200 metres, either aided or unaided">
              <label class="govuk-label govuk-radios__label" for="option-1">
                (12a) Can stand and then move more than 200 metres, either aided or unaided 
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="option-2" name="mobility-two" type="radio" value="(12b) Can stand and then move more than 50 metres but no more than 200 metres, either aided or unaided">
              <label class="govuk-label govuk-radios__label" for="option-2">
                (12b) Can stand and then move more than 50 metres but no more than 200 metres, either aided or unaided 
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="option-3" name="mobility-two" type="radio" value="(12c) Can stand and then move unaided more than 20 metres but no more than 50 metres">
              <label class="govuk-label govuk-radios__label" for="option-3">
                (12c) Can stand and then move unaided more than 20 metres but no more than 50 metres  
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="option-4" name="mobility-two" type="radio" value="(12d) Can stand and then move using an aid or appliance more than 20 metres but no more than 50 metres">
              <label class="govuk-label govuk-radios__label" for="option-4">
                (12d) Can stand and then move using an aid or appliance more than 20 metres but no more than 50 metres 
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="option-5" name="mobility-two" type="radio" value="(12e) Can stand and then move more than 1 metre but no more than 20 metres, either aided or unaided ">
              <label class="govuk-label govuk-radios__label" for="option-5">
                (12e) Can stand and then move more than 1 metre but no more than 20 metres, either aided or unaided  
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="option-6" name="mobility-two" type="radio" value="(12f) Cannot stand or move more than 1 metre, either aided or unaided">
              <label class="govuk-label govuk-radios__label" for="option-6">
                (12f) Cannot stand or move more than 1 metre, either aided or unaided 
              </label>
            </div>
          </div>
        </fieldset>
      </div>     
 
      <button class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>


       </form>
 

     
<!--
    <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="list-convictions-status">Not started</strong>
    <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="submit-pay-status">Cannot start yet</strong>
    <strong class="govuk-tag govuk-tag--blue govuk-prototype-kit-task-list__tag" id="contact-details-status">In progress</strong>
    <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="eligibility-status">Completed</strong>

  -->

{% endblock %}
