{% extends "layouts/evidence-without-sidenav.html" %}


{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-width-container full-width-container1280">

    <form action="claimant-documents-buttons" method="post" novalidate>
       
    <!-- <a href="javascript:history.back()" class="govuk-back-link">Back</a> -->



        <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main">
 
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
        
                <h1 class="govuk-heading-l">{{ data["evidence"] }}</h1>
                <div class="govuk-grid-row govuk-!-margin-bottom-6">
                    <div class="govuk-grid-column-full">
                    <iframe class="document" src="/public/pdfs/PIP2-test-scenario.pdf" title="{{ document.name }}"></iframe>
                    </div>
                </div>  
                   
                </div>

    
  
         
  
           

        </main>
    </form>
</div>
 

{% endblock %}
