{% extends "layouts/evidence-noSpiltscreen" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% set containerClasses = "full-width-container" %}
{% block content_left %}

<style type="text/css">
  .govuk-textarea {
    text-align: left;
    display: block;
    white-space: pre-line;
  }
             
  </style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">   

<form action="#" method="post" id="auto-redirect">
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <span class="govuk-caption-xl"></span>
        <h1 class="govuk-fieldset__heading">
          Evidence
        </h1>
        <div id="condition-hint" class="govuk-hint">
        </div>
      </legend>

       <p>No evidence has been added.</p>

       <div class="govuk-button-group govuk-!-margin-bottom-8">
          <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Add evidence
          </button>
       </div>


       <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h2 class="govuk-fieldset__heading">
              Did the claimant present further evidence during the consultation?
            </h2>
          </legend>
          <div id="contact-hint" class="govuk-hint">
     
          </div>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="furtherEvidence" name="furtherEvidence" type="radio" value="Yes" data-aria-controls="further-evidence">
              <label class="govuk-label govuk-radios__label" for="furtherEvidence">
                Yes
              </label>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="further-evidence">
              <div class="govuk-form-group">
                <label class="govuk-label" for="evidence-consultation">
                  Evidence presented during consultation
                </label>
                <textarea class="govuk-textarea govuk-!-width-two-thirds" id="evidence-consultation" name="yesFurtherEvidence" type="text" spellcheck="false" autocomplete="text" rows="5"></textarea>
              </div>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="contact-2" name="furtherEvidence" type="radio" value="No">
              <label class="govuk-label govuk-radios__label" for="contact-2">
               No
              </label>
            </div>
           
          </div>
        </fieldset>
      </div>



    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h2 class="govuk-fieldset__heading">
            Evidence declaration
          </h2>
        </legend>

    {% if data["evidenceDeclaration"] == "None" %}    
      <div class="govuk-checkboxes" data-module="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="evDec" name="evidenceDeclaration" type="checkbox" value="All evidence available has been reviewed" data-aria-controls="">
          <label class="govuk-label govuk-checkboxes__label" for="evDec">
            All further medical evidence available has been reviewed and considered.
          </label>
        </div>
      </div>
      </fieldset>
      </div>

      {% elseif data["evidenceDeclaration"] == "All evidence available has been reviewed" %}
      <div class="govuk-checkboxes" data-module="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="evDec" name="evidenceDeclaration" type="checkbox" value="All evidence available has been reviewed" data-aria-controls="" {{ checked }}>
          <label class="govuk-label govuk-checkboxes__label" for="evDec">
            All further medical evidence available has been reviewed and considered.
          </label>
        </div>
      </div>
      </fieldset>
      </div>
      {% endif %}    


          <!-- <div class="govuk-form-group">
            <label class="govuk-label" for="more-evidence">
              <b>Evidence supplied during consultation</b>
            </label>
            <textarea class="govuk-textarea" id="more-evidence" name="otherEvidence" rows="5">{{ data["otherEvidence"] }}</textarea>
          </div> -->
         
      </fieldset>
    </div>
    </form>
    </div>
  </div>

      

{% endblock %}
