{% extends "layouts/report-layout.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<style type="text/css">
  .text {
    text-align: left;
    display: block;
    white-space: pre-line;
  }
             
  </style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">

    <a href="javascript:history.back()" class="govuk-back-link">Back</a>
    
    <span class="govuk-caption-xl">Personal Independence Payment</span>
    <h1 class="govuk-heading-xl">Health assessment report</h1>

    <h2 class="govuk-heading-l">Claimant details</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Name
        </dt>
        <dd class="govuk-summary-list__value">
           John Smith
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          National Insurance number
        </dt>
        <dd class="govuk-summary-list__value">
          RN000123A
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
         Date of birth
        </dt>
        <dd class="govuk-summary-list__value">
          31 December 1999
        </dd>
      </div>
    </dl> 

    <h2 class="govuk-heading-l">Assessment details</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Date report was completed
        </dt>
        <dd class="govuk-summary-list__value">
           13 October 2023
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Benefit
        </dt>
        <dd class="govuk-summary-list__value">
          Personal Independence Payment
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
         Assessment type
        </dt>
        <dd class="govuk-summary-list__value">
            Face to face
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Healthcare professional
        </dt>
        <dd class="govuk-summary-list__value">
            Aldo Raine
        </dd>  
      </div>
    </dl>  


    <h2 class="govuk-heading-l">Evidence</h2>
    <div class="govuk-inset-text">
      All further medical evidence available has been reviewed and considered. 
    </div>
    <dl class="govuk-summary-list govuk-!-margin-bottom-2">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Evidence used
        </dt>

        {% for DWPevidence in data['evidenceAdded'] %}
        {% set outerLoopIndex = loop.index0 %}
        <!--Only show the last iteration of loop-->
          {% if loop.last %}
              <!-- Pulling out specific values to display -->
            {% for coreEvidence in DWPevidence.coreEvidence %} 

            <p class="govuk-body" style="margin-bottom: 3.5%;">
            {{ coreEvidence }},
            {% if coreEvidence === "AP assessment report" %}
              8 March 2024
              {% endif %}

              {% if coreEvidence === "Award Review AR1" %}
              28 February 2025
              {% endif %}

              {% if coreEvidence === "Award Review AR1 covering letter" %}
              28 February 2025
              {% endif %}

              {% if coreEvidence === "PIP2 questionnaire" %}
              26 January 2022
              {% endif %}
              </p> 

            {% endfor %}
            {% endif %}
          {% endfor %}



        {% for evidence in data['evidenceAdded'] %}
        {% set outerLoopIndex = loop.index0 %}
        <!--Only show the last iteration of loop-->
        {% if loop.last %}
            <!-- Pulling out specific values to display -->
        {% for evidenceName in evidence.evidenceName %} 
 
          <p class="govuk-body" style="margin-bottom: 3.5%;">
            {{ evidenceName }}, 
            {% if evidenceName === "NHS Hospital appointment letter" %} 
            29 January 2025
            {% endif %}

            {% if evidenceName === "Further Evidence" %}
            2 February 2025
            {% endif %}

            {% if evidenceName === "Hospital Factual Report" %}
            19 September 2024
            {% endif %}

            {% if evidenceName === "GP letter" %}
            11 November 2024
            {% endif %}

            {% if evidenceName === "Care plan" %}
            25 November 2024
            {% endif %}

            {% if evidenceName === "GP letters" %}
            8 August 2024
            {% endif %}
           </p> 
        

        {% endfor %}
        {% endif %}
    {% endfor %}
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="evidence-addAnother">
            Change<span class="govuk-visually-hidden"> evidence used</span>
          </a>
        </dd>
      </div>
    </dl>
  
    <div class="govuk-!-margin-bottom-9" style="margin-top: 1%;">
      {% if data["furtherEvidence"] === "Yes" %}
      <h4 class="govuk-heading-s" style="display: inline-block;">Evidence supplied during consultation</h4>
      <a href="evidence-addAnother#evidenceInConsultation" class="govuk-link govuk-body" style="float: right; display: inline;">Change</a>
  
      <p class="govuk-body" style="width: 90%;">{{ data["yesFurtherEvidence"] }}</p>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    </div>

    {% elseif data["furtherEvidence"] === "No" %}

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Evidence supplied during consultation
        </dt>
        <dd class="govuk-summary-list__value">
          No
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> evidence supplied during consultation</span>
          </a>
        </dd>
      </div>
   </dl>
  </div>

  {% else %}

  <div class="govuk-!-margin-bottom-9" style="margin-top: 1%;">
    <h4 class="govuk-heading-s" style="display: inline-block;">Evidence supplied during consultation</h4>
    <a href="evidence-addAnother#evidenceInConsultation" class="govuk-link govuk-body" style="float: right; display: inline;">Change</a>

    <p class="govuk-body" style="width: 90%;"></p>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  </div>
  
  {% endif %}

    <h2 class="govuk-heading-l">Consultation</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
         Consulation date
        </dt>
        <dd class="govuk-summary-list__value">
          13 October 2023
        </dd>
        <dd class="govuk-summary-list__actions">

        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Was the claimant's identity confirmed?
        </dt>
        <dd class="govuk-summary-list__value">
          Yes
        </dd>
        <dd class="govuk-summary-list__actions">
        
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          How was their identity confirmed?
        </dt>
        <dd class="govuk-summary-list__value">
          Passport, NINo, First line of address
        </dd>
        <dd class="govuk-summary-list__actions">
        
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Did the claimant give consent?
        </dt>
        <dd class="govuk-summary-list__value">
          Yes
        </dd>
        <dd class="govuk-summary-list__actions">
        
        </dd>
      </div>
    </dl>

    <h3 class="govuk-heading-l">Additional attendees</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-7">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
           Attendee 1 name
          </dt>
          <dd class="govuk-summary-list__value">
            Mark Corrigan
          </dd>
          <dd class="govuk-summary-list__actions">
  
          </dd>
        </div>
  
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Relationship or role
          </dt>
          <dd class="govuk-summary-list__value">
            Honourable man
          </dd>
          <dd class="govuk-summary-list__actions">
          
          </dd>
        </div>
  
      </dl>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
           Attendee 2 name
          </dt>
          <dd class="govuk-summary-list__value">
            Jeremy Usborne
          </dd>
          <dd class="govuk-summary-list__actions">
  
          </dd>
        </div>
  
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Relationship or role
          </dt>
          <dd class="govuk-summary-list__value">
            Musician
          </dd>
          <dd class="govuk-summary-list__actions">
          
          </dd>
        </div>
  
      </dl>

    <h2 class="govuk-heading-l">Condition history</h2>
    <div><h3 class="govuk-heading-m" style="display: inline-block;">Depression</h3></div>
  <div>
    
    <h4 class="govuk-heading-s" style="display: inline-block;">When did the condition or disability start?</h4>
    <p class="govuk-body">March 2022</p>
  </div>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  <div>
    <h4 class="govuk-heading-s" style="display: inline-block;">Diagnosis, impact and variability</h4>
    <p class="govuk-body">Struggles with motivation and with doing basic activities around the house, has good days and bad days which can be hard to predict in frequency</p>
  </div>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  <div>
    <h4 class="govuk-heading-s" style="display: inline-block;">Current treatments, specialist input and hospital stays</h4>
    <p class="govuk-body">Over the past 12 months she last had a hospital admission in December 2020 due to an attempted overdose on medication, and she stayed in hospital for a duration of a day in total for this.</p>
  </div>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  <div>
    <h4 class="govuk-heading-s" style="display: inline-block;">Home therapies</h4>
    <p class="govuk-body">None</p>
  </div>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  <div>
    <h4 class="govuk-heading-s" style="display: inline-block;">Suicidal thoughts and self harm</h4>
    <p class="govuk-body">She's been experiencing suicidal thoughts since the time of her condition diagnosis, she last tried to overdose on medication in December 2020 which required hospitalisation. 
      Currently she still experiences such thoughts, however she wouldn't have intentions or plans to act on the thoughts.</p>
  </div>

    <hr class="govuk-section-break govuk-section-break--m govuk-!-margin-bottom-9 govuk-section-break--visible">
    <div>
      <h3 class="govuk-heading-m" style="display: inline-block;">Back pain</h3>
    </div>
  
    <div>
      <h4 class="govuk-heading-s" style="display: inline-block;">When did the condition or disability start?</h4>
      <p class="govuk-body">June 2012</p>
    </div>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <div>
      <h4 class="govuk-heading-s" style="display: inline-block;">Diagnosis, impact and variability</h4>  
      <p class="govuk-body">Had scans at the hospital for a suspected bulging disc, no overnight hospital stay was requried.</p>
    </div>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <div>
      <h4 class="govuk-heading-s" style="display: inline-block;">Current treatments, specialist input and hospital stays</h4>
      <p class="govuk-body">Has had physiotherapy, did not help get better, still in lots of pain and hoping will get better overtime.</p>
    </div>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <div>
      <h4 class="govuk-heading-s" style="display: inline-block;">Home therapies</h4>  
      <p class="govuk-body">No caring responsibilities</p>
    </div>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <div>
      <h4 class="govuk-heading-s" style="display: inline-block;">Suicidal thoughts and self harm</h4>  
      <p class="govuk-body">No suidcidal thoughts</p>
    </div>
    <hr class="govuk-section-break govuk-section-break--m govuk-!-margin-bottom-7 govuk-section-break--visible">
    <br>

      <h2 class="govuk-heading-l">Medication</h2>

      <div>
        <h3 class="govuk-heading-m" style="display: inline-block;">Codeine</h3>
      </div>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Dosage
          </dt>
          <dd class="govuk-summary-list__value">
            30mg
          </dd>
          <dd class="govuk-summary-list__actions">
        
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Frequency
          </dt>
          <dd class="govuk-summary-list__value">
            Once daily
          </dd>
          <dd class="govuk-summary-list__actions">
           
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Reason for taking
          </dt>
          <dd class="govuk-summary-list__value">
           To ease pain
          </dd>
          <dd class="govuk-summary-list__actions">
           
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Effectiveness
          </dt>
          <dd class="govuk-summary-list__value">
            Sometime eases symptoms
          </dd>
          <dd class="govuk-summary-list__actions">
           
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Side effects
          </dt>
          <dd class="govuk-summary-list__value">
            Feel sick
          </dd>
          <dd class="govuk-summary-list__actions">
          
          </dd>
        </div>
    </dl>

    <div>
      <h3 class="govuk-heading-m" style="display: inline-block;">Sertraline</h3>
    </div>

    <dl class="govuk-summary-list govuk-!-margin-bottom-7">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Dosage
        </dt>
        <dd class="govuk-summary-list__value">
          30mg
        </dd>
        <dd class="govuk-summary-list__actions">
         
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Frequency
        </dt>
        <dd class="govuk-summary-list__value">
          Once daily
        </dd>
        <dd class="govuk-summary-list__actions">
          
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Reason for taking
        </dt>
        <dd class="govuk-summary-list__value">
         To reduce anxiety
        </dd>
        <dd class="govuk-summary-list__actions">
          
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Effectiveness
        </dt>
        <dd class="govuk-summary-list__value">
          Sometime eases symptoms
        </dd>
        <dd class="govuk-summary-list__actions">
         
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Side effects
        </dt>
        <dd class="govuk-summary-list__value">
          Feel sick
        </dd>
        <dd class="govuk-summary-list__actions">
        
        </dd>
      </div>
  </dl>
  
    <br>

    <h2 class="govuk-heading-l">Social and occupational history</h2>

    <div>
      <p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec fringilla erat. Duis rhoncus cursus lectus id porttitor. Quisque porta lacus lectus, a porta erat consequat ultricies. Fusce id arcu eget nisi accumsan efficitur. Nullam non tempus lacus. Vestibulum ultrices et odio id interdum. Fusce mattis ullamcorper maximus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris vitae ligula vehicula, congue arcu nec, consectetur purus. Sed quis accumsan lectus.<br><br>

        Cras ullamcorper quis neque vel condimentum. Sed lobortis sem vitae volutpat dapibus. Praesent auctor ac diam et lobortis. Nulla nec libero ac tellus suscipit rhoncus. Praesent nec pellentesque risus. Vivamus ultricies leo quis maximus varius. Curabitur dolor arcu, facilisis eget arcu sed, gravida euismod nulla. Aenean mattis non libero eget mattis. Nulla finibus iaculis nisi. Cras accumsan nibh eget hendrerit dapibus. Pellentesque sollicitudin massa vitae tortor ullamcorper auctor. Pellentesque sed consequat mauris, et malesuada orci. Aliquam eros odio, finibus non ligula id, fringilla gravida velit.<br><br>
        
        Sed vehicula quam a elit dictum eleifend sed in est. Proin luctus sit amet eros sit amet feugiat. Phasellus pretium rhoncus neque, a tristique sapien faucibus at. Aliquam imperdiet lacus sollicitudin tellus auctor, vitae varius lorem tincidunt. Mauris tellus felis, posuere in euismod vehicula, porta ut purus. Ut in justo erat. Nullam viverra sit amet tortor quis interdum. Nulla accumsan quam vel mi tincidunt viverra. Duis id cursus tortor.</p>
    </div>
  
    <hr class="govuk-section-break govuk-section-break--m govuk-!-margin-bottom-7 govuk-section-break--visible">
    <br>

      <h2 class="govuk-heading-l">Daily living</h2>
      
      <h3 class="govuk-heading-m" style="display: inline-block;">Preparing food</h3>

    <div>
      <h3 class="govuk-heading-s" style="display: inline-block;">Functional history for preparing food</h3>
    </div>

      <p class="text">She is unable to prepare and cook a simple meal from fresh ingredients for 1 person. 
        Her concentration is quite poor and tends to forget switching electric appliances on and off regularly. There have been instances when she's had accidents in the kitchen due to accidently burning herself. 
        She is unable to cut, peel and chop ingredients or open up packaging, tins and jars due to her hand pans.</p>

      <div>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <h3 class="govuk-heading-s" style="display: inline-block;">How well can the claimant prepare food?</h3>
      </div>

      <p>(1e) Needs supervision or assistance to either prepare or cook a simple meal</p>

      <div>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <h3 class="govuk-heading-s" style="display: inline-block;">Justification for preparing food</h3>
      </div>

      <p class="text">CQ states standing for long periods causes knee pains, cutting and peeling causes hand pains and swelling, tremor prevents her from lifting saucepans, cutting, peeling and opening tins, has burnt herself, cannot use a tin opener and has left meals uncooked, a lot of the time feels too exhausted to prepare a meal, spills a lot of things due to tremors, cannot drain vegetables or handle saucepans due to subacromial impingement. 
    
        Previous PA4 suggests aided. FH states poor concentration, forgetfulness, whenever she sees a knife she can get self-harming thoughts, this can be a trigger to engage in self- harming.</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-!-margin-bottom-7  govuk-section-break--visible">
      <br>

      <h3 class="govuk-heading-m" style="display: inline-block;">Taking nutrition</h3>
      <div>
      <h3 class="govuk-heading-s" style="display: inline-block;">Functional history for taking nutrition</h3>
      </div>

      <p class="text">Whenever she has a plate of food in front of her, she can independently convey it to the mouth, chew and swallow, reporting no regular spillage episodes. 

        However she generally eats foods which require her to only use a fork or a spoon with the right hand for ease and convenience purposes as her left hand might cause tremors.</p>
      <div>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        
      <h3 class="govuk-heading-s" style="display: inline-block;">How well can the claimant take nutrition?</h3>
      </div>

      <p>(2a) Can take nutrition unaided</p>

      <div>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <h3 class="govuk-heading-s" style="display: inline-block;">Justification for taking nutrition</h3>
      </div>

      <p class="text">CQ states due to constant shakes cannot lift food with fork, drops food, if she tries to hold a drink in left hand she spills it, cannot hold a fork and knife to eat, it's difficult to cut meat, forgets to eat due to depression and low mood, around 5 days mostly eats snacks, gets anxious missing meals due to diabetes. FH states at times forgets to eat and would need reminding to get herself to eat something, she generally eats foods which require her to only use a fork or a spoon with the right hand for ease and convenience purposes as her left hand might cause tremors, she asks someone else to cut up food in small portions to ensure that she doesn't have to use a fork and knife simultaneously as her left hand can have tremors. 
        <hr class="govuk-section-break govuk-section-break--m govuk-!-margin-bottom-7  govuk-section-break--visible">
      <br>

      <h3 class="govuk-heading-m" style="display: inline-block;">Managing therapy</h3>
      
      <div>
      <h3 class="govuk-heading-s" style="display: inline-block;">Functional history for managing therapy</h3>
      </div>

      <p class="text">She tends to be forgetful about which medication she has to take at which time of day. Normally certain symptoms come on, and this would serve as a reminder to her that she needs to take her tablets.        her behalf should any sudden changes to her conditions occur, but she can also not contact anyone at all as she prefers to let the sensation pass. </p>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <div>
      <h3 class="govuk-heading-s" style="display: inline-block;">How well can the claimant manage therapy or monitor a health condition?</h3>
      </div>

      <p>(3a) Either does not receive medication or therapy or need to monitor a health condition, or can manage medication or therapy or monitor a health condition unaided</p>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <div>
      <h3 class="govuk-heading-s" style="display: inline-block;">Justification for managing therapy</h3>
      </div>

      <p class="text"> CQ states most mornings forgets to take anti-depressants, forgets to check blood sugars most days, hardly remembers to take Paracetamol unless asked, had to cancel tests and appointments due to anxiety and pain. 

        Previous PA4 suggests unaided. FH states she tends to be forgetful about which medication she has to take at which time of day. 
      <hr class="govuk-section-break govuk-section-break--m govuk-!-margin-bottom-7 govuk-section-break--visible">
      <br>

      <h3 class="govuk-heading-m" style="display: inline-block;">Washing and bathing</h3>
  
      <div>
      <h3 class="govuk-heading-s" style="display: inline-block;">Functional history for washing and bathing</h3>
     </div>
     

      <p class="text">She needs to hold onto the grab rails at the side of the bath to make bathing transfers safely owing to added leverage and stability required due to her physical pains. 

        Normally she has a shower, she sits at the edge of the bath whilst holding onto the grab rails to get in the bath, she then stands in the bath to shower, and whilst standing in the bath she can independently wash her hair, upper body and lower body. 
      <div>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <h3 class="govuk-heading-s" style="display: inline-block;">How well can the claimant wash and bathe?</h3>
      </div>

      <p>(4b) Needs to use an aid or appliance to be able to wash or bathe </p>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <div>
      <h3 class="govuk-heading-s" style="display: inline-block;">Justification for washing and bathing</h3>
      </div>

      <p class="text">CQ states having a warm bath helps with stiffness and pain in back, legs and shoulder, has difficulty getting out of the bath, only has a bath rarely when there is someone to help her get out, cannot wash her hair due to left shoulder impingement, cannot lift arm up above shoulder height.
        Previous PA4 suggests aided. FH states needs to hold onto grab rails in and out of the bath to make bathing transfers safely due to pain, she usually has a wash by the sink on most days, and has a shower once every few days.</p>
        <hr class="govuk-section-break govuk-section-break--m govuk-!-margin-bottom-7  govuk-section-break--visible">
      <br>

      <h3 class="govuk-heading-m" style="display: inline-block;">Managing toilet needs</h3>
  
      <div>
      <h3 class="govuk-heading-s" style="display: inline-block;">Functional history for managing toilet needs</h3>
      </div>

      <p class="text">She holds onto the nearby sink and the walking stick for added leverage and support to steadily get on and off the toilet due to her physical pains. 
        Otherwise she can attend to her hygiene needs and can maintain hygiene and cleanliness throughout without difficulties.</p>
      <div>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <h3 class="govuk-heading-s" style="display: inline-block;">How well can the claimant manage toilet needs?</h3>

      </div>

      <p>(5b) Needs to use an aid or appliance to be able to manage toilet needs or incontinence </p>

      <div>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <h3 class="govuk-heading-s" style="display: inline-block;">Justification for managing toilet needs</h3>
      </div>

      <p class="text">CQ states gets pain and diarrhea if she has gluten and dairy, has to be close to a toilet and sometimes has accidents before she gets there, it's hard to stand up after sitting on the toilet due to knee pain and stiffness. Previous PA4 suggests aided. 
        FH states difficulties getting to the toilet on time due to knee pains can cause accidents, holds onto the nearby sink and uses the walking stick on and off the toilet for added leverage.</p>

        <hr class="govuk-section-break govuk-section-break--m govuk-!-margin-bottom-7  govuk-section-break--visible">
      <br>

      <h3 class="govuk-heading-m" style="display: inline-block;">Dressing and undressing</h3>
    
     <div>
      <h3 class="govuk-heading-s" style="display: inline-block;">Functional history for dressing and undressing</h3>
    </div>

      <p class="text">She is physically capable of putting on and taking off t-shirts, shirts, sweaters and tops independently without difficulties. 
        She tends to find managing zips, fastenings and buttons a bit fiddly due to her hand pains and possibly having swollen fingers. She needs to be sitting down to put on and take off trousers, socks and shoes, for lower half items once sat down she leans forwards to reach down to her feet and lifts her knees closer to her chest in sitting, depending on which position is mostly comfortable.</p>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        <div>
      <h3 class="govuk-heading-s" style="display: inline-block;">How well can the claimant dress or undress?</h3>
     </div>

      <p>(6a) Can dress and undress unaided</p>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <div>
      <h3 class="govuk-heading-s" style="display: inline-block;">Justification for managing dressing and undressing</h3>
      </div>

      <p class="text">CQ states has problems dressing daily, shoulder is stiff and painful, doesn't have full range of movement, cannot do zips at the back or bras, 5 days out 7 days cannot tie trainers or laces, cannot put arm up to wear a jumper.</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-!-margin-bottom-7 govuk-section-break--visible">
      <br>

      <h3 class="govuk-heading-m" style="display: inline-block;">Communicating verbally</h3>
    
      <div>
      <h3 class="govuk-heading-s" style="display: inline-block;">Functional history for communicating verbally</h3>
      </div>
      

      <p class="text">She does not express any significant issues with verbal communication, speaking and hearing. Normally she can speak to people, can understand what is being said and can maintain a conversation going without difficulties. </p>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <div>
      <h3 class="govuk-heading-s" style="display: inline-block;">How well can the claimant communicate verbally?</h3>
      </div>

      <p>(7a) Can express and understand verbal information unaided</p>

      <div>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <h3 class="govuk-heading-s" style="display: inline-block;">Justification for communicating verbally</h3>
      </div>

      <p class="text">CQ states when anxious and depressed cannot fully take in what people are saying, most of the time closes down because of the overload, has poor memory, tries to write notes down to remember, when listening to instructions never remembers them and has to be asked to be taken through them 1 by 1, attention isn't very good. 
        FH states she does not express any significant issues with verbal communication, speaking and hearing.</p>

        <hr class="govuk-section-break govuk-section-break--m govuk-!-margin-bottom-9  govuk-section-break--visible">


      <h3 class="govuk-heading-m" style="display: inline-block;">Reading and understanding signs, symbols and words</h3>
   
      <div>
      <h3 class="govuk-heading-s" style="display: inline-block;">Functional history for reading and understanding signs, symbols and words</h3>
      </div>

      <p class="text">She is able to read and understand basic and complex written information and sentences without difficulties. If she receives official documentation, letters and correspondence she wouldn't require complex information to be broken down into simple text for her to make sense out of what she's just read. She can easily distinguish between signs and symbols in roads and public places. 
      </p>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <div>
      <h3 class="govuk-heading-s" style="display: inline-block;">How well can the claimant read and understand signs, symbols and words?</h3>
     </div>

      <p>(8a) Can read and understand basic and complex written information either unaided or using spectacles or contact lenses 
      </p>

      <div>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <h3 class="govuk-heading-s" style="display: inline-block;">Justification for reading and understanding signs, symbols and words</h3>
      </div>

      <p class="text">CQ states lines get mixed up and she doesn't remember what she's read, cannot focus. FH states she can read and understand basic and complex written information and sentences without difficulties.</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-!-margin-bottom-9  govuk-section-break--visible">


      <h3 class="govuk-heading-m" style="display: inline-block;">Engaging face to face</h3>

      <div>
      <h3 class="govuk-heading-s" style="display: inline-block;">Functional history for engaging face to face</h3>
      </div>

      <p class="text">If she is to interact with a new person face to face, she'd need to be notified of the meeting beforehand so that she mentally prepares herself for the actual encounter, and she would also need any friend or close relative support her before, during and after she meets that person to ensure that she remains calm and composed.</p>
     
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <div>
      <h3 class="govuk-heading-s" style="display: inline-block;">How well can the claimant engage face to face?</h3>
      </div>

      <p>(9a) Can engage with other people unaided</p>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <div>
      <h3 class="govuk-heading-s" style="display: inline-block;">Justification for engaging face to face</h3>
      </div>
      

      <p class="text">CQ states cannot go in crowds or where there is a lot of people as this causes stress and anxiety, gets anxious, panicky and cannot speak when meeting new people, avoids such situations if possible, has a small group of friends who she sees occasionally but cannot meet anyone else.</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-!-margin-bottom-9  govuk-section-break--visible">


      <h3 class="govuk-heading-m" style="display: inline-block;">Budgeting</h3>

      <div>
      <h3 class="govuk-heading-s" style="display: inline-block;">Functional history for budgeting</h3>
      </div>

      <p class="text">She has a good understanding of money and is aware of how money works. She is aware of the concept of money, the value of things and the need to budget for future purchases.</p>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <div>
      <h3 class="govuk-heading-s" style="display: inline-block;">How well can the claimant budget?</h3>
      </div>

      <p>(10a) Can manage complex budgeting decisions unaided</p>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <div>
      <h3 class="govuk-heading-s" style="display: inline-block;">Justification for budgeting</h3>
      </div>

      <p class="text">CQ states gets anxious about money and bills, due to depression and anxiety she doesn't have a clear head and she cannot plan, support worker and husband help with bills, gets overloaded and has panic attacks. FH states understands how money works.</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-!-margin-bottom-9  govuk-section-break--visible">

      <h3 class="govuk-heading-m">Daily living qualifying period and prospective test</h3>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Has the claimant had the functional restriction for at least 3 months?
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>
          <dd class="govuk-summary-list__actions">
  
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Daily living qualifying period details
          </dt>
          <dd class="govuk-summary-list__value">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </dd>
          <dd class="govuk-summary-list__actions">
  
          </dd>
        </div>

      
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Is the claimant likely to have the functional restriction in 9 months?
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>
          <dd class="govuk-summary-list__actions">
        
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Daily living prospective test details
          </dt>
          <dd class="govuk-summary-list__value">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </dd>
          <dd class="govuk-summary-list__actions">
  
          </dd>
        </div>
      </dl>



      <h2 class="govuk-heading-l">Mobility</h2>

      <h3 class="govuk-heading-m" style="display: inline-block;">Planning and following journeys</h3>
      
      <div>
      <h3 class="govuk-heading-s" style="display: inline-block;">Functional history for planning and following journeys</h3>
      </div>

      <p class="text">She usually gets a lift to attend for appointments, as she's used to it being done this way. She usually goes out to the countryside accompanied by her friend once every couple of weeks.</p>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <div>
      <h3 class="govuk-heading-s" style="display: inline-block;">How well can the claimant plan and follow journeys?</h3>
      </div>

      <p>(11a) Can plan and follow the route of a journey unaided</p>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <div>
      <h3 class="govuk-heading-s" style="display: inline-block;">Justification for planning and following journeys</h3>
      </div>

      <p class="text">CQ states gets frightened about having a panic attack at the thought of leaving the house, asks husband or relatives to do the shopping, is usually fine in known places but if the route changes or she gets lost gets extremely anxious, panicky, cannot breathe and feels sick, is not comfortable approaching anyone for directions, cannot follow a map if anxious, gets distressed about missing a turn, usually doesn't go to new places due to anxiety. FH states she usually gets a lift to attend for appointments, as she's used to it being done this way.</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-!-margin-bottom-9  govuk-section-break--visible">


      <h3 class="govuk-heading-m" style="display: inline-block;">Moving around</h3>
      
      <div>
      <h3 class="govuk-heading-s" style="display: inline-block;">Functional history for moving around</h3>
      </div>

      <p class="text">She can comfortably cover up to 30 metres prior to needing to stop, it would approximately take her 5 minutes to walk such distance, and she'd need to stop owing to knee pains especially in the left knee.</p>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <div>
      <h3 class="govuk-heading-s" style="display: inline-block;">How well can the claimant move around?</h3>
      </div>

      <p>(12c) Can stand and then move unaided more than 20 metres but no more than 50 metres</p>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <div>
      <h3 class="govuk-heading-s" style="display: inline-block;">Justification for moving around</h3>
      </div>

      <p class="text">States less than 20 metres, has knee stiffness, pain, inflammation and instability moving from sitting to standing, uses walking stick and knee brace with metal hinges and without these she cannot walk, it's painful going up and down stairs due to pain and weakness, walks quite slowly as left knee is unstable and gives way, has fallen quite a lot recently. Previous PA4 suggests 50-200 metres.</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-!-margin-bottom-9  govuk-section-break--visible">


      <h3 class="govuk-heading-m">Mobility qualifying period and prospective test</h3>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Has the claimant had the functional restriction for at least 3 months?
          </dt>
          <dd class="govuk-summary-list__value">
              No
          </dd>
          <dd class="govuk-summary-list__actions">
          
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Mobility qualifying period details
          </dt>
          <dd class="govuk-summary-list__value">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nisl metus, auctor non hendrerit in
          </dd>
          <dd class="govuk-summary-list__actions">
          
          </dd>
        </div>


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Is the claimant likely to have the functional restriction in 9 months?
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>
          <dd class="govuk-summary-list__actions">
           
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Mobility prospective test details
          </dt>
          <dd class="govuk-summary-list__value">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nisl metus, auctor non hendrerit in
          </dd>
          <dd class="govuk-summary-list__actions">
          
          </dd>
        </div>

      </dl>

      <h2 class="govuk-heading-l">Physical examination</h2>

      <div>
      <h3 class="govuk-heading-m" style="display: inline-block;">Examination consent</h3>
    </div>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Did the claimant consent to the physical examination?
        </dt>
        <dd class="govuk-summary-list__value">
            No
        </dd>
        <dd class="govuk-summary-list__actions">
        
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Why did they not give consent?
        </dt>
        <dd class="govuk-summary-list__value">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nisl metus, auctor non hendrerit in
        </dd>
        <dd class="govuk-summary-list__actions">
        
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Chaperone name
        </dt>
        <dd class="govuk-summary-list__value">
           Simon Peterson
        </dd>
        <dd class="govuk-summary-list__actions">
        
        </dd>
      </div>

    </dl>

    <div>
      <h3 class="govuk-heading-m" style="display: inline-block;">Physical examination notes</h3>
    </div>

     <p class="text">She managed to maintain a calm and relaxed behaviour whilst managing to establish an appropriate rapport with the assessor. She was keen on participating and was happy to provide elaborate answers to the questions asked.</p>
    

     <hr class="govuk-section-break govuk-section-break--m govuk-!-margin-bottom-9  govuk-section-break--visible">


      <h2 class="govuk-heading-l">Observations</h2>

      <div>
      <h3 class="govuk-heading-m" style="display: inline-block;">Mental state observations</h3>
    </div>

     <p class="text">She managed to maintain a calm and relaxed behaviour whilst managing to establish an appropriate rapport with the assessor. She was keen on participating and was happy to provide elaborate answers to the questions asked.</p>
    
     <hr class="govuk-section-break govuk-section-break--m govuk-!-margin-bottom-7  govuk-section-break--visible">
      <br>

      <div>
      <h3 class="govuk-heading-m" style="display: inline-block;">Informal observations</h3>
    </div>

     <p class="text">She was able to concentrate throughout the assessment with no signs of fatigue or irritability.</p>
    
     <hr class="govuk-section-break govuk-section-break--m govuk-!-margin-bottom-9  govuk-section-break--visible">


      <h2 class="govuk-heading-l">Review period</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-1">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Recommended future review period
          </dt>
          <dd class="govuk-summary-list__value">
            18 months
          </dd>
        </div>
        </dl>

        <div style="margin-top: 1%;">
          <h4 class="govuk-heading-s" style="display: inline-block;">Reason for this review period</h4>      
          <p class="govuk-body">Certain functional limitations were present at the time of the assessment, which would warrant a review. She is currently on the waiting list to have counselling. 
            She is due to start having PT sessions for the left knee, and once she would have had enough sessions she's to enlist for a left TKR surgery. Since there are pending specialists' 
            interventions in place with no official confirmatory appointment start date, the reported symptoms are likely to have a functional impact on her ability to carry out daily living 
            and mobility tasks reliably in the short term. With further specialists' interventions in place, a short term review of 1 year 6 months is most appropriate.</p>
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        </div>

        <dl class="govuk-summary-list  govuk-!-margin-bottom-9" style="margin-top: -2%;">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Is it likely that the functional restriction will still be present when reviewed?
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>

        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Do they need additional support for future claims processes?
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Do they meet the criteria for special rules?
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>
        </div>
      </dl>
     
      <div class="govuk-inset-text">
        No harmful information has been included in this report.
      </div>
    
<p><a href="#" class="govuk-link">Print this page</a>
</p>
  </div>      
      </div>

{% endblock %}
