{% extends "layouts/evidence-without-sidenav.html" %}


{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content_left %}

  

        <form action="#" method="post" id="auto-redirect">

      <div class="govuk-form-group">
           <fieldset class="govuk-fieldset">

              <h1 class="govuk-heading-l">Add medication as reference</h1>
             
              
              <table class="govuk-table" data-module="moj-sortable-table" aria-describedby="last-updated">
                <!-- <caption class="govuk-table__caption govuk-table__caption--m">Other supporting documents</caption> -->
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header column-width-20" aria-sort="descending">Selected</th>
                    <th scope="col" class="govuk-table__header column-width-20" aria-sort="descending">Name</th>
                    <!-- <th scope="col" class="govuk-table__header column-width-10" aria-sort="descending">Benefit type</th> -->
                    <th scope="col" class="govuk-table__header column-width-15" aria-sort="descending">Date of document</th>
                    <th scope="col" class="govuk-table__header column-width-15" aria-sort="descending">Date DWP received</th>
                    <th scope="col" class="govuk-table__header column-width-15"></th>
                  </tr>
                </thead>
                <tbody class="govuk-table__body">
                   <!--logic for adding evidence-->
          <!-- looking into the array as a whole -->
          {% for evidence in data['evidenceAdded'] %}
          {% set outerLoopIndex = loop.index0 %}
          <!--Only show the last iteration of loop-->
            {% if loop.last %}
                <!-- Pulling out specific values to display -->

                {% for coreEvidence in evidence.coreEvidence %} 
                <tr class="govuk-table__row" id="{{ outerLoopIndex + '-' + loop.index0 }}">
                  <td class="govuk-table__cell">

                    {% if data["document-Medname"].includes(coreEvidence) %}
                    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="evidence-two" name="document-Medname" type="checkbox" value="{{ coreEvidence }}" if coreEvidence in data["evidenceMedName"] checked endif>
                        <label class="govuk-label govuk-checkboxes__label" for="evidence-two"></label>
                      </div>
                    </div>

                    {% else %}
                    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="evidence-two" name="document-Medname" type="checkbox" value="{{ coreEvidence }}">
                        <label class="govuk-label govuk-checkboxes__label" for="evidence-two"></label>
                      </div>
                    </div>
                    {% endif %}
               

                  <td class="govuk-table__cell"><a class="reco-document documentLinks document-link" target="_blank" data-url="/public/pdfs/{{ coreEvidence }}.pdf" href="/public/pdfs/{{ coreEvidence }}.pdf">{{ coreEvidence }}</a></td>
              
                  <td class="govuk-table__cell" data-sort-value="2 February 2025">
                  {% if coreEvidence === "PIP2 questionnaire" %}
                  26 January 2022
                  {% endif %}

                  {% if coreEvidence === "AP assessment report" %}
                  8 March 2022
                  {% endif %}

                  {% if coreEvidence === "Award Review AR1" %}
                  8 February 2025
                  {% endif %}
                  </td>
                  <td class="govuk-table__cell" data-sort-value="28 February 2025">
                  {% if coreEvidence === "PIP2 questionnaire" %}
                  1 February 2022
                  {% endif %}

                  {% if coreEvidence === "AP assessment report" %}
                  8 March 2024
                  {% endif %}

                  {% if coreEvidence === "Award Review AR1" %}
                  3 March 2025
                  {% endif %}
                  </td>
                  </tr>
                  
                  {% endfor %}


                {% for evidenceName in evidence.evidenceName %} 
                  <tr class="govuk-table__row" id="{{ outerLoopIndex + '-' + loop.index0 }}">
                    <td class="govuk-table__cell">                
                      {% if data['document-Medname'].includes(evidenceName) %}
                      <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="evidence-two" name="document-Medname" type="checkbox" value="{{ evidenceName }}" if evidenceName in data["evidenceMedName"] checked  endif >
                          <label class="govuk-label govuk-checkboxes__label" for="evidence-two"></label>
                        </div>
                      </div>
                    </td>

                    {% else %}

                    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="evidence-two" name="document-Medname" type="checkbox" value="{{ evidenceName }}">
                        <label class="govuk-label govuk-checkboxes__label" for="evidence-two"></label>
                      </div>
                    </div>
        
                  </td>

                  {% endif %}
           
                      
                    <td class="govuk-table__cell"><a class="reco-document documentLinks document-link" target="_blank" data-url="/public/pdfs/{{ evidenceName }}.pdf" href="/public/pdfs/{{ evidenceName }}.pdf">{{ evidenceName }}</a></td>
                
                    <td class="govuk-table__cell" data-sort-value="2 February 2025">
                    {% if evidenceName === "NHS Hospital appointment letter" %}
                    29 January 2025
                    {% endif %}

                    {% if evidenceName === "Further Evidence" %}
                    2 February 2025
                    {% endif %}

                    {% if evidenceName === "Hospital Factual Report" %}
                    19 September 2024
                    {% endif %}

                    {% if evidenceName === "GP letter" %}
                    11 November 2024
                    {% endif %}

                    {% if evidenceName === "Care plan" %}
                    25 November 2024
                    {% endif %}

                    {% if evidenceName === "GP letters" %}
                    8 August 2024
                    {% endif %}
                    </td>
                    <td class="govuk-table__cell" data-sort-value="28 February 2025">
                    {% if evidenceName === "NHS Hospital appointment letter" %}
                    29 January 2025
                    {% endif %}

                    {% if evidenceName === "Further Evidence" %}
                    2 February 2025
                    {% endif %}

                    {% if evidenceName === "Hospital Factual Report" %}
                    19 September 2024
                    {% endif %}

                    {% if evidenceName === "GP letter" %}
                    11 November 2024
                    {% endif %}

                    {% if evidenceName === "Care plan" %}
                    25 November 2024
                    {% endif %}

                    {% if evidenceName === "GP letters" %}
                    8 August 2024
                    {% endif %}
                    </td>
                    </tr>
                    {% endfor %}
              {% endif %}
        {% endfor %}
              </tbody>
            </table>



            
           

             <!--logic for adding evidence-->
          <!-- looking into the array as a whole -->
          <!-- {% for evidence in data['evidenceAdded'] %}
          {% set outerLoopIndex = loop.index0 %} -->
          <!--Only show the last iteration of loop-->
            <!-- {% if loop.last %} -->
                <!-- Pulling out specific values to display -->
              <!-- {% for evidenceName in evidence.evidenceName %} 
                <dl class="govuk-summary-list" id="{{ outerLoopIndex + '-' + loop.index0 }}">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      <b><p class="govuk-body"><b><a class="govuk-link" target="_blank" href="/public/pdfs/{{evidenceName}}.pdf">
                        {{ evidenceName }}<span class="govuk-visually-hidden">evidence change</span>
                    </a></b></p></b>
                    </dt>
                  
                    <dd class="govuk-summary-list__value">
                      {% if evidenceName === "NHS Hospital appointment letter" %}
                      29 January 2025
                      {% endif %}

                      {% if evidenceName === "Further Evidence" %}
                      2 February 2025
                      {% endif %}

                      {% if evidenceName === "Hospital Factual Report" %}
                      19 September 2024
                      {% endif %}

                      {% if evidenceName === "GP letter" %}
                      11 November 2024
                      {% endif %}

                      {% if evidenceName === "Care plan" %}
                      25 November 2024
                      {% endif %}

                      {% if evidenceName === "GP letters" %}
                      8 August 2024
                      {% endif %}
                    </dd>
             
                  <dd class="govuk-summary-list__actions">
                    <ul class="govuk-summary-list__actions-list"> -->
                      <!-- <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" target="_blank" href="/public/pdfs/{{evidenceName}}.pdf">
                            View<span class="govuk-visually-hidden">evidence change</span>
                        </a></li> -->
                      <!-- <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="remove-evidence?indexEvidence={{ outerLoopIndex }}&evidence={{evidenceName}}">
                          Remove<span class="govuk-visually-hidden">evidence remove</span>
                        </a></li>
                    </ul>
                  </dd>
                </div>
                </dl>  
              {% endfor %}
              {% endif %}
        {% endfor %} -->
          
  
    <div class="govuk-button-group">
      <button type="submit" class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>

      {% if (data['evidenceAdded']) %}
      <p><a href="evidence-addAnother">Cancel</a></p>
      {% else %}
      <p><a href="evidence-none">Cancel</a></p>
      {% endif %}

     </div>

       </fieldset>
      </div>
    </form>

 <!--test-->

{% endblock %}
