-{% extends "layouts/side-nav-prompts-five.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% set containerClasses = "full-width-container" %}
{% block content_left %}

<style>
  .govuk-summary-list__actions {
   width: 25%;
   padding-right: 0;
   text-align: right;
 }
 .medication-text {
    width: 300%;
    text-wrap: wrap;
  }
</style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
   
        <span class="govuk-caption-xl"></span>
        <h1 class="govuk-heading-l">
          Medication
        </h1>

          <!--logic for adding medications-->

          {% if (data['medicationAdded']) %}
          <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
            {% for medication in data['medicationAdded'] %}
             {% set outerLoopIndex = loop.index0 %}
            <div class="govuk-accordion__section">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                    {{ medication.medicationName }}
                <a class="govuk-link " href="#" style="float: right; font-size: 1.1875rem; border-left: 1px solid #b1b4b6; padding-left: 10px; margin-left: 10px;">Remove<span class="govuk-visually-hidden"></span></a> 
                <a class="govuk-link" href="medication-change?indexMed={{loop.index0}}&medName={{medication.medicationName}}&med-doseF={{medication.medicationDoseFreq}}&med-reason={{medication.medicationReason}}&med-eff={{medication.medicationEffectiveness}}&addNotes={{medication.medicationAdditionalNotes}}" style="float: right; font-size: 1.1875rem;">Change<span class="govuk-visually-hidden"></span></a>
                  
                  </span>
                </h2>
              </div>
              <div id="accordion-default-content-1" class="govuk-accordion__section-content">
                <dl class="govuk-summary-list">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Dosage and frequency
                    </dt>
                    <dd class="govuk-summary-list__value">
                      {{ medication.medicationDoseFreq }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="medication-change?indexMed={{loop.index0}}&medName={{medication.medicationName}}&med-doseF={{medication.medicationDoseFreq}}&med-reason={{medication.medicationReason}}&med-eff={{medication.medicationEffectiveness}}&addNotes={{medication.medicationAdditionalNotes}}">Change<span class="govuk-visually-hidden"> age (Lead tenant)</span></a>
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                    Reason for taking
                    </dt>
                    <dd class="govuk-summary-list__value">
                      {{ medication.medicationReason }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="medication-change?indexMed={{loop.index0}}&medName={{medication.medicationName}}&med-doseF={{medication.medicationDoseFreq}}&med-reason={{medication.medicationReason}}&med-eff={{medication.medicationEffectiveness}}&addNotes={{medication.medicationAdditionalNotes}}">Change<span class="govuk-visually-hidden"> nationality (Lead tenant)</span></a>
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      How effective is the medication?
                    </dt>
                    <dd class="govuk-summary-list__value">
                      {{ medication.medicationEffectiveness }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="medication-change?indexMed={{loop.index0}}&medName={{medication.medicationName}}&med-doseF={{medication.medicationDoseFreq}}&med-reason={{medication.medicationReason}}&med-eff={{medication.medicationEffectiveness}}&addNotes={{medication.medicationAdditionalNotes}}">Change<span class="govuk-visually-hidden"> working situation (Lead tenant)</span></a>
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Additional notes
                      <pre class="medication-text govuk-body">{{ medication.medicationAdditionalNotes }}</pre>
                    </dt>
                    <dd class="govuk-summary-list__value">
                      
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="medication-change?indexMed={{loop.index0}}&medName={{medication.medicationName}}&med-doseF={{medication.medicationDoseFreq}}&med-reason={{medication.medicationReason}}&med-eff={{medication.medicationEffectiveness}}&addNotes={{medication.medicationAdditionalNotes}}">Change<span class="govuk-visually-hidden"> working situation (Lead tenant)</span></a>
                    </dd>
                  </div>
                </dl>
              </div>
            </div>
            {% endfor %}
          </div>

         

          <br>
          <br>

          

<form action="#" method="post" id="auto-redirect">
  
  <div class="govuk-button-group">
    <button type="submit" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-9" data-module="govuk-button">
      Add another medication
    </button>
    </div>
    <br>
    {% else %}
    <form action="#" method="post" id="auto-redirect">
    <div class="govuk-button-group">
      <button type="submit" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-9" data-module="govuk-button">
        Add a medication
      </button>
      </div>
    {% endif %}


    <h2 class="govuk-heading-m">
      Evidence referenced
    </h2>

        <!--logic for adding evidence-->
          <!-- looking into the array as a whole -->
          {% for evidence in data['evidenceMedAdded'] %}
          {% set outerLoopIndex = loop.index0 %}
          <!--Only show the last iteration of loop-->
            {% if loop.last %}
                <!-- Pulling out specific values to display -->
              {% for evidenceMedName in evidence.evidenceMedName %} 
                <dl class="govuk-summary-list" id="{{ outerLoopIndex + '-' + loop.index0 }}">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      <b><p class="govuk-body"><b><a class="govuk-link" target="_blank" href="/public/pdfs/{{evidenceMedName}}.pdf">
                        {{ evidenceMedName }}<span class="govuk-visually-hidden">evidence change</span>
                    </a></b></p></b>
                    </dt>
                  
                    <dd class="govuk-summary-list__value">
                      {% if evidenceMedName === "NHS Hospital appointment letter" %}
                      29 January 2025
                      {% endif %}

                      {% if evidenceMedName === "Further Evidence" %}
                      2 February 2025
                      {% endif %}

                      {% if evidenceMedName === "Hospital Factual Report" %}
                      19 September 2024
                      {% endif %}

                      {% if evidenceMedName === "GP letter" %}
                      11 November 2024
                      {% endif %}

                      {% if evidenceMedName === "Care plan" %}
                      25 November 2024
                      {% endif %}

                      {% if evidenceMedName === "GP letters" %}
                      8 August 2024
                      {% endif %}

                      {% if evidenceMedName === "PIP2 questionnaire" %}
                      26 January 2022
                      {% endif %}
    
                      {% if evidenceMedName === "AP assessment report" %}
                      8 March 2022
                      {% endif %}
    
                      {% if evidenceMedName === "Award Review AR1" %}
                      8 February 2025
                      {% endif %}

                      {% if evidenceMedName === "Prescription" %}
                       24 April 2025
                      {% endif %}
                    </dd>
             
                  <dd class="govuk-summary-list__actions">
                    <ul class="govuk-summary-list__actions-list">
                      <!-- <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" target="_blank" href="/public/pdfs/{{evidenceName}}.pdf">
                            View<span class="govuk-visually-hidden">evidence change</span>
                        </a></li> -->
                      <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="remove-evidence?indexEvidence={{ outerLoopIndex }}&evidence={{evidenceName}}">
                          Remove<span class="govuk-visually-hidden">evidence remove</span>
                        </a></li>
                    </ul>
                  </dd>
                </div>
                </dl>  
              {% endfor %}
              {% endif %}
        {% endfor %}

        <div class="govuk-button-group">
          <a href="evidence-med" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-7">Add evidence</a>
          </div>
          

    {% if data["sideEffects"] == 'Yes' %}
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h1 class="govuk-fieldset__heading">
            Does the claimant experience any side effects from their medication?
          </h1>
        </legend>
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="side-effectYes" name="sideEffects" type="radio" value="Yes" data-aria-controls="side-effect-reveal" {{ checked }}>
            <label class="govuk-label govuk-radios__label" for="side-effectYes">
              Yes
            </label>
          </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="side-effect-reveal">
            <div class="govuk-form-group">
              <label class="govuk-label" for="sideEffectsDescription">
                <b>Side effects</b>
              </label>
              <textarea class="govuk-textarea" id="sideEffectsDescription" name="sideEffectsMedication" rows="5">{{data["sideEffectsMedication"]}}</textarea>
            </div>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="side-effectNo" name="sideEffects" type="radio" value="No">
            <label class="govuk-label govuk-radios__label" for="side-effectNo">
              No
            </label>
          </div>
        </div>
      </fieldset>
    </div>
    {% elseif data["sideEffects"] == 'No' %}
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h1 class="govuk-fieldset__heading">
            Does the claimant experience any side effects from their medication?
          </h1>
        </legend>
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="side-effectYes" name="sideEffects" type="radio" value="Yes" data-aria-controls="side-effect-reveal">
            <label class="govuk-label govuk-radios__label" for="side-effectYes">
              Yes
            </label>
          </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="side-effect-reveal">
            <div class="govuk-form-group">
              <label class="govuk-label" for="sideEffectsDescription">
                <b>Side effects</b>
              </label>
              <textarea class="govuk-textarea" id="sideEffectsDescription" name="sideEffectsMedication" rows="5">{{data["sideEffectsMedication"]}}</textarea>
            </div>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="side-effectNo" name="sideEffects" type="radio" value="No" {{ checked }}>
            <label class="govuk-label govuk-radios__label" for="side-effectNo">
              No
            </label>
          </div>
        </div>
      </fieldset>
    </div>

    {% elseif data["sideEffects"] === undefined %}
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h1 class="govuk-fieldset__heading">
            Does the claimant experience any side effects from their medication?
          </h1>
        </legend>
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="side-effectYes" name="sideEffects" type="radio" value="Yes" data-aria-controls="side-effect-reveal">
            <label class="govuk-label govuk-radios__label" for="side-effectYes">
              Yes
            </label>
          </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="side-effect-reveal">
            <div class="govuk-form-group">
              <label class="govuk-label" for="sideEffectsDescription">
                <b>Side effects</b>
              </label>
              <textarea class="govuk-textarea" id="sideEffectsDescription" name="sideEffectsMedication" rows="5">{{data["sideEffectsMedication"]}}</textarea>
            </div>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="side-effectNo" name="sideEffects" type="radio" value="No">
            <label class="govuk-label govuk-radios__label" for="side-effectNo">
              No
            </label>
          </div>
        </div>
      </fieldset>
    </div>
    {% endif %}

             {% if data["treatmentThreapy"] == 'Yes' %}
              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                    <h1 class="govuk-fieldset__heading">
                      Does the claimant receive any home therapies?
                    </h1>
                  </legend>
                  <div class="govuk-radios" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="therapiesYes" name="treatmentThreapy" type="radio" value="Yes" data-aria-controls="therapy-reveal" {{ checked }}> 
                      <label class="govuk-label govuk-radios__label" for="therapiesYes">
                        Yes
                      </label>
                    </div>
                    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="therapy-reveal">
                      <div class="govuk-form-group">
                        <label class="govuk-label" for="therapyDescription">
                          <b>Home therapies</b>
                        </label>
                        <textarea class="govuk-textarea" id="therapyDescription" name="therapyTreatmentExplain" rows="5">{{data["therapyTreatmentExplain"]}}</textarea>
                      </div>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="therapiesNo" name="treatmentThreapy" type="radio" value="No">
                      <label class="govuk-label govuk-radios__label" for="therapiesNo">
                        No
                      </label>
                    </div>
                  </div>
                </fieldset>
              </div>
              {% elseif data["treatmentThreapy"] == 'No' %}
              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                    <h1 class="govuk-fieldset__heading">
                      Does the claimant receive any home therapies?
                    </h1>
                  </legend>
                  <div class="govuk-radios" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="therapiesYes" name="treatmentThreapy" type="radio" value="Yes" data-aria-controls="therapy-reveal">
                      <label class="govuk-label govuk-radios__label" for="therapiesYes">
                        Yes
                      </label>
                    </div>
                    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="therapy-reveal">
                      <div class="govuk-form-group">
                        <label class="govuk-label" for="therapyDescription">
                          <b>Home therapies</b>
                        </label>
                        <textarea class="govuk-textarea" id="therapyDescription" name="therapyTreatmentExplain" rows="5">{{data["therapyTreatmentExplain"]}}</textarea>
                      </div>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="therapiesNo" name="treatmentThreapy" type="radio" value="No" {{ checked }}>
                      <label class="govuk-label govuk-radios__label" for="therapiesNo">
                        No
                      </label>
                    </div>
                  </div>
                </fieldset>
              </div>
              {% elseif data["treatmentThreapy"] === undefined %}
              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                    <h1 class="govuk-fieldset__heading">
                      Does the claimant receive any home therapies?
                    </h1>
                  </legend>
                  <div class="govuk-radios" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="therapiesYes" name="treatmentThreapy" type="radio" value="Yes" data-aria-controls="therapy-reveal"> 
                      <label class="govuk-label govuk-radios__label" for="therapiesYes">
                        Yes
                      </label>
                    </div>
                    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="therapy-reveal">
                      <div class="govuk-form-group">
                        <label class="govuk-label" for="therapyDescription">
                          <b>Home therapies</b>
                        </label>
                        <textarea class="govuk-textarea" id="therapyDescription" name="therapyTreatmentExplain" rows="5">{{data["therapyTreatmentExplain"]}}</textarea>
                      </div>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="therapiesNo" name="treatmentThreapy" type="radio" value="No">
                      <label class="govuk-label govuk-radios__label" for="therapiesNo">
                        No
                      </label>
                    </div>
                  </div>
                </fieldset>
              </div>
              {% endif %}


      </div>

      </form>
    </div>
</div>


{% endblock %}