name: Lint

on:
  push:
    branches:
      - main
      - support/*
  pull_request:

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1

      - uses: actions/setup-node@v4.4.0
        with:
          cache: 'npm'
          node-version-file: '.nvmrc'

      - run: npm install --omit=production

      - run: npm run lint
