name: Tests (Heroku)

on:
  push:
    branches:
      - main
      - support/*
  pull_request:

jobs:
  test-heroku:

    name: Test kit on Heroku
    runs-on: ubuntu-latest

    env:
      CYPRESS_CACHE_FOLDER: ~/.cache/Cypress

    steps:
    - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
    - name: Use Node v24
      uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
      with:
        cache: 'npm'
        node-version: '24'
    - name: Cache Cypress binary
      uses: actions/cache@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5.0.2
      with:
        path: ~/.cache/Cypress
        key: cypress-${{ runner.os }}-cypress-${{ hashFiles('**/package.json') }}
    - run: npm ci
    - run: npm run test:heroku
