{% extends "layouts/layout-split-banner.html" %}


{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content_left %}

<a href="ta-task-list.html" class="govuk-back-link">Back</a>
    

    <h1 class="govuk-heading-l">Select the evidence you have used</h1>




    <form action="#" method="post">

      <div class="govuk-form-group">
           <fieldset class="govuk-fieldset">
        
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
        
  
        
        </legend>
        
        
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
        
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input autosave" id="evidenceusedpip" name="evidenceusedpip" type="checkbox" value="Claimant questionnaire"  data-aria-controls="conditional-evidence">
            <label class="govuk-label govuk-checkboxes__label" for="evidenceusedpip">
        Claimant questionnaire
        </label>
          </div>
          <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-evidence">
            <div class="govuk-form-group">
              <label class="govuk-label" for="contact-by-email">
               Date of documents
              </label>
              <input class="govuk-input govuk-!-width-one-third" id="contact-by-email" name="document-date" type="text" spellcheck="false" autocomplete="email">
            </div>
            </div>
        
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input autosave" id="evidenceusedpip-2" name="evidenceusedpip" type="checkbox" value="Fit note (Med 3)" data-aria-controls="conditional-evidence-2">
            <label class="govuk-label govuk-checkboxes__label" for="evidenceusedpip-2">
        Fit note (Med 3)
        </label>
          </div>
          <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-evidence-2">
            <div class="govuk-form-group">
              <label class="govuk-label" for="contact-by-email">
                Date of documents
              </label>
              <input class="govuk-input govuk-!-width-one-third" id="contact-by-email" name="document-date" type="text" spellcheck="false" autocomplete="email">
            </div>
            </div>
          
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input autosave" id="evidenceusedpip-3" name="evidenceusedpip" type="checkbox" value="Prescription or medication list" data-aria-controls="conditional-evidence-3">
            <label class="govuk-label govuk-checkboxes__label" for="evidenceusedpip-3">
        Prescription or medication list
        </label>
            
          </div>
          
        
          <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-evidence-3">
            <div class="govuk-form-group">
              <label class="govuk-label" for="contact-by-email">
                Date of documents
              </label>
              <input class="govuk-input govuk-!-width-one-third" id="contact-by-email" name="document-date" type="text" spellcheck="false" autocomplete="email">
            </div>
            </div>
        
        
        
        
          
          
          
          
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input autosave" id="evidenceusedpip-4" name="evidenceusedpip" type="checkbox" value="Care plan" data-aria-controls="conditional-evidence-4">
            <label class="govuk-label govuk-checkboxes__label" for="evidenceusedpip-4">
        Care plan
        </label>
            
          </div>
          
        
        
          <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-evidence-4">
            <div class="govuk-form-group">
              <label class="govuk-label" for="contact-by-email">
                Date of documents
              </label>
              <input class="govuk-input govuk-!-width-one-third" id="contact-by-email" name="document-date" type="text" spellcheck="false" autocomplete="email">
            </div>
            </div>
        
        
        
          
          
          
          
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input autosave" id="evidenceusedpip-5" name="evidenceusedpip" type="checkbox" value="GP letter" data-aria-controls="conditional-evidence-5">
            <label class="govuk-label govuk-checkboxes__label" for="evidenceusedpip-5">
        GP letter
        </label>
            
          </div>
          
        
        
        
          <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-evidence-5">
            <div class="govuk-form-group">
              <label class="govuk-label" for="contact-by-email">
                Date of documents
              </label>
              <input class="govuk-input govuk-!-width-one-third" id="contact-by-email" name="document-date" type="text" spellcheck="false" autocomplete="email">
            </div>
            </div>
        
        
          
          
          
          
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input autosave" id="evidenceusedpip-6" name="evidenceusedpip" type="checkbox" value="GP factual report (GPFR)" data-aria-controls="conditional-evidence-6">
            <label class="govuk-label govuk-checkboxes__label" for="evidenceusedpip-6">
        GP factual report (GPFR)
        </label>
            
          </div>
          
        
        
          <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-evidence-6">
            <div class="govuk-form-group">
              <label class="govuk-label" for="contact-by-email">
                Date of documents
              </label>
              <input class="govuk-input govuk-!-width-one-third" id="contact-by-email" name="document-date" type="text" spellcheck="false" autocomplete="email">
            </div>
            </div>
        
        
        
          
          
          
          
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input autosave" id="evidenceusedpip-7" name="evidenceusedpip" type="checkbox" value="GP patient form (113)" data-aria-controls="conditional-evidence-7">
            <label class="govuk-label govuk-checkboxes__label" for="evidenceusedpip-7">
        GP patient form (113)
        </label>
            
          </div>
          
        
        
          <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-evidence-7">
            <div class="govuk-form-group">
              <label class="govuk-label" for="contact-by-email">
                Date of documents
              </label>
              <input class="govuk-input govuk-!-width-one-third" id="contact-by-email" name="document-date" type="text" spellcheck="false" autocomplete="email">
            </div>
            </div>
        
        
        
          
          
          
          
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input autosave" id="evidenceusedpip-8" name="evidenceusedpip" type="checkbox" value="GP health record" data-aria-controls="conditional-evidence-8">
            <label class="govuk-label govuk-checkboxes__label" for="evidenceusedpip-8">
        GP health record
        </label>
            
          </div>
          
        
          <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-evidence-8">
            <div class="govuk-form-group">
              <label class="govuk-label" for="contact-by-email">
                Date of documents
              </label>
              <input class="govuk-input govuk-!-width-one-third" id="contact-by-email" name="document-date" type="text" spellcheck="false" autocomplete="email">
            </div>
            </div>
        
        
        
        
          
          
          
          
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input autosave" id="evidenceusedpip-9" name="evidenceusedpip" type="checkbox" value="Factual medical report (FRR2)" data-aria-controls="conditional-evidence-9">
            <label class="govuk-label govuk-checkboxes__label" for="evidenceusedpip-9">
        Factual medical report (FRR2)
        </label>
            
          </div>
          
        
        
        
        
          <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-evidence-9">
            <div class="govuk-form-group">
              <label class="govuk-label" for="contact-by-email">
                Date of documents
              </label>
              <input class="govuk-input govuk-!-width-one-third" id="contact-by-email" name="document-date" type="text" spellcheck="false" autocomplete="email">
            </div>
            </div>
        
          
          
          
          
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input autosave" id="evidenceusedpip-10" name="evidenceusedpip" type="checkbox" value="Healthcare professional factual report (FRR3)" data-aria-controls="conditional-evidence-10">
            <label class="govuk-label govuk-checkboxes__label" for="evidenceusedpip-10">
        Healthcare professional factual report (FRR3)
        </label>
            
          </div>
          
        
        
          <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-evidence-10">
            <div class="govuk-form-group">
              <label class="govuk-label" for="contact-by-email">
                Date of documents
              </label>
              <input class="govuk-input govuk-!-width-one-third" id="contact-by-email" name="document-date" type="text" spellcheck="false" autocomplete="email">
            </div>
            </div>
        
        
        
          
          
          
          
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input autosave" id="evidenceusedpip-11" name="evidenceusedpip" type="checkbox" value="Phone call (FRR4)" data-aria-controls="conditional-evidence-11">
            <label class="govuk-label govuk-checkboxes__label" for="evidenceusedpip-11">
        Phone call (FRR4)
        </label>
            
          </div>
          
        
        
          <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-evidence-11">
            <div class="govuk-form-group">
              <label class="govuk-label" for="contact-by-email">
                Date of documents
              </label>
              <input class="govuk-input govuk-!-width-one-third" id="contact-by-email" name="document-date" type="text" spellcheck="false" autocomplete="email">
            </div>
            </div>
        
        
        
          
          
          
          
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input autosave" id="evidenceusedpip-12" name="evidenceusedpip" type="checkbox" value="Hospital letter, report or discharge summary" data-aria-controls="conditional-evidence-12">
            <label class="govuk-label govuk-checkboxes__label" for="evidenceusedpip-12">
        Hospital letter, report or discharge summary
        </label>
            
          </div>
          
        
        
          <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-evidence-12">
            <div class="govuk-form-group">
              <label class="govuk-label" for="contact-by-email">
                Date of documents
              </label>
              <input class="govuk-input govuk-!-width-one-third" id="contact-by-email" name="document-date" type="text" spellcheck="false" autocomplete="email">
            </div>
            </div>
        
        
        
          
          
          
          
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input autosave" id="evidenceusedpip-13" name="evidenceusedpip" type="checkbox" value="Consultant letter or report" data-aria-controls="conditional-evidence-13">
            <label class="govuk-label govuk-checkboxes__label" for="evidenceusedpip-13">
        Consultant letter or report
        </label>
            
          </div>
          
        
        
          <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-evidence-13">
            <div class="govuk-form-group">
              <label class="govuk-label" for="contact-by-email">
                Date of documents
              </label>
              <input class="govuk-input govuk-!-width-one-third" id="contact-by-email" name="document-date" type="text" spellcheck="false" autocomplete="email">
            </div>
            </div>
        
        
        
          
          
          
          
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input autosave" id="evidenceusedpip-14" name="evidenceusedpip" type="checkbox" value="Specialist letter or report" data-aria-controls="conditional-evidence-14">
            <label class="govuk-label govuk-checkboxes__label" for="evidenceusedpip-14">
        Specialist letter or report
        </label>
            
          </div>
          
        
        
          <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-evidence-14">
            <div class="govuk-form-group">
              <label class="govuk-label" for="contact-by-email">
                Date of documents
              </label>
              <input class="govuk-input govuk-!-width-one-third" id="contact-by-email" name="document-date" type="text" spellcheck="false" autocomplete="email">
            </div>
            </div>
        
        
        
          
          
          
          
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input autosave" id="evidenceusedpip-15" name="evidenceusedpip" type="checkbox" value="Allied heath professional's letter or report" data-aria-controls="conditional-evidence-15">
            <label class="govuk-label govuk-checkboxes__label" for="evidenceusedpip-15">
        Allied heath professional's letter or report
        </label>
            
          </div>
          
        
        
          <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-evidence-15">
            <div class="govuk-form-group">
              <label class="govuk-label" for="contact-by-email">
                Date of documents
              </label>
              <input class="govuk-input govuk-!-width-one-third" id="contact-by-email" name="document-date" type="text" spellcheck="false" autocomplete="email">
            </div>
            </div>
        
        
        
          
          
          
          
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input autosave" id="evidenceusedpip-16" name="evidenceusedpip" type="checkbox" value="Radiology and investigative report" data-aria-controls="conditional-evidence-16">
            <label class="govuk-label govuk-checkboxes__label" for="evidenceusedpip-16">
        Radiology and investigative report
        </label>
            
          </div>
          
        
          <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-evidence-16">
            <div class="govuk-form-group">
              <label class="govuk-label" for="contact-by-email">
                Date of documents
              </label>
              <input class="govuk-input govuk-!-width-one-third" id="contact-by-email" name="document-date" type="text" spellcheck="false" autocomplete="email">
            </div>
            </div>
        
        
        
        
          
          
          
          
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input autosave" id="evidenceusedpip-17" name="evidenceusedpip" type="checkbox" value="Previous assessment report" data-aria-controls="conditional-evidence-17">
            <label class="govuk-label govuk-checkboxes__label" for="evidenceusedpip-17">
        Previous assessment report
        </label>
            
          </div>
          
          <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-evidence-17">
            <div class="govuk-form-group">
              <label class="govuk-label" for="contact-by-email">
                Date of documents
              </label>
              <input class="govuk-input govuk-!-width-one-third" id="contact-by-email" name="document-date" type="text" spellcheck="false" autocomplete="email">
            </div>
            </div>
        
        
        
        </div>
        
        
        </fieldset>
        
        
        </div>
        

      

<div class="govuk-form-group">
<label class="govuk-label govuk-label--s" for="other-evidence">
Other evidence used
</label>


<textarea class="govuk-textarea autosave" id="other-evidence" name="other-evidence" rows="4"></textarea>
</div>





      


<button class="govuk-button" data-module="govuk-button">
Save and continue
</button>


    </form>

{% endblock %}
