{% extends "layouts/layout-ta.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <a href="javascript:history.back()" class="govuk-back-link">Back</a>
    
    
    <span class="govuk-caption-xl">PIP telephone assessment</span>
    <h1 class="govuk-heading-l">
       History
    </h1>

<form action="functional-history" method="get">
  <div class="govuk-form-group">
    <h1 class="govuk-label-wrapper">
      <label class="govuk-label" for="more-detail">
       Additional history of condition
      </label>
    </h1>
    <textarea class="govuk-textarea" id="history-condition" name="history-of-condition" rows="15" aria-describedby="history-condition-hint">{{data["history-of-condition-prep"]}}</textarea>
  </div>

  <div class="govuk-form-group">
    <h1 class="govuk-label-wrapper">
      <label class="govuk-label" for="more-detail">
       Additional social and occupational history
      </label>
    </h1>
    <textarea class="govuk-textarea" id="social-history" name="social-history" rows="15" aria-describedby="more-detail-hint">{{data["social-history-prep"]}}</textarea>
  </div>
      <div class="govuk-button-group">

      </div><button class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>
      <p class="govuk-body"><a href="end-why" class="govuk-link">Abandon call</a></p>
    </div>

      </form>
<!--
    <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="list-convictions-status">Not started</strong>
    <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="submit-pay-status">Cannot start yet</strong>
    <strong class="govuk-tag govuk-tag--blue govuk-prototype-kit-task-list__tag" id="contact-details-status">In progress</strong>
    <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="eligibility-status">Completed</strong>

  -->
  </div>      
      </div>

{% endblock %}
