{% extends "layouts/task-layout.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Tasks
    </h1>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <h1 class="govuk-heading-m">PIP Telephone assessments
          <p class="govuk-body-l"><a href="ta-task-triage" class="govuk-link"><b>Get next task</b></a></p></h1>
      
        </div>
        <div class="govuk-grid-column-one-half">
              <h3 class="govuk-heading-l">15
                <p class="govuk-body govuk-!-font-size-24">total tasks</p>
              </h3>
        </div>
      
      </div>
      
        <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
        <br>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
              <h1 class="govuk-heading-m">PIP paper based reviews
              <p class="govuk-body-l"><a href="#" class="govuk-link"><b>Get next task</b></a></p></h1>
          
            </div>
            <div class="govuk-grid-column-one-half">
                  <h3 class="govuk-heading-l">15
                    <p class="govuk-body govuk-!-font-size-24">total tasks</p>
                  </h3>
            </div>
          
          </div>
          
            <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
            <br>
    
      

<!--
    <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="list-convictions-status">Not started</strong>
    <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="submit-pay-status">Cannot start yet</strong>
    <strong class="govuk-tag govuk-tag--blue govuk-prototype-kit-task-list__tag" id="contact-details-status">In progress</strong>
    <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="eligibility-status">Completed</strong>

  -->
  </div>      
      </div>

{% endblock %}
