{% extends "layouts/designIdeaLayout.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% set containerClasses = "full-width-container" %}
{% block content_left %}

<style type="text/css">
  .govuk-textarea {
    text-align: left;
    display: block;
    white-space: pre-line;
  }
             
  </style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

     <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Important
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <p class="govuk-body">You are editing a report. <br>
          To see your changes in 'View report', you need to submit the report.</p>
        </div>
    </div>
    
<form action="#" method="post" id="auto-redirect">
  <div class="govuk-form-group">
    <span class="govuk-caption-xl"></span>
    <h1 class="govuk-label-wrapper">
      <label class="govuk-label govuk-label--l" for="more-detail">
       Mental state observations
      </label>
      <div id="passport-issued-hint" class="govuk-hint">
        This can include general cognition, behaviour, speech and mood
      </div>
    </h1>
    <textarea class="govuk-textarea" id="mental-state" name="mental-state" rows="15" aria-describedby="history-condition-hint">Good cognition and insight. Speaks in normal tone, pace, volume of voice sounds jovial.</textarea>
  </div>

      <!-- <div class="govuk-button-group">
      </div>
      <button class="govuk-button" data-module="govuk-button">
        Save and continue
      </button> -->


       <nav class="govuk-pagination govuk-pagination--block" aria-label="Pagination">
         <div class="govuk-pagination__next">
            <a class="govuk-link govuk-pagination__link" href="physical-state?source=Informal observations" rel="next">
              <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
              </svg>
              <span class="govuk-pagination__link-title">
                Next<span class="govuk-visually-hidden"> page</span>
              </span>
              <span class="govuk-visually-hidden">:</span>
              <span class="govuk-pagination__link-label">Informal observations</span>
            </a>
          </div>
      </nav>
    </div> 

      </form>
      </div>
<!--
    <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="list-convictions-status">Not started</strong>
    <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="submit-pay-status">Cannot start yet</strong>
    <strong class="govuk-tag govuk-tag--blue govuk-prototype-kit-task-list__tag" id="contact-details-status">In progress</strong>
    <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="eligibility-status">Completed</strong>

  -->
  

{% endblock %}
