{% extends "layouts/notes.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<style type="text/css">
  .govuk-textarea {
    text-align: left;
    display: block;
    white-space: pre-line;
  }     
  </style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">My notes</h1>

    <form action="#" method="post" id="auto-redirect">

                   <label class="govuk-label" for="no-examination">
                     <b>Add any notes that will support the assessment. These notes will not appear in the report.</b>
                    </label>
                     <textarea class="govuk-textarea" id="rough-Notes" name="roughNotes" rows="5">{{data["roughNotes"]}}</textarea>   
                     
                     <button type="submit" class="govuk-button" data-module="govuk-button">
                      Save
                    </button>
       
    </form>    
</div>
</div>

{% endblock %}
