{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}
{% from "internal-service-header/macro.njk" import dwpHeader %}

{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}
{% set containerClasses = "full-width-container" %}
{% block header %}
{{
  dwpHeader({
      name: "Health Assessment Service",
      serviceHref: '../',
      container: true,
      containerClasses: "govuk-width-container--full-width"
  })
}}
    
<section class="key-details-bar" role="contentinfo" aria-label="Key details">
  <dl class="key-details-bar__key-details govuk-width-container--full-width">
    <div class="key-details-bar__top-block">
      <dt class="govuk-visually-hidden">Name:</dt>
      <dt class="key-details-bar__name">John Smith</dt>

      <dt class="govuk-visually-hidden">National Insurance number:</dt>
      <dt class="key-details-bar__nino">AB CB 12 13</dt>

      <dt class="govuk-visually-hidden">Claim status:</dt>
      <!-- <dd class="key-details-bar__status">HCP REVIEW</dd> -->
    </div>

    <div class="key-details-bar__bottom-block">
      <dt>Date of birth:</dt>
      <dd>31 December 1999</dd>

      <dt>Postcode:</dt>
      <dd>N2 1XX</dd>

     

    </div>
  </dl>
</section>
<header class="moj-primary-navigation">

    <div class="moj-primary-navigation">

      <div class="moj-primary-navigation__container govuk-width-container--full-width">
    
        <div class="moj-primary-navigation__nav">
    
          <nav class="moj-primary-navigation" aria-label="Primary navigation">
    
            <ul class="moj-primary-navigation__list">
              <li class="moj-primary-navigation__item"> 
                <a class="moj-primary-navigation__link"href="evidence">Assessment</a>
                </li>
    
                  <!-- <li class="moj-primary-navigation__item"> 
                    <a class="moj-primary-navigation__link"href="telephone-start">Telephone call</a>
                    </li> -->

              <li class="moj-primary-navigation__item">
               
               
                
                <a class="moj-primary-navigation__link"  aria-current="page"  href=" ">Claimant documents</a>
                 

              </li>
    

              <!-- <li class="moj-primary-navigation__item">
                <a class="moj-primary-navigation__link"href="#">Timeline</a>
              </li> -->


            </ul>
    
          </nav>
    
        </div>
      </div>
    
    </div>
    

      
  </div>
  </header>
{% endblock %}

