{#
  For guidance on how to use layouts see:
  https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
  #}
  
  {% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}
  {% from "internal-service-header/macro.njk" import dwpHeader %}

  {% block header %}
    {{
        dwpHeader({
            name: "Health Assessment Service",
            serviceHref: '../',
            container: true,
            containerClasses: "govuk-width-container--full-width"
        })
    }}

  <section class="key-details-bar" role="contentinfo" aria-label="Key details">
    <dl class="key-details-bar__key-details govuk-width-container--full-width">
      <div class="key-details-bar__top-block">
        <dt class="govuk-visually-hidden">Name:</dt>
        <dt class="key-details-bar__name">John Smith</dt>
  
        <dt class="govuk-visually-hidden">National Insurance number:</dt>
        <dt class="key-details-bar__nino">RN 00 01 23 A</dt>
  
        <dt class="govuk-visually-hidden">Claim status:</dt>
        <!-- <dd class="key-details-bar__status">HCP REVIEW</dd> -->
      </div>
  
      <div class="key-details-bar__bottom-block">
        <dt>Date of birth:</dt>
        <dd>31 December 1999</dd>
  
        <dt>Postcode:</dt>
        <dd>N2 1XX</dd>
  
      </div>
    </dl>
  </section>
  <header class="moj-primary-navigation">
      <div class="moj-primary-navigation">
  
        <div class="moj-primary-navigation__container govuk-width-container--full-width">
      
          <div class="moj-primary-navigation__nav">
      
            <nav class="moj-primary-navigation" aria-label="Primary navigation">
      
              <ul class="moj-primary-navigation__list">
                <li class="moj-primary-navigation__item"> 
                  <a class="moj-primary-navigation__link" aria-current="page" href="evidence">Assessment</a>
                  </li>
      
                  <!-- <li class="moj-primary-navigation__item" > 
                    <a class="moj-primary-navigation__link"  href="telephone-start">Telephone call</a>
                    </li> -->
  
                <li class="moj-primary-navigation__item">
                  <a class="moj-primary-navigation__link claim-documents" href="docs-3">Claimant documents</a>
                </li>
      
  
                <!-- <li class="moj-primary-navigation__item">
                  <a class="moj-primary-navigation__link" href="other-services/timeline-view">Timeline</a>
                </li> -->
  
  
              </ul>
      
            </nav>
      
          </div>
        </div>
      
      </div>
      

    </header>
      
  {% endblock %}
  
  {% block content %}
  
  <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half"> &nbsp;
      </div>
      <div class="govuk-grid-column-one-half"> 
  <script>
      function splitRedirect() {
      const splitScreen = "{{ "" if data.splitScreen else "true" }}";
  
      window.location =  window.location.pathname + "?splitScreen=" + splitScreen
      }
  </script>
  <p class="govuk-body"><a href="#" onClick="javascript: splitRedirect()">Show claimant documents</a></p>
      
      </div>
  </div>
  
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
  
      {%- from "moj/components/side-navigation/macro.njk" import mojSideNavigation -%}

      <a href="evidence.html" class="govuk-back-link assessment-back">Go back to assessment type</a>

      <form action="#" method="post">

        <!-- {{ data['source'] }} -->

        <nav class="moj-side-navigation" aria-label="Side navigation">
          <!-- <h4 class="moj-side-navigation__title">Section 1</h4> -->
          <ul class="moj-side-navigation__list">

            <h4 class="moj-side-navigation__title">Evidence</h4>
            {% if data["source"] == 'evidence' or data["source"] == 'default' %}
            <li class="moj-side-navigation__item moj-side-navigation__item--active">
              <a href="evidence?source=evidence" aria-current="location">Evidence</a>
            </li>
            {% else %}
            <li class="moj-side-navigation__item">
              <a href="evidence?source=evidence" aria-current="location">Evidence</a>
            </li>
            {% endif %}

            <h4 class="moj-side-navigation__title">Consultation</h4>
            {% if data["source"] == 'Consultation date' %}
            <li class="moj-side-navigation__item moj-side-navigation__item--active">
              <a href="consultation-date?source=Consultation date">Consultation date</a>
            </li>
            {% else %}
            <li class="moj-side-navigation__item">
              <a href="consultation-date?source=Consultation date">Consultation date</a>
            </li>
            {% endif %}

            {% if data["source"] == 'Claimant identity' %}
            <li class="moj-side-navigation__item moj-side-navigation__item--active">
              <a href="verify-id?source=Claimant identity">Claimant identity</a>
            </li>
            {% else %}
            <li class="moj-side-navigation__item">
              <a href="verify-id?source=Claimant identity">Claimant identity</a>
            </li>
            {% endif %}

            {% if data["source"] == 'Travel to consultation' %}
            <li class="moj-side-navigation__item moj-side-navigation__item--active">
              <a href="assessment-travel?source=Travel to consultation">Travel to consultation</a>
            </li>
            {% else %}
            <li class="moj-side-navigation__item">
              <a href="assessment-travel?source=Travel to consultation">Travel to consultation</a>
            </li>
            {% endif %}

            {% if data["source"] == 'Claimant consent' %}
            <li class="moj-side-navigation__item moj-side-navigation__item--active">
              <a href="consent?source=Claimant consent">Claimant consent</a>
            </li>
            {% else %}
            <li class="moj-side-navigation__item">
              <a href="consent?source=Claimant consent">Claimant consent</a>
            </li>
            {% endif %}

            {% if data["source"] == 'Additional attendees' %}
            <li class="moj-side-navigation__item moj-side-navigation__item--active">
              <a href="attendees?source=Additional attendees">Additional attendees</a>
            </li>
            {% else %}
            <li class="moj-side-navigation__item">
              <a href="attendees?source=Additional attendees">Additional attendees</a>
            </li>
            {% endif %}
            
            <h4 class="moj-side-navigation__title">History</h4>
            {% if data["source"] == 'History of condition' %}
            <li class="moj-side-navigation__item moj-side-navigation__item--active">
              <a href="conditions?source=History of condition">History of condition</a>
            </li>
            {% else %}
            <li class="moj-side-navigation__item">
              <a href="conditions?source=History of condition">History of condition</a>
            </li>
            {% endif %}

            {% if data["source"] == 'Current medication and treatment' %}
            <li class="moj-side-navigation__item moj-side-navigation__item--active">
              <a href="med-treatment?source=Current medication and treatment">Current medication and treatment</a>
            </li>
            {% else %}
            <li class="moj-side-navigation__item">
              <a href="med-treatment?source=Current medication and treatment">Current medication and treatment</a>
            </li>
            {% endif %}

            {% if data["source"] == 'Social and occupational history' %}
            <li class="moj-side-navigation__item moj-side-navigation__item--active">
              <a href="soch1-additional?source=Social and occupational history">Social and occupational history</a>
            </li>
            {% else %}
            <li class="moj-side-navigation__item">
              <a href="soch1-additional?source=Social and occupational history">Social and occupational history</a>
            </li>
            {% endif %}

            

          
             <h4 class="moj-side-navigation__title">Daily living</h4>
             {% if data["source"] == 'Preparing food' %}
             <li class="moj-side-navigation__item moj-side-navigation__item--active">
               <a href="preparingfood?source=Preparing food" aria-current="location">Preparing food</a>
             </li>
             {% else %}
             <li class="moj-side-navigation__item">
               <a href="preparingfood?source=Preparing food" aria-current="location">Preparing food</a>
             </li>
             {% endif %}

             {% if data["source"] == 'Taking nutrition' %}
             <li class="moj-side-navigation__item moj-side-navigation__item--active">
               <a href="takingnutrition?source=Taking nutrition" aria-current="location">Taking nutrition</a>
             </li>
             {% else %}
             <li class="moj-side-navigation__item">
               <a href="takingnutrition?source=Taking nutrition">Taking nutrition</a>
             </li>
             {% endif %}

             {% if data["source"] == 'Managing therapy' %}
             <li class="moj-side-navigation__item moj-side-navigation__item--active">
               <a href="managingtherapy?source=Managing therapy" aria-current="location">Managing therapy</a>
             </li>
             {% else %}
             <li class="moj-side-navigation__item">
               <a href="managingtherapy?source=Managing therapy">Managing therapy</a>
             </li>
             {% endif %}

             {% if data["source"] == 'Washing and bathing' %}
             <li class="moj-side-navigation__item moj-side-navigation__item--active">
               <a href="washingbathing?source=Washing and bathing" aria-current="location">Washing and bathing</a>
             </li>
             {% else %}
             <li class="moj-side-navigation__item">
               <a href="washingbathing?source=Washing and bathing">Washing and bathing</a>
             </li>
             {% endif %}

             {% if data["source"] == 'Managing toilet needs' %}
             <li class="moj-side-navigation__item moj-side-navigation__item--active">
               <a href="toiletneeds?source=Managing toilet needs" aria-current="location">Managing toilet needs</a>
             </li>
             {% else %}
             <li class="moj-side-navigation__item">
               <a href="toiletneeds?source=Managing toilet needs">Managing toilet needs</a>
             </li>
             {% endif %}

             {% if data["source"] == 'Dressing and undressing' %}
             <li class="moj-side-navigation__item moj-side-navigation__item--active">
               <a href="dressing?source=Dressing and undressing" aria-current="location">Dressing and undressing</a>
             </li>
             {% else %}
             <li class="moj-side-navigation__item">
               <a href="dressing?source=Dressing and undressing">Dressing and undressing</a>
             </li>
             {% endif %}

             {% if data["source"] == 'Communicating verbally' %}
             <li class="moj-side-navigation__item moj-side-navigation__item--active">
               <a href="communicatingverbally?source=Communicating verbally" aria-current="location">Communicating verbally</a>
             </li>
             {% else %}
             <li class="moj-side-navigation__item">
               <a href="communicatingverbally?source=Communicating verbally">Communicating verbally</a>
             </li>
             {% endif %}

             {% if data["source"] == 'Reading and understanding signs, symbols and words' %}
             <li class="moj-side-navigation__item moj-side-navigation__item--active">
               <a href="readingunderstanding?source=Reading and understanding signs, symbols and words" aria-current="location">Reading and understanding signs, symbols and words</a>
             </li>
             {% else %}
             <li class="moj-side-navigation__item">
               <a href="readingunderstanding?source=Reading and understanding signs, symbols and words">Reading and understanding signs, symbols and words</a>
             </li>
             {% endif %}

             {% if data["source"] == 'Engaging face to face' %}
             <li class="moj-side-navigation__item moj-side-navigation__item--active">
               <a href="facetoface?source=Engaging face to face" aria-current="location">Engaging face to face</a>
             </li>
             {% else %}
             <li class="moj-side-navigation__item">
               <a href="facetoface?source=Engaging face to face">Engaging face to face</a>
             </li>
             {% endif %}

             {% if data["source"] == 'Budgeting' %}
             <li class="moj-side-navigation__item moj-side-navigation__item--active">
               <a href="budgeting?source=Budgeting" aria-current="location">Budgeting</a>
             </li>
             {% else %}
             <li class="moj-side-navigation__item">
               <a href="budgeting?source=Budgeting">Budgeting</a>
             </li>
             {% endif %}

             <h4 class="moj-side-navigation__title">Mobility</h4>
             {% if data["source"] == 'Planning and following journeys' %}
             <li class="moj-side-navigation__item moj-side-navigation__item--active">
               <a href="journeys?source=Planning and following journeys" aria-current="location">Planning and following journeys</a>
             </li>
             {% else %}
             <li class="moj-side-navigation__item">
               <a href="journeys?source=Planning and following journeys">Planning and following journeys</a>
             </li>
             {% endif %}

             {% if data["source"] == 'Moving around' %}
             <li class="moj-side-navigation__item moj-side-navigation__item--active">
               <a href="movingaround?source=Moving around" aria-current="location">Moving around</a>
             </li>
             {% else %}
             <li class="moj-side-navigation__item">
               <a href="movingaround?source=Moving around">Moving around</a>
             </li>
             {% endif %}

             <h4 class="moj-side-navigation__title">Physical examination</h4>
             {% if data["source"] == 'Examination consent' %}
             <li class="moj-side-navigation__item moj-side-navigation__item--active">
               <a href="examination-consent?source=Examination consent" aria-current="location">Examination consent</a>
             </li>
             {% else %}
             <li class="moj-side-navigation__item">
               <a href="examination-consent?source=Examination consent">Examination consent</a>
             </li>
             {% endif %}

             {% if data["source"] == 'Upper body examination' %}
             <li class="moj-side-navigation__item moj-side-navigation__item--active">
               <a href="upper-body-examination?source=Upper body examination" aria-current="location">Upper body examination</a>
             </li>
             {% else %}
             <li class="moj-side-navigation__item">
               <a href="upper-body-examination?source=Upper body examination">Upper body examination</a>
             </li>
             {% endif %}

             {% if data["source"] == 'Lower body examination' %}
             <li class="moj-side-navigation__item moj-side-navigation__item--active">
               <a href="lower-body-examination?source=Lower body examination" aria-current="location">Lower body examination</a>
             </li>
             {% else %}
             <li class="moj-side-navigation__item">
               <a href="lower-body-examination?source=Lower body examination">Lower body examination</a>
             </li>
             {% endif %}

             {% if data["source"] == 'Vision examination' %}
             <li class="moj-side-navigation__item moj-side-navigation__item--active">
               <a href="vision-examination?source=Vision examination" aria-current="location">Vision examination</a>
             </li>
             {% else %}
             <li class="moj-side-navigation__item">
               <a href="vision-examination?source=Vision examination">Vision examination</a>
             </li>
             {% endif %}

             {% if data["source"] == 'Hearing examination' %}
             <li class="moj-side-navigation__item moj-side-navigation__item--active">
               <a href="hearing-examination?source=Hearing examination" aria-current="location">Hearing examination</a>
             </li>
             {% else %}
             <li class="moj-side-navigation__item">
               <a href="hearing-examination?source=Hearing examination">Hearing examination</a>
             </li>
             {% endif %}

             {% if data["source"] == 'Cardio-respiratory examination' %}
             <li class="moj-side-navigation__item moj-side-navigation__item--active">
               <a href="cardio-respriatory-examination?source=Cardio-respiratory examination" aria-current="location">Cardio-respiratory examination</a>
             </li>
             {% else %}
             <li class="moj-side-navigation__item">
               <a href="cardio-respriatory-examination?source=Cardio-respiratory examination">Cardio-respiratory examination</a>
             </li>
             {% endif %}

             {% if data["source"] == 'Neurological examination' %}
             <li class="moj-side-navigation__item moj-side-navigation__item--active">
               <a href="neurological-examination?source=Neurological examination" aria-current="location">Neurological examination</a>
             </li>
             {% else %}
             <li class="moj-side-navigation__item">
               <a href="neurological-examination?source=Neurological examination">Neurological examination</a>
             </li>
             {% endif %}

             <h4 class="moj-side-navigation__title">Observations</h4>
             {% if data["source"] == 'Mental state observations' %}
             <li class="moj-side-navigation__item moj-side-navigation__item--active">
               <a href="mental-state?source=Mental state observations" aria-current="location">Mental state observations</a>
             </li>
             {% else %}
             <li class="moj-side-navigation__item">
               <a href="mental-state?source=Mental state observations">Mental state observations</a>
             </li>
             {% endif %}

             {% if data["source"] == 'Informal observations' %}
             <li class="moj-side-navigation__item moj-side-navigation__item--active">
               <a href="physical-state?source=Informal observations" aria-current="location">Informal observations</a>
             </li>
             {% else %}
             <li class="moj-side-navigation__item">
               <a href="physical-state?source=Informal observations">Informal observations</a>
             </li>
             {% endif %}

             <h4 class="moj-side-navigation__title">Summary</h4>
             {% if data["source"] == 'Daily living qualifying period and prospective test' %}
             <li class="moj-side-navigation__item moj-side-navigation__item--active">
               <a href="dl-qual?source=Daily living qualifying period and prospective test" aria-current="location">Daily living qualifying period and prospective test</a>
             </li>
             {% else %}
             <li class="moj-side-navigation__item">
               <a href="dl-qual?source=Daily living qualifying period and prospective test">Daily living qualifying period and prospective test</a>
             </li>
             {% endif %}

             {% if data["source"] == 'Mobility qualifying period and prospective test' %}
             <li class="moj-side-navigation__item moj-side-navigation__item--active">
               <a href="mobility-qual?source=Mobility qualifying period and prospective test" aria-current="location">Mobility qualifying period and prospective test</a>
             </li>
             {% else %}
             <li class="moj-side-navigation__item">
               <a href="mobility-qual?source=Mobility qualifying period and prospective test">Mobility qualifying period and prospective test</a>
             </li>
             {% endif %}

             {% if data["source"] == 'Review' %}
             <li class="moj-side-navigation__item moj-side-navigation__item--active">
               <a href="review?source=Review" aria-current="location">Review period for PIP</a>
             </li>
             {% else %}
             <li class="moj-side-navigation__item">
               <a href="review?source=Review">Review period for PIP</a>
             </li>
             {% endif %}
          </ul>
          </nav>

       
    
          <!-- {{ mojSideNavigation({
            label: 'Side navigation',
            sections: [
            {
                items: [{
                  text: 'Evidence',
                  label: 'evidence',
                  href: 'evidence?source=evidence',
                  active: true
                }, {
                  text: 'Verify identity',
                  href: 'verify-id?source=Verify identity',
                  active: false
                }, {
                  text: 'Claimant consent',
                  href: 'consent?source=consent',
                  active: false
                }, {
                  text: 'Additional attendees',
                  href: 'attendees'
                }, {
                  text: 'History of condition',
                  href: 'conditions'
                }, {
                  text: 'Social and occupational history',
                  href: 'soch1-additional'
                }]
              },
              {
                heading: {
                  text: 'Daily living'
                },
                items: [{
                  text: 'Preparing food',
                  href: 'preparingfood'
                }, {
                  text: 'Taking nutrition',
                  href: 'takingnutrition'
                }, {
                  text: 'Managing therapy',
                  href: 'managingtherapy'
                }, {
                  text: 'Washing and bathing',
                  href: 'washingbathing'
                }, {
                  text: 'Managing toilet needs',
                  href: 'toiletneeds'
                }, {
                  text: 'Dressing and undressing',
                  href: 'dressing'
                }, {
                  text: 'Communicating verbally',
                  href: 'communicatingverbally'
                }, {
                  text: 'Reading and understanding, signs, symbols',
                  href: 'readingunderstanding'
                }, {
                  text: 'Engaging face to face',
                  href: 'facetoface'
                }, {
                  text: 'Budgeting',
                  href: 'budgeting'
                }]
              },
              {
                heading: {
                  text: 'Mobility'
                },
                items: [{
                  text: 'Planning and following journeys',
                  href: 'journeys'
                }, {
                  text: 'Moving around',
                  href: 'movingaround'
                }]
              },
              {
                heading: {
                  text: 'Observations'
                },
                items: [{
                  text: 'Mental state',
                  href: 'mental-state'
                }, {
                  text: 'Physical state',
                  href: 'physical-state'
                }]
              },
              {
                heading: {
                  text: 'Summary'
                },
                items: [{
                  text: 'Daily living qualifying period and prospective test',
                  href: 'dl-qual'
                }, {
                  text: 'Daily living justification',
                  href: 'daily-living'
                }, {
                    text: 'Mobility qualifying period and prospective test',
                    href: 'mobility-qual'
                }, {
                  text: 'Mobility justification',
                  href: 'mobility'
                }, {
                  text: 'Review period for PIP',
                  href: 'review'
                }]
              }
            ]
          }) }} -->

    
       
          <a href="report" class="govuk-link govuk-button save-and-redirect-link">Check answers</a>

          <!-- <a href="/next-page" class="govuk-link save-and-redirect-link">Next page></a> -->

          <!-- <button type="submit" class="govuk-button" data-module="govuk-button">
            Check answers
          </button> -->
          
        </form>
        <script>
          const item = document.querySelectorAll(".moj-side-navigation__item > a");
          item.forEach(link => {
            link.addEventListener("click", function (e) {
              e.preventDefault();
              const formElement = document.getElementById("auto-redirect");
              formElement.action = window.location.href = "?redirect=" + e.target.href;
              formElement.submit();
            });
          });

          const x = document.querySelectorAll(".save-and-redirect-link"); // this will make anything redirect-able 
          x.forEach(link => {
            link.addEventListener("click", function (e) {
              e.preventDefault();
              const formElement = document.getElementById("auto-redirect");
              formElement.action = window.location.href = "?redirect=" + e.target.href;
              formElement.submit();
            });
          });

          const y = document.querySelectorAll(".claim-documents"); // this will make anything redirect-able 
          y.forEach(link => {
            link.addEventListener("click", function (e) {
              e.preventDefault();
              const formElement = document.getElementById("auto-redirect");
              formElement.action = window.location.href = "?redirect=" + e.target.href;
              formElement.submit();
            });
          });

          const z = document.querySelectorAll(".assessment-back"); // this will make anything redirect-able 
          z.forEach(link => {
            link.addEventListener("click", function (e) {
              e.preventDefault();
              const formElement = document.getElementById("auto-redirect");
              formElement.action = window.location.href = "?redirect=" + e.target.href;
              formElement.submit();
            });
          });
                  
        </script>
<!-- 
          <nav class="moj-side-navigation" aria-label="Side navigation">
            <h4 class="moj-side-navigation__title">Section 1</h4>
            <ul class="moj-side-navigation__list">
              <li class="moj-side-navigation__item moj-side-navigation__item--active">
                <a href="evidence">Evidence</a>
              </li>
      
              <li class="moj-side-navigation__item">
                <a href="takingnutrition" class="govuk-link" data-module="govuk-button">Taking nutrition</a>
              </li>
      
              <li class="moj-side-navigation__item">
                <a href="#1.3">Verify identity</a>
              </li>
            </ul>
      
            <h4 class="moj-side-navigation__title">Section 2</h4>
            <ul class="moj-side-navigation__list">
              <li class="moj-side-navigation__item">
                <a href="#2.1">Claimant consent</a>
              </li>
      
              <li class="moj-side-navigation__item">
                <a href="#2.2">Nav item 2.2</a>
              </li>
      
              <li class="moj-side-navigation__item">
                <a href="#2.3">Nav item 2.3</a>
              </li>
            </ul>
          </nav> -->
    
          
       
        
        </div>
  
    <div class="{{ "govuk-grid-column-one-quarter" if data.splitScreen else "govuk-grid-column-two-thirds" }}">
      {% block content_left %}{% endblock %}
    </div>
  
  {% if data.splitScreen %}
      <div class="govuk-grid-column-one-half">
      {% include "partials/documents.html" %}
      </div>
  {% endif %}
  
      
    </div>
  {% endblock %}
  