{#
  For guidance on how to use layouts see:
  https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
  #}
  
  {% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}
  {% from "internal-service-header/macro.njk" import dwpHeader %}

  {% block header %}
    {{
        dwpHeader({
            name: "Health Assessment Service",
            serviceHref: '../',
            container: true,
            containerClasses: "govuk-width-container--full-width"
        })
    }}

  <section class="key-details-bar" role="contentinfo" aria-label="Key details">
    <dl class="key-details-bar__key-details govuk-width-container--full-width">
      <div class="key-details-bar__top-block">
        <dt class="govuk-visually-hidden">Name:</dt>
        <dt class="key-details-bar__name">John Smith</dt>
  
        <dt class="govuk-visually-hidden">National Insurance number:</dt>
        <dt class="key-details-bar__nino">RN 00 01 23 A</dt>
  
        <dt class="govuk-visually-hidden">Claim status:</dt>
        <!-- <dd class="key-details-bar__status">HCP REVIEW</dd> -->
      </div>
  
      <div class="key-details-bar__bottom-block">
        <dt>Date of birth:</dt>
        <dd>31 December 1999</dd>
  
        <dt>Postcode:</dt>
        <dd>N2 1XX</dd>
  
      </div>
    </dl>
  </section>
  <header class="moj-primary-navigation">
      <div class="moj-primary-navigation">
  
        <div class="moj-primary-navigation__container govuk-width-container--full-width">
      
          <div class="moj-primary-navigation__nav">
      
            <nav class="moj-primary-navigation" aria-label="Primary navigation">
      
              <ul class="moj-primary-navigation__list">
                <li class="moj-primary-navigation__item" style="border-bottom: 5px solid #1d70b8;"> 
                  <a class="moj-primary-navigation__link" aria-current="page" href=" ">Assessment</a>
                  </li>
      
                  <!-- <li class="moj-primary-navigation__item" > 
                    <a class="moj-primary-navigation__link"  href="telephone-start">Telephone call</a>
                    </li> -->
  
                <li class="moj-primary-navigation__item">
                 
                 
                  
                  <a class="moj-primary-navigation__link" href="docs-3">Claimant documents</a>
                   
  
                </li>
      
  
                <li class="moj-primary-navigation__item">
                  <a class="moj-primary-navigation__link" href="other-services/timeline-view">Timeline</a>
                </li>
  
  
              </ul>
      
            </nav>
      
          </div>
        </div>
      
      </div>
      

    </header>
      
  {% endblock %}
  
  {% block content %}
  
  <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half"> &nbsp;
      </div>
      <div class="govuk-grid-column-one-half"> 
  <script>
      function splitRedirect() {
      const splitScreen = "{{ "" if data.splitScreen else "true" }}";
  
      window.location =  window.location.pathname + "?splitScreen=" + splitScreen
      }
  </script>
  <p class="govuk-body"><a href="#" onClick="javascript: splitRedirect()">Show claimant documents</a></p>
      
      </div>
  </div>
  
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
  
      {%- from "moj/components/side-navigation/macro.njk" import mojSideNavigation -%}

      <a href="ta-task-list.html" class="govuk-back-link">Go back to assessment type</a>

      <form action="report" method="post">
          {{ mojSideNavigation({
            label: 'Side navigation',
            sections: [
            {
                items: [{
                  text: 'Evidence',
                  label: 'evidence',
                  href: 'evidence',
                  active: false
                }, {
                  text: 'Verify identity',
                  href: 'verify-id',
                  active: false
                }, {
                  text: 'Claimant consent',
                  href: 'consent',
                  active: false
                }, {
                  text: 'Additional attendees',
                  href: 'attendees'
                }, {
                  text: 'History of condition',
                  href: 'conditions'
                }, {
                  text: 'Social and occupational history',
                  href: 'soch1-additional'
                }]
              },
              {
                heading: {
                  text: 'Daily living'
                },
                items: [{
                  text: 'Preparing food',
                  href: 'preparingfood'
                }, {
                  text: 'Taking nutrition',
                  href: 'takingnutrition'
                }, {
                  text: 'Managing therapy',
                  href: 'managingtherapy'
                }, {
                  text: 'Washing and bathing',
                  href: 'washingbathing'
                }, {
                  text: 'Managing toilet needs',
                  href: 'toiletneeds'
                }, {
                  text: 'Dressing and undressing',
                  href: 'dressing'
                }, {
                  text: 'Communicating verbally',
                  href: 'communicatingverbally'
                }, {
                  text: 'Reading and understanding, signs, symbols',
                  href: 'readingunderstanding'
                }, {
                  text: 'Engaging face to face',
                  href: 'facetoface'
                }, {
                  text: 'Budgeting',
                  href: 'budgeting'
                }]
              },
              {
                heading: {
                  text: 'Mobility'
                },
                items: [{
                  text: 'Planning and following journeys',
                  href: 'journeys'
                }, {
                  text: 'Moving around',
                  href: 'movingaround'
                }]
              },
              {
                heading: {
                  text: 'Observations'
                },
                items: [{
                  text: 'Mental state',
                  href: 'mental-state'
                }, {
                  text: 'Physical state',
                  href: 'physical-state'
                }]
              },
              {
                heading: {
                  text: 'Summary'
                },
                items: [{
                  text: 'Daily living qualifying period and prospective test',
                  href: 'dl-qual'
                }, {
                  text: 'Daily living justification',
                  href: 'daily-living'
                }, {
                    text: 'Mobility qualifying period and prospective test',
                    href: 'mobility-qual'
                }, {
                  text: 'Mobility justification',
                  href: 'mobility'
                }, {
                  text: 'Review period for PIP',
                  href: 'review'
                }]
              }
            ]
          }) }}

          <button type="submit" class="govuk-button" data-module="govuk-button">
            Check answers
          </button>

        </form>
        <script>
          const item = document.querySelectorAll(".moj-side-navigation__item > a");
          item.forEach(link => {
            link.addEventListener("click", function (e) {
              e.preventDefault();
              const formElement = document.getElementById("auto-redirect");
              formElement.action = window.location.href = "?redirect=" + e.target.href;
              formElement.submit();
            });
          });
                  
        
        </script>
<!-- 
          <nav class="moj-side-navigation" aria-label="Side navigation">
            <h4 class="moj-side-navigation__title">Section 1</h4>
            <ul class="moj-side-navigation__list">
              <li class="moj-side-navigation__item moj-side-navigation__item--active">
                <a href="evidence">Evidence</a>
              </li>
      
              <li class="moj-side-navigation__item">
                <a href="takingnutrition" class="govuk-link" data-module="govuk-button">Taking nutrition</a>
              </li>
      
              <li class="moj-side-navigation__item">
                <a href="#1.3">Verify identity</a>
              </li>
            </ul>
      
            <h4 class="moj-side-navigation__title">Section 2</h4>
            <ul class="moj-side-navigation__list">
              <li class="moj-side-navigation__item">
                <a href="#2.1">Claimant consent</a>
              </li>
      
              <li class="moj-side-navigation__item">
                <a href="#2.2">Nav item 2.2</a>
              </li>
      
              <li class="moj-side-navigation__item">
                <a href="#2.3">Nav item 2.3</a>
              </li>
            </ul>
          </nav> -->
    
          
       
        
        </div>
  
    <div class="{{ "govuk-grid-column-one-half" if data.splitScreen else "govuk-grid-column-two-thirds" }}">
      {% block content_left %}{% endblock %}
    </div>
  
  {% if data.splitScreen %}
      <div class="govuk-grid-column-one-half">
      {% include "partials/documents.html" %}
      </div>
  {% endif %}
  
      
    </div>
  {% endblock %}
  