{% extends "layouts/versioning-layout-split-banner.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <a href="javascript:history.back()" class="govuk-back-link">Back</a>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Observations
        </h1>
      </div>
    </div>

    <form action="#" method="post" novalidate="">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h1 class="govuk-fieldset__heading">
              Outcome for observations
            </h1>
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="audit-comment" name="audit-comments" type="radio" value="Pass">
              <label class="govuk-label govuk-radios__label" for="audit-comment">
                Pass
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="audit-comment-2" name="audit-comments" type="radio" value="Pass with feedback">
              <label class="govuk-label govuk-radios__label" for="audit-comment-2">
                Pass with feedback
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="audit-comment-3" name="audit-comments" type="radio" value="Errors on report">
              <label class="govuk-label govuk-radios__label" for="audit-comment-3">
                Errors on report
              </label>
            </div>
          </div>
        </fieldset>
      </div>
              


    <div class="govuk-form-group">
      <label class="govuk-label govuk-label--m" for="feedback-notes">
      Feedback for observations (optional)
      </label>
      <textarea class="govuk-textarea govuk-!-margin-bottom-9" id="feedback-notes" name="feedback-notes" rows="8"></textarea>
    </div>

    <button class="govuk-button" data-module="govuk-button">
      Save and continue
    </button>
          
    </div>                                     
         
          
          </form>
    </div>
    </div>

<!--
    <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="list-convictions-status">Not started</strong>
    <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="submit-pay-status">Cannot start yet</strong>
    <strong class="govuk-tag govuk-tag--blue govuk-prototype-kit-task-list__tag" id="contact-details-status">In progress</strong>
    <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="eligibility-status">Completed</strong>

  -->
  </div>      
      </div>

{% endblock %}
