{% extends "layouts/versioning-tasklist.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Audit for [HCP name?]
    </h1>
  
      <ul class="app-task-list__items" style="padding-left: 0%;">
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">Evidence
        </h2>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="evidence-used" aria-describedby="eligibility-status">
                Evidence used
              </a>
            </span>
            {% if (data['evidenceusedpip']) %}
            <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="contact-details-status">In progress</strong>
            {% else %}
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
            {% endif %}
          </li>
          
          <li class="app-task-list__item">
            <h2 class="app-task-list__section">
              <span class="app-task-list__section-number">Claimant history
            </h2>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="conditions-medications-treatments.html" aria-describedby="read-declaration-status">
                  Medical conditions, medications and treatments
                </a>
              </span>
              {% if (data['anotherCondition']) == 'No' %}
              <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="contact-details-status">In progress</strong>
              {% else %}
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
              {% endif %}
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="variability.html" aria-describedby="read-declaration-status">
                  Variability
                </a>
              </span>
              {% if (data['another-med']) == 'No' %}
              <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="contact-details-status">In progress</strong>
              {% else %}
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
              {% endif %} 
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="functional-history.html" aria-describedby="read-declaration-status">
                  Functional history
                </a>
              </span>
              {% if (data['another-treatment']) == 'No' %}
              <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="contact-details-status">In progress</strong>
              {% else %}
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
              {% endif %} 
            </li>

            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="social-history.html" aria-describedby="read-declaration-status">
                  Social and occupational history
                </a>
              </span>
              {% if (data['another-treatment']) == 'No' %}
              <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="contact-details-status">In progress</strong>
              {% else %}
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
              {% endif %} 
            </li>
  </li>
  

  <li class="app-task-list__item">
    <h2 class="app-task-list__section">
      <span class="app-task-list__section-number">HCP Analysis
    </h2>
    <span class="app-task-list__task-name">
      <a href="descriptor-choices.html" aria-describedby="read-declaration-status">
        Descriptor choices
      </a>
    </span>
    <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
  </li>
 
  <li class="app-task-list__item">
    <span class="app-task-list__task-name">
      <a href="justifications.html" aria-describedby="read-declaration-status">
        Justifications
        </a>
    </span>
    <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
  </li>

<li class="app-task-list__item">
  <span class="app-task-list__task-name">
  <a href="observations.html" aria-describedby="read-declaration-status">
  Observations
  </a>
  </span>
  <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
</li>
<li class="app-task-list__item">
  <span class="app-task-list__task-name">
  <a href="review-period.html" aria-describedby="read-declaration-status">
  Review period
  </a>
  </span>
  <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
</li>


<li class="app-task-list__item">
  <h2 class="app-task-list__section">
    <span class="app-task-list__section-number">Summary
  </h2>
  <span class="app-task-list__task-name">
    <a href="audit-outcome" aria-describedby="read-declaration-status">
    Audit outcome
    </a>
    </span>
    <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
</li>


<!--
    <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="list-convictions-status">Not started</strong>
    <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="submit-pay-status">Cannot start yet</strong>
    <strong class="govuk-tag govuk-tag--blue govuk-prototype-kit-task-list__tag" id="contact-details-status">In progress</strong>
    <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="eligibility-status">Completed</strong>

  -->
  </div>      
      </div>

{% endblock %}
